Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Update CandidateGangIterator ordering (#292) (#4069)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

F/chrisma/internal price poc (#293)
  .run/Armada Infrastructure Services.run.xml
  .run/Executor.run.xml
  .run/Infrastructure Services.run.xml
  README.md
  internal/common/eventutil/eventutil.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/migrations/018_add_validated.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/marketPriorityQueue.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler, scheduleringester

wip
  .run/Scheduler.run.xml
  internal/common/eventutil/eventutil.go
  internal/scheduler/database/migrations/018_add_price.sql
  internal/scheduler/database/migrations/018_add_validated.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

wip
  .run/Scheduler Ingester.run.xml
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/instructions.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduleringester

wip
  .run/Server.run.xml
  internal/common/eventutil/eventutil.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/marketPriorityQueue.go
  internal/scheduleringester/instructions.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto, scheduler, scheduleringester

lint
  internal/scheduler/jobdb/jobdb.go
Labels: none

lint
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/marketPriorityQueue.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

lint
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

lint
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

lint
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

lint
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

add spot price
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

lint
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

gang preemption test
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

lint
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

revert files
  .run/Armada Infrastructure Services.run.xml
  .run/Executor.run.xml
  .run/Infrastructure Services.run.xml
  .run/Scheduler Ingester.run.xml
  .run/Scheduler.run.xml
  .run/Server.run.xml
  config/scheduler/config.yaml
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

fix kind
  .run/Executor.run.xml
  e2e/setup/kind.yaml
Labels: none

fixes following testing
  .run/Armada Infrastructure Services.run.xml
  config/scheduler/config.yaml
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
Labels: none

revert infra change
  .run/Armada Infrastructure Services.run.xml
Labels: none

revert infra change
  internal/scheduler/jobdb/comparison.go
Labels: none

fix test
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

Update README.md
  README.md
Labels: none

revert run config
  .run/Armada Infrastructure Services.run.xml
Labels: none

typos
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

fix spot price metrics
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

fix spot price metrics (#4071)
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Start of Scala Armada Client
  client/scala/.bsp/sbt.json
  client/scala/scala-armada-client/.gitignore
  client/scala/scala-armada-client/README.md
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/project/build.properties
  client/scala/scala-armada-client/project/plugins.sbt
  client/scala/scala-armada-client/src/main/protobuf/armada/event.proto
  client/scala/scala-armada-client/src/main/protobuf/armada/health.proto
  client/scala/scala-armada-client/src/main/protobuf/armada/submit.proto
  client/scala/scala-armada-client/src/main/protobuf/google
  client/scala/scala-armada-client/src/main/protobuf/k8s.io
  client/scala/scala-armada-client/src/main/scala/ArmadaClient.scala
  client/scala/scala-armada-client/src/main/scala/Main.scala
  client/scala/scala-armada-client/src/test/scala/MySuite.scala
Labels: none

per-queue pricing metrics
  internal/common/metrics/domain.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

lint
  internal/common/metrics/scheduler_metrics.go
Labels: none

Per Queue Pricing Metrics (#4072)
  internal/common/metrics/domain.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Modify colours on Lookout UI
  internal/lookout/ui/development-setup-and-start.sh
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/src/components/lookoutV2/JobStateLabel.tsx
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/utils/jobsTableFormatters.ts
  internal/lookout/ui/src/utils/styleUtils.test.ts
  internal/lookout/ui/src/utils/styleUtils.ts
Labels: none

Scheduler: submit checks: add queue fraction limits/floating resources (#297)
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Scheduler: submit checks: add queue fraction limits/floating resources
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Scheduler: submit checks: add queue fraction limits/floating resources
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Scheduler: submit checks: add queue fraction limits/floating resources (#4074)
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Upgrade MUI library to v6 in Lookout UI
  internal/lookout/ui/development-setup-and-start.sh
  internal/lookout/ui/package.json
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/AutoRefreshToggle.tsx
  internal/lookout/ui/src/components/CheckboxHeaderRow.tsx
  internal/lookout/ui/src/components/CheckboxRow.tsx
  internal/lookout/ui/src/components/LinkCell.tsx
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/components/RefreshButton.tsx
  internal/lookout/ui/src/components/SortableHeaderCell.tsx
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/job-sets/cancel-job-sets/CancelJobSets.tsx
  internal/lookout/ui/src/components/job-sets/cancel-job-sets/CancelJobSetsOutcome.tsx
  internal/lookout/ui/src/components/job-sets/reprioritize-job-sets/ReprioritizeJobSets.tsx
  internal/lookout/ui/src/components/job-sets/reprioritize-job-sets/ReprioritizeJobSetsOutcome.tsx
  internal/lookout/ui/src/components/jobs/LoadingButton.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnSelect.tsx
  internal/lookout/ui/src/components/lookoutV2/CustomViewPicker.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableRow.tsx
  internal/lookout/ui/src/components/lookoutV2/ReprioritiseDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/containers/CancelJobSetsDialog.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/ReprioritizeJobSetsDialog.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/oidc.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/yarn.lock
Labels: none

Fix broken tests
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
Labels: none

Add Maurice Yap to maintainers
  .mergify.yml
  MAINTAINERS.md
Labels: none

Add Maurice Yap to maintainers (#4077)
  .mergify.yml
  MAINTAINERS.md
Labels: none

Upgrade MUI library to v6 in Lookout UI (#4075)
  internal/lookout/ui/development-setup-and-start.sh
  internal/lookout/ui/package.json
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/AutoRefreshToggle.tsx
  internal/lookout/ui/src/components/CheckboxHeaderRow.tsx
  internal/lookout/ui/src/components/CheckboxRow.tsx
  internal/lookout/ui/src/components/LinkCell.tsx
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/components/RefreshButton.tsx
  internal/lookout/ui/src/components/SortableHeaderCell.tsx
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/job-sets/cancel-job-sets/CancelJobSets.tsx
  internal/lookout/ui/src/components/job-sets/cancel-job-sets/CancelJobSetsOutcome.tsx
  internal/lookout/ui/src/components/job-sets/reprioritize-job-sets/ReprioritizeJobSets.tsx
  internal/lookout/ui/src/components/job-sets/reprioritize-job-sets/ReprioritizeJobSetsOutcome.tsx
  internal/lookout/ui/src/components/jobs/LoadingButton.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnSelect.tsx
  internal/lookout/ui/src/components/lookoutV2/CustomViewPicker.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableRow.tsx
  internal/lookout/ui/src/components/lookoutV2/ReprioritiseDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/containers/CancelJobSetsDialog.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/ReprioritizeJobSetsDialog.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/oidc.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/yarn.lock
Labels: none
