Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Delete unused code
  internal/scheduler/schedulerobjects/node.go
Labels: none

Update node.go
  internal/scheduler/schedulerobjects/node.go
Labels: none

Delete unused code (#3490)
  internal/scheduler/schedulerobjects/node.go
Labels: none

Update MAINTAINERS.md
  MAINTAINERS.md
Labels: none

Update .mergify.yml
  .mergify.yml
Labels: none

Scheduler: move nodedb.Node to a new internaltypes package
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Scheduler: lint internaltypes (#102)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

Scheduler: move nodedb.Node to a new internaltypes package (#3492)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

[process] update maintainers (#3491)
  .mergify.yml
  MAINTAINERS.md
Labels: none

[wip] Adding endpoint to allow Requesting a job be preempted
  cmd/armadactl/cmd/preempt.go
  cmd/armadactl/cmd/root.go
  internal/armada/permissions/permissions.go
  internal/armada/repository/apimessages/conversions.go
  internal/armada/server/submit_to_log.go
  internal/armadactl/preempt.go
  internal/scheduler/database/migrations/008_add_run_preemption_requested.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/client/queue/permission_verb.go
Labels: proto, armadactl, scheduler, scheduleringester

Adding C3 Auth interceptor on Lookout (#104)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/App.tsx
Labels: none

Reduce Node copies in selectNodeForJobWithFairPreemption (#105)
  internal/scheduler/nodedb/nodedb.go
Labels: none

Reduce Node copies in selectNodeForJobWithFairPreemption (#105) (#3493)
  internal/scheduler/nodedb/nodedb.go
Labels: none

Initial end to end flow
  cmd/armadactl/cmd/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/api/event_util.go
Labels: proto, scheduler, scheduleringester

Dotnet client
  client/DotNet/Armada.Client/ClientGenerated.cs
Labels: none

fix imports
  internal/armadactl/preempt.go
Labels: armadactl

Conversion unit test
  internal/armada/repository/apimessages/conversions_test.go
Labels: none

wip
  internal/armada/submit/submit_test.go
  internal/common/armadacontext/armada_context.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
Labels: none

expose the query api via rest
  magefiles/proto.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
  pkg/api/job.proto
Labels: build, proto

update dotnet
  client/DotNet/Armada.Client/ClientGenerated.cs
Labels: none

update dotnet
  pkg/api/job.pb.gw.go
Labels: proto

test
  README.md
Labels: none

test
  README.md
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
Labels: proto

wip
  pkg/api/api.swagger.json
Labels: proto

Update package.json
  internal/lookout/ui/package.json
Labels: none

Add OIDC Authentication to Lookout
  internal/lookout/ui/src/App.tsx
Labels: none

wip
  pkg/api/api.swagger.json
Labels: proto

Scheduler: refactor to make Node.Id immutable
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

lint nodeidindex.go
  internal/scheduler/nodedb/nodeidindex.go
  internal/scheduler/nodedb/nodeidindex_test.go
Labels: none

wip
  magefiles/proto.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
Labels: build, proto

Scheduler: refactor to make Node.Id immutable (#3500)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Scheduler: make more fields on Node immutable
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

wip
  internal/armada/submit/defaults/active_deadline_seconds.go
  internal/armada/submit/defaults/active_deadline_seconds_test.go
  internal/armada/submit/defaults/gang.go
  internal/armada/submit/defaults/gang_test.go
  internal/armada/submit/defaults/priority_class.go
  internal/armada/submit/defaults/priority_class_test.go
  internal/armada/submit/defaults/processor.go
  internal/armada/submit/defaults/resource.go
  internal/armada/submit/defaults/resource_test.go
  internal/armada/submit/defaults/template.go
  internal/armada/submit/defaults/template_test.go
  internal/armada/submit/defaults/termination_grace_period.go
  internal/armada/submit/defaults/termination_grace_period_test.go
  internal/armada/submit/defaults/tolerations.go
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
Labels: none

wip
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
  internal/common/auth/authorization/common.go
Labels: none

wip
  internal/armada/server.go
  internal/armada/submit/deduplicaton.go
  internal/armada/submit/defaults/active_deadline_seconds_test.go
  internal/armada/submit/defaults/resource.go
  internal/armada/submit/defaults/termination_grace_period.go
  internal/armada/submit/defaults/termination_grace_period_test.go
  internal/armada/submit/publisher.go
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
  internal/common/auth/authorization/common.go
Labels: server

wip
  internal/armada/submit/validation/priority_class_validator_test.go
  internal/armada/submit/validation/validation_test.go
Labels: none

wip
  internal/armada/server/applydefaults.go
  internal/armada/server/applydefaults_test.go
  internal/armada/submit/validation/validation.go
  internal/armada/validation/validator.go
Labels: none

wip
  internal/armada/submit/defaults/active_deadline_seconds.go
  internal/armada/submit/defaults/active_deadline_seconds_test.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

move apply defaults to functions
  internal/armada/submit/conversion/post_process.go
  internal/armada/submit/conversion/post_process_test.go
  internal/armada/submit/defaults/active_deadline_seconds.go
  internal/armada/submit/defaults/active_deadline_seconds_test.go
  internal/armada/submit/defaults/gang.go
  internal/armada/submit/defaults/gang_test.go
  internal/armada/submit/defaults/priority_class.go
  internal/armada/submit/defaults/priority_class_test.go
  internal/armada/submit/defaults/processor.go
  internal/armada/submit/defaults/resource.go
  internal/armada/submit/defaults/resource_test.go
  internal/armada/submit/defaults/template.go
  internal/armada/submit/defaults/template_test.go
  internal/armada/submit/defaults/termination_grace_period.go
  internal/armada/submit/defaults/termination_grace_period_test.go
  internal/armada/submit/defaults/tolerations.go
Labels: none

move validation to functions
  internal/armada/submit/conversion/eventutil.go
  internal/armada/submit/conversion/post_process.go
  internal/armada/submit/submit.go
  internal/armada/submit/validation/affinity_validator.go
  internal/armada/submit/validation/affinity_validator_test.go
  internal/armada/submit/validation/gang_validator.go
  internal/armada/submit/validation/gang_validator_test.go
  internal/armada/submit/validation/has_podspec_validator.go
  internal/armada/submit/validation/has_podspec_validator_test.go
  internal/armada/submit/validation/ingress_validator.go
  internal/armada/submit/validation/ingress_validator_test.go
  internal/armada/submit/validation/namespace_validator.go
  internal/armada/submit/validation/namespace_validator_test.go
  internal/armada/submit/validation/podspec_size_validator.go
  internal/armada/submit/validation/podspec_size_validator_test.go
  internal/armada/submit/validation/ports_validator.go
  internal/armada/submit/validation/ports_validator_test.go
  internal/armada/submit/validation/priority_class_validator.go
  internal/armada/submit/validation/priority_class_validator_test.go
  internal/armada/submit/validation/queue_validator.go
  internal/armada/submit/validation/queue_validator_test.go
  internal/armada/submit/validation/resources_validator.go
  internal/armada/submit/validation/resources_validator_test.go
  internal/armada/submit/validation/termination_grace_period_validator.go
  internal/armada/submit/validation/termination_grace_period_validator_test.go
  internal/armada/submit/validation/validation.go
  internal/armada/submit/validation/validation_test.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
