Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Add localdev documentation on accessing etcd (#3210)
  developer/config/etcdclient.yaml
  docs/developer.md
  docs/developer/etcd-localdev.md
  docs/developer/manual-localdev.md
Labels: docs

Add localdev documentation on accessing etcd (#3210) (#3227)
  developer/config/etcdclient.yaml
  docs/developer.md
  docs/developer/etcd-localdev.md
  docs/developer/manual-localdev.md
Labels: docs

Updating Github Pages branch with latest Master changes
  developer.md
  developer/etcd-localdev.md
  developer/manual-localdev.md
Labels: none

Website fixes (#3201)
  _includes/header.html
  assets/styles/custom/_styles.scss
  demo.md
  design.md
  design/index.md
Labels: none

Add caching of tools from tools.yaml. Update CI accordingly
  .github/workflows/build.yml
  .github/workflows/test.yml
  magefiles/go.go
  magefiles/main.go
Labels: build

Move ToolsList struct back into BootstrapTools
  magefiles/main.go
Labels: build

[CI-IMPROVEMENT-6] Introduce targeted caching of tools
  .github/workflows/build.yml
  .github/workflows/test.yml
  magefiles/go.go
  magefiles/main.go
Labels: build

Fix total row count on last page (#49)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
Labels: none

Revert "Bump github.com/openconfig/goyang from 1.2.0 to 1.4.5 (#3217)"
  go.mod
  go.sum
Labels: none

Revert "Bump github.com/openconfig/goyang from 1.2.0 to 1.4.5 (#3217)" (#3231)
  go.mod
  go.sum
Labels: none

Add `GangInfo` (#50)
  internal/armada/server/lease.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
  internal/scheduler/common.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Update JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
Labels: none

Update JobsTableContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Update useJobsTableData.ts
  internal/lookout/ui/src/hooks/useJobsTableData.ts
Labels: none

Add another test case
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
Labels: none

Fix total row count on last Lookout page (#3233)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
Labels: none

- Add running, failed, leased and success timestamps
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

changes maded ietest.yml ci (#3200)
  .github/workflows/test.yml
Labels: none

Add caching of tools to codeql, airflow operator and python client
  .github/workflows/airflow-operator.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/python-client.yml
Labels: none

Add caching of tools to codeql, airflow operator and python client
  .github/workflows/airflow-operator.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/python-client.yml
Labels: none

Add `GangInfo`
  internal/armada/server/lease.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
  internal/scheduler/common.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  pkg/api/util.go
Labels: proto, scheduler

Updates
  internal/common/database/db_testutil.go
  internal/scheduler/api.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/leader.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/publisher_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
Labels: scheduler, scheduleringester

Add `GangInfo` (#3236)
  internal/armada/server/lease.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
  internal/scheduler/common.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  pkg/api/util.go
Labels: proto, scheduler

Updates
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/armadaevents/uuid.go
Labels: scheduler

Updates
  internal/scheduler/scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

- Add running, failed, leased and success timestamps (#3054)
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Add preempted and pending columns to runs table
  internal/scheduler/database/migrations/002_add_runs_timestamps.up.sql
  internal/scheduler/database/migrations/004_add_preempted_pending.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
Labels: none

Add handlers for run preempted and run pending events
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

Update schedulerDB with preempted and pending instructions
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

better db schema comment
  internal/scheduler/database/migrations/004_add_preempted_pending.up.sql
Labels: none

example schema change
  internal/scheduler/database/migrations/004_add_runs_scheduled_at_priority.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
Labels: none

Scheduler: handle run_preempted and run_pending events (#3197)
  internal/scheduler/database/migrations/002_add_runs_timestamps.up.sql
  internal/scheduler/database/migrations/004_add_preempted_pending.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Updates
  internal/scheduler/scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Updates
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Fix tests
  internal/scheduler/scheduler_test.go
Labels: scheduler

Remove old go-setup action. Replace all go setup actions with composite action that sets up cache for tools
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Lint
  internal/scheduler/scheduler_test.go
Labels: scheduler

Lint
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Lint
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

Improved jobDb assertions
  internal/scheduler/jobdb/jobdb.go
Labels: none
