Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

test fix
  internal/scheduler/jobdb/job_run_test.go
Labels: none

update diff value
  internal/scheduler/metrics/metrics.go
Labels: none

revert to multi arguments
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

fix queued time
  internal/scheduler/metrics/metrics.go
Labels: none

duration fix
  internal/scheduler/metrics/metrics.go
Labels: none

add queued
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

add missing time stamps
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
Labels: scheduler

Fix error handling in commands tab
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
Labels: none

Linting
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
Labels: none

Linting
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
Labels: none

Fix error handling in commands tab
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
Labels: none

Add check required workflow
  .github/workflows/check-required.yml
  .github/workflows/ci.yml
Labels: none

resolve conflict
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
Labels: scheduler

Use separate db for jobservice integration tests (#521) (#3373)
  developer/dependencies/postgres-init.sh
  e2e/setup/jobservice.yaml
  internal/jobservice/server/server.go
Labels: none

Add Linux Foundation trademark link to web-site footer. (#3245)
  _includes/footer.html
Labels: none

Add Linux Foundation trademark link to web-site footer. (#3245) (#3378)
  _includes/footer.html
Labels: none

Propagate additional annotations to pods (#3379)
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

add JobRunPreemptedError case
  internal/scheduler/metrics/metrics.go
Labels: none

add JobRunPreemptedError case (#3380)
  internal/scheduler/metrics/metrics.go
Labels: none

Fix GoLand "Armada Infrastructure Services.run.xml"
  .run/Armada Infrastructure Services.run.xml
Labels: none

Fix GoLand "Armada Infrastructure Services.run.xml" (#3381)
  .run/Armada Infrastructure Services.run.xml
Labels: none

Scheduler: resource waste metric (#3347)
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

properly start and strop the gropc server
  internal/queryapi/application.go
Labels: none

lint
  internal/queryapi/application.go
Labels: none

QueryAPI: Better Lifecycle Management of The GRPC Server (#3383)
  internal/queryapi/application.go
Labels: none

wip
  internal/armada/server.go
Labels: server

remove readyness and liveness probes from queryapi
  deployment/queryapi/templates/deployment.yaml
Labels: none

remove readyness and liveness probes from queryapi (#3384)
  deployment/queryapi/templates/deployment.yaml
Labels: none

add a function to delet epulsar job details
  internal/armada/server.go
Labels: server

add an index for (queue,jobset) on the schedulerdb jobs table
  internal/scheduler/database/migrations/007_add_queue_jobset_index.sql
Labels: none

add an index for (queue,jobset) on the schedulerdb jobs table (#3385)
  internal/scheduler/database/migrations/007_add_queue_jobset_index.sql
Labels: none

Update pyproject.toml
  client/python/pyproject.toml
Labels: client-python

Update pyproject.toml (#3387)
  client/python/pyproject.toml
Labels: client-python

comment update
  internal/scheduler/jobdb/job_run.go
Labels: none

reset terminal states updating
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
Labels: none

remove returned
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
Labels: none

better naming
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
Labels: none

better checking order
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Reset terminal states before updating (#3386)
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Improve pending pod checks to better handle bad nodes + resolved issues
  internal/executor/podchecks/kubernetes_constants.go
  internal/executor/podchecks/pod_checks.go
  internal/executor/podchecks/pod_checks_test.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
