Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

[Bug] Fix setting nodedb pool incorrectly based on config
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

[Bug] Fix setting nodedb pool incorrectly based on config (#5122)
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Add configuration to set job defaults per pool (#5121)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

reduce
  internal/common/ingest/testfixtures/event.go
  internal/lookout/repository/util.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

ok
  internal/scheduler/scheduler.go
Labels: scheduler

fmt
  internal/server/submit/testfixtures/test_fixtures.go
Labels: none

try trim down
  internal/common/ingest/testfixtures/event.go
  internal/lookout/repository/util.go
  internal/lookoutingester/instructions/instructions.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/041_add_requestor.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/submit/deduplication_test.go
  internal/server/submit/submit.go
  internal/server/submit/testfixtures/test_fixtures.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler, scheduleringester

better
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Add requestor information
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/039_add_requestor.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/executor/executor.go
  internal/server/queue/queue_service.go
  internal/server/submit/deduplication_test.go
  internal/server/submit/submit.go
  internal/server/submit/testfixtures/test_fixtures.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, scheduler, scheduleringester

ok
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
Labels: none

wip
  internal/scheduler/scheduler_test.go
Labels: scheduler

requestor: surface requestor on cancelled job runs in event conversion
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
Labels: none

re-add run preempted
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
Labels: none

ok
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

try redesign on test
  internal/common/database/db_testutil.go
  internal/server/event/event_test.go
  internal/server/queryapi/mirror_test.go
  internal/server/queryapi/query_api_test.go
  internal/server/queue/queue_repository_test.go
  internal/server/retrypolicy/repository_test.go
  internal/server/submit/deduplication_test.go
Labels: none

ok
  internal/lookout/repository/getjobrunschedulerterminationreason_test.go
Labels: none

ok
  internal/scheduler/jobdb/job.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

tests fix
  internal/server/event/event_test.go
  internal/server/queryapi/mirror_test.go
  internal/server/queryapi/query_api_test.go
  internal/server/queue/queue_repository_test.go
  internal/server/retrypolicy/repository_test.go
  magefiles/tests.go
Labels: build

fix test
  internal/server/event/conversion/conversions_test.go
Labels: none

requestor
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

ok
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

ok
  internal/lookoutingester/instructions/instructions.go
  internal/server/queryapi/mirror_test.go
  internal/server/retrypolicy/repository_test.go
Labels: none

rust regenerate
  client/rust/src/gen/api.rs
Labels: none

ok
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/041_add_requestor.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduler, scheduleringester

fmt
  internal/server/event/conversion/conversions_test.go
Labels: none

regenerate rust
  client/rust/src/gen/k8s.io.api.core.v1.rs
Labels: none

Add mage buildRust
  magefiles/rust.go
Labels: build

wip
  .github/workflows/rust-client.yml
Labels: none

Add cj87holler to Mergify maintainer lists
  .mergify.yml
Labels: none

added myself to mergify for reviewing, I missed a line the first time I did it
  .mergify.yml
Labels: none

requestor: armadactl watch output includes requestor
  e2e/armadactl_test/armadactl_test.go
  internal/armadactl/watch.go
  internal/armadactl/watch_test.go
Labels: armadactl

remove watch test
  cmd/armadactl/cmd/watch_test.go
Labels: none

refactor a bit
  cmd/armadactl/cmd/watch_test.go
  internal/armadactl/watch_test.go
Labels: armadactl

armadactl: e2e test for requestor on watch output
  e2e/armadactl_test/armadactl_test.go
Labels: none

Update internal/armadactl/watch.go
  internal/armadactl/watch.go
Labels: armadactl

requestor: armadactl watch output includes requestor (#5063)
  e2e/armadactl_test/armadactl_test.go
  internal/armadactl/watch.go
  internal/armadactl/watch_test.go
Labels: armadactl

Fix job eviction ordering bug (#5053)
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

requestor: lookout and lookout ingester changes
  internal/lookout/conversions/convert_test.go
  internal/lookout/model/model.go
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/repository/util.go
  internal/lookout/schema/migrations/035_add_preempt_and_reprioritize_users.sql
  internal/lookout/swagger.yaml
  internal/lookouthc/schema/schema.go
  internal/lookouthc/schema/target_schema.sql
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
Labels: lookout

mage sql
  internal/server/queryapi/database/models.go
  package-lock.json
  package.json
Labels: none

ok
  internal/lookout/repository/util.go
Labels: none
