Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Display cancelling user in job sidebar header
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarHeader.tsx
Labels: none

fix
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarHeader.tsx
Labels: none

Fix preempted job metrics
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Display cancelling user in job sidebar header (#4965)
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarHeader.tsx
Labels: none

Fix nil guard
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Improve logging in async runner
  internal/scheduler/scheduling/runner/async.go
Labels: none

Use infof
  internal/scheduler/scheduling/runner/async.go
Labels: none

warnf
  internal/scheduler/scheduling/runner/async.go
Labels: none

Fix preempted job metrics (#4966)
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Handle no result
  internal/scheduler/scheduling/runner/async.go
Labels: none

Improve logging in async runner (#4968)
  internal/scheduler/scheduling/runner/async.go
Labels: none

fix: update for mage dev
  .vscode/launch.json
  .vscode/tasks.json
  _local/.armadactl.yaml
  _local/binoculars/config-auth.yaml
  _local/binoculars/config.yaml
  _local/compose/stack.yaml
  _local/eventingester/config.yaml
  _local/executor/config-auth.yaml
  _local/executor/config.yaml
  _local/fakeexecutor/config.yaml
  _local/keycloak/README.md
  _local/keycloak/import/armada-realm.json
  _local/lookout/config-auth.yaml
  _local/lookout/config.yaml
  _local/lookoutingester/config.yaml
  _local/procfiles/auth-debug.Procfile
  _local/procfiles/auth.Procfile
  _local/procfiles/fake-executor-debug.Procfile
  _local/procfiles/fake-executor.Procfile
  _local/procfiles/no-auth-debug.Procfile
  _local/procfiles/no-auth.Procfile
  _local/prometheus.yml
  _local/scheduler/config-auth.yaml
  _local/scheduler/config.yaml
  _local/scheduleringester/config.yaml
  _local/server/config-auth.yaml
  _local/server/config.yaml
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

fix: remove unneeded env var
  .vscode/tasks.json
Labels: none

docs: fix task name
  docs/developer_guide.md
Labels: docs

docs: remove old Delve docs
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

Clean up localdev consolidation leftovers
  .gitignore
  .run/Armada Infrastructure Services.run.xml
  .run/Armada.run.xml
  .run/Infrastructure Services.run.xml
  .run/Run Migrations.run.xml
  .run/Scheduler.run.xml
  .run/Server.run.xml
  .run/Start Dependencies.run.xml
  .run/lookoutPostgresMigration.run.xml
  .run/schedulerPostgresMigration.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  _local/compose/stack.yaml
  _local/priority-class.yaml
  _local/scripts/init.sh
  docs/developer/developing-locally.md
  docs/developer_guide.md
  magefiles/dev.go
  scripts/infrastructure-start.sh
  scripts/infrastructure-stop.sh
  website/content/developer-guide.mdx
  website/dict/armada.txt
Labels: build, docs

Clean up localdev consolidation leftovers (#4967)
  .gitignore
  .run/Armada Infrastructure Services.run.xml
  .run/Armada.run.xml
  .run/Infrastructure Services.run.xml
  .run/Run Migrations.run.xml
  .run/Scheduler.run.xml
  .run/Server.run.xml
  .run/Start Dependencies.run.xml
  .run/lookoutPostgresMigration.run.xml
  .run/schedulerPostgresMigration.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  _local/compose/stack.yaml
  _local/priority-class.yaml
  _local/scripts/init.sh
  docs/developer/developing-locally.md
  docs/developer_guide.md
  magefiles/dev.go
  scripts/infrastructure-start.sh
  scripts/infrastructure-stop.sh
  website/content/developer-guide.mdx
  website/dict/armada.txt
Labels: build, docs

add partitioning migration to lookout schema and add unique job id constraint to each partition
  internal/lookout/schema/migrations/035_partition_job_table.sql
  internal/lookouthc/schema/target_schema.sql
Labels: none

Fix a bug in async runner causing job state to get corrupted
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async_test.go
Labels: scheduler

Linting
  internal/scheduler/scheduling/runner/async_test.go
Labels: none

Add a scheduling cycle number field to async runner logs
  internal/scheduler/scheduling/runner/async.go
Labels: none

Update internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async.go
Labels: none

Use plain int
  internal/scheduler/scheduling/runner/async.go
Labels: none

Remove redundant cycle variable
  internal/scheduler/scheduling/runner/async.go
Labels: none

Fix a bug in async runner causing job state to get corrupted (#4970)
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async_test.go
Labels: scheduler

Add a scheduling cycle number field to async runner logs (#4971)
  internal/scheduler/scheduling/runner/async.go
Labels: none

fix: remove orphaned task and add profile to dev:down
  .vscode/tasks.json
  magefiles/dev.go
Labels: build

fix: change debug to flag
  .vscode/tasks.json
  magefiles/dev.go
Labels: build

feat(scheduler): Extract short job penalty service
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
Labels: scheduler

Remove unnecessary penalty reporting loop
  internal/scheduler/scheduler.go
Labels: scheduler

Remove terminal job index from jobdb
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Isolate short job penalty types
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_types.go
Labels: none

Snapshot penalties once per scheduling cycle
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
  internal/scheduler/scheduling/short_job_penalty_types.go
Labels: scheduler

Rename types for clarity
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_types.go
Labels: none

fix: change flag name
  .vscode/tasks.json
  _local/procfiles/auth-dap.Procfile
  _local/procfiles/fake-executor-dap.Procfile
  _local/procfiles/no-auth-dap.Procfile
  magefiles/dev.go
Labels: build

docs: remove unused issues
  docs/developer_guide.md
Labels: docs

Add name field to pod checks allowing easier debugging (#4954)
  internal/executor/configuration/podchecks/types.go
  internal/executor/podchecks/container_state_checks.go
  internal/executor/podchecks/container_state_checks_test.go
  internal/executor/podchecks/event_checks.go
  internal/executor/podchecks/event_checks_test.go
Labels: none

fix: remove fulldown task
  .vscode/tasks.json
Labels: none

docs: Fix CircleCI badge repo path, was previously linking to Helm
  README.md
Labels: none

docs: add OpenSSF badge
  README.md
Labels: none
