Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

multiqueue support, job submission distribution
  cmd/regatta/README.md
  cmd/regatta/cmd/reports.go
  cmd/regatta/cmd/run.go
  cmd/regatta/cmd/run_test.go
  cmd/regatta/cmd/teardown.go
  cmd/regatta/config/scenarios/two-cluster.continuous.example.yaml
  cmd/regatta/config/scenarios/two-cluster.example.yaml
  cmd/regatta/config/scenarios/two-cluster.lognormal.example.yaml
  cmd/regatta/config/two-cluster.example.yaml
  cmd/regatta/docs/README.md
  cmd/regatta/docs/metrics-report.md
  cmd/regatta/docs/scenario-files.md
  cmd/regatta/docs/teardown.md
  internal/regatta/config/examples_test.go
  internal/regatta/config/queues.go
  internal/regatta/config/queues_test.go
  internal/regatta/config/regatta.go
  internal/regatta/kwok/client.go
  internal/regatta/kwok/client_test.go
  internal/regatta/kwok/controller.go
  internal/regatta/kwok/kwok.go
  internal/regatta/kwok/readiness.go
  internal/regatta/kwok/readiness_test.go
  internal/regatta/load/load.go
  internal/regatta/load/load_test.go
  internal/regatta/metrics/drain.go
  internal/regatta/metrics/prometheus.go
  internal/regatta/metrics/queries.go
  internal/regatta/metrics/queue_metrics_test.go
  internal/regatta/metrics/report.go
  internal/regatta/metrics/report_test.go
  internal/regatta/orchestrate/orchestrate.go
  internal/regatta/submit/queues.go
  internal/regatta/submit/rampup.go
  internal/regatta/submit/run.go
  internal/regatta/submit/spec.go
  internal/regatta/submit/submit_test.go
Labels: none

lookoutUI build dir mount for mage dev:full
  _local/compose/full.yaml
  docs/developer/developing-locally.md
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

add a multicluster kind and kindTeardown target
  .run/Start Dependencies.run.xml
  .vscode/tasks.json
  README.md
  _local/compose/full.yaml
  _local/kind/cluster/cluster.yaml
  _local/kind/two-cluster/cluster-1.yaml
  _local/kind/two-cluster/cluster-2.yaml
  docs/developer_guide.md
  magefiles/dev.go
  magefiles/kind.go
  magefiles/main.go
  website/content/docs/developer-guide.mdx
Labels: build, docs

fixing greptile nits
  website/content/docs/meta.json
  website/content/docs/submitting-jobs.mdx
Labels: none

fix greptile nits
  website/content/getting-started.mdx
Labels: none

fixing greptile issues
  website/content/docs/submitting-jobs.mdx
Labels: none

docs: fix getting-started review comments
  website/content/getting-started.mdx
Labels: none

docs: clarify exceeds the total limit
  website/content/getting-started.mdx
Labels: none

docs: format managing-queues
  website/content/docs/managing-queues.mdx
Labels: none

fixing greptile review comments
  website/content/docs/managing-queues.mdx
Labels: none

fixing greptile nits 2
  website/content/docs/managing-queues.mdx
Labels: none

documentation: managing-queues added
  website/content/docs/managing-queues.mdx
Labels: none

documentation: managing queues
  website/content/docs/managing-queues.mdx
Labels: none

docs: point resource limit recovery to the Python client
  website/content/docs/managing-queues.mdx
Labels: none

fail kind teardown from dir if there are no kind configs in that dir
  magefiles/kind.go
Labels: build

split by lines rather than an entire string contains
  magefiles/kind.go
Labels: build

always apply resources and write kubeconfig
  magefiles/kind.go
Labels: build

init clusters using external kube configs
  magefiles/kind.go
Labels: build

add dev:up two cluster profile
  .vscode/launch.json
  .vscode/tasks.json
  _local/README.md
  _local/compose/stack.yaml
  _local/executor/config-cluster-1.yaml
  _local/executor/config-cluster-2.yaml
  _local/procfiles/two-cluster-dap.Procfile
  _local/procfiles/two-cluster.Procfile
  _local/prometheus/config-two-cluster.yaml
  _local/prometheus/config.yaml
  _local/scripts/check-port-conflicts.sh
  _local/scripts/wait-for-dlv.sh
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

Documentation: Monitoring & fleet
  website/content/docs/monitoring-and-fleet.mdx
  website/dict/armada.txt
Labels: none

Documentation: gang-jobs
  website/content/docs/gang-jobs.mdx
Labels: none

run one binoculars per cluster in the two-cluster profile
  .vscode/launch.json
  _local/binoculars/two-cluster/config-cluster-2.yaml
  _local/executor/config-cluster-1.yaml
  _local/executor/config-cluster-2.yaml
  _local/executor/two-cluster/config-cluster-1.yaml
  _local/executor/two-cluster/config-cluster-2.yaml
  _local/procfiles/two-cluster-dap.Procfile
  _local/procfiles/two-cluster.Procfile
  _local/prometheus/config-two-cluster.yaml
  _local/scripts/check-port-conflicts.sh
  _local/scripts/wait-for-dlv.sh
  docs/developer_guide.md
Labels: docs

Greptile nits
  website/content/docs/monitoring-and-fleet.mdx
Labels: none

binocularsStaticBaseUrls in addition to pattern for lookoutui config
  .vscode/launch.json
  _local/lookout/two-cluster/config.yaml
  _local/procfiles/two-cluster.Procfile
  docs/developer_guide.md
  internal/lookout/configuration/types.go
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/services/apiClients/context.tsx
Labels: docs

Documentation: interactive-jobs-and-services
  website/content/docs/interactive-jobs-and-services.mdx
Labels: none

remove pseudocode
  website/content/docs/interactive-jobs-and-services.mdx
Labels: none

docs: fix line breaks in monitoring-and-fleet
  website/content/docs/monitoring-and-fleet.mdx
Labels: none

greptile gang-review comments fix
  website/content/docs/gang-jobs.mdx
Labels: none

greptile executors comment fix
  website/content/docs/interactive-jobs-and-services.mdx
  website/dict/armada.txt
Labels: none

greptile suggestion: gang jobs
  website/content/docs/gang-jobs.mdx
Labels: none

pseudocode removal
  website/content/docs/gang-jobs.mdx
Labels: none

added unknown words to dictionary to unblock deployment
  website/dict/armada.txt
Labels: none

remove this validation
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
Labels: none

Include the unschedulable reason in the preemption description
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Better format
  internal/scheduler/scheduling/preemption_description.go
Labels: none

Running only aggregates
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_bench_test.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/aggregate.go
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

test per-cluster binoculars URL selection and cache
  internal/lookoutui/src/services/apiClients/context.test.tsx
Labels: none

ref the relocated two-cluster exec configs in the regatta profile
  cmd/regatta/config/armada/executor/two-cluster/config-regatta-1.yaml
  cmd/regatta/config/armada/executor/two-cluster/config-regatta-2.yaml
  cmd/regatta/config/procfiles/regatta.Procfile
  cmd/regatta/docs/scaling-and-real-clusters.md
Labels: none

validate targets and clusters, default cluster.name, enforce queue targets in config
  cmd/regatta/docs/scenario-files.md
  internal/regatta/config/cluster_target_test.go
  internal/regatta/config/nodeprofile.go
  internal/regatta/config/queues_test.go
  internal/regatta/config/regatta.go
  internal/regatta/kwok/node.go
Labels: none

submit by jobs taken, honor cancellation between requests, restrict jobs to their queue's targets
  internal/regatta/submit/run.go
  internal/regatta/submit/spec.go
  internal/regatta/submit/submit_test.go
Labels: none
