Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

poc for submitting a job api
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/lookout/api.swagger.go
  pkg/api/lookout/api.swagger.json
  pkg/api/queue.pb.go
  pkg/api/queue.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto

bug in kueue example
  example/kueue.yaml
Labels: docs

add better doc strings
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

update docs and format
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

cleaning up warnings
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

add better doc strings (#2488)
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

Lint
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
Labels: none

fix circleci pipeline
  .circleci/config.yml
Labels: none

fix circleci pipeline (#2490)
  .circleci/config.yml
Labels: none

Implement cordoning a node in binoculars
  config/binoculars/config.yaml
  deployment/binoculars/templates/clusterrole.yaml
  internal/armada/permissions/permissions.go
  internal/binoculars/configuration/types.go
  internal/binoculars/server.go
  internal/binoculars/server/binoculars.go
  internal/binoculars/service/cordon.go
  internal/binoculars/service/logs.go
  internal/binoculars/service/logs_test.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  pkg/api/binoculars/binoculars.pb.go
  pkg/api/binoculars/binoculars.pb.gw.go
  pkg/api/binoculars/binoculars.proto
Labels: binoculars

Fix state ordering + colouring
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/utils/jobsTableFormatters.ts
Labels: none

generic pod resources
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
Labels: none

lint
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
Labels: none

Lookout v2 - Container details (#2489)
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetJobSpecService.ts
Labels: none

Addressed issues
  .github/workflows/go-integration.yml
  developer/README.md
  docs/design/index.md
  docs/developer.md
Labels: docs

Initial tests
  internal/binoculars/service/cordon_test.go
Labels: none

Improved patch
  internal/binoculars/service/cordon.go
  internal/binoculars/service/cordon_test.go
Labels: none

Improved tests
  internal/binoculars/service/cordon_test.go
Labels: none

Test generated patch
  internal/binoculars/service/cordon_test.go
Labels: none

Formatting
  internal/binoculars/service/cordon.go
  internal/binoculars/service/cordon_test.go
Labels: none

Debug additions (#2467)
  .github/workflows/go-integration.yml
  .github/workflows/pages.yml
  .gitignore
  README.md
  developer/README.md
  developer/dependencies/airflow-start.sh
  developer/env/README.md
  developer/env/localhost_access.env
  docker-compose.yaml
  docs/design/architecture.md
  docs/design/index.md
  docs/design/priority.md
  docs/design/scheduler.md
  docs/developer.md
  docs/developer/api.md
  docs/developer/aws-ec2.md
  docs/developer/manual-localdev.md
  docs/developer/oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/website.md
  docs/development_guide.md
  docs/docs-readme.md
  localdev/Dockerfile
  localdev/docker-compose.debug.yaml
  localdev/run.sh
  localdev/scripts/lookout-debug-start.sh
  localdev/scripts/lookoutv2-debug-start.sh
  localdev/stop.sh
  magefiles/ci.go
  magefiles/debug.go
  magefiles/developer.go
  magefiles/dockercompose.go
  magefiles/main.go
Labels: build, docs

Updating Github Pages branch with latest Master changes
  design/architecture.md
  design/diagrams/relationships/README.md
  design/diagrams/relationships/armada_system.png
  design/diagrams/relationships/generate.py
  design/diagrams/relationships/images/armada.png
  design/diagrams/relationships/images/browser.png
  design/diagrams/relationships/images/pulsar.png
  design/index.md
  design/jobservice/airflow-sequence.pml
  design/jobservice/airflow-sequence.svg
  design/jobservice/job-service.md
  design/jobservice/job-service.svg
  design/jobservice/jobservice.pml
  design/priority.md
  design/relationships_diagram.md
  design/scheduler.md
  developer.md
  developer/api.md
  developer/aws-ec2.md
  developer/manual-localdev.md
  developer/oidc.md
  developer/ui.md
  developer/usage_metrics.md
  developer/website.md
Labels: none

Formatting
  config/binoculars/config.yaml
  internal/binoculars/configuration/types.go
  internal/binoculars/server.go
Labels: binoculars

Update internal/binoculars/service/cordon_test.go
  internal/binoculars/service/cordon_test.go
Labels: none

Fix tests
  internal/binoculars/service/cordon_test.go
Labels: none

Improve lookoutv2 ingestion of armada-scheduler events (#2485)
  config/lookoutingesterv2/config.yaml
  internal/common/database/lookout/jobstates.go
  internal/jobservice/events/client_moq.go
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/utils/jobsTableFormatters.ts
  internal/lookoutingesterv2/benchmark/benchmark.go
  internal/lookoutingesterv2/configuration/types.go
  internal/lookoutingesterv2/ingester.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/models/run.go
  internal/lookoutv2/gen/restapi/doc.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_health.go
  internal/lookoutv2/gen/restapi/operations/get_health_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec_responses.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_responses.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_responses.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobrunerror_test.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/swagger.yaml
Labels: lookout, lookoutingester

Implement cordoning a node in binoculars (#2491)
  config/binoculars/config.yaml
  deployment/binoculars/templates/clusterrole.yaml
  internal/armada/permissions/permissions.go
  internal/binoculars/configuration/types.go
  internal/binoculars/server.go
  internal/binoculars/server/binoculars.go
  internal/binoculars/service/cordon.go
  internal/binoculars/service/cordon_test.go
  internal/binoculars/service/logs.go
  internal/binoculars/service/logs_test.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  pkg/api/binoculars/binoculars.pb.go
  pkg/api/binoculars/binoculars.pb.gw.go
  pkg/api/binoculars/binoculars.proto
Labels: binoculars

generate proto files during dotnet release
  makefile
Labels: none

generate proto files during dotnet release (#2497)
  makefile
Labels: none

Add number of CPUs or GPUs to test fixtures
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Add number of CPUs or GPUs to test fixtures (#2498)
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Make the linter happier
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

debug dotnet-client ci
  .circleci/config.yml
Labels: none

Update config.yml
  .circleci/config.yml
Labels: none

Move scheduler algo tests to shared test fixtures
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Add cordon node button
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/CordonService.ts
  internal/lookout/ui/src/services/lookoutV2/LogService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeCordonService.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
Labels: none

Updating Github Pages branch with latest Master changes
  design/architecture.md
  design/diagrams/relationships/README.md
  design/diagrams/relationships/armada_system.png
  design/diagrams/relationships/generate.py
  design/diagrams/relationships/images/armada.png
  design/diagrams/relationships/images/browser.png
  design/diagrams/relationships/images/pulsar.png
  design/index.md
  design/jobservice/airflow-sequence.pml
  design/jobservice/airflow-sequence.svg
  design/jobservice/job-service.md
  design/jobservice/job-service.svg
  design/jobservice/jobservice.pml
  design/priority.md
  design/relationships_diagram.md
  design/scheduler.md
  developer.md
  developer/api.md
  developer/aws-ec2.md
  developer/manual-localdev.md
  developer/oidc.md
  developer/ui.md
  developer/usage_metrics.md
  developer/website.md
Labels: none

Job Service: Rework logic for jobset subscriptions (BATCH-303)
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/repository/postgres.go
Labels: none
