Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Another test commit (#3856)
  README.md
Labels: none

Relax Constraint on release branches
  .github/workflows/release.yml
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: none

wip
  internal/scheduler/metrics/definitions.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/metrics_test.go
Labels: none

relax patch release regex
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

relax patch release regex (#3858)
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

apply new build settings
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

apply new build settings (#3859)
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Queue cordoning in Armadactl (#187)
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/cordon.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/root.go
  cmd/armadactl/cmd/utils.go
  developer/config/insecure-armada.yaml
  internal/armadactl/cordon.go
  internal/armadactl/queue.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
Labels: armadactl

Queue cordoning in Armadactl (#187) (#3860)
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/cordon.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/root.go
  cmd/armadactl/cmd/utils.go
  developer/config/insecure-armada.yaml
  internal/armadactl/cordon.go
  internal/armadactl/queue.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
Labels: armadactl

wip
  internal/scheduler/metrics/definitions.go
  internal/scheduler/metrics/metrics.go
Labels: none

wip
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/definitions.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

wip
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/state_metrics.go
Labels: none

wip
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

remove AdditionalAnnotationsByJobId
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/result.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

update instructions
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

update instructions
  internal/lookoutingesterv2/instructions/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

wip
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/metrics/metrics.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.json
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

wip
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/event_util.go
  pkg/api/util.go
Labels: proto

lint
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

stop producing pod unscheulable errrors
  internal/executor/reporter/event.go
  internal/executor/service/pod_issue_handler.go
Labels: none

fix test
  internal/executor/service/pod_issue_handler_test.go
Labels: none

fix python
  client/python/tests/unit/test_event.py
Labels: none

fix simulator
  internal/lookoutv2/repository/util.go
Labels: none

fix test
  internal/executor/service/pod_issue_handler_test.go
Labels: none

fix test
  testsuite/testcases/basic/failure_errimagepull.yaml
Labels: none

fix test
  internal/executor/service/pod_issue_handler_test.go
Labels: none

remove some unused pulsar properties
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/scheduleringester/config.go
Labels: scheduleringester

fix compilation
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

fix compilation
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

more tests
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

more tests
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

wip
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

wip
  internal/armada/configuration/types.go
Labels: none

remove AdditionalAnnotationsByJobId (#3861)
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/result.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Address comment
  config/executor/config.yaml
Labels: none

fix merge conflict
  internal/scheduler/metrics/state_metrics.go
Labels: none

minor fixes
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics.go
Labels: none

better names
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

fix test
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none
