Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

add cancel reason to job db and reconciliation
  internal/scheduler/database/job_repository.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
Labels: none

cancel_reason test coverage
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

downgrade sqlc and regen files
  internal/scheduler/database/db.go
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/server/queryapi/database/db.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
Labels: none

match ci go-swagger output, generate using linux
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

Refine What is Armada section
  website/content/index.mdx
Labels: none

preserve cancel_reason and cancel_user through scheduler reconciliation, add tests
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/reconciliation_test.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

combining what armada does with features into one section
  website/content/index.mdx
Labels: none

added use cases section
  website/content/index.mdx
Labels: none

Add cncf logo color svg, use cases section on landing page
  website/content/index.mdx
  website/src/components/logo.tsx
Labels: none

added transitions to cards on homepage
  website/content/index.mdx
Labels: none

formatted GR section
  website/content/index.mdx
Labels: none

Landing page UI update MVP, old docs commented out until I get aproval on design and content
  website/content/index.mdx
Labels: none

add hot/cold local dev to new vscode launch config
  .vscode/launch.json
  .vscode/tasks.json
  _local/lookouthcingester/config.yaml
  _local/procfiles/hot-cold-dap.Procfile
  _local/scripts/init.sh
  _local/scripts/prebuild-services.sh
  _local/scripts/wait-for-dlv.sh
  magefiles/dev.go
Labels: build

wait for openapi generation in lookouthcui
  _local/procfiles/hot-cold.Procfile
Labels: none

wait for openapi generation in lookouthcui
  .run/Lookout HC UI.run.xml
Labels: none

move arg parse after helper functions and hc ui openapi fix
  .run/Lookout HC UI.run.xml
  _local/scripts/init.sh
Labels: none

add prebuild argument and further openapi changes
  .vscode/tasks.json
  _local/procfiles/hot-cold.Procfile
  _local/scripts/check-port-conflicts.sh
  _local/scripts/kill-port-conflicts.sh
  _local/scripts/prebuild-services.sh
  internal/lookoutui/.gitignore
Labels: none

remove readiness marker
  _local/procfiles/hot-cold.Procfile
Labels: none

write cancel source with default fallback if no reason provided
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Create observability package introducing OTEL (#4975)
  README.md
  go.mod
  go.sum
  internal/common/observability/attribute_policy.go
  internal/common/observability/attribute_policy_test.go
  internal/common/observability/config.go
  internal/common/observability/config_test.go
  internal/common/observability/lifecycle.go
  internal/common/observability/lifecycle_bootstrap_test.go
  internal/common/observability/lifecycle_test.go
Labels: none

Create observability package introducing OTEL
  internal/common/observability/lifecycle.go
Labels: none

Shutdown with default timeout
  internal/common/observability/lifecycle.go
Labels: none

better
  internal/common/observability/lifecycle.go
Labels: none

wip
  cmd/binoculars/main.go
  cmd/executor/main.go
  cmd/lookout/main.go
  cmd/lookoutingester/main.go
  cmd/scheduleringester/main.go
  cmd/server/main.go
  internal/binoculars/configuration/validation.go
  internal/eventingester/configuration/validation.go
  internal/executor/configuration/validation.go
  internal/lookout/configuration/validation.go
  internal/lookoutingester/configuration/validation.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/config.go
  internal/server/configuration/validation.go
Labels: binoculars, executor, lookout, lookoutingester, scheduler, scheduleringester

remove from test
  internal/testsuite/trace_evidence.go
Labels: testsuite

remove from logger_test
  internal/common/logging/logger_test.go
Labels: none

revert logger test
  internal/common/logging/logger_test.go
Labels: none

remove otel from testsuite
  internal/testsuite/app.go
Labels: testsuite

rebase issue
  internal/common/observability/lifecycle.go
Labels: none

Add tgucks to Armada maintainers list
  .mergify.yml
Labels: none

revert testsuite
  internal/testsuite/app.go
Labels: testsuite

address pr comment
  internal/common/observability/lifecycle_bootstrap_test.go
Labels: none

Use build release version
  .goreleaser.yml
  internal/binoculars/configuration/validation.go
  internal/common/build/build.go
  internal/common/observability/config.go
  internal/common/observability/config_test.go
  internal/common/observability/lifecycle.go
  internal/common/observability/lifecycle_test.go
  internal/eventingester/configuration/validation.go
  internal/executor/configuration/validation.go
  internal/lookout/configuration/validation.go
  internal/lookoutingester/configuration/validation.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduleringester/config.go
  internal/server/configuration/validation.go
Labels: scheduleringester

Add tgucks to Armada maintainers list (#4991)
  .mergify.yml
Labels: none

Add flags to disable scheduling preemption by type (#4989)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

feat(scheduler): Extract short job penalty service (#4969)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
  internal/scheduler/scheduling/short_job_penalty_types.go
Labels: scheduler

remove stats handler double publishing spans
  internal/server/server.go
Labels: none

Improving the main scheduler loop
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/runner/sync.go
  internal/scheduler/scheduling/runner/types.go
Labels: scheduler

Move comment
  internal/scheduler/scheduler.go
Labels: scheduler

Use scheduler clock
  internal/scheduler/scheduler.go
Labels: scheduler
