Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Signed-off-by: sarthaksarthak9 <sarthaknegi908@gmail.com>
  docs/developer.md
Labels: docs

Rename queue ttl
  internal/armada/server/submit.go
Labels: none

Run formatter
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduler.go
  pkg/api/api.swagger.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/lookout/api.swagger.go
Labels: proto, scheduler

Fix jobdb test
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

Re-run proto/dotnet client generation
  pkg/api/api.swagger.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/lookout/api.swagger.go
Labels: proto

Run formatting tools
  internal/scheduler/submitcheck_test.go
Labels: scheduler

strip prefix
  cmd/armada/main.go
  cmd/binoculars/main.go
  cmd/lookout/main.go
  internal/common/grpc/gateway.go
Labels: server, binoculars, lookout

Fix formatting
  internal/scheduler/queue_scheduler_test.go
  pkg/api/api.swagger.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/lookout/api.swagger.go
Labels: proto, scheduler

Strip Prefix If We Host Rest Api Under A Path (#3026)
  cmd/armada/main.go
  cmd/binoculars/main.go
  cmd/lookout/main.go
  internal/common/grpc/gateway.go
Labels: server, binoculars, lookout

Re-run proto gen + dotnet gen
  pkg/api/api.swagger.go
  pkg/api/binoculars/api.swagger.go
  pkg/api/lookout/api.swagger.go
Labels: proto

Signed-off-by: sarthaksarthak9 <sarthaknegi908@gmail.com>
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: none

Signed-off-by: sarthaksarthak9 <sarthaknegi908@gmail.com>
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: none

Add labels to testsuite cases
  internal/testsuite/app.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
Labels: proto, testsuite

Whitespace
  pkg/api/testspec.proto
Labels: proto

Validate gang min cardinality is <= gang cardinality
  internal/scheduler/common.go
Labels: scheduler

test
  client/python/test
Labels: client-python

Add environment and target labels to testsuite metrics (#3027)
  internal/testsuite/app.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
Labels: proto, testsuite

Fix job deduplication in legacy scheduler flow
  internal/armada/server/submit_from_log.go
Labels: none

Add queue ttl (#3025)
  client/DotNet/Armada.Client/ClientGenerated.cs
  internal/armada/server/submit.go
  internal/common/eventutil/eventutil.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/instructions.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/lookout/api.swagger.go
  pkg/api/lookout/api.swagger.json
  pkg/api/queue.pb.go
  pkg/api/queue.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler, scheduleringester

queue reconciler
  internal/queue-reconciler/queue_reconciler.go
Labels: none

Fix table underflow
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Fail CICD if Typescript linting fails
  .github/workflows/lint.yml
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

mage proto
  pkg/armadaevents/events.pb.go
Labels: none

Tidying
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Gang min cardinality (#2994)
  internal/scheduler/common.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

Address a comment in `TestSchedule`
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Delete unused `armada-config.yaml` files
  e2e/setup/pulsar/armada-config.yaml
  e2e/setup/redis/armada-config.yaml
  e2e/setup/server/armada-config.yaml
Labels: none

Delete other unused YAML files
  e2e/setup/basic-auth-executor-config.yaml
  e2e/setup/insecure-armada-auth-config.yaml
  e2e/setup/insecure-executor-config.yaml
  e2e/setup/lookout-ingester-config.yaml
  e2e/setup/secure-basic-armada-auth-config.yaml
Labels: none

Delete unused shell scripts
  e2e/setup/setup_cluster_ci.sh
  e2e/setup/setup_cluster_kind.sh
  e2e/setup/setup_environment.sh
  e2e/setup/setup_kube_config_ci.sh
Labels: none

Clean up dedup logic
  internal/armada/server/submit_to_log.go
  internal/common/pgkeyvalue/pgkeyvalue.go
Labels: none

Logging
  internal/armada/server/submit_to_log.go
Labels: none

Fix table underflow (#3030)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Make `postgres-init.sh` executable
  developer/dependencies/postgres-init.sh
Labels: none

Make `postgres-init.sh` executable (#3037)
  developer/dependencies/postgres-init.sh
Labels: none

Make `/v2` the only `NavBar` tab
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
Labels: none

Make `lookoutv2` serve the Lookout UI
  cmd/lookout/main.go
  cmd/lookoutv2/main.go
  config/lookout/config.yaml
  config/lookoutv2/config.yaml
  docker-compose.yaml
  internal/lookout/configuration/types.go
  internal/lookoutv2/application.go
  internal/lookoutv2/configuration/types.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: lookout

Stop consuming `lookoutV2ApiBaseUrl`
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetJobSpecService.ts
  internal/lookout/ui/src/services/lookoutV2/GetJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/GetRunErrorService.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
Labels: none

Import ordering
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Remove unused variable
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Redirect `/v2` to `/`
  internal/lookout/ui/src/App.tsx
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
