Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Lookout UI: enforce queue filter required for filtering on job set (#430)
  internal/lookoutui/src/components/lookout/JobsTableCell.tsx
  internal/lookoutui/src/utils/jobsTableColumns.tsx
Labels: none

Upgrade grpcio and python deps (#431)
  client/python/pyproject.toml
  client/python/tox.ini
Labels: client-python

Lookout UI: display queue names which contain the user's username first (#4431)
  internal/lookoutui/src/components/job-sets/QueueSelector.tsx
  internal/lookoutui/src/components/lookout/QueueFilter.tsx
Labels: none

Upgrade grpcio and python deps (#4432)
  client/python/pyproject.toml
  client/python/tox.ini
Labels: client-python

wip
  docs/design/api.md
  docs/design/cli.md
  docs/design/evebts.proto
  docs/design/overview.md
  docs/design/workflow.md
Labels: none

wip
  internal/clickhouseingester/instructions.go
  internal/clickhouseingester/model.go
Labels: none

Scheduler: stop jobs which had short job penalty applied staying around forever (#427)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Serve source map in Lookout UI build
  internal/lookoutui/vite.config.mts
Labels: none

ARMADA-3605 fix test build (#432)
  internal/scheduler/scheduler_test.go
Labels: scheduler

Scheduler: stop jobs which had short job penalty applied staying around forever (#4435)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

wip
  internal/clickhouseingester/app.go
  internal/clickhouseingester/clickhousedb/clickhousedb.go
  internal/clickhouseingester/clickhousedb/debug.go
  internal/clickhouseingester/clickhousedb/error.go
  internal/clickhouseingester/clickhousedb/job.go
  internal/clickhouseingester/clickhousedb/job_test.go
  internal/clickhouseingester/clickhousedb/run.go
  internal/clickhouseingester/clickhousedb/run_test.go
  internal/clickhouseingester/clickhousedb/spec.go
  internal/clickhouseingester/clickhousedb/util.go
  internal/clickhouseingester/instructions.go
  internal/clickhouseingester/instructions/converter.go
  internal/clickhouseingester/instructions/job.go
  internal/clickhouseingester/instructions/job_run.go
  internal/clickhouseingester/instructions/util.go
  internal/clickhouseingester/migrations/20250728160000_create_jobs_table.sql
  internal/clickhouseingester/model/model.go
  internal/executor/utilisation/prometheus_scraping_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
Labels: none

ARMADA-3331 Lookout: support filtering and grouping by node and cluster (#433)
  internal/lookout/repository/fieldparser.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/groupjobs.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/schema/migrations/021_create_job_run_run_id_cluster_node_idx.sql
  internal/lookout/schema/migrations/022_create_job_run_run_id_node_idx.sql
  internal/lookout/schema/migrations/023_create_job_latest_run_id_idx.sql
  internal/lookoutui/src/utils/jobsTableColumns.tsx
Labels: none

wip
  cmd/query-ingester/dbloadtester/main.go
  cmd/query-ingester/main.go
  config/queryingester/config.yaml
  internal/clickhouseingester/clickhousedb/job.go
  internal/clickhouseingester/clickhousedb/run.go
  internal/clickhouseingester/config.go
  internal/queryingester/app.go
  internal/queryingester/clickhousedb/clickhousedb.go
  internal/queryingester/clickhousedb/debug.go
  internal/queryingester/clickhousedb/error.go
  internal/queryingester/clickhousedb/job.go
  internal/queryingester/clickhousedb/job_test.go
  internal/queryingester/clickhousedb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/clickhousedb/run.go
  internal/queryingester/clickhousedb/run_test.go
  internal/queryingester/clickhousedb/spec.go
  internal/queryingester/clickhousedb/util.go
  internal/queryingester/configuration/types.go
  internal/queryingester/dbloadtester/queue.go
  internal/queryingester/dbloadtester/simulator.go
  internal/queryingester/dbloadtester/test_data.yaml
  internal/queryingester/instructions/converter.go
  internal/queryingester/instructions/job.go
  internal/queryingester/instructions/job_run.go
  internal/queryingester/instructions/model.go
  internal/queryingester/instructions/util.go
Labels: none

Serve source map in Lookout UI build (#4434)
  internal/lookoutui/vite.config.mts
Labels: none

docs(website): improve 5.3 Clients
  website/content/toc.mdx
  website/content/user-guide.mdx
Labels: none

docs(website): quickstart based on Armada Operator
  website/content/toc.mdx
Labels: none

docs(website): improve index
  website/content/index.mdx
Labels: none

docs(website): omit cluster health monitoring
  website/content/index.mdx
Labels: none

docs(website): remove Node affinity and anti-affinity rules
  website/content/index.mdx
Labels: none

docs(website): remove the "specialized storage layers" part
  website/content/index.mdx
Labels: none

Scheduler: improve job gc log message (#436)
  internal/scheduler/scheduler.go
Labels: scheduler

Scheduler: improve job gc log message (#4437)
  internal/scheduler/scheduler.go
Labels: scheduler

docs(website): remove CI/CD section from getting-started.mdx
  website/content/getting-started.mdx
Labels: none

docs(website): adjust getting-started.mdx to use the Armada Operator
  website/content/getting-started.mdx
Labels: none

wip
  clickhouse-config.xml
  cmd/query-ingester/dbloadtester/main.go
  internal/queryingester/clickhousedb/clickhousedb.go
  internal/queryingester/clickhousedb/debug.go
  internal/queryingester/clickhousedb/job.go
  internal/queryingester/clickhousedb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/clickhousedb/run.go
  internal/queryingester/clickhousedb/run_test.go
  internal/queryingester/dbloadtester/simulator.go
  internal/queryingester/instructions/converter.go
  internal/queryingester/instructions/job.go
  internal/queryingester/instructions/job_run.go
  internal/queryingester/instructions/model.go
Labels: none

Scheduler: delete unused code in common/resource (#437)
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
Labels: none

Remove custom quantity to float method, delete dead code (#438)
  internal/common/resource/resource.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/cycle_metrics.go
Labels: scheduler

Remove custom quantity to float method, delete dead code (#4439)
  internal/common/resource/resource.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/cycle_metrics.go
Labels: scheduler

Update resource.go
  internal/common/resource/resource.go
Labels: none

wip
  clickhouse-config.xml
  cmd/query-ingester/dbloadtester/main.go
  internal/queryingester/clickhousedb/clickhousedb.go
  internal/queryingester/clickhousedb/job.go
  internal/queryingester/clickhousedb/job_test.go
  internal/queryingester/clickhousedb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/instructions/job.go
  internal/queryingester/instructions/job_run.go
  internal/queryingester/instructions/model.go
Labels: none

wip
  cmd/query-ingester/dbloadtester/main.go
  config/queryingester/config.yaml
  go.mod
  go.sum
  internal/queryingester/app.go
  internal/queryingester/clickhousedb/clickhousedb.go
  internal/queryingester/clickhousedb/job.go
  internal/queryingester/clickhousedb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/clickhousedb/run_test.go
  internal/queryingester/clickhousedb/util.go
  internal/queryingester/dbloadtester/simulator.go
  internal/queryingester/instructions/job.go
  internal/queryingester/instructions/model.go
  internal/queryingester/singlestoredb/debug.go
  internal/queryingester/singlestoredb/error.go
  internal/queryingester/singlestoredb/job.go
  internal/queryingester/singlestoredb/job_test.go
  internal/queryingester/singlestoredb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/singlestoredb/run.go
  internal/queryingester/singlestoredb/singlestore.go
  internal/queryingester/singlestoredb/spec.go
  internal/queryingester/singlestoredb/util.go
Labels: none

Delete unused code in common/resource (#4438)
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
Labels: none

fillfactor 80
  internal/lookout/schema/migrations/021_create_job_run_run_id_cluster_node_idx.sql
Labels: none

fillfactor 80
  internal/lookout/schema/migrations/022_create_job_run_run_id_node_idx.sql
Labels: none

fillfactor 80
  internal/lookout/schema/migrations/023_create_job_latest_run_id_idx.sql
Labels: none

Lookout: support filtering and grouping by node and cluster
  internal/lookout/repository/fieldparser.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/groupjobs.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/schema/migrations/021_create_job_run_run_id_cluster_node_idx.sql
  internal/lookout/schema/migrations/022_create_job_run_run_id_node_idx.sql
  internal/lookout/schema/migrations/023_create_job_latest_run_id_idx.sql
  internal/lookoutui/src/common/jobsTableColumns.tsx
Labels: none

lint groupjobs_test.go
  internal/lookout/repository/groupjobs_test.go
Labels: none

lintquerybuilder.go
  internal/lookout/repository/querybuilder.go
Labels: none

fix tests
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

Lookout: support filtering and grouping by node and cluster (#4441)
  internal/lookout/repository/fieldparser.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/groupjobs.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/schema/migrations/021_create_job_run_run_id_cluster_node_idx.sql
  internal/lookout/schema/migrations/022_create_job_run_run_id_node_idx.sql
  internal/lookout/schema/migrations/023_create_job_latest_run_id_idx.sql
  internal/lookoutui/src/common/jobsTableColumns.tsx
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
