Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Add label to pod to show if it is preemptible or not
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

[Lookout] Make jobs.annotations column not nullable
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

[Lookout] Make jobs.annotations column not nullable
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

Fix tests
  internal/armada/queryapi/query_api_test.go
Labels: none

Use explicit constraint + newer postgres image
  docker-compose.yaml
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

Fix constraint validation
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

Update constraint name
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

Fix tests
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
Labels: none

[Lookout] Make jobs.annotations column not nullable (#3519)
  docker-compose.yaml
  internal/armada/queryapi/query_api_test.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutv2/schema/migrations/006_annotations_constraint.sql
Labels: none

remove unused pulsar classes
  internal/common/pulsarutils/async.go
  internal/common/pulsarutils/async_test.go
  internal/common/pulsarutils/errors.go
  internal/common/pulsarutils/messageid.go
Labels: none

remove test
  internal/common/ingest/batch.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/pulsarutils/testutil.go
  internal/pulsartest/watch.go
Labels: none

remove unused code
  internal/common/slices/slices.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
  internal/common/validation/podspec.go
  internal/common/validation/podspec_test.go
Labels: none

correct service name
  testsuite/testcases/basic/service_headless.yaml
Labels: none

fix test
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
Labels: none

Add a regression test
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Fix the bug
  internal/lookoutv2/repository/querybuilder.go
Labels: none

Formatting
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Filter out null values when grouping by annotation (#3521)
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
Labels: none

add jobs handler
  cmd/armada/main.go
Labels: server

add jobs handler (#3522)
  cmd/armada/main.go
Labels: server

Update internal/armada/submit/submit.go
  internal/armada/submit/submit.go
Labels: none

Update internal/armada/submit/submit.go
  internal/armada/submit/submit.go
Labels: none

add pool priority
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

lint
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

make not required
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Add Ability To Control Pool Scheduling Order In Config (#3523)
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

put defaultPriorityClass in jobdb
  internal/armada/mocks/mock_submitchecker.go
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Use Channels For Ingesters (#3520)
  internal/common/ingest/batch.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/pulsarutils/async.go
  internal/common/pulsarutils/async_test.go
  internal/common/pulsarutils/messageid.go
  internal/common/pulsarutils/testutil.go
  internal/pulsartest/watch.go
Labels: none

Add label to pod to show if it is preemptible or not (#3517)
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

wip
  internal/scheduler/queue_scheduler.go
Labels: scheduler

lint
  go.mod
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

regenerate mock
  internal/scheduler/mocks/api.go
Labels: none

lint
  internal/scheduler/queue/queue_cache.go
  internal/scheduler/queue/queue_cache_test.go
Labels: none

switch queue.QUe -> api.Queue
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

lint
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

add test for Postgres Repo
  internal/armada/repository/queue.go
  internal/armada/repository/queue_test.go
Labels: none

fix db migration
  internal/lookoutv2/schema/migrations/007_queue.sql
Labels: none

add more tests
  internal/armada/repository/queue.go
  internal/armada/repository/queue_test.go
Labels: none

test ci with postgres
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/repository/queue.go
  internal/armada/server.go
Labels: server

sort out database configuration
  .run/Lookout Ingester V2.run.xml
  .run/LookoutV2.run.xml
  .run/lookoutv2PostgresMigration.run.xml
  config/armada/config.yaml
  config/lookoutingesterv2/config.yaml
  config/lookoutv2/config.yaml
  config/queryapi/config.yaml
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  developer/dependencies/postgres-init.sh
  developer/env/docker/lookoutv2.env
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
