Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Add Scheduler Metrics (#2834)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
Labels: scheduler

Add fairness tests (#2889)
  internal/scheduler/fairness/fairness_test.go
Labels: none

go mod tidy
  go.mod
Labels: none

Lint
  internal/scheduler/simulator/simulator.go
Labels: none

Ensure deterministic lease/preempt event ordering
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/testdata/diva-plat.yaml
Labels: none

Add simulator (#2881)
  go.mod
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
Labels: none

Sync quickstart/index.md with gh-pages/quickstart.md
  .github/workflows/pages.yml
Labels: none

Replace metrics singleton with an injection pattern.
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

fix
  internal/scheduler/scheduler_test.go
Labels: scheduler

add configuration structures to metrics
  internal/armada/configuration/types.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

add configuration
  config/scheduler/config.yaml
Labels: none

don't test dag in main
  third_party/airflow/examples/hello_armada_auth.py
Labels: none

add Slack channel link to Header
  _includes/header.html
  assets/img/brand/Slack-Mark-Light-120px.png
  assets/styles/custom/_styles.scss
Labels: none

add Slack channel link to Footer
  _data/settings.yml
Labels: none

updating .gitignore
  .gitignore
Labels: none

removing unnecessary .DS_Store files
  .DS_Store
  _includes/.DS_Store
  _includes/components/.DS_Store
  _pages/.DS_Store
  assets/.DS_Store
  assets/img/.DS_Store
  assets/img/brand/.DS_Store
  assets/img/icons/.DS_Store
  assets/styles/.DS_Store
Labels: docs

rename elements
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Add config and dependency injection to scheduler metrics (#2892)
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

updating Twitter link in Footer
  _data/settings.yml
Labels: none

wip
  internal/armada/configuration/types.go
  internal/common/ingest/ingestion_pipeline.go
  internal/lookout/configuration/types.go
  internal/lookoutingester/ingester.go
Labels: lookoutingester

set receiverQueueSize to 100
  config/armada/config.yaml
  config/eventingester/config.yaml
  config/lookoutingester/config.yaml
  config/lookoutingesterv2/config.yaml
  config/scheduleringester/config.yaml
Labels: none

remove old PulsarReceiverQueueSize
  go.mod
  go.sum
  internal/eventingester/configuration/types.go
  internal/eventingester/ingester.go
  internal/lookoutingesterv2/configuration/types.go
  internal/lookoutingesterv2/ingester.go
  internal/scheduleringester/config.go
  internal/scheduleringester/ingester.go
Labels: eventingester, lookoutingester, scheduleringester

revert
  go.mod
  go.sum
Labels: none

subscriptionin api
  internal/armada/server.go
Labels: server

update
  go.mod
  go.sum
Labels: none

update pulsar client
  cmd/eventsprinter/logic/logic.go
  e2e/pulsar_test/pulsar_test.go
  internal/armada/server/eventsprinter.go
  internal/armada/server/submit_from_log.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/mocks/mock_executorapi.go
  internal/common/mocks/mock_pulsar.go
  internal/common/pulsarutils/async.go
  internal/common/pulsarutils/async_test.go
  internal/common/pulsarutils/pulsar_to_channel.go
Labels: none

Create README.md for plugins directory
  plugins/README.md
Labels: none

Update README.md
  plugins/README.md
Labels: none

error comming because of not having substring testMethod
  internal/common/armadaerrors/errors_test.go
Labels: none

adding armadactl to Armada client libraries page
  libraries.md
Labels: none

adding video to Armada demo page
  demo.md
Labels: none

fix demo page
  demo.md
Labels: none

changing armadactl url
  libraries.md
Labels: none

fix demo.md
  demo.md
Labels: none

Update plugins/README.md
  plugins/README.md
Labels: none

Update README.md
  plugins/README.md
Labels: none

Maker Pulsar ReceiverQueueSize Configurable (#2895)
  config/armada/config.yaml
  config/eventingester/config.yaml
  config/lookoutingester/config.yaml
  config/lookoutingesterv2/config.yaml
  config/scheduleringester/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/common/ingest/ingestion_pipeline.go
Labels: server

Add poll_interval (#2805)
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

Fix bug causing server spinning
  internal/armada/server/submit_from_log.go
Labels: none
