Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

ok
  package-lock.json
  package.json
Labels: none

mage sql
  internal/server/queryapi/database/models.go
  package-lock.json
  package.json
Labels: none

ok
  internal/lookout/repository/util.go
Labels: none

requestor: lookout and lookout ingester changes (#5065)
  _local/server/config-auth.yaml
  internal/lookout/conversions/convert.go
  internal/lookout/conversions/convert_test.go
  internal/lookout/gen/models/job.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/model/model.go
  internal/lookout/repository/fieldparser.go
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/repository/util.go
  internal/lookout/schema/migrations/036_add_preempt_and_reprioritize_users.sql
  internal/lookout/swagger.yaml
  internal/lookouthc/schema/schema.go
  internal/lookouthc/schema/target_schema.sql
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarHeader.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarTabJobDetails.tsx
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/query_api_test.go
Labels: lookout

better
  internal/scheduler/jobdb/aggregate.go
Labels: none

Add ability to swap order of fairshare and urgency preemption (#5194)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/submitcheck.go
Labels: scheduler

expose metric
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Regenerate Armada event protobuf
  pkg/armadaevents/events.pb.go
Labels: none

Name job run termination events
  pkg/armadaevents/events_util.go
  pkg/armadaevents/events_util_test.go
Labels: none

Name job run start events
  internal/eventingester/convert/conversions_test.go
  pkg/armadaevents/events_util.go
  pkg/armadaevents/events_util_test.go
Labels: none

Release stored node allocations when evicting, rebinding and removing jobs
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

Report validated NVIDIA HAMi device inventory from executors
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/metrics/metrics.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/hami/hami.go
  internal/hami/inventory.go
  internal/hami/inventory_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  magefiles/proto.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
  pkg/executorapi/util.go
  pkg/hamiapi/hami.pb.go
  pkg/hamiapi/hami.proto
Labels: build, executor

Add typed HAMi device reservations and fair-share charges
  internal/hami/request.go
  internal/hami/request_test.go
  internal/scheduler/internaltypes/resource.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_hami.go
  internal/scheduler/jobdb/job_hami_test.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  pkg/hamiapi/hami.pb.go
  pkg/hamiapi/hami.proto
Labels: scheduler

Enable HAMi device scheduling in opted-in pools
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/job/submit.go
  internal/executor/job/submit_test.go
  internal/hami/hami.go
  internal/hami/placement.go
  internal/hami/placement_test.go
  internal/hami/pod.go
  internal/hami/pod_test.go
  internal/hami/request.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/jobdb/hami_charge_repository.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_hami_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_hami.go
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_hami_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: executor, scheduler

Add HAMi placement scenarios to the simulator and testsuite
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_hami_test.go
  internal/scheduler/simulator/test_utils.go
  testsuite/testcases/hami/fractional_gpu_1x1.yaml
  testsuite/testcases/hami/oversized_gpu_memory_fails_1x1.yaml
  testsuite/testcases/hami/too_many_gpus_fails_1x1.yaml
  testsuite/testcases/hami/whole_gpu_1x1.yaml
Labels: none

Correct the retry policy deletion behaviour in the docs
  docs/retry_policies.md
Labels: docs

Say what happens to queues after a retry policy deletion
  docs/retry_policies.md
Labels: docs

fix: enforce resource minimums once, against the effective request
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

fix: gate pod-level accounting and use effective request for minimums
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

test: pin the Lookout job footprint for sidecars, init containers and pools
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

fix: read the pod-level block in retry, cordon and deadline accounting
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  pkg/api/util_test.go
Labels: proto, scheduler

fix: check init container limits and count cordoned requests
  config/server/config.yaml
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

feat: mirror the API server's pod-level resource rules on submit
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

feat: declare submission.podLevelResources in the shipped server config
  config/server/config.yaml
Labels: none

feat: reject pod-level resources when the feature is disabled
  internal/server/submit/conversion/post_process.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

fix: address pod-level resource review feedback
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/server/configuration/types.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

test: make pod-level resource tests table-driven
  internal/common/resource/resource_test.go
  internal/server/submit/conversion/post_process_test.go
Labels: none

fix: round the pod-level retry bump up
  internal/scheduler/api.go
  internal/scheduler/api_test.go
Labels: scheduler

fix: check pod-level minimums the same way as container minimums
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

feat: support pod-level resources (KEP-2837)
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/scheduler/api.go
  internal/server/configuration/types.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

fix: do not default pooled resources into containers
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
Labels: none

attempt to use container terminated times instead of event created timestamps for lookout finished times
  internal/executor/reporter/event.go
  internal/executor/reporter/event_test.go
  internal/executor/service/job_state_reporter.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/lookoutdb/insertion.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

Create aggregates to speed up the scheduler
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_bench_test.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/metrics_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Python Client: update grpcio and grpcio-tools to v1.84.0 (#5177)
  client/python/pyproject.toml
Labels: client-python

Correct the retry policy deletion behaviour in the docs
  docs/retry_policies.md
Labels: docs

Wait one refresh period before deleting a replaced retry policy
  docs/retry_policies.md
Labels: docs

Say what happens to queues after a retry policy deletion
  docs/retry_policies.md
Labels: docs

address PR comments
  internal/scheduler/jobdb/aggregate_bench_test.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Correct the retry policy deletion behaviour in the docs (#5199)
  docs/retry_policies.md
Labels: docs

Add a flag that puts the run index in the pod name
  config/scheduler/config.yaml
  docs/retry_policies.md
  internal/common/constants.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/schedulerapp.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: docs, scheduler
