Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Fix preempted metrics (#3951)
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

wip
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/internaltypes/resource_list.go
Labels: scheduler

Better Interface To JobRepository (#3958)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Remove NodeJobDiff + iterators that are now unused
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Separate Job Spec to own table to improve performance (#3961)
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobspec.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/schema/migrations/013_add_job_spec_table.sql
Labels: none

Remove assertions from preempting_queue_scheduler.go (#3959)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

fix mere conflicts
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Remove the config to disable the scheduling key optimisation (#3960)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Restructure scheduler to have scheduling folder
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/reports/repository.go
  internal/scheduler/reports/repository_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/context/gang_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/submitcheck.go
  internal/server/submit/validation/submit_request.go
Labels: scheduler

fix armadactl submit help string (#3887)
  cmd/armadactl/cmd/submit.go
Labels: none

Fix imports
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

Restructure scheduler to have scheduling folder (#3962)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/reports/repository.go
  internal/scheduler/reports/repository_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/context/gang_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/submitcheck.go
  internal/server/submit/validation/submit_request.go
Labels: scheduler

[Lookout] Make pruner removed rejected jobs
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
Labels: none

remove some unused/unneeded fields from schedulingcontext
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

[Lookout] Make pruner removed rejected jobs (#3963)
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
Labels: none

Tidy Up Common
  internal/common/interfaces/interfaces.go
  internal/common/linalg/linalg.go
  internal/common/linalg/lingalg_test.go
  internal/common/optimisation/descent/descent.go
  internal/common/optimisation/descent/descent_test.go
  internal/common/optimisation/nesterov/nesterov.go
  internal/common/optimisation/nesterov/nesterov_test.go
  internal/common/optimisation/optimisation.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/common/types/scheduling.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Remove Gradient Descent
  internal/common/linalg/linalg.go
  internal/common/linalg/lingalg_test.go
  internal/common/optimisation/descent/descent.go
  internal/common/optimisation/descent/descent_test.go
  internal/common/optimisation/nesterov/nesterov.go
  internal/common/optimisation/nesterov/nesterov_test.go
  internal/common/optimisation/optimisation.go
Labels: none

Remove other code
  internal/common/slices/slices.go
Labels: none

Remove test code
  internal/common/slices/slices_test.go
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

fix tests
  client/python/armada_client/asyncio_client.py
Labels: none

Remove Gradient Descent (#3966)
  go.mod
  go.sum
  internal/common/linalg/linalg.go
  internal/common/linalg/lingalg_test.go
  internal/common/optimisation/descent/descent.go
  internal/common/optimisation/descent/descent_test.go
  internal/common/optimisation/nesterov/nesterov.go
  internal/common/optimisation/nesterov/nesterov_test.go
  internal/common/optimisation/optimisation.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
Labels: none

Small refactoring of scheduling_algo (#231)
  internal/scheduler/schedulerobjects/executor.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

update armadactl version to v0.12.1 in get-armadactl script
  scripts/get-armadactl.sh
Labels: build

Small refactoring of scheduling_algo (#231) (#3967)
  internal/scheduler/schedulerobjects/executor.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

add security policy
  .github/SECURITY.md
Labels: none

update armadactl version to v0.12.1 in get-armadactl script (#3968)
  scripts/get-armadactl.sh
Labels: build

Scheduler: refactor node creation
  internal/scheduler/gang_scheduler.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/node_type.go
  internal/scheduler/internaltypes/node_type_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/internaltypes/unschedulable.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

fix,tidy
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

update query
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql
  internal/server/queryapi/database/query.sql.go
  internal/server/queryapi/database/sql.yaml
Labels: none

Remove proto uuid (#3950)
  internal/common/eventutil/eventutil_test.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/ingest/testfixtures/event.go
  internal/common/proto/protoutil_test.go
  internal/executor/job/util.go
  internal/executor/reporter/event.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/service/util.go
  internal/executor/service/util_test.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/executor/util/uuid.go
  internal/executor/util/uuid_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/submit.go
  internal/server/submit/testfixtures/test_fixtures.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/uuid.go
  pkg/armadaevents/uuid_test.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: scheduler, scheduleringester

tidy
  internal/scheduler/nodedb/nodedb.go
Labels: none

lint
  internal/scheduler/internaltypes/node.go
  internal/scheduler/nodedb/nodedb.go
Labels: none

fix: build/python-client/Dockerfile to reduce vulnerabilities
  build/python-client/Dockerfile
Labels: none

Scheduler: Refactor create node (#3970)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/node_type.go
  internal/scheduler/internaltypes/node_type_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/internaltypes/unschedulable.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

fix query
  internal/server/queryapi/database/query.sql
  internal/server/queryapi/database/query.sql.go
Labels: none

Rename armada to server
  build/bundles/armada/Dockerfile
  build/server/Dockerfile
  cmd/server/main.go
  config/server/config.yaml
Labels: none

Reemove postgresPulsarMigration.run.xml
  .run/postgresPulsarMigration.run.xml
Labels: none

Fix postgres migration
  .run/Armada.run.xml
  .run/Server.run.xml
  .run/schedulerPostgresMigration.run.xml
Labels: none

Fix goreleaser
  .goreleaser.yml
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
