Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix typo
  internal/scheduler/queue/queue_cache_test.go
Labels: none

Refactor Scheduler Metrics (#3804)
  config/scheduler/config.yaml
  go.mod
  go.sum
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/scheduling.go
  internal/scheduler/context/scheduling_test.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/metrics_test.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerresult/result.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

fix merge conflicts
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

fix test
  internal/scheduler/scheduler_test.go
Labels: scheduler

fix
  internal/scheduler/simulator/simulator.go
Labels: none

lint
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/writer.go
Labels: none

lint
  cmd/simulator/cmd/root.go
Labels: none

wip
  cmd/simulator/cmd/root.go
  internal/scheduler/simulator/cycle_stats.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/stats_writer.go
Labels: none

lint
  internal/scheduler/simulator/stats_writer.go
Labels: none

Add check required action in place of the script
  .github/workflows/check-required.yml
Labels: none

WIP: Executor cordoning implementation
  internal/scheduler/api.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/executor_repository.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/server/permissions/permissions.go
  internal/server/submit/submit.go
  magefiles/airflow.go
  pkg/api/submit.proto
  pkg/armadaevents/events.proto
Labels: build, proto, scheduler, scheduleringester

Fixing breaking tests, adding additional test for the Executor API
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduleringester/schedulerdb.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/armadaevents/events.pb.go
Labels: proto, scheduler, scheduleringester

Fixing broken test
  internal/scheduler/api_test.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduler, scheduleringester

Fix Bearer auth to work when authenticating against K8S from Airflow Operator
  third_party/airflow/armada/log_manager.py
Labels: none

Update pyproject.toml
  third_party/airflow/pyproject.toml
Labels: none

Fix Bearer auth to work when authenticating against K8S from Airflow Operator (#3897)
  third_party/airflow/armada/log_manager.py
  third_party/airflow/pyproject.toml
Labels: none

wip
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/simulator/testdata/configs/basicSchedulingConfig.yaml
Labels: none

remove test
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
Labels: none

Remove Armada UUIDs from Event Ingester and Event Api (#3886)
  internal/common/eventutil/eventutil.go
  internal/eventingester/convert/conversions_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/event/event_repository_test.go
  internal/server/event/event_test.go
Labels: none

Move code in common.go to more sensible places (#3893)
  internal/scheduler/common.go
  internal/scheduler/common_test.go
  internal/scheduler/context/job.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue/queue_cache_test.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
Labels: scheduler

Update internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb.go
Labels: none

Update pkg/armadaevents/uuid.go
  pkg/armadaevents/uuid.go
Labels: none

Simplify + tests
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
Labels: none

Add authorisation to the Executor API (#3884)
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerapp.go
  internal/server/permissions/permissions.go
Labels: scheduler

Simplify + tests
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
Labels: none

Improve tests
  internal/executor/service/lease_requester_test.go
Labels: none

Change RunId to be a string inside the scheduler (#3890)
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/uuid_hasher.go
  internal/scheduler/jobdb/uuid_hasher_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/mocks/job_repository.go
  internal/scheduler/mocks/matchers.go
  internal/scheduler/poolutils_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/executor.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/armadaevents/uuid.go
Labels: scheduler

ARMADA-2849 Add Validation for Jobset ID (#213)
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

Scheduler: when evicting don't normalise actualShare
  internal/scheduler/context/scheduling.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Scheduler: when evicting don't normalise actualShare (#3899)
  internal/scheduler/context/scheduling.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Update .mergify.yml
  .mergify.yml
Labels: none

Update MAINTAINERS.md
  MAINTAINERS.md
Labels: none

Update maintainers (#3900)
  .mergify.yml
  MAINTAINERS.md
Labels: none

Keep last log line if no-logs (#216)
  third_party/airflow/armada/operators/armada.py
Labels: none

Update pyproject.toml
  third_party/airflow/pyproject.toml
Labels: none

ArmadaOperator: Keep last log line if no-logs (#216) (#3901)
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
Labels: none

Add job submitted index
  internal/lookoutv2/schema/migrations/012_add_job_submitted_index.sql
Labels: none

ARMADA-2849 Add Validation for Jobset ID (#213) (#3904)
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

Make error while closing stream non fatal
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
Labels: none

Make the executor close LeaseJobRuns stream (#3876)
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
