Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Lint Fixes
  magefiles/ci.go
  magefiles/developer.go
Labels: build

Time taken metrics
  magefiles/ci.go
  magefiles/developer.go
  magefiles/goreleaser.go
  magefiles/main.go
Labels: build

Added lint fix
  magefiles/ci.go
Labels: build

Use jsonpb marshaller for affinity and add benchmarks
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
Labels: none

fix small bug
  internal/lookoutingesterv2/lookoutdb/insertion.go
Labels: none

Move print
  internal/scheduler/schedulerobjects/podutils.go
Labels: none

Added more metric and changes
  magefiles/goreleaser.go
  magefiles/kind.go
  magefiles/main.go
Labels: build

cleanup
  internal/lookout/ui/src/components/lookoutV2/DebouncedTextField.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
Labels: none

Fix gang accounting
  internal/scheduler/context/context.go
  internal/scheduler/queue_scheduler_test.go
Labels: scheduler

Comment
  internal/scheduler/gang_scheduler.go
Labels: scheduler

Fix number of jobs/gang scheduled accounting (#2430)
  internal/scheduler/context/context.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/queue_scheduler_test.go
Labels: scheduler

Remove unused field
  internal/scheduler/context/context.go
Labels: none

Update internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/podutils_test.go
Labels: none

display cancel reason in ui
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookoutv2/repository/getjobs.go
Labels: none

Fix scheduling key hashing (#2426)
  internal/common/hash/pod_requirements.go
  internal/common/hash/pod_requirements_test.go
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/context/context.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/quantity.go
  internal/scheduler/schedulerobjects/quantity_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/submitcheck.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/api/util.go
Labels: proto, scheduler, scheduleringester

Attempting CI changes (#2424)
  .devcontainer/demo/start.sh
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
  magefiles/ci.go
  magefiles/developer.go
  magefiles/goreleaser.go
  magefiles/kind.go
  magefiles/main.go
Labels: build

Trying some things.
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
  magefiles/main.go
Labels: build

Trying some different things.
  go.mod
  magefiles/ci.go
  magefiles/main.go
  tools.yaml
Labels: build

Added go changes
  go.mod
  go.sum
Labels: none

Testing
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
Labels: none

More testing
  .github/workflows/go-setup/action.yml
Labels: none

Added timing to goreleaser
  magefiles/goreleaser.go
Labels: build

More metrics
  magefiles/main.go
Labels: build

Breaking tests... to test
  .github/workflows/go-integration.yml
Labels: none

Hopefully fixing everything.
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
  .github/workflows/go-setup/action.yml
Labels: none

Changed to different setup.
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
  .github/workflows/go-setup/action.yml
Labels: none

Bugfix
  .github/workflows/go-setup/action.yml
Labels: none

Changed setup-go back for action.
  .github/workflows/go-integration.yml
  .github/workflows/go-setup/action.yml
  magefiles/ci.go
Labels: build

Added more stuff for speed
  magefiles/ci.go
Labels: build

Added two more changes
  .github/workflows/go-integration.yml
  magefiles/goreleaser.go
Labels: build

Testing a sleep
  magefiles/main.go
Labels: build

Reverted caching binaries step
  .github/workflows/go-integration.yml
  magefiles/goreleaser.go
Labels: build

Try and further speedup CI
  internal/scheduler/submitcheck.go
  magefiles/main.go
Labels: build, scheduler

Testing some changes
  .github/workflows/go-integration.yml
  magefiles/developer.go
  magefiles/kind.go
Labels: build

Added even more changes!
  .github/workflows/go-integration.yml
  magefiles/developer.go
  magefiles/kind.go
Labels: build

Added more testing stuff
  .github/workflows/go-integration.yml
Labels: none

More testing
  .github/workflows/go-integration.yml
Labels: none

Removed additions for testing
  .github/workflows/go-integration.yml
Labels: none

Debug data!
  magefiles/goreleaser.go
Labels: build

Added even more data
  .github/workflows/go-integration.yml
Labels: none
