Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

docs(website): add Armada old content
  website/content/assets/armada_system.png
  website/content/assets/batch-api.svg
  website/content/concepts/jobs.mdx
  website/content/concepts/meta.json
  website/content/concepts/priority-queues.mdx
  website/content/concepts/scheduler.mdx
  website/content/developer/api.mdx
  website/content/developer/architecture.mdx
  website/content/developer/aws-ec2.mdx
  website/content/developer/index.mdx
  website/content/developer/manual-localdev.mdx
  website/content/developer/meta.json
  website/content/developer/oidc.mdx
  website/content/developer/pprof.mdx
  website/content/developer/relationships-diagram.mdx
  website/content/developer/ubuntu-setup.mdx
  website/content/developer/ui.mdx
  website/content/developer/usage-metrics.mdx
  website/content/developer/website.mdx
  website/content/index.md
  website/content/index.mdx
  website/content/installation.mdx
  website/content/integrations/helm.mdx
  website/content/integrations/index.mdx
  website/content/integrations/python-airflow-operator.md
  website/content/integrations/python-armada-client.md
  website/content/markdown-guide/github-markdown-cheatsheet.md
  website/content/markdown-guide/index.md
  website/content/markdown-guide/introduction.md
  website/content/markdown-guide/meta.json
  website/content/meta.json
  website/content/quickstart.mdx
  website/content/user.mdx
Labels: none

fix(website): fix svg image
  website/content/assets/batch-api.svg
Labels: none

fix(website): fix relative paths
  website/content/concepts/jobs.mdx
  website/content/developer/index.mdx
  website/content/developer/relationships-diagram.mdx
  website/content/developer/ui.mdx
Labels: none

fix(website): fix relative paths
  website/content/developer/index.mdx
Labels: none

fix(website): fix relative paths
  website/content/user.mdx
Labels: none

Make jobs with unspecified price band used the queues fallback price
  internal/scheduler/metrics_test.go
  internal/scheduler/pricing/bid_price_service_test.go
  internal/scheduler/pricing/bid_service.go
  pkg/bidstore/util.go
Labels: scheduler

Make jobs with unspecified price band used the queues fallback price (#4377)
  internal/scheduler/metrics_test.go
  internal/scheduler/pricing/bid_price_service_test.go
  internal/scheduler/pricing/bid_service.go
  pkg/bidstore/util.go
Labels: scheduler

ci(website): add lint to content; *.md and *.mdx
  website/eslint.config.mjs
  website/next.config.ts
  website/package.json
  website/yarn.lock
Labels: none

ci(website): add lint to content using remark-cli
  website/.remarkignore
  website/.remarkrc-md.mjs
  website/.remarkrc-mdx.mjs
  website/README.md
  website/package.json
  website/yarn.lock
Labels: none

docs(website): fix content to pass yarn content:check
  website/content/developer/aws-ec2.mdx
  website/content/developer/index.mdx
  website/content/index.mdx
  website/content/installation.mdx
  website/content/markdown-guide/fumadocs-markdown-cheatsheet.md
  website/content/markdown-guide/fumadocs-mdx-cheatsheet.mdx
  website/content/markdown-guide/github-markdown-cheatsheet.md
Labels: none

ci(website): add yarn content:check to CI/CD
  .github/workflows/website.yml
Labels: none

docs(website): fix content Prettier format
  website/content/developer/index.mdx
Labels: none

Update main developer guide
  internal/lookoutui/README.md
Labels: none

Lookout UI (fix location of job run error and debug message)
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/lookout/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobResult.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/services/lookout/GetJobInfoService.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGetJobInfoService.ts
  internal/lookoutui/src/services/lookout/mocks/fakeData.ts
  internal/lookoutui/src/services/lookout/useCordonNode.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/utils/fakeJobsUtils.ts
Labels: none

lint
  internal/lookoutui/src/components/lookout/sidebar/JobRunDetails.tsx
Labels: none

Create Visual Studio Code debug configurations
  .gitignore
  .run/Lookout UI.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  docs/developer.md
  internal/lookoutui/README.md
  internal/lookoutui/development-setup-and-start.sh
  scripts/yarn-registry-mirror.sh
Labels: build, docs

fix TS
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.test.tsx
Labels: none

Lookout UI (fix location of job run error and debug message) (#4379)
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/lookout/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.test.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobResult.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/services/lookout/GetJobInfoService.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGetJobInfoService.ts
  internal/lookoutui/src/services/lookout/mocks/fakeData.ts
  internal/lookoutui/src/services/lookout/useCordonNode.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/utils/fakeJobsUtils.ts
Labels: none

Remove max_age and handle invalid state in oidc auth provider
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
Labels: none

Preserve location state in redirect in useGetAccessToken()
  internal/lookoutui/src/oidcAuth/hooks.ts
Labels: none

Create Visual Studio Code debug configurations (#4380)
  .gitignore
  .run/Lookout UI.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  docs/developer.md
  internal/lookoutui/README.md
  internal/lookoutui/development-setup-and-start.sh
  scripts/yarn-registry-mirror.sh
Labels: build, docs

OIDC improvements: remove max_age and handle missing state (#4381)
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookoutui/src/oidcAuth/hooks.ts
Labels: none

Update docs in developer folder
  docs/developer/api.md
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/oidc.md
  docs/developer/pprof.md
  docs/developer/setting-up-oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
Labels: none

Fix typo
  docs/developer/using-pprof.md
Labels: none

Ensure non-preemptible running jobs return correct bid price
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Apply tech author recommendations to repo docs
  docs/armada_helm_charts.md
  docs/auth.md
  docs/client_libraries.md
  docs/consistency.md
  docs/creating_and_submitting_jobs.md
  docs/developer_guide.md
  docs/docs-readme.md
  docs/floating_resources.md
  docs/helm.md
  docs/libraries.md
  docs/maintaining_consistency_across_views.md
  docs/python_airflow_operator.md
  docs/python_armada_client.md
  docs/scheduling_and_preempting_jobs.md
  docs/system_overview.md
Labels: docs

Fix tests
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Delete duplicate files
  docs/developer.md
  docs/developer_guide.md
  docs/user.md
Labels: docs

Lint
  internal/scheduler/jobdb/comparison_test.go
Labels: none

docs(website): upgrade fumadocs-* packages
  website/package.json
  website/yarn.lock
Labels: none

docs(website): fix format
  website/content/integrations/python-airflow-operator.md
  website/content/integrations/python-armada-client.md
Labels: none

ci(website): pass GITHUB_TOKEN to show repo button
  .github/workflows/website.yml
Labels: none

ci(website): fix checkout step to improve lastModified accuracy on Pages
  .github/workflows/website.yml
Labels: none

Apply tech author recommendations to gh-pages docs
  api.md
  architecture.md
  armada-api.md
  armada_airflow_operator.md
  armada_client_package.md
  armada_demo.md
  armada_helm_charts.md
  auth.md
  client_libraries.md
  consistency.md
  creating_and_submitting_jobs.md
  developer.md
  developer_guide.md
  development.md
  development_guide.md
  floating_resources.md
  helm.md
  kubernetes_native_auth.md
  libraries.md
  maintaining_consistency_across_views.md
  priority.md
  priority_algorithm.md
  production-install.md
  production.md
  scheduling_and_preempting_jobs.md
  system_overview.md
  user.md
Labels: none

Align page titles and filenames
  docs/armada_airflow_operator.md
  docs/armada_client_package.md
  docs/scheduling_and_preempting_jobs.md
Labels: docs

More detailed preemption message when using market based scheduling
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/optimiser/gang_scheduler.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

simplify
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Add some basic logging around fetching job/rows from the scheduler db
  internal/scheduler/database/job_repository.go
Labels: none

Fix billing for away jobs scheduled and preempted in the same round
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Improve spot price calculation when there are cordoned/stale clusters
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
