Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix cargo cache
  .github/workflows/build.yml
Labels: none

fix missing path trigger
  .github/workflows/rust-client.yml
Labels: none

cache composite action file
  .github/workflows/build.yml
Labels: none

fix package gaps
  .github/workflows/release.yml
  .github/workflows/rust-client.yml
Labels: none

fix protos
  .github/workflows/rust-client.yml
Labels: none

fix verification
  .github/workflows/release.yml
  .github/workflows/rust-client.yml
Labels: none

address confidence score
  .github/workflows/release.yml
  .github/workflows/rust-client.yml
Labels: none

address greptile comments
  .github/actions/fetch-rust-protos/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/rust-client.yml
  client/rust/.gitignore
  client/rust/Cargo.toml
  client/rust/build.rs
Labels: none

improve proto guards
  .github/actions/fetch-rust-protos/action.yml
Labels: none

describe pod cmd
  internal/server/introspection/introspection.go
Labels: none

now this is podracing
  cmd/armadactl/cmd/describe.go
  cmd/armadactl/cmd/describe_pod.go
Labels: none

kube-describe
  cmd/armadactl/cmd/kube_describe.go
  cmd/armadactl/cmd/kube_describe_node.go
  cmd/armadactl/cmd/kube_describe_pod.go
  cmd/armadactl/cmd/root.go
  internal/server/introspection/introspection.go
  internal/server/server.go
  pkg/api/introspection/api.swagger.go
  pkg/api/introspection/api.swagger.json
  pkg/api/introspection/introspection.pb.go
  pkg/api/introspection/introspection.pb.gw.go
  pkg/api/introspection/introspection.proto
Labels: none

wip
  internal/server/redismetrics/helpers_test.go
  internal/server/redismetrics/integration_test.go
  internal/server/redismetrics/scanner_test.go
Labels: none

Add FailureCondition enum and FailureInfo message to Error proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

Rust client release flow (#4763)
  .github/actions/fetch-rust-protos/action.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/rust-client.yml
  client/rust/.gitignore
  client/rust/Cargo.toml
  client/rust/build.rs
Labels: none

decouple rust client publish from armada tags
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

Update .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

Update .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

Rust client dispatch workflow (#4765)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

Add executor error category classifier and ExtractFailureInfo
  internal/common/errormatch/doc.go
  internal/common/errormatch/match.go
  internal/common/errormatch/match_test.go
  internal/common/errormatch/types.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/doc.go
  internal/executor/categorizer/types.go
  internal/executor/configuration/types.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

Wire error categories into executor event reporting
  internal/executor/application.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: executor

Store FailureInfo in lookout DB and expose via API
  _local/executor/config.yaml
  internal/common/ingest/testfixtures/event.go
  internal/lookout/conversions/convert.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/model/model.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/schema/migrations/031_add_failure_info_to_job_run.sql
  internal/lookout/swagger.yaml
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
Labels: lookout

Display FailureInfo in Lookout UI sidebar
  internal/common/ingest/testfixtures/event.go
  internal/lookout/conversions/convert.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/swagger.yaml
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: lookout

Add testsuite support for asserting error categories via Lookout API
  docker-compose.yaml
  e2e/config/armadactl_config.yaml
  e2e/config/executor_config.yaml
  internal/testsuite/lookoutclient/assert.go
  internal/testsuite/lookoutclient/lookoutclient.go
  internal/testsuite/lookoutclient/lookoutclient_test.go
  internal/testsuite/testrunner.go
  magefiles/ci.go
  magefiles/main.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  pkg/client/connection.go
  testsuite/testcases/categorization/oom.yaml
  testsuite/testcases/categorization/user_error.yaml
Labels: build, proto, testsuite

feat(server): add redis metrics leader config
  _local/server/config-auth.yaml
  _local/server/config.yaml
  config/server/config.yaml
  internal/server/configuration/types.go
Labels: none

chore(server): propagate redis metrics leader config
  deployment/armada/values.yaml
Labels: none

refactor(redismetrics): add leadership-aware collector hooks
  internal/server/redismetrics/collector.go
  internal/server/redismetrics/collector_test.go
  internal/server/redismetrics/integration_test.go
  internal/server/server.go
Labels: none

call informer to register
  internal/server/server.go
Labels: none

feat(server): wire leader controller for redis metrics
  internal/server/redismetrics/collector.go
  internal/server/redismetrics/collector_test.go
  internal/server/redismetrics/integration_test.go
  internal/server/server.go
Labels: none

demo jobs
  example/demo-failed.yaml
  example/demo-pending-nodeselector.yaml
  example/demo-pending-resources.yaml
Labels: docs

allow protos to be vendored with crate
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

inline ci with other clients
  .github/actions/fetch-rust-protos/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  client/rust/.gitignore
  client/rust/Cargo.toml
  client/rust/build.rs
Labels: none

remove stale generated files
  client/rust/build.rs
Labels: none

use mage instead of workaround for proto generation
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  client/rust/.gitignore
  client/rust/build.rs
Labels: none

chore: upgrade go version to v1.26.1
  .github/actions/setup-go-cache/action.yml
  .github/workflows/lint.yml
  .goreleaser.yml
  docs/developer_guide.md
  go.mod
  internal/server/submit/validation/submit_request.go
  magefiles/cmd.go
  magefiles/go.go
  tools.yaml
  website/content/developer-guide.mdx
Labels: build, docs

fix Rust build script correctness and remove dead fetch-rust-protos action
  .github/actions/fetch-rust-protos/action.yml
  .github/workflows/rust-client.yml
  client/rust/build.rs
Labels: none

chore: upgrade go version to v1.26.1 (#4686)
  .github/actions/setup-go-cache/action.yml
  .github/workflows/lint.yml
  .goreleaser.yml
  docs/developer_guide.md
  go.mod
  internal/server/submit/validation/submit_request.go
  magefiles/cmd.go
  magefiles/go.go
  tools.yaml
  website/content/developer-guide.mdx
Labels: build, docs

propagate ARMADA_GENERATE properly
  .github/workflows/rust-client-release-to-crates.yml
Labels: none

remove --allow-dirty and commit src/gen
  .github/workflows/rust-client-release-to-crates.yml
  client/rust/.gitignore
  client/rust/src/gen/api.rs
  client/rust/src/gen/google.api.rs
  client/rust/src/gen/k8s.io.api.core.v1.rs
  client/rust/src/gen/k8s.io.api.networking.v1.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.api.resource.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.apis.meta.v1.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.runtime.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.util.intstr.rs
Labels: none

Add FailureCondition enum and FailureInfo message to Error proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
