Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix: generalize testSuite
  magefiles/ci.go
Labels: build

fix: broken test
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/testrunner.go
Labels: testsuite

fix: only use yaml/yml files for testspecs
  internal/testsuite/app.go
Labels: testsuite

fix: try archive in goreleaser for setup improvement
  magefiles/goreleaser.go
Labels: build

Fix data races in failed-pod debug message tests
  internal/executor/service/job_state_reporter_test.go
Labels: none

Fix data races in topic delay monitor test
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none

Enable govet in golangci-lint and fix all findings
  .golangci.yml
  cmd/armada-load-tester/cmd/loadtest.go
  internal/common/auth/basic_test.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/executor/reporter/event_sender_test.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/client/submit.go
Labels: none

Show requestor in armadactl
  e2e/armadactl_test/armadactl_test.go
  internal/armadactl/cancel.go
  internal/armadactl/preempt.go
  internal/armadactl/reprioritize.go
  internal/armadactl/user.go
  internal/armadactl/user_test.go
  internal/armadactl/watch.go
  internal/armadactl/watch_test.go
Labels: armadactl

Replace sleep-based synchronization in executor reporter tests
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Fix scheduler recording rules: typo, dangling references, windows, subcategory label casing
  deployment/scheduler/templates/scheduler-prometheusrule.yaml
Labels: none

Fix data races in failed-pod debug message tests (#5043)
  internal/executor/service/job_state_reporter_test.go
Labels: none

Fix data races in topic delay monitor test
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none

fix update order
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Fix data races in topic delay monitor test (#5044)
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none

Replace sleep-based synchronization in executor reporter tests
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Replace sleep-based synchronization in executor reporter tests (#5046)
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Enable govet in golangci-lint and fix all findings
  .golangci.yml
  cmd/armada-load-tester/cmd/loadtest.go
  internal/common/auth/basic_test.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/executor/reporter/event_sender_test.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/client/submit.go
Labels: none

fix(airflow): raise structured exception when job fails without retry
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

Enable govet in golangci-lint and fix all findings (#5045)
  .golangci.yml
  cmd/armada-load-tester/cmd/loadtest.go
  internal/common/auth/basic_test.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/executor/reporter/event_sender_test.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/client/submit.go
Labels: none

Move requireGrpcCode test helper into shared servertest package
  internal/server/executor/executor_server_test.go
  internal/server/node/node_test.go
  internal/server/queue/queue_service_test.go
  internal/server/servertest/grpc.go
Labels: none

Add RetryPolicy CRUD service and queue attachment validation
  cmd/server/main.go
  internal/lookout/schema/migrations/035_create_retry_policy.sql
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_service.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/repository_test.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/retrypolicy/validation.go
  internal/server/retrypolicy/validation_test.go
  internal/server/server.go
  pkg/client/queue/queue.go
Labels: none

refactor(airflow): centralize AirflowFailException compat import in _compat
  third_party/airflow/armada/_compat.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

fix: add queue tests
  internal/testsuite/app.go
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/submitter/submitter.go
  internal/testsuite/testrunner.go
  internal/testsuite/testrunner_queue_test.go
  magefiles/ci.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  pkg/client/with_connection.go
  pkg/client/with_connection_test.go
  testsuite/testcases/basic/ingress.yaml
  testsuite/testcases/basic/service_headless.yaml
  testsuite/testcases/queue/README.md
  testsuite/testcases/queue/active_list_1x1.yaml
  testsuite/testcases/queue/crud_1x1.yaml
  testsuite/testcases/queue/crud_batch_5x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: build, proto, testsuite

fix test
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

ensure coverage on cancel and preempt
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

refactor(airflow): rename retry_is_futile to fail_without_retry
  third_party/airflow/armada/operators/armada.py
Labels: none

fix(airflow): make job failure exceptions survive Airflow serialization
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

bump version
  third_party/airflow/pyproject.toml
Labels: none

feat(airflow): raise structured exception when job fails without retry (#5050)
  third_party/airflow/armada/_compat.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

Fix job eviction ordering bug
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Remove test - part of development that got forgotten
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Classify retryable pod failures on the lease-return path
  internal/executor/metrics/metrics.go
  internal/executor/reporter/event.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

address coments from the PR
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

update kind node image
  _local/kind/cluster.yaml
Labels: none

Classify retryable pod failures on the lease-return path (#5038)
  internal/executor/metrics/metrics.go
  internal/executor/reporter/event.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

revert, bumping this version should be its own change
  _local/kind/cluster.yaml
Labels: none

add triggerEvent as a top-level field
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
Labels: proto

update test runner to consume new field
  internal/testsuite/testrunner.go
Labels: testsuite

use triggerEvent
  testsuite/testcases/node/node_cancel_by_name_1x5.yaml
  testsuite/testcases/node/node_preempt_by_name_1x5.yaml
Labels: none

testing state transition from leased to cancelled or preempted
  testsuite/testcases/node/node_cancel_by_name_1x5.yaml
  testsuite/testcases/node/node_preempt_by_name_1x5.yaml
Labels: none
