Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

[armada-scheduler] Fix node selector being nil after JobSchedulingInfo update (#2696)
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
Labels: none

[executor] Add job run state metrics
  internal/executor/application.go
  internal/executor/healthmonitor/etcd.go
  internal/executor/job/domain.go
  internal/executor/metrics/runstate/job_run_state.go
  internal/executor/metrics/runstate/job_run_state_test.go
Labels: executor

Make switching between legacy and PU scheduler easy
  .goreleaser.yml
  build_goreleaser/bundles/armada-pulsar-backed/Dockerfile
  docker-compose.yaml
  magefiles/main.go
Labels: build

update docs
  docs/developer.md
Labels: docs

Change ArmadaOperator to take grpc channel arguments instead of already constructed clients
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/grpc.py
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: docs

fix heredoc
  third_party/airflow/examples/hello_armada.py
Labels: none

Change ArmadaOperator to take grpc channel arguments instead of alrea… (#2724)
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/grpc.py
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: docs

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

Bump armada_airflow version to 0.5.0
  third_party/airflow/pyproject.toml
Labels: none

Bump armada_airflow version to 0.5.0 (#2725)
  third_party/airflow/pyproject.toml
Labels: none

update the broken link of system overview (#2693)
  README.md
Labels: none

converting make commands to mage
  .circleci/config.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build-release-images.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .goreleaser.yml
  build_goreleaser/loadtester/Dockerfile
  magefiles/airflow.go
  magefiles/cmd.go
  magefiles/dotnet.go
  magefiles/kind.go
  magefiles/linting.go
  magefiles/main.go
  magefiles/tests.go
  magefiles/utils.go
Labels: build

Fixed broken link in relationships_diagram.md
  docs/design/relationships_diagram.md
Labels: none

testing
  docs/design/relationships_diagram.md
Labels: none

fixed the broken link in relationships_diagram.md
  docs/design/relationships_diagram.md
Labels: none

resolving errors
  build_goreleaser/loadtester/Dockerfile
  magefiles/main.go
  magefiles/tests.go
Labels: build

adding teardown target
  .circleci/config.yml
  magefiles/tests.go
Labels: build

Update yarn.go
  magefiles/yarn.go
Labels: build

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

fix mage ui for windows
  internal/lookout/ui/package.json
Labels: none

fix mage ui for windows
  magefiles/utils.go
  magefiles/yarn.go
  node_modules/.yarn-integrity
Labels: build

fix mage ui for windows
  node_modules/.yarn-integrity
Labels: none

Updated all workflows actions/checkout@v3.3.0
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build-release-images.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test.yml
Labels: none

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

Updated all workflows actions/checkout@v3.3.0 (#2735)
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build-release-images.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test.yml
Labels: none

Fixed broken link in relationships_diagram.md (#2727)
  docs/design/relationships_diagram.md
Labels: none

Updating Github Pages branch with latest Master changes
  design/relationships_diagram.md
  python_airflow_operator.md
Labels: none

remove un-necessary if condition
  magefiles/utils.go
Labels: build

fix: Broken navigation links
  quickstart.md
Labels: none

updated
  docs/python_airflow_operator.md
Labels: docs

update alpine to 3.14 everywhere
  build/armada-load-tester/Dockerfile
  build/armada/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/jobservice/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  deployment/lookout-migration/templates/job.yaml
  e2e/armadactl_test/armadactl_test.go
  e2e/lookout_ingester_test/lookout_ingester_test.go
  e2e/pulsar_test/pulsar_test.go
  e2e/setup/setup_cluster_kind.sh
  internal/common/eventutil/eventutil_test.go
  magefiles/kind.go
  makefile
Labels: build

update alpine to 3.17
  build/armada-load-tester/Dockerfile
  build/armada/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/jobservice/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  deployment/lookout-migration/templates/job.yaml
  e2e/armadactl_test/armadactl_test.go
  e2e/lookout_ingester_test/lookout_ingester_test.go
  e2e/pulsar_test/pulsar_test.go
  e2e/setup/setup_cluster_kind.sh
  internal/common/eventutil/eventutil_test.go
  magefiles/kind.go
  makefile
Labels: build

fix: upgrade @typescript-eslint/parser from 5.52.0 to 5.61.0
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

fix: upgrade @typescript-eslint/eslint-plugin from 5.52.0 to 5.61.0
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

fix: upgrade @mui/material from 5.10.17 to 5.13.6
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

fix: upgrade react-router-dom from 6.9.0 to 6.14.1
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

fix: upgrade @types/react from 16.14.32 to 16.14.43
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

Update yarn.go (#2729)
  magefiles/yarn.go
Labels: build

remove function checkOs
  magefiles/utils.go
  magefiles/yarn.go
Labels: build
