Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Free some disk space in the CI integration tests
  .github/workflows/test.yml
Labels: none

Remove unnecessary cruft
  .github/workflows/test.yml
Labels: none

Removed frequency in location it is not needed
  magefiles/main.go
Labels: build

Merged jgiannuzzi/disk-space
  .github/workflows/test.yml
Labels: none

Trying new cache technique
  .github/workflows/test.yml
  magefiles/ci.go
  magefiles/developer.go
  magefiles/tests.go
Labels: build

Bugfix
  .github/workflows/test.yml
Labels: none

Bugfix
  .github/workflows/test.yml
Labels: none

More bugfixes
  .github/workflows/test.yml
Labels: none

Another fix
  .github/workflows/test.yml
Labels: none

Adding other cache changes
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: none

Trying new cache Changing owner
  .github/workflows/build.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Stop serving version 1 of the Lookout UI (#3040)
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
Labels: none

Clean up `e2e/setup` (#3034)
  e2e/setup/basic-auth-executor-config.yaml
  e2e/setup/insecure-armada-auth-config.yaml
  e2e/setup/insecure-executor-config.yaml
  e2e/setup/lookout-ingester-config.yaml
  e2e/setup/pulsar/armada-config.yaml
  e2e/setup/redis/armada-config.yaml
  e2e/setup/secure-basic-armada-auth-config.yaml
  e2e/setup/server/armada-config.yaml
  e2e/setup/setup_cluster_ci.sh
  e2e/setup/setup_cluster_kind.sh
  e2e/setup/setup_environment.sh
  e2e/setup/setup_kube_config_ci.sh
Labels: none

- Scheduler: Add timestamps to "runs" schema Add basic queries definitions Update sql.yaml overrides
  internal/scheduler/database/migrations/002_add_runs_timestamps.up.sql
  internal/scheduler/database/query/query.sql
  internal/scheduler/database/sql.yaml
Labels: none

- mage sql
  internal/scheduler/database/db.go
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
Labels: none

Add override for nullable timestamptz
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/sql.yaml
Labels: none

emit pointers for nullable types
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/sql.yaml
Labels: none

query function update
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
Labels: none

Update schedulerdb with runs timestamps (#3046)
  internal/scheduler/database/db.go
  internal/scheduler/database/migrations/002_add_runs_timestamps.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/database/sql.yaml
Labels: none

Some cache fixes
  magefiles/main.go
Labels: build

Reduce disk space usage for CI integration tests (#3049)
  .github/workflows/test.yml
Labels: none

Bugfix
  .github/workflows/test.yml
Labels: none

New cache time
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Show job run errors below container logs in details (#3032) (#3036)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/JobLogsContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  magefiles/ci.go
Labels: build

Changed times
  magefiles/developer.go
Labels: build

Pre-Final Commit
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Need to create cache
  .github/workflows/test.yml
Labels: none

Commenting Out Cache
  .github/workflows/test.yml
Labels: none

Add node affinity tests
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
Labels: scheduler

Should let me test
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: none

Added design doc
  docs/design/ci/oct-2023.md
Labels: none

A few more changes
  .github/workflows/check-required.yml
  docs/design/ci/oct-2023.md
Labels: none

Update README.md
  README.md
Labels: none

Added a few more changes
  .github/workflows/build.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Reverted fork only changes
  .github/workflows/build.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Added CI Doc
  .github/README.md
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: none

Add back `/job-sets`
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
Labels: none

Make `skip` and `take` optional
  internal/lookoutv2/application.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/swagger.yaml
Labels: lookout
