Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Stop executor requesting more jobs when it still has leased jobs
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
Labels: none

Export metrics collection delay metrics
  internal/common/etcdhealth/etcdhealth.go
  internal/executor/application.go
Labels: executor

Add mutex to InMemoryJobRepository
  internal/scheduler/jobiteration.go
Labels: scheduler

Add tests
  internal/common/etcdhealth/etcdhealth.go
  internal/common/etcdhealth/etcdhealth_test.go
  internal/common/healthmonitor/healthmonitor.go
  internal/common/healthmonitor/manualhealthmonitor.go
  internal/common/healthmonitor/manualhealthmonitor_test.go
  internal/common/healthmonitor/multihealthmonitor.go
  internal/common/healthmonitor/multihealthmonitor_test.go
  internal/common/metrics/provider.go
  internal/executor/application.go
  internal/executor/configuration/types.go
Labels: executor

Lint
  internal/common/etcdhealth/etcdhealth_test.go
  internal/executor/fake/application.go
Labels: none

Update internal/executor/configuration/types.go
  internal/executor/configuration/types.go
Labels: none

add warmup job for release
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release-rc.yml
  scripts/common.sh
  scripts/docker-push.sh
  scripts/docker-save.sh
Labels: build

Lint
  internal/executor/configuration/types.go
  internal/executor/service/cluster_allocation_test.go
Labels: none

Remove default etcd config
  config/executor/config.yaml
Labels: none

WIP
  internal/executor/configuration/types.go
  internal/executor/service/job_requester.go
  internal/executor/service/lease_requester.go
  internal/scheduler/api.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: scheduler

Fix scheduler side tests
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Improved etcd protection (#2925)
  cmd/executor/main.go
  config/executor/config.yaml
  internal/common/etcdhealth/etcdhealth.go
  internal/common/etcdhealth/etcdhealth_test.go
  internal/common/healthmonitor/healthmonitor.go
  internal/common/healthmonitor/manualhealthmonitor.go
  internal/common/healthmonitor/manualhealthmonitor_test.go
  internal/common/healthmonitor/multihealthmonitor.go
  internal/common/healthmonitor/multihealthmonitor_test.go
  internal/common/metrics/provider.go
  internal/common/startup.go
  internal/executor/application.go
  internal/executor/application_test.go
  internal/executor/configuration/types.go
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/fake/application.go
  internal/executor/healthmonitor/domain.go
  internal/executor/healthmonitor/etcd.go
  internal/executor/healthmonitor/etcd_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
  internal/scheduler/jobiteration.go
Labels: executor, scheduler

Implement number of requested jobs on executor side
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester_test.go
Labels: executor

Remove unused config
  internal/scheduler/configuration/configuration.go
Labels: none

Fixing panic on startup when etcd health monitor not registered
  config/executor/config.yaml
  internal/executor/application.go
Labels: executor

Enhance logging
  internal/executor/service/cluster_allocation.go
  internal/executor/service/job_requester.go
Labels: none

Set more sensible default for maxLeasedJobs
  config/executor/config.yaml
Labels: none

Stop executor requesting more jobs when it still has leased jobs (#2932)
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/schedulerapp.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: executor, scheduler

Initialise metrics in constructor to avoid panics
  internal/common/etcdhealth/etcdhealth.go
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

Initial commit
  internal/armada/configuration/types.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Initial commit
  internal/common/etcdhealth/etcdhealth.go
Labels: none

Fix MultiHealthMonitor race
  internal/common/etcdhealth/etcdhealth.go
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

Fix race in etcd protections (#2937)
  internal/common/etcdhealth/etcdhealth.go
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

change from caching docker tarballs to using artifacts
  .github/workflows/ci.yml
  .github/workflows/prepare-release.yml
  .github/workflows/release-rc.yml
Labels: none

Updating Github Pages branch with latest Master changes
  design/diagrams/relationships/armada_v1_system.png
  design/diagrams/relationships/armada_v2_system.png
  design/diagrams/relationships/generate.py
  design/diagrams/relationships/generate_v1.py
  design/diagrams/relationships/generate_v2.py
  design/relationships_diagram.md
  quickstart.md
Labels: none

Add rate limiters
  internal/armada/server/lease.go
  internal/scheduler/context/context.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Fix metric naming conflict
  internal/common/etcdhealth/etcdhealth.go
  internal/executor/application.go
Labels: executor

Fix metric names
  internal/common/healthmonitor/multihealthmonitor.go
  internal/executor/application.go
Labels: executor

Fix metrix prefix
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

Fix label
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

go mod tidy
  go.mod
Labels: none

Fix etcd health metric naming conflict (#2939)
  internal/common/etcdhealth/etcdhealth.go
  internal/common/healthmonitor/multihealthmonitor.go
  internal/executor/application.go
Labels: executor

wip
  internal/armada/scheduling/lease_manager.go
  internal/common/grpc/grpcpool/pool.go
  internal/common/grpc/grpcpool/pool_test.go
  internal/eventingester/convert/conversions_test.go
  internal/eventingester/store/eventstore.go
  internal/eventingester/store/eventstore_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutv2/gen/restapi/doc.go
  internal/lookoutv2/gen/restapi/operations/get_health.go
  internal/lookoutv2/gen/restapi/operations/get_health_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec_responses.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_responses.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_responses.go
  internal/lookoutv2/gen/restapi/server.go
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobrunerror_test.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/database/db.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/query.sql.go
Labels: none

wip
  internal/scheduler/database/db.go
Labels: none

wip
  internal/common/context/armada_context.go
  internal/common/grpc/grpcpool/pool.go
  internal/common/grpc/grpcpool/pool_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/scheduler/api.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/executor_repository_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/redis_executor_repository.go
  internal/scheduler/database/redis_executor_repository_test.go
  internal/scheduler/database/util.go
  internal/scheduler/leader_proxying_reports_server.go
  internal/scheduler/reports.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

wip
  internal/common/pulsarutils/async_test.go
  internal/common/pulsarutils/eventsequence_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/pulsartest/submit.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

wip
  internal/common/auth/authorization/common.go
  internal/common/auth/authorization/kerberos.go
  internal/common/pulsarutils/async_test.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/eventsequence_test.go
  internal/executor/service/job_lease.go
  internal/lookoutv2/application.go
Labels: lookout

wip
  internal/binoculars/server/binoculars.go
  internal/common/auth/authorization/anonymous.go
  internal/common/auth/authorization/basic.go
  internal/common/auth/authorization/kubernetes.go
  internal/common/auth/setup.go
  internal/common/grpc/gateway.go
  internal/common/grpc/grpc.go
Labels: none

wip
  internal/common/auth/authorization/kerberos.go
  internal/common/auth/authorization/oidc.go
  internal/common/pulsarutils/eventsequence.go
Labels: none

wip
  internal/lookoutv2/application.go
  internal/scheduler/jobiteration.go
  internal/scheduler/leader.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/proxying_reports_server.go
  internal/scheduler/scheduling_algo.go
Labels: lookout, scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
