Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix: build/lookoutingester/Dockerfile to reduce vulnerabilities
  build/lookoutingester/Dockerfile
Labels: none

fix: build/scheduleringester/Dockerfile to reduce vulnerabilities
  build/scheduleringester/Dockerfile
Labels: none

fix: build/testsuite/Dockerfile to reduce vulnerabilities
  build/testsuite/Dockerfile
Labels: none

Print the correct context in `getQueueReportString`
  internal/scheduler/reports.go
Labels: scheduler

Reading from a nil map is allowed
  internal/scheduler/reports.go
Labels: scheduler

Avoid sharing variables in `ReportString`
  internal/scheduler/reports.go
Labels: scheduler

Check that users can as for non-existent reports
  internal/scheduler/reports_test.go
Labels: scheduler

Use `UnschedulableReason` group size as the key
  internal/scheduler/context/context.go
Labels: none

Remove redundant check for nil
  internal/scheduler/context/context.go
Labels: none

Change format of the "Unschedulable jobs:" scheduling report section (#2569)
  internal/scheduler/context/context.go
Labels: none

Inline `extractQueueAndJobSchedulingContexts`
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
Labels: scheduler

Store `SchedulingContext` for queues and jobs (#2562)
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
Labels: scheduler

Also print queue and job scheduling reports with `--queue` and `--job`
  internal/scheduler/context/context.go
  internal/scheduler/reports.go
Labels: scheduler

Never print all job IDs in queue scheduling contexts
  internal/scheduler/context/context.go
Labels: none

Change verbosity of queue scheduling reports
  internal/scheduler/context/context.go
Labels: none

Rename `maxPrintedJobIdsByReason`
  internal/scheduler/context/context.go
Labels: none

Also print queue and job scheduling reports with `--queue` and `--job` (#2586)
  internal/scheduler/context/context.go
  internal/scheduler/reports.go
Labels: scheduler

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

ci(Mergify): configuration update
  .mergify.yml
Labels: none

Update .mergify.yml
  .mergify.yml
Labels: none

ci(Mergify): configuration update (#2566)
  .mergify.yml
Labels: none

tiny test change
  .mergify.yml
Labels: none

feat: fix release ci
  .github/workflows/release-validate.yml
  .github/workflows/release.yml
Labels: none

tiny test change (#2588)
  .mergify.yml
Labels: none

Use a plain test scheduling config everywhere
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Bind scheduled pods to their nodes
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Use a plain test scheduling config everywhere
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Bind scheduled pods to their nodes
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Fill out the benchmark cases
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Fill out the benchmark cases
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Reduce allocations in `Evict`
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

added backoff-retry-algorithm_for_clients
  client/python/armada_client/client.py
  third_party/airflow/armada/operators/jobservice.py
Labels: none

Update airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
Labels: none

Update airflow-operator.yml
  .github/workflows/airflow-operator.yml
Labels: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

WIP Basic implementation
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/scheduler/leader.go
  internal/scheduler/reports/leader_proxying_reports_server.go
  internal/scheduler/reports/leader_reporting_client.go
  internal/scheduler/reports/proxying_reports_server.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

Removing `example structure` from armadactl (#2551)
  cmd/armada-load-tester/cmd/root.go
  cmd/testsuite/cmd/root.go
Labels: none

deleted print statement
  third_party/airflow/armada/operators/jobservice.py
Labels: none

added tenacity in pyproject.toml
  third_party/airflow/pyproject.toml
Labels: none

formatted
  third_party/airflow/armada/operators/jobservice.py
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
