Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Support custom permission verbs in queue client (#4419)
  pkg/client/queue/permission_verb.go
  pkg/client/queue/permission_verb_test.go
  pkg/client/queue/permissions.go
Labels: none

Minor tidy of jobdb Job/GangInfo (#4421)
  internal/scheduler/jobdb/gang.go
  internal/scheduler/jobdb/gang_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

wip
  internal/lookoutingester/clickhouse/clickhouse_test.go
  internal/lookoutingester/clickhouse/db.go
  internal/lookoutingester/clickhouse/insertion.go
  internal/lookoutingester/model/model.go
Labels: none

wip
  internal/lookoutingester/clickhouse/clickhouse_test.go
Labels: none

wip
  .run/Lookout Ingester.run.xml
  cmd/clickhouse/clickhouse.go
  cmd/duckdbtest/duckdb.go
  cmd/lookoutingester/dbloadtester/main.go
  internal/lookoutingester/clickhouse/clickhouse_test.go
  internal/lookoutingester/clickhouse/db.go
  internal/lookoutingester/clickhouse/insertion.go
  internal/lookoutingester/dbloadtester/simulator.go
Labels: none

wip
  clickhouse-config.xml
  cmd/lookoutingester/dbloadtester/main.go
  internal/lookoutingester/clickhouse/db.go
Labels: none

wip
  cmd/lookoutingester/dbloadtester/main.go
  docs/developer/clickhouse-proposal.md
  internal/lookoutingester/clickhouse/clickhouse_test.go
  internal/lookoutingester/clickhouse/db.go
Labels: none

Lookout ingester blocklist annotations
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
Labels: lookoutingester

Linting issues
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/ingester.go
Labels: lookoutingester

Replace Yarn registry before installing in yarn-registry-mirror.sh
  scripts/yarn-registry-mirror.sh
Labels: build

Lookout ingester blocklist annotations (#4423)
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
Labels: lookoutingester

Update Sidebar.test.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.test.tsx
Labels: none

Update mockServer.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

Update setupTests.ts
  internal/lookoutui/src/setupTests.ts
Labels: none

Update mockServer.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

Update mockServer.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

Lookout UI: add Sentry error monitoring support and load config from a JavaScript file (#425)
  internal/lookout/configuration/types.go
  internal/lookout/gen/restapi/configure_lookout.go
  internal/lookoutui/index.html
  internal/lookoutui/package.json
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/TimeZoneSelector.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobCommands.tsx
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/index.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/errorMonitoring/index.ts
  internal/lookoutui/src/errorMonitoring/instrument.ts
  internal/lookoutui/src/errorMonitoring/sentry.ts
  internal/lookoutui/src/errorMonitoring/types.ts
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookoutui/src/services/apiClients/context.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useCordonNode.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/services/lookout/useGetJobRunError.ts
  internal/lookoutui/src/services/lookout/useGetJobSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetLogs.ts
  internal/lookoutui/src/services/lookout/useGetQueueSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetQueues.ts
  internal/lookoutui/src/services/lookout/useGetSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/src/setupTests.ts
  internal/lookoutui/src/utils.tsx
  internal/lookoutui/vite.config.mts
  internal/lookoutui/yarn.lock
Labels: none

Update configure_lookout.go
  internal/lookout/gen/restapi/configure_lookout.go
Labels: none

Lookout UI: add Sentry error monitoring support and load config from JS file (#4426)
  internal/lookout/configuration/types.go
  internal/lookout/gen/restapi/configure_lookout.go
  internal/lookoutui/index.html
  internal/lookoutui/package.json
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/TimeZoneSelector.tsx
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobCommands.tsx
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/index.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/errorMonitoring/index.ts
  internal/lookoutui/src/errorMonitoring/instrument.ts
  internal/lookoutui/src/errorMonitoring/sentry.ts
  internal/lookoutui/src/errorMonitoring/types.ts
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookoutui/src/services/apiClients/context.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useCordonNode.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/services/lookout/useGetJobRunError.ts
  internal/lookoutui/src/services/lookout/useGetJobSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetLogs.ts
  internal/lookoutui/src/services/lookout/useGetQueueSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetQueues.ts
  internal/lookoutui/src/services/lookout/useGetSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/src/setupTests.ts
  internal/lookoutui/src/utils.tsx
  internal/lookoutui/vite.config.mts
  internal/lookoutui/yarn.lock
Labels: none

Replace Yarn registry before installing in yarn-registry-mirror.sh (#4424)
  scripts/yarn-registry-mirror.sh
Labels: build

docs(website): add getting-started.mdx page
  website/content/getting-started.mdx
Labels: none

docs(website): add content skeleton
  website/content/community-and-support.mdx
  website/content/contributing.mdx
  website/content/developer-guide.mdx
  website/content/faq-and-troubleshooting.mdx
  website/content/index.mdx
  website/content/meta.json
  website/content/operator-guide.mdx
  website/content/overview.mdx
  website/content/toc.mdx
  website/content/understanding-armada.mdx
  website/content/user-guide.mdx
Labels: none

docs(website): cleanup useless content
  website/content/markdown-guide/assets/GitHub-Mark.png
  website/content/markdown-guide/fumadocs-markdown-cheatsheet.md
  website/content/markdown-guide/fumadocs-mdx-cheatsheet.mdx
  website/content/markdown-guide/github-markdown-cheatsheet.md
  website/content/markdown-guide/index.md
  website/content/markdown-guide/introduction.md
  website/content/markdown-guide/meta.json
  website/content/old/assets/armada_system.png
  website/content/old/assets/batch-api.svg
  website/content/old/concepts/jobs.mdx
  website/content/old/concepts/meta.json
  website/content/old/concepts/priority-queues.mdx
  website/content/old/concepts/scheduler.mdx
  website/content/old/developer/api.mdx
  website/content/old/developer/architecture.mdx
  website/content/old/developer/aws-ec2.mdx
  website/content/old/developer/index.mdx
  website/content/old/developer/manual-localdev.mdx
  website/content/old/developer/meta.json
  website/content/old/developer/oidc.mdx
  website/content/old/developer/pprof.mdx
  website/content/old/developer/relationships-diagram.mdx
  website/content/old/developer/ubuntu-setup.mdx
  website/content/old/developer/ui.mdx
  website/content/old/developer/usage-metrics.mdx
  website/content/old/developer/website.mdx
  website/content/old/installation.mdx
  website/content/old/integrations/helm.mdx
  website/content/old/integrations/index.mdx
  website/content/old/integrations/python-airflow-operator.md
  website/content/old/integrations/python-armada-client.md
  website/content/old/meta.json
  website/content/old/overview.mdx
  website/content/old/quickstart.mdx
  website/content/old/user.mdx
Labels: none

docs(website): improve titles for preview
  website/content/community-and-support.mdx
  website/content/contributing.mdx
  website/content/developer-guide.mdx
  website/content/faq-and-troubleshooting.mdx
  website/content/meta.json
  website/content/operator-guide.mdx
  website/content/understanding-armada.mdx
  website/content/user-guide.mdx
Labels: none

Fix unhandled request warning in Lookout UI tests (#4425)
  internal/lookoutui/src/components/lookout/sidebar/Sidebar.test.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/setupTests.ts
Labels: none

Tune lookout indices for better ingest performance (#429)
  internal/lookout/schema/migrations/018_optimise_ingest_performance.sql
  internal/lookout/schema/migrations/019_optimise_ingest_performance_new_annotation_index.sql
Labels: none

Tune lookout indices for better ingest performance (#4427)
  internal/lookout/schema/migrations/018_optimise_ingest_performance.sql
  internal/lookout/schema/migrations/019_optimise_ingest_performance_new_annotation_index.sql
Labels: none

wip
  go.mod
  go.sum
  internal/clickhouseingester/app.go
  internal/clickhouseingester/config.go
  internal/clickhouseingester/db.go
  internal/clickhouseingester/insertion.go
  internal/clickhouseingester/insertion_test.go
  internal/clickhouseingester/instructions.go
  internal/clickhouseingester/migrations/20250728160000_create_jobs_table.sql
  internal/clickhouseingester/model.go
  internal/common/ingest/metrics/metrics.go
  internal/common/util/close.go
Labels: none

wip
  internal/clickhouseingester/app.go
Labels: none

wip
  internal/clickhouseingester/app.go
  internal/clickhouseingester/config.go
  internal/clickhouseingester/insertion.go
  internal/clickhouseingester/insertion_test.go
  internal/clickhouseingester/instructions.go
  internal/clickhouseingester/model.go
Labels: none

wip
  internal/clickhouseingester/instructions.go
Labels: none

Update main developer guide (#4378)
  internal/lookoutui/README.md
Labels: none

Re-add jobset pattern index as it's actually still being used
  internal/lookout/schema/migrations/020_readd_jobset_index.sql
Labels: none

Re-add jobset pattern index as it's actually still being used (#4428)
  internal/lookout/schema/migrations/020_readd_jobset_index.sql
Labels: none

Lookout UI: prevent TypeError from poorly-formed query string
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none

Lookout UI: prevent TypeError from poorly-formed query string (#4429)
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none

Add logout and refresh session buttons in setttings dialog
  internal/lookoutui/src/components/SettingsDialog.tsx
Labels: none

Add logout and refresh session buttons in setttings dialog (#4430)
  internal/lookoutui/src/components/SettingsDialog.tsx
Labels: none

Update QueueFilter.tsx
  internal/lookoutui/src/components/lookout/QueueFilter.tsx
Labels: none

Update QueueSelector.tsx
  internal/lookoutui/src/components/job-sets/QueueSelector.tsx
Labels: none
