Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Lint
  internal/scheduler/jobdb/comparison.go
Labels: none

Ensure consistent job order when re-scheduling (#3093)
  cmd/simulator/cmd/root.go
  internal/common/types/scheduling.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/runner.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_10.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_2.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_3_100.yaml
  internal/scheduler/simulator/testdata/configs/defaultSchedulingConfig.yaml
  internal/scheduler/simulator/testdata/workloads/basicWorkload.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/non-preemptible.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/only-big.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/only-small.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/preemptible.yaml
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
Labels: proto, scheduler

Update simulator test cases
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/testdata/workloads/small-long_big-long/non-preemptible.yaml
  internal/scheduler/simulator/testdata/workloads/small-long_big-long/only-big.yaml
  internal/scheduler/simulator/testdata/workloads/small-long_big-long/only-small.yaml
  internal/scheduler/simulator/testdata/workloads/small-long_big-long/preemptible.yaml
  internal/scheduler/simulator/testdata/workloads/small-short_big-long/non-preemptible.yaml
  internal/scheduler/simulator/testdata/workloads/small-short_big-long/only-big.yaml
  internal/scheduler/simulator/testdata/workloads/small-short_big-long/only-small.yaml
  internal/scheduler/simulator/testdata/workloads/small-short_big-long/preemptible.yaml
Labels: none

Move JobDb methods to Txn
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Cleanup
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Update priorityclasses.yaml
  e2e/setup/priorityclasses.yaml
Labels: none

Formatting
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/database/migrations/002_add_runs_timestamps.up.sql
  internal/scheduler/database/query/query.sql
  internal/scheduler/database/sql.yaml
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/unschedulable.go
  internal/scheduler/schedulerobjects/reporting.proto
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/testdata/workloads/small_big/only-big.yaml
Labels: none

Update interface definition
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Fix test
  internal/scheduler/scheduler_test.go
Labels: scheduler

Typo
  internal/scheduler/scheduler.go
Labels: scheduler

ARMADA-2307 Adding per queue and node metrics (#23)
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
Labels: scheduler

Refactoring
  internal/scheduler/common.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/result.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Move JobDb methods to Txn (#3097)
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Typo
  internal/scheduler/scheduler.go
Labels: scheduler

Refactor
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/result.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Add new scheduler metrics
  internal/armada/configuration/types.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

fail
  internal/common/eventutil/eventutil.go
Labels: none

Write simulated events to disk (#24)
  cmd/simulator/cmd/root.go
  go.mod
  go.sum
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/writer.go
Labels: none

Avoid mutating job scheduling requirements
  internal/scheduler/common.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Cleanup
  internal/scheduler/jobdb/job.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/schedulerobjects/nodematching_test.go
Labels: none

Update go-lint to v1.54 (#3101)
  .github/workflows/lint.yml
Labels: none

Build and push nuget artifacts
  .github/workflows/build.yml
  .github/workflows/release.yml
  magefiles/dotnet.go
Labels: build

Add setup latest .NET 7 SDK step to pack nuget job
  .github/workflows/build.yml
Labels: none

Build and push nuget artifacts (#3110)
  .github/workflows/build.yml
  .github/workflows/release.yml
  magefiles/dotnet.go
Labels: build

Move scheduling checks to operate on jctx
  internal/scheduler/common.go
  internal/scheduler/context/context.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Lint
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Lint
  internal/scheduler/simulator/writer.go
Labels: none

Lint
  internal/scheduler/simulator/simulator.go
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

Lint
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Cleanup
  internal/scheduler/context/context.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Write simulated events (#3112)
  cmd/simulator/cmd/root.go
  go.mod
  go.sum
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/writer.go
Labels: none

Avoid mutating job scheduling requirements (#3108)
  internal/scheduler/common.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

NOJIRA: Fix gang job unschedulable event conversion. (#25)
  internal/armada/repository/apimessages/conversions.go
Labels: none

NOJIRA: Fix gang job unschedulable event conversion. (#25) (#3115)
  internal/armada/repository/apimessages/conversions.go
Labels: none

Move the `PreemptingQueueScheduler` test suite to `JobDb` (#27)
  internal/scheduler/jobiteration.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
Labels: scheduler

Check errors everywhere
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Add setup latest .NET 7 SDK step to pack nuget job
  .github/workflows/build.yml
Labels: none

Ensure consistent job order when re-scheduling (#3093)
  cmd/simulator/cmd/root.go
  internal/common/types/scheduling.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/runner.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_10.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_2.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_3_100.yaml
  internal/scheduler/simulator/testdata/configs/defaultSchedulingConfig.yaml
  internal/scheduler/simulator/testdata/workloads/basicWorkload.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/non-preemptible.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/only-big.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/only-small.yaml
  internal/scheduler/simulator/testdata/workloads/small_big/preemptible.yaml
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
Labels: proto, scheduler

Use verified actions/setup-go in test.go-integration-tests job, and disable setup dependencies, because the download target is used as dependency in the next step that runs localdev target
  .github/workflows/test.yml
Labels: none
