Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

undo
  docs/python_airflow_operator.md
Labels: docs

redo
  docs/python_airflow_operator.md
Labels: docs

[armada-scheduler] Fix node selector being nil after JobSchedulingInfo updated
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
Labels: none

[armada-scheduler] Fix available resource metrics (#2695)
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

update helm release secrets; edit rc workflow
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/docker-push.sh
Labels: build

Fix test
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
Labels: none

fix exit in docker push script
  scripts/docker-push.sh
Labels: build

skip sbom and sign in release rc
  .github/workflows/release-rc.yml
Labels: none

Set default executorTimeout in armada config
  config/armada/config.yaml
Labels: none

revert back removed conditional in release job
  .github/workflows/release.yml
Labels: none

Tidy logging in pod_issuer_handler
  internal/executor/service/pod_issue_handler.go
Labels: none

Log on issue registered
  internal/executor/service/pod_issue_handler.go
Labels: none

handle issues every 10s
  config/executor/config.yaml
Labels: none

fix: release and secrets (#2698)
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .goreleaser.yml
  scripts/docker-push.sh
Labels: build

remove redundant workflow
  .github/workflows/build-release-images.yml
Labels: none

Add mage target BuildPython to build python client. (#2622)
  magefiles/main.go
  magefiles/python.go
Labels: build

fix: build/binoculars/Dockerfile to reduce vulnerabilities
  build/binoculars/Dockerfile
Labels: none

fix: build/lookoutingester/Dockerfile to reduce vulnerabilities
  build/lookoutingester/Dockerfile
Labels: none

fix: build/eventingester/Dockerfile to reduce vulnerabilities
  build/eventingester/Dockerfile
Labels: none

fix: build/fakeexecutor/Dockerfile to reduce vulnerabilities
  build/fakeexecutor/Dockerfile
Labels: none

fix: build/testsuite/Dockerfile to reduce vulnerabilities
  build/testsuite/Dockerfile
Labels: none

fix: build/lookout/Dockerfile to reduce vulnerabilities
  build/lookout/Dockerfile
Labels: none

fix: build/armadactl/Dockerfile to reduce vulnerabilities
  build/armadactl/Dockerfile
Labels: none

fix: build/armada/Dockerfile to reduce vulnerabilities
  build/armada/Dockerfile
Labels: none

fix: build/scheduleringester/Dockerfile to reduce vulnerabilities
  build/scheduleringester/Dockerfile
Labels: none

fix: build/armada-load-tester/Dockerfile to reduce vulnerabilities
  build/armada-load-tester/Dockerfile
Labels: none

fix: build/jobservice/Dockerfile to reduce vulnerabilities
  build/jobservice/Dockerfile
Labels: none

fix: build/lookoutv2/Dockerfile to reduce vulnerabilities
  build/lookoutv2/Dockerfile
Labels: none

fix: build/scheduler/Dockerfile to reduce vulnerabilities
  build/scheduler/Dockerfile
Labels: none

fix: build/executor/Dockerfile to reduce vulnerabilities
  build/executor/Dockerfile
Labels: none

fix: build/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build/lookoutingesterv2/Dockerfile
Labels: none

Integrate release and release-rc workflows with self hosted runners. Disable docker login
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Support pulsar backed scheduler with LocalDev
  config/armada/config.yaml
  config/executor/config.yaml
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  docker-compose.yaml
  magefiles/developer.go
  magefiles/main.go
Labels: build

Enable docker login and revert check if repo owner is armadaproject
  .github/workflows/release-rc.yml
Labels: none

Enable docker login and revert check if repo owner is armadaproject and invoke push
  .github/workflows/release.yml
Labels: none

Add files for pulsar config and revert back to standard
  config/armada/config-pulsar-localdev.yaml
  config/executor/config-pulsar-localdev.yaml
  config/scheduler/config-pulsar-localdev.yaml
  config/scheduler/config.yaml
  config/scheduleringester/config-pulsar-localdev.yaml
Labels: none

fix
  config/executor/config-pulsar-localdev.yaml
  config/executor/config.yaml
Labels: none

Tidy logging in pod_issuer_handler (#2700)
  config/executor/config.yaml
  internal/executor/service/pod_issue_handler.go
Labels: none

Add docs
  docs/developer.md
Labels: docs

Set default executorTimeout in armada config (#2699)
  config/armada/config.yaml
Labels: none
