Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Fix renamed metric
  deployment/armada/templates/prometheusrule.yaml
Labels: none

remove -v2 suffix from lookoutingester (#366)
  .goreleaser.yml
  .run/Lookout Ingester V2.run.xml
  build/bundles/full/Dockerfile
  build/bundles/lookout/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  cmd/lookoutingester/dbloadtester/main.go
  cmd/lookoutingester/main.go
  config/lookoutingester/config.yaml
  docker-compose.yaml
  docs/developer.md
  internal/common/ingest/metrics/metrics.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/repository/util.go
  internal/lookoutingester/benchmark/benchmark.go
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/configuration/validation.go
  internal/lookoutingester/dbloadtester/queue.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/dbloadtester/test_data.yaml
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/metrics/metrics.go
  internal/lookoutingester/model/model.go
  magefiles/developer.go
  magefiles/main.go
Labels: build, docs, lookoutingester

Tweak to fix end to end flow
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/optimiser/optimising_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Scheduler: rename capped demand to constrained demand (incl metric), some adjustedFairShare refactoring
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Scheduler: rename capped demand to constrained demand (incl metric), adjustedFairShare refactoring (#4234)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

remove -v2 suffix from lookoutingester (#366) (#4233)
  .goreleaser.yml
  .run/Lookout Ingester V2.run.xml
  build/bundles/full/Dockerfile
  build/bundles/lookout/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  cmd/lookoutingester/dbloadtester/main.go
  cmd/lookoutingester/main.go
  config/lookoutingester/config.yaml
  docker-compose.yaml
  docs/developer.md
  internal/common/ingest/metrics/metrics.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/repository/util.go
  internal/lookoutingester/benchmark/benchmark.go
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/configuration/validation.go
  internal/lookoutingester/dbloadtester/queue.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/dbloadtester/test_data.yaml
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/metrics/metrics.go
  internal/lookoutingester/model/model.go
  magefiles/developer.go
  magefiles/main.go
Labels: build, docs, lookoutingester

regenerate helm readmes using helm docs (#367)
  deployment/armada/README.md
  deployment/binoculars/README.md
  deployment/event-ingester/README.md
  deployment/executor-cluster-monitoring/README.md
  deployment/executor/README.md
  deployment/lookout-ingester-v2/README.md
  deployment/lookout-migration-v2/README.md
  deployment/lookout-v2/README.md
  deployment/scheduler-migration/README.md
  deployment/scheduler/README.md
Labels: none

Lookout UI: fix selection of jobs involving groups
  internal/lookoutui/src/components/CodeBlock.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.tsx
  internal/lookoutui/src/components/lookout/JobsTableActionBar.tsx
  internal/lookoutui/src/components/lookout/ReprioritiseDialog.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/hooks/useJobsTableData.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/utils/jobsDialogUtils.ts
  internal/lookoutui/src/utils/jobsTableUtils.test.ts
  internal/lookoutui/src/utils/jobsTableUtils.ts
Labels: none

Scala client: add convenience wrappers for cancelJobs/cancelJobSet
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
Labels: none

merge
  deployment/armada/README.md
  deployment/binoculars/README.md
  deployment/event-ingester/README.md
  deployment/executor-cluster-monitoring/README.md
  deployment/executor/README.md
  deployment/lookout-ingester-v2/README.md
  deployment/lookout-migration-v2/README.md
  deployment/lookout-v2/README.md
  deployment/scheduler-migration/README.md
  deployment/scheduler/README.md
Labels: none

regenerate helm chart READMEs with helm-docs (#4239)
  deployment/armada/README.md
  deployment/binoculars/README.md
  deployment/event-ingester/README.md
  deployment/executor-cluster-monitoring/README.md
  deployment/executor/README.md
  deployment/lookout-ingester-v2/README.md
  deployment/lookout-migration-v2/README.md
  deployment/lookout-v2/README.md
  deployment/scheduler-migration/README.md
  deployment/scheduler/README.md
Labels: none

Update JobsTableContainer.test.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
Labels: none

Update ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/containers/ReprioritizeJobSetsDialog.tsx
Labels: none

Update ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/containers/ReprioritizeJobSetsDialog.tsx
Labels: none

Update ReprioritiseDialog.test.tsx
  internal/lookoutui/src/components/lookout/ReprioritiseDialog.test.tsx
Labels: none

Update CancelDialog.test.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.test.tsx
Labels: none

Lookout UI: fix selection of jobs involving groups (#4238)
  internal/lookoutui/src/components/CodeBlock.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.test.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.tsx
  internal/lookoutui/src/components/lookout/JobsTableActionBar.tsx
  internal/lookoutui/src/components/lookout/ReprioritiseDialog.test.tsx
  internal/lookoutui/src/components/lookout/ReprioritiseDialog.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
  internal/lookoutui/src/hooks/useJobsTableData.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/utils/jobsDialogUtils.ts
  internal/lookoutui/src/utils/jobsTableUtils.test.ts
  internal/lookoutui/src/utils/jobsTableUtils.ts
Labels: none

Update README.md
  internal/lookoutui/README.md
Labels: none

Update package.json
  internal/lookoutui/package.json
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

Add typecheck command for Lookout UI (#4240)
  .github/workflows/test.yml
  internal/lookoutui/README.md
  internal/lookoutui/package.json
Labels: none

Create new renamed helm charts and images (#370)
  .goreleaser.yml
  .run/Armada.run.xml
  .run/Lookout Ingester.run.xml
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  deployment/lookout-ingester/Chart.yaml
  deployment/lookout-ingester/README.md
  deployment/lookout-ingester/templates/_helpers.tpl
  deployment/lookout-ingester/templates/configmap.yaml
  deployment/lookout-ingester/templates/deployment.yaml
  deployment/lookout-ingester/templates/profiling-ingress.yaml
  deployment/lookout-ingester/templates/profiling-service.yaml
  deployment/lookout-ingester/templates/service.yaml
  deployment/lookout-ingester/templates/serviceaccount.yaml
  deployment/lookout-ingester/templates/servicemonitor.yaml
  deployment/lookout-ingester/values.yaml
  deployment/lookout-migration/Chart.yaml
  deployment/lookout-migration/README.md
  deployment/lookout-migration/templates/_helpers.tpl
  deployment/lookout-migration/templates/configmap.yaml
  deployment/lookout-migration/templates/job.yaml
  deployment/lookout-migration/templates/serviceaccount.yaml
  deployment/lookout-migration/values.yaml
  deployment/lookout/Chart.yaml
  deployment/lookout/README.md
  deployment/lookout/templates/_helpers.tpl
  deployment/lookout/templates/configmap.yaml
  deployment/lookout/templates/cronjob.yaml
  deployment/lookout/templates/deployment.yaml
  deployment/lookout/templates/ingressweb.yaml
  deployment/lookout/templates/profiling-ingress.yaml
  deployment/lookout/templates/profiling-service.yaml
  deployment/lookout/templates/routableservice.yaml
  deployment/lookout/templates/service.yaml
  deployment/lookout/templates/serviceaccount.yaml
  deployment/lookout/templates/servicemonitor.yaml
  deployment/lookout/values.yaml
  scripts/common.sh
Labels: build

Create new renamed helm charts and images (#4241)
  .goreleaser.yml
  .run/Armada.run.xml
  .run/Lookout Ingester.run.xml
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  deployment/lookout-ingester/Chart.yaml
  deployment/lookout-ingester/README.md
  deployment/lookout-ingester/templates/_helpers.tpl
  deployment/lookout-ingester/templates/configmap.yaml
  deployment/lookout-ingester/templates/deployment.yaml
  deployment/lookout-ingester/templates/profiling-ingress.yaml
  deployment/lookout-ingester/templates/profiling-service.yaml
  deployment/lookout-ingester/templates/service.yaml
  deployment/lookout-ingester/templates/serviceaccount.yaml
  deployment/lookout-ingester/templates/servicemonitor.yaml
  deployment/lookout-ingester/values.yaml
  deployment/lookout-migration/Chart.yaml
  deployment/lookout-migration/README.md
  deployment/lookout-migration/templates/_helpers.tpl
  deployment/lookout-migration/templates/configmap.yaml
  deployment/lookout-migration/templates/job.yaml
  deployment/lookout-migration/templates/serviceaccount.yaml
  deployment/lookout-migration/values.yaml
  deployment/lookout/Chart.yaml
  deployment/lookout/README.md
  deployment/lookout/templates/_helpers.tpl
  deployment/lookout/templates/configmap.yaml
  deployment/lookout/templates/cronjob.yaml
  deployment/lookout/templates/deployment.yaml
  deployment/lookout/templates/ingressweb.yaml
  deployment/lookout/templates/profiling-ingress.yaml
  deployment/lookout/templates/profiling-service.yaml
  deployment/lookout/templates/routableservice.yaml
  deployment/lookout/templates/service.yaml
  deployment/lookout/templates/serviceaccount.yaml
  deployment/lookout/templates/servicemonitor.yaml
  deployment/lookout/values.yaml
  scripts/common.sh
Labels: build

Ensure cache-control headers are always served for index.html response
  internal/common/serve/spa.go
  internal/common/serve/static.go
  internal/lookout/gen/restapi/configure_lookout.go
Labels: none

Ensure cache-control headers are always served for index.html response (#4242)
  internal/common/serve/spa.go
  internal/common/serve/static.go
  internal/lookout/gen/restapi/configure_lookout.go
Labels: none

Fix declaration of cancelJobSet() to confirm to GRPC stub
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
Labels: none

Add average utilisation to events
  internal/common/resource/resource.go
  internal/executor/domain/resources.go
  internal/executor/domain/resources_test.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/pod_utilisation.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Add tests + minor tweaks
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimiser/optimising_scheduler.go
  internal/scheduler/scheduling/optimiser/preemption_info.go
  internal/scheduler/scheduling/optimiser/preemption_info_test.go
  internal/scheduler/scheduling/optimiser/scheduling_result.go
  internal/scheduler/scheduling/optimiser/scheduling_result_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Add average utilisation to events (#4245)
  internal/common/resource/resource.go
  internal/executor/domain/resources.go
  internal/executor/domain/resources_test.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/pod_utilisation.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Complete project infos, publish with sbt-ci-release plugin
  .github/workflows/scala-client-release-to-maven.yml
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/project/plugins.sbt
Labels: none

fix merge consequence post rename, move loadtest to intended location
  cmd/lookout/dbloadtester/config.yaml
  cmd/lookout/dbloadtester/main.go
  internal/lookout/dbloadtester/queries.go
  internal/lookout/dbloadtester/queryer.go
Labels: none

Simple Read Query Load/Speed Test (#283)
  cmd/lookoutingester/dbloadtester/main.go
  cmd/lookoutv2/dbloadtester/config.yaml
  cmd/lookoutv2/dbloadtester/main.go
  internal/lookoutv2/dbloadtester/queries.go
  internal/lookoutv2/dbloadtester/queryer.go
Labels: none

fix merge consequence post rename, move loadtest to intended location
  cmd/lookout/dbloadtester/config.yaml
  cmd/lookout/dbloadtester/main.go
  internal/lookout/dbloadtester/queries.go
  internal/lookout/dbloadtester/queryer.go
Labels: none

lint fix
  cmd/lookout/dbloadtester/main.go
  internal/lookout/dbloadtester/queries.go
  internal/lookout/dbloadtester/queryer.go
Labels: none

lintFix and using the standard armada logger
  cmd/lookout/dbloadtester/main.go
  internal/lookout/dbloadtester/queryer.go
Labels: none

Simple Read Query Load/Speed Test (#4247)
  cmd/lookout/dbloadtester/config.yaml
  cmd/lookout/dbloadtester/main.go
  cmd/lookoutingester/dbloadtester/main.go
  internal/lookout/dbloadtester/queries.go
  internal/lookout/dbloadtester/queryer.go
Labels: none

Add EnricoMi to approver author list
  .mergify.yml
Labels: none

Add $ to the end of the author expression
  .mergify.yml
Labels: none

Add EnricoMi to approver author list, end expression with `$` (#4246)
  .mergify.yml
Labels: none

Rename client project to 'Armada Scala Client'
  client/scala/examples/README.md
  client/scala/examples/build.sbt
  client/scala/scala-armada-client/build.sbt
Labels: none
