Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix: build/armadactl/Dockerfile to reduce vulnerabilities
  build/armadactl/Dockerfile
Labels: none

fix: build_goreleaser/bundles/full/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/full/Dockerfile
Labels: none

fix: build_goreleaser/testsuite/Dockerfile to reduce vulnerabilities
  build_goreleaser/testsuite/Dockerfile
Labels: none

fix: build/testsuite/Dockerfile to reduce vulnerabilities
  build/testsuite/Dockerfile
Labels: none

fix: build/binoculars/Dockerfile to reduce vulnerabilities
  build/binoculars/Dockerfile
Labels: none

fix: build_goreleaser/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutingesterv2/Dockerfile
Labels: none

fix: build_goreleaser/eventingester/Dockerfile to reduce vulnerabilities
  build_goreleaser/eventingester/Dockerfile
Labels: none

fix: build_goreleaser/binoculars/Dockerfile to reduce vulnerabilities
  build_goreleaser/binoculars/Dockerfile
Labels: none

fix: build_goreleaser/bundles/armada/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/armada/Dockerfile
Labels: none

fix: build_goreleaser/lookoutv2/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutv2/Dockerfile
Labels: none

fix: build/lookoutv2/Dockerfile to reduce vulnerabilities
  build/lookoutv2/Dockerfile
Labels: none

fix: build_goreleaser/executor/Dockerfile to reduce vulnerabilities
  build_goreleaser/executor/Dockerfile
Labels: none

fix: build_goreleaser/armadactl/Dockerfile to reduce vulnerabilities
  build_goreleaser/armadactl/Dockerfile
Labels: none

fix: build_goreleaser/scheduler/Dockerfile to reduce vulnerabilities
  build_goreleaser/scheduler/Dockerfile
Labels: none

fix: build/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build/lookoutingesterv2/Dockerfile
Labels: none

fix: build/scheduler/Dockerfile to reduce vulnerabilities
  build/scheduler/Dockerfile
Labels: none

fix: build_goreleaser/jobservice/Dockerfile to reduce vulnerabilities
  build_goreleaser/jobservice/Dockerfile
Labels: none

fix: build/eventingester/Dockerfile to reduce vulnerabilities
  build/eventingester/Dockerfile
Labels: none

wip
  internal/armada/configuration/types.go
  internal/armada/submit/validation/submit_request.go
Labels: none

wip
  internal/scheduler/context/context.go
Labels: none

extra test
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

allow ability to disable adjusted fair share protection.
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

lint
  internal/scheduler/simulator/simulator.go
Labels: none

extra test
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

extra test
  internal/lookoutv2/application.go
Labels: lookout

code review comments
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
Labels: none

add tests
  internal/armada/configuration/types.go
  internal/armada/submit/validation/submit_request.go
  internal/armada/submit/validation/submit_request_test.go
Labels: none

lint
  internal/armada/submit/validation/submit_request.go
Labels: none

lint
  internal/scheduler/jobdb/reconciliation.go
Labels: none

lint
  internal/scheduler/jobdb/reconciliation.go
Labels: none

update alpine to latest version
  .goreleaser.yml
  build/armada-load-tester/Dockerfile
  build/armada/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/jobservice/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/testsuite/Dockerfile
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/full/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/executor/Dockerfile
  build_goreleaser/fakeexecutor/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/loadtester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/scheduler/Dockerfile
  build_goreleaser/scheduleringester/Dockerfile
  build_goreleaser/server/Dockerfile
  build_goreleaser/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  developer/config/job.yaml
  e2e/armadactl_test/armadactl_test.go
  pkg/armadaevents/events_util_test.go
  third_party/airflow/README.md
  third_party/airflow/test/operators/test_armada.py
Labels: none

initial timestamps
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/armada/event/event_repository_test.go
  internal/armada/event/event_test.go
  internal/armadactl/watch.go
  internal/common/eventutil/eventutil.go
  internal/common/proto/protoutil.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/event_util.go
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/client/domain/watch.go
  pkg/client/domain/watch_test.go
  testsuite/performance/jobservice/fakearmada/event_server.go
Labels: proto, armadactl

initial timestamps
  internal/armada/queryapi/query_api.go
  internal/armada/queryapi/query_api_test.go
  internal/armada/queryapi/util.go
  pkg/api/job.pb.go
  pkg/api/job.proto
Labels: proto

initial timestamps
  internal/armadactl/watch.go
Labels: armadactl

tests
  internal/common/proto/protoutil_test.go
Labels: none

update alpine to latest version (#3749)
  .goreleaser.yml
  build/armada-load-tester/Dockerfile
  build/armada/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/jobservice/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/testsuite/Dockerfile
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/full/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/executor/Dockerfile
  build_goreleaser/fakeexecutor/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/loadtester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/scheduler/Dockerfile
  build_goreleaser/scheduleringester/Dockerfile
  build_goreleaser/server/Dockerfile
  build_goreleaser/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  developer/config/job.yaml
  e2e/armadactl_test/armadactl_test.go
  pkg/armadaevents/events_util_test.go
  third_party/airflow/README.md
  third_party/airflow/test/operators/test_armada.py
Labels: none

Show Rejections in Lookout (#3663)
  internal/armada/queryapi/query_api.go
  internal/common/database/lookout/jobstates.go
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/application.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_error.go
  internal/lookoutv2/gen/restapi/operations/get_job_error_parameters.go
  internal/lookoutv2/gen/restapi/operations/get_job_error_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_error_urlbuilder.go
  internal/lookoutv2/gen/restapi/operations/lookout_api.go
  internal/lookoutv2/repository/getjoberror.go
  internal/lookoutv2/repository/getjoberror_test.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/schema/migrations/011_add_job_error.sql
  internal/lookoutv2/swagger.yaml
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto, lookout

Pre-emption Based On Adjusted Fair Share (#3714)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Improved ingester logging (#3711)
  internal/common/ingest/ingestion_pipeline.go
  internal/scheduleringester/instructions.go
  pkg/armadaevents/events_util.go
Labels: scheduleringester

code review
  internal/armada/submit/validation/submit_request_test.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
