Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Fix lint error breaking master (#4495)
  internal/executor/podchecks/kubernetes_constants.go
Labels: none

try to truncate long events and not fail immediatelly
  internal/common/eventutil/eventutil.go
  internal/executor/application.go
Labels: executor

count native sidecar containers when converting ingresses and services
  internal/server/submit/conversion/conversions.go
Labels: none

Lookout UI: configurable aggregate for "time in state" column (#4485)
  internal/lookout/conversions/convert.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/gen/restapi/operations/group_jobs.go
  internal/lookout/model/model.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/swagger.yaml
  internal/lookoutui/src/components/LastTransitionTimeAggregateSelector.tsx
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/services/lookout/GroupJobsService.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: lookout

only retry when exit code is non-zero, confirming this container is the failure reason (#456)
  internal/executor/podchecks/failedpodchecks/failed_container_status_checks.go
  internal/executor/podchecks/failedpodchecks/failed_container_status_checks_test.go
Labels: none

count native sidecar containers when converting ingresses and services
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
Labels: none

Fix bug where executor too eagerly retried
  internal/executor/podchecks/failedpodchecks/failed_container_status_checks.go
  internal/executor/podchecks/failedpodchecks/failed_container_status_checks_test.go
Labels: none

feat: count native sidecar containers when converting ingresses and services (#4496)
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
Labels: none

build latest armadactl in CI and update get-armadactl.sh to download latest armadactl
  magefiles/ci.go
  scripts/get-armadactl.sh
Labels: build

update go to v1.25
  .github/actions/setup-go-cache/action.yml
  .goreleaser.yml
  docs/developer_guide.md
  go.mod
  internal/lookout/gen/models/filter.go
  internal/lookout/gen/models/group.go
  internal/lookout/gen/models/job.go
  internal/lookout/gen/models/order.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/operations/get_health.go
  internal/lookout/gen/restapi/operations/get_health_parameters.go
  internal/lookout/gen/restapi/operations/get_job_error.go
  internal/lookout/gen/restapi/operations/get_job_error_parameters.go
  internal/lookout/gen/restapi/operations/get_job_run_debug_message.go
  internal/lookout/gen/restapi/operations/get_job_run_debug_message_parameters.go
  internal/lookout/gen/restapi/operations/get_job_run_error.go
  internal/lookout/gen/restapi/operations/get_job_run_error_parameters.go
  internal/lookout/gen/restapi/operations/get_job_spec.go
  internal/lookout/gen/restapi/operations/get_job_spec_parameters.go
  internal/lookout/gen/restapi/operations/get_jobs.go
  internal/lookout/gen/restapi/operations/get_jobs_parameters.go
  internal/lookout/gen/restapi/operations/group_jobs.go
  internal/lookout/gen/restapi/operations/group_jobs_parameters.go
  internal/lookout/gen/restapi/operations/lookout_api.go
  internal/lookout/gen/restapi/server.go
  internal/server/mocks/mock_authorizer.go
  magefiles/cmd.go
  magefiles/go.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  tools.yaml
Labels: build, docs, proto

chore: update go to v1.25 (#4499)
  .github/actions/setup-go-cache/action.yml
  .goreleaser.yml
  docs/developer_guide.md
  go.mod
  internal/lookout/gen/models/filter.go
  internal/lookout/gen/models/group.go
  internal/lookout/gen/models/job.go
  internal/lookout/gen/models/order.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/operations/get_health.go
  internal/lookout/gen/restapi/operations/get_health_parameters.go
  internal/lookout/gen/restapi/operations/get_job_error.go
  internal/lookout/gen/restapi/operations/get_job_error_parameters.go
  internal/lookout/gen/restapi/operations/get_job_run_debug_message.go
  internal/lookout/gen/restapi/operations/get_job_run_debug_message_parameters.go
  internal/lookout/gen/restapi/operations/get_job_run_error.go
  internal/lookout/gen/restapi/operations/get_job_run_error_parameters.go
  internal/lookout/gen/restapi/operations/get_job_spec.go
  internal/lookout/gen/restapi/operations/get_job_spec_parameters.go
  internal/lookout/gen/restapi/operations/get_jobs.go
  internal/lookout/gen/restapi/operations/get_jobs_parameters.go
  internal/lookout/gen/restapi/operations/group_jobs.go
  internal/lookout/gen/restapi/operations/group_jobs_parameters.go
  internal/lookout/gen/restapi/operations/lookout_api.go
  internal/lookout/gen/restapi/server.go
  internal/server/mocks/mock_authorizer.go
  magefiles/cmd.go
  magefiles/go.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  tools.yaml
Labels: build, docs, proto

do not create standalone services for native sidecars if ingress ports match
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
Labels: none

try to truncate long events and not fail immediatelly
  internal/common/eventutil/eventutil.go
  internal/executor/application.go
Labels: executor

truncate debug events at source in createDebugMessage
  internal/common/eventutil/eventutil.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

feat: try to truncate long events and not fail immediatelly (#4494)
  internal/executor/application.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: executor

panic example
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

record unhealthy and don't record stale metrics (#458)
  internal/common/etcdhealth/etcdhealth.go
Labels: none

record unhealthy etcd and don't record stale etcd metrics (#4502)
  internal/common/etcdhealth/etcdhealth.go
Labels: none

ARMADA-3790 Fix gang urgency based preemption panic (#459)
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Fix gang urgency based preemption panic
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Update preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

typo
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

error message improvement
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Fix gang urgency based preemption panic (#4504)
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

WIP Validate gangs in submit check
  internal/scheduler/scheduler.go
Labels: scheduler

Improve gang validation
  internal/scheduler/jobdb/gang.go
  internal/scheduler/scheduler.go
Labels: scheduler

Refactor gang validation + tests
  go.mod
  internal/scheduler/gang_validator.go
  internal/scheduler/gang_validator_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Revert accidental change
  go.mod
Labels: none

Remove outdated gang eviction assertions
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Ensure gang jobs have fail fast flag set to true
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

typo
  internal/scheduler/gang_validator.go
Labels: scheduler

add indexes to speed up cancellation in scheduler database
  internal/scheduler/database/migrations/025_add_optimized_cancellation_index.sql
Labels: none

Add gang validation to scheduler submitcheck (#4505)
  internal/scheduler/gang_validator.go
  internal/scheduler/gang_validator_test.go
  internal/scheduler/jobdb/gang.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Ensure gang jobs have fail fast flag set to true (#4508)
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

feat(website): add spell checker cspell to src/ and content/
  .github/workflows/website.yml
  website/README.md
  website/cspell.config.mjs
  website/package.json
  website/src/utils/mdx/github-alert-remark-plugin.ts
  website/yarn.lock
Labels: none

docs(website): rename queue from queue to example-queue
  website/content/getting-started.mdx
Labels: none

add indexes to speed up cancellation in scheduler database
  internal/scheduler/database/migrations/025_add_cancellation_index.sql
Labels: none

Update 025_add_cancellation_index.sql
  internal/scheduler/database/migrations/025_add_cancellation_index.sql
Labels: none

Update 025_add_cancellation_index.sql
  internal/scheduler/database/migrations/025_add_cancellation_index.sql
Labels: none

improve cancellation index and query
  internal/scheduler/database/migrations/025_add_cancellation_index.sql
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
