Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Update deployment.yaml
  deployment/lookout-ingester/templates/deployment.yaml
Labels: none

Update job.yaml
  deployment/lookout-migration-v2/templates/job.yaml
Labels: none

Update job.yaml
  deployment/lookout-migration/templates/job.yaml
Labels: none

Update deployment.yaml
  deployment/lookout-v2/templates/deployment.yaml
Labels: none

Update deployment.yaml
  deployment/lookout/templates/deployment.yaml
Labels: none

Update scheduler-deployment.yaml
  deployment/scheduler/templates/scheduler-deployment.yaml
Labels: none

Update scheduler-ingester-deployment.yaml
  deployment/scheduler/templates/scheduler-ingester-deployment.yaml
Labels: none

Update values.yaml
  deployment/armada/values.yaml
Labels: none

Update values.yaml
  deployment/binoculars/values.yaml
Labels: none

Update values.yaml
  deployment/event-ingester/values.yaml
Labels: none

Update values.yaml
  deployment/executor/values.yaml
Labels: none

Update values.yaml
  deployment/jobservice/values.yaml
Labels: none

Update values.yaml
  deployment/lookout-ingester-v2/values.yaml
Labels: none

Update values.yaml
  deployment/lookout-ingester/values.yaml
Labels: none

Update values.yaml
  deployment/lookout-migration-v2/values.yaml
Labels: none

Update values.yaml
  deployment/lookout-migration/values.yaml
Labels: none

Update values.yaml
  deployment/lookout-v2/values.yaml
Labels: none

Update values.yaml
  deployment/lookout/values.yaml
Labels: none

Update values.yaml
  deployment/scheduler/values.yaml
Labels: none

lint
  internal/lookoutv2/repository/common.go
Labels: none

Add tolerations to helm charts (#2515)
  deployment/armada/templates/deployment.yaml
  deployment/armada/values.yaml
  deployment/binoculars/templates/deployment.yaml
  deployment/binoculars/values.yaml
  deployment/event-ingester/templates/deployment.yaml
  deployment/event-ingester/values.yaml
  deployment/executor/templates/deployment.yaml
  deployment/executor/values.yaml
  deployment/jobservice/templates/statefulset.yaml
  deployment/jobservice/values.yaml
  deployment/lookout-ingester-v2/templates/deployment.yaml
  deployment/lookout-ingester-v2/values.yaml
  deployment/lookout-ingester/templates/deployment.yaml
  deployment/lookout-ingester/values.yaml
  deployment/lookout-migration-v2/templates/job.yaml
  deployment/lookout-migration-v2/values.yaml
  deployment/lookout-migration/templates/job.yaml
  deployment/lookout-migration/values.yaml
  deployment/lookout-v2/templates/deployment.yaml
  deployment/lookout-v2/values.yaml
  deployment/lookout/templates/deployment.yaml
  deployment/lookout/values.yaml
  deployment/scheduler/templates/scheduler-deployment.yaml
  deployment/scheduler/templates/scheduler-ingester-deployment.yaml
  deployment/scheduler/values.yaml
Labels: none

checks for buildx&compose added
  magefiles/docker.go
  magefiles/main.go
Labels: build

corrected main.go
  magefiles/docker.go
  magefiles/main.go
Labels: build

typo-fixed
  magefiles/main.go
Labels: build

Updating Github Pages branch with latest Master changes
  _pages/CONTRIBUTING.md
  development_guide.md
  python_airflow_operator.md
Labels: none

Updating Github Pages branch with latest Master changes
  design/architecture.md
  design/diagrams/relationships/README.md
  design/diagrams/relationships/armada_system.png
  design/diagrams/relationships/generate.py
  design/diagrams/relationships/images/armada.png
  design/diagrams/relationships/images/browser.png
  design/diagrams/relationships/images/pulsar.png
  design/index.md
  design/jobservice/airflow-sequence.pml
  design/jobservice/airflow-sequence.svg
  design/jobservice/job-service.md
  design/jobservice/job-service.svg
  design/jobservice/jobservice.pml
  design/priority.md
  design/relationships_diagram.md
  design/scheduler.md
  developer.md
  developer/api.md
  developer/aws-ec2.md
  developer/manual-localdev.md
  developer/oidc.md
  developer/ui.md
  developer/usage_metrics.md
  developer/website.md
Labels: none

Lookout v2 - cordon node button (#2503)
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/CordonService.ts
  internal/lookout/ui/src/services/lookoutV2/LogService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeCordonService.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
Labels: none

update API endpoint to fully support annotations
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
  internal/lookout/ui/src/utils/jobsTableUtils.ts
  internal/lookoutv2/application.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/common.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

lint
  internal/lookoutv2/conversions/convert.go
Labels: none

Lookout v2 API enable grouping by annotations (#2516)
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
  internal/lookout/ui/src/utils/jobsTableUtils.ts
  internal/lookoutv2/application.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/common.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Add Leased column to job_run lookoutv2
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/003_run_leased_column.sql
Labels: none

Improve binoculars permission error message
  internal/binoculars/service/cordon.go
Labels: none

Add optional profiling endpoints to server
  cmd/armada/main.go
Labels: server

Fix profiling endpoints
  cmd/armada/main.go
  internal/armada/configuration/types.go
Labels: server

Comment
  cmd/armada/main.go
Labels: server

Rename port
  cmd/armada/main.go
  config/armada/config.yaml
Labels: server

Rename port
  internal/armada/configuration/types.go
Labels: none

Remove ProfilingPort from default config
  config/armada/config.yaml
Labels: none

Avoid evicting oversubscribed non-preemptible
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Avoid evicting oversubscribed non-preemptible (#2520)
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
