Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Add /jobs/{job ID} redirect links to Lookout
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/CopyIconButton.tsx
  internal/lookoutui/src/components/JobIdRedirect.tsx
  internal/lookoutui/src/components/NavBar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarHeader.tsx
  internal/lookoutui/src/containers/JobSetsContainer.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookoutui/src/pathnames.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/src/utils.tsx
Labels: none

Handle job db initialization edge case (#4322)
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/mocks/job_repository.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Add /jobs/{job ID} redirect links to Lookout (#4352)
  internal/lookoutui/src/App.tsx
  internal/lookoutui/src/components/CopyIconButton.tsx
  internal/lookoutui/src/components/JobIdRedirect.tsx
  internal/lookoutui/src/components/NavBar.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarHeader.tsx
  internal/lookoutui/src/containers/JobSetsContainer.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.test.tsx
  internal/lookoutui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookoutui/src/pathnames.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/src/utils.tsx
Labels: none

wip
  internal/server/queue/queue_service.go
  internal/server/submit/submit.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
Labels: proto

Remove priority class name override
  config/scheduler/config.yaml
Labels: none

add demand by resource type
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

add DemandByResourceType and ConstrainedDemandByResourceType to the cycle metrics
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Add demand by resource type to published scheduler meterics (#4355)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Add support for native preemption retries
  internal/common/preemption/utils.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/server/configuration/constants.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/submit_request.go
Labels: scheduler

Allow resources configured for fairness to be specified at pool level
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Remove "legacy" resources from pool level config
  internal/scheduler/configuration/configuration.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
Labels: none

Allow pools to override which resources are considered for fairness (#4357)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Plumb run index to pod name
  internal/executor/domain/pod_metadata.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/api.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/022_add_job_run_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: scheduler, scheduleringester

Scheduler: Add configurable short job penalty
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimiser/scheduling_context.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: scheduler

Scheduler: short job priority: fix tests
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/short_job_penalty.go
Labels: none

Scheduler: short job priority: fix lint
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Scheduler: Add a configurable short job penalty (#4359)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/fairness/fairness.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimiser/scheduling_context.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: scheduler

Make migration smoother with nullable value
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/api.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/022_add_job_run_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

Cleanup unused, conditions always true, etc
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/internaltypes/unschedulable.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/test_utils.go
  internal/scheduler/kubernetesobjects/taint/taint.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Fix row resource leak
  internal/scheduler/database/job_repository.go
Labels: none

added auth to scala client
  client/scala/armada-scala-client/pom.xml
  client/scala/armada-scala-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
Labels: none

Initial commit of market based scheduling
  internal/common/metrics/domain.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/repository.go
  internal/scheduler/metrics.go
  internal/scheduler/pricing/bid_price_service.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/server/configuration/constants.go
  pkg/market/bids.pb.go
  pkg/market/bids.proto
Labels: scheduler

Create bid_store.proto
  pkg/bidstore/bid_store.proto
Labels: none

Create bid_store.pb.go
  pkg/bidstore/bid_store.pb.go
Labels: none

Update bid_store.proto
  pkg/bidstore/bid_store.proto
Labels: none

round robin + fixing tests
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/market_iterator_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Create bid_store.proto
  pkg/bidstore/bid_store.proto
Labels: none

New bid api integration + metrics + job level price band field
  internal/scheduler/database/migrations/023_add_price_band.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/pricing/bid_price_service.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/instructions.go
  internal/server/configuration/constants.go
  pkg/bidstore/bids.proto
  pkg/bidstore/util.go
Labels: scheduler, scheduleringester

Add generated bids go file
  pkg/bidstore/bids.pb.go
Labels: none

Update bidstore api
  internal/scheduler/pricing/bid_price_service.go
  pkg/bidstore/bids.pb.go
  pkg/bidstore/bids.proto
  pkg/market/bids.pb.go
  pkg/market/bids.proto
Labels: none

Fix tests
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/pricing/bid_price_service.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Remove test code
  internal/scheduler/jobdb/comparison_test.go
Labels: none

Update events.proto
  pkg/metricevents/events.proto
Labels: none

Improve MarketSchedulingOrderCompare
  internal/scheduler/jobdb/comparison.go
Labels: none

Fix price updating, adding billable allocation to cycle metrics
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/pricing/bid_price_service.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: scheduler

Generate proto
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Update naming
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Format
  pkg/metricevents/events.pb.go
Labels: none

Format
  internal/scheduler/metrics/cycle_metrics.go
  pkg/bidstore/bids.pb.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Format
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/instructions.go
Labels: scheduler, scheduleringester
