Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Set sync lastScheduleStart more consistent with prior logic
  internal/scheduler/scheduler.go
Labels: scheduler

Add retry policy engine and matching primitives
  config/scheduler/config.yaml
  internal/common/errormatch/doc.go
  internal/common/errormatch/types.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/retry.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/extract.go
  internal/scheduler/retry/extract_test.go
  internal/scheduler/retry/matcher.go
  internal/scheduler/retry/types.go
Labels: none

Plumb run index through scheduler API and pod naming
  internal/common/constants.go
  internal/executor/domain/pod_metadata.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/039_add_job_run_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/instructions.go
  internal/server/submit/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: scheduler, scheduleringester

Add RetryPolicy CRUD API and armadactl support
  client/rust/src/gen/api.rs
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/retrypolicy.go
  internal/armadactl/app.go
  internal/armadactl/queue.go
  internal/armadactl/retrypolicy.go
  internal/lookout/schema/migrations/035_create_retry_policy.sql
  internal/scheduler/mocks/api.go
  internal/server/executor/executor_server_test.go
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/node/node_test.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/server.go
  internal/server/servertest/grpc.go
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/deserialize.go
  pkg/api/deserialize_test.go
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/client/queue/queue.go
  pkg/client/resource.go
  pkg/client/retrypolicy/create.go
  pkg/client/retrypolicy/delete.go
  pkg/client/retrypolicy/get.go
  pkg/client/retrypolicy/update.go
Labels: proto, armadactl

Wire retry policy engine into scheduler
  internal/scheduler/jobdb/job.go
  internal/scheduler/retry/cache.go
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/convert_test.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/simulator/simulator.go
  internal/server/event/conversion/conversions.go
Labels: scheduler

Add retry policy testsuite case
  _local/scheduler/config.yaml
  _local/server/config.yaml
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/eventwatcher/validators.go
  magefiles/ci.go
  testsuite/testcases/retries/single_pod_retry.yaml
Labels: build

Improve the main scheduler loop (#4993)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/runner/sync.go
  internal/scheduler/scheduling/runner/types.go
Labels: scheduler

Fix CancelDialog Enter-key test race by waiting for jobs to load before pressing Enter
  internal/lookoutui/src/pages/jobs/components/CancelDialog.test.tsx
Labels: none

preserve cancel_reason and cancel_user on jobset cancel update requests
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
Labels: none

hot/cold changes
  .run/Armada HC.run.xml
  .run/Binoculars.run.xml
  .run/Lookout HC Ingester.run.xml
  .run/Lookout HC UI.run.xml
  .run/Lookout HC.run.xml
  .run/lookouthcPostgresMigration.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  _local/compose/postgres-init.sql
  _local/lookouthc/config.yaml
  _local/lookouthcingester/config.yaml
  _local/procfiles/hot-cold-dap.Procfile
  _local/procfiles/hot-cold.Procfile
  _local/scripts/check-port-conflicts.sh
  _local/scripts/init.sh
  _local/scripts/kill-port-conflicts.sh
  _local/scripts/prebuild-services.sh
  _local/scripts/wait-for-dlv.sh
  config/lookouthc/config.yaml
  docs/developer_guide.md
  internal/lookoutui/.gitignore
  internal/lookoutui/vite.config.mts
  magefiles/dev.go
Labels: build, docs

fix openapi ready marker race condition
  _local/procfiles/hot-cold.Procfile
  internal/lookoutui/.gitignore
Labels: none

metrics port and moving openapi to init.sh
  _local/procfiles/hot-cold.Procfile
  _local/scripts/init.sh
  _local/server/config.yaml
Labels: none

accepting race condition as it is rare in practice
  _local/procfiles/hot-cold.Procfile
Labels: none

Finalized code structure, ran in dev environment. Needs content review for PR. Readme also updated
  website/README.md
  website/content/index.mdx
Labels: none

Hot cold local dev (#4899)
  .run/Armada HC.run.xml
  .run/Binoculars.run.xml
  .run/Lookout HC Ingester.run.xml
  .run/Lookout HC UI.run.xml
  .run/Lookout HC.run.xml
  .run/lookouthcPostgresMigration.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  _local/compose/postgres-init.sql
  _local/lookouthc/config.yaml
  _local/lookouthcingester/config.yaml
  _local/procfiles/hot-cold-dap.Procfile
  _local/procfiles/hot-cold.Procfile
  _local/scripts/check-port-conflicts.sh
  _local/scripts/init.sh
  _local/scripts/kill-port-conflicts.sh
  _local/scripts/prebuild-services.sh
  _local/scripts/wait-for-dlv.sh
  _local/server/config.yaml
  config/lookouthc/config.yaml
  docs/developer_guide.md
  internal/lookoutui/.gitignore
  internal/lookoutui/vite.config.mts
  magefiles/dev.go
Labels: build, docs

Emit JobRunTerminated event when executor observes pod terminal phase
  internal/common/ingest/testfixtures/event.go
  internal/executor/domain/pod_metadata.go
  internal/executor/reporter/event.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/scheduler/database/migrations/039_add_runs_failed_timestamp.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/event/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler, scheduleringester

Bump mage to 1.17.2 everywhere and guard dev:up against old mage versions
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/test.yml
  README.md
  _local/README.md
  _local/compose/stack.yaml
  docs/developer_guide.md
  go.mod
  go.sum
  magefiles/dev.go
  magefiles/main.go
Labels: build, docs

Navigation: Moved all documentation into designated 'docs' section
  website/content/docs/api.mdx
  website/content/docs/architecture.mdx
  website/content/docs/cli.mdx
  website/content/docs/clients.mdx
  website/content/docs/core-concepts.mdx
  website/content/docs/developer-guide.mdx
  website/content/docs/integrations.mdx
  website/content/docs/meta.json
  website/content/docs/operator-guide.mdx
  website/content/docs/user-guide.mdx
  website/content/meta.json
Labels: none

Updated navigation nesting for community
  website/content/contribute/community.mdx
  website/content/meta.json
Labels: none

Fix cross-partition duplicate job rows in Lookout ingester (experimental hot/cold)
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_hotcold_test.go
Labels: none

updated Readme with nav instructions
  website/README.md
Labels: none

Fix cross-partition duplicate job rows in Lookout ingester (experimental hot/cold) (#4996)
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_hotcold_test.go
Labels: none

Bump mage to 1.17.2 everywhere, guard dev:up against old mage versions, and fix localdev doc drift (#4992)
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/test.yml
  README.md
  _local/README.md
  _local/compose/stack.yaml
  docs/developer_guide.md
  go.mod
  go.sum
  magefiles/dev.go
  magefiles/main.go
Labels: build, docs

Drop legacy submit_message & groups columns from jobs (#4984)
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_metadata_migration.go
  internal/scheduler/database/job_metadata_migration_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/039_backfill_and_drop_job_metadata_columns.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/config.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/job_metadata_migration_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Fix RangeError when null dates passed to DateTimePicker
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Update TimeRangeSelector.tsx
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Update TimeRangeSelector.tsx
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Fix RangeError when null dates passed to DateTimePicker (#4997)
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

post-merge generated sql
  internal/scheduler/database/migrations/040_add_cancel_reason.sql
  internal/scheduler/database/query.sql.go
Labels: none

post-merge test update
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Consolidate Lookout UI maintainers into repo-wide maintainers
  .mergify.yml
Labels: none

perf: limit reason length on api for user actions
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/job_set.go
  internal/server/submit/validation/job_set_test.go
Labels: none

use bytes not chars language, validation ordering, and truncate the return msg when validation fails
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/job_set.go
  internal/server/submit/validation/job_set_test.go
Labels: none

Convert AwayPools to be objects rather than strings
  internal/common/config/hooks.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduling/reconciliation.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

More specific decoding
  internal/common/config/hooks.go
  internal/common/config/hooks_test.go
  internal/scheduler/configuration/configuration.go
Labels: none

Scheduler: for testing, support not publishing to pulsar
  internal/common/config/pulsar.go
  internal/scheduler/publisher/dummy_publisher.go
  internal/scheduler/publisher/publisher.go
  internal/scheduler/publisher/pulsar_publisher.go
  internal/scheduler/publisher/pulsar_publisher_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Add configurable client-side request mirroring to Lookout UI
  internal/lookout/configuration/doc.go
  internal/lookout/configuration/types.go
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
  internal/lookoutui/src/requestMirror/index.ts
  internal/lookoutui/src/requestMirror/requestMirror.ts
Labels: none

updates
  internal/lookout/configuration/types.go
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/lookoutApiRequestMirror/index.ts
  internal/lookoutui/src/lookoutApiRequestMirror/mirrorLookoutApiRequest.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
  internal/lookoutui/src/requestMirror/index.ts
  internal/lookoutui/src/requestMirror/requestMirror.ts
  internal/lookoutui/src/services/lookout/useGetAllJobsMatchingFilters.ts
  internal/lookoutui/src/services/lookout/useGetBackendVersion.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/services/lookout/useGetJobRunError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunSchedulerTerminationReason.ts
  internal/lookoutui/src/services/lookout/useGetJobSpec.ts
  internal/lookoutui/src/services/lookout/useGetJobs.ts
  internal/lookoutui/src/services/lookout/useGroupJobs.ts
Labels: none

Add configurable Query API query mirroring to a second database
  config/server/config.yaml
  internal/server/configuration/types.go
  internal/server/queryapi/doc.go
  internal/server/queryapi/mirror.go
  internal/server/queryapi/mirror_test.go
  internal/server/queryapi/query_api.go
  internal/server/server.go
Labels: none

Fix pulsar publisher initialization assignment
  internal/scheduler/schedulerapp.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
