Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix large li tags
  assets/styles/custom/_styles.scss
Labels: none

fix broken links
  demo.md
  design.md
  design/index.md
Labels: none

fix page-header-image
  _includes/header.html
  assets/styles/custom/_styles.scss
Labels: none

Fewer requests in `getAllJobsMatchingFilters`
  internal/lookout/ui/src/utils/jobsDialogUtils.ts
Labels: none

Set `Cache-Control` header for `index.html` (#43)
  internal/common/serve/static.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Set `Cache-Control` header for `index.html` (#3202)
  internal/common/serve/static.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Remove total row count from Lookout API responses (#3199)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/services/lookoutV2/GetJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
  internal/lookout/ui/src/utils/jobsDialogUtils.ts
  internal/lookoutv2/application.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/querybuilder_test.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Pass cancellation reasons through the scheduler
  internal/scheduler/database/migrations/007_add_job_cancel_reason.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Simplify simulator event sequence tests (#3204)
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

Bring back `dirWithIndexFallback` (#44)
  internal/common/serve/static.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Bring back `dirWithIndexFallback` (#3206)
  internal/common/serve/static.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
Labels: none

Run linter
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Use const
  internal/armada/configuration/constants.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Add additional annotations to JobRunLeased event (#3140)
  internal/armada/configuration/constants.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/result.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

Fixes and improvements to scheduler metrics
  config/scheduler/config.yaml
  deployment/armada/templates/prometheusrule.yaml
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Lookoutv2: Allow sorting by jobset
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookoutv2/repository/tables.go
Labels: none

Lookoutv2: Allow sorting by jobset (#3209)
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookoutv2/repository/tables.go
Labels: none

Fix fairshare metrics
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

Update scheduler metrics
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Add localdev documentation on accessing etcd (#3210)
  docs/developer.md
  docs/developer/etcd-localdev.md
  docs/developer/manual-localdev.md
Labels: docs

Ship local copy of etcdclient deployment YAML.
  developer/config/etcdclient.yaml
  docs/developer/etcd-localdev.md
Labels: none

LookoutV2: stop auto-refresh from collapsing groups
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

refactor
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

refactor
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

refactor
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

ARMADA-2371 Adding routing to jobs page w/filters from JOB SETS page (#37) (#47)
  internal/lookout/ui/src/components/LinkCell.css
  internal/lookout/ui/src/components/LinkCell.tsx
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
Labels: none

Lookoutv2: Stop auto-refresh from collapsing groups (#3212)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

log
  internal/armada/server/submit_to_log.go
Labels: none

add back comment
  internal/armada/server/submit_to_log.go
Labels: none

Fix username typo in .mergify.yml
  .mergify.yml
Labels: none

Log API Calls Where Queue/Jobset Isn't Specified (#3221)
  internal/armada/server/submit_to_log.go
Labels: none

Improve scheduler metrics
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

Fix test
  internal/scheduler/scheduler_metrics_test.go
Labels: scheduler

Fix username typo in .mergify.yml (#3222)
  .mergify.yml
Labels: none

Lookoutv2: don't display autorefresh toggle when autorefresh is disabled
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Lookoutv2: don't display autorefresh toggle when autorefresh is disabled (#3225)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Adding routing to jobs page w/filters from JOB SETS page
  internal/lookout/ui/src/components/LinkCell.css
  internal/lookout/ui/src/components/LinkCell.tsx
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
Labels: none

Add localdev documentation on accessing etcd (#3210)
  docs/developer.md
  docs/developer/etcd-localdev.md
  docs/developer/manual-localdev.md
Labels: docs

Ship local copy of etcdclient deployment YAML.
  developer/config/etcdclient.yaml
  docs/developer/etcd-localdev.md
Labels: none

Fix bug when checking if a pod has exceeded its active deadline
  internal/executor/service/job_manager_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none
