Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix: free disk space in release workflow to prevent Docker build failures (#4572)
  .github/workflows/release.yml
  magefiles/main.go
Labels: build

Make stacktrace logging handle nested errors
  internal/common/logging/logger.go
  internal/common/logging/logger_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

[CI]: Slim debian bookworm image python dockerfile (#4570)
  build/airflow-operator/Dockerfile
  build/python-client/Dockerfile
Labels: none

improvements
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/pages/jobs/components/CancelDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.test.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

try-e2e
  magefiles/developer.go
Labels: build

mage airflow
  .github/workflows/airflow-operator.yml
Labels: none

Fix: Route to website links instead of ./docs
  README.md
  internal/lookoutui/README.md
  pkg/client/command_line.go
  scripts/get-armadactl.sh
Labels: build

try sleep first
  .github/workflows/airflow-operator.yml
Labels: none

Maybe reduce disk usage
  magefiles/cmd.go
Labels: build

Fix PodDefaults panics accessing Ingress object (#4537)
  internal/executor/job/submit.go
  internal/executor/job/util.go
  internal/executor/util/kubernetes_object.go
Labels: none

Fix: Route to website links instead of ./docs (#4575)
  README.md
  internal/lookoutui/README.md
  pkg/client/command_line.go
  scripts/get-armadactl.sh
Labels: build

Make stacktrace logging handle nested errors (#4573)
  internal/common/logging/logger.go
  internal/common/logging/logger_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

remove redundant comments
  pkg/client/auth/oidc/cache.go
Labels: none

Exclude k8s dependencies from dependabot
  .github/dependabot.yml
Labels: none

Exclude k8s dependencies from dependabot (#4577)
  .github/dependabot.yml
Labels: none

[bug] Fix jobdb rollback bug
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

Imports
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

feat: preserve partial scheduling progress on context timeout instead of rolling back all work
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

fix: enable reattach to running job by mocking job_by_external_job_uri
  third_party/airflow/test/unit/operators/test_armada.py
Labels: none

fix: update test case to expect failed job state in armada operator test
  third_party/airflow/test/unit/operators/test_armada.py
Labels: none

test: parametrize `test_reattaches_to_running_job` with reattach policy
  third_party/airflow/test/unit/operators/test_armada.py
Labels: none

test: add test for reattaching to running job with callable policy
  third_party/airflow/test/unit/operators/test_armada.py
Labels: none

Based on the context and the diff, I'll generate a concise commit message:
  third_party/airflow/armada/operators/armada.py
Labels: none

add aider to gitignore
  .gitignore
Labels: none

bump versiong
  third_party/airflow/.vscode/settings.json
  third_party/airflow/pyproject.toml
Labels: none

hmm
  third_party/airflow/.vscode/settings.json
Labels: none

switch to new queue
  third_party/airflow/test/integration/test_airflow_operator_logic.py
Labels: none

fix: airflow operator no longer fails when reattach policy is callable (#4587)
  .gitignore
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/integration/test_airflow_operator_logic.py
  third_party/airflow/test/unit/operators/test_armada.py
Labels: none

[bug] Fix jobdb rollback bug (#4584)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

[Lookout UI] Replace service objects with @tanstack/react-query hooks (#4569)
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/jobsDialogUtils.ts
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/pages/jobs/JobsPage.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableActionBar.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.tsx
  internal/lookoutui/src/services/context.tsx
  internal/lookoutui/src/services/fakeContext.tsx
  internal/lookoutui/src/services/lookout/GetJobsService.ts
  internal/lookoutui/src/services/lookout/UpdateJobsService.test.ts
  internal/lookoutui/src/services/lookout/UpdateJobsService.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGetJobsService.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useCancelJobs.ts
  internal/lookoutui/src/services/lookout/useGetAllJobsMatchingFilters.ts
  internal/lookoutui/src/services/lookout/useGetJobs.ts
  internal/lookoutui/src/services/lookout/useReprioritizeJobs.ts
Labels: none

WIP Move reconcile to run before algo
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: scheduler

Fix reprioritisations
  internal/lookoutui/src/services/lookout/useReprioritizeJobs.ts
Labels: none

Fix cancellations
  internal/lookoutui/src/services/lookout/useCancelJobs.ts
Labels: none

[fix] [Lookout UI] fix cancellations and reprioritisations (#4588)
  internal/lookoutui/src/services/lookout/useCancelJobs.ts
  internal/lookoutui/src/services/lookout/useReprioritizeJobs.ts
Labels: none

feat: preserve partial scheduling progress on context timeout instead of rolling back all work
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

fix: move BasicAuth credentials to public package for external client use
  internal/common/auth/basic_test.go
  pkg/client/auth/basic/credentials.go
  pkg/client/connection.go
Labels: none

fix: move BasicAuth credentials to public package for external client use (#4589)
  internal/common/auth/basic_test.go
  pkg/client/auth/basic/credentials.go
  pkg/client/connection.go
Labels: none

chore: build latest armadactl in CI and update get-armadactl.sh to download latest armadactl (#4498)
  magefiles/ci.go
  scripts/get-armadactl.sh
Labels: build

swagger and protos
  _local/docker-compose-deps.yaml
  go.mod
  go.sum
  internal/lookout/conversions/convert.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/model/model.go
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/schema/migrations/025_create_job_run_ingress_addresses_column.sql
  internal/lookout/swagger.yaml
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/model/model.go
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
  internal/server/queryapi/query_api.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
  pkg/api/job.proto
  scripts/localdev-init.sh
Labels: build, proto, lookout

bump python
  client/python/pyproject.toml
Labels: client-python

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
