Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

resolve conflict and clean up
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

log no. of affected rows
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sqlite.go
Labels: none

hoist the purge goroutine to Startup
  internal/jobservice/application.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

check tables existence first
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Upgrade to Pulsar 3.0.0 (BATCH-318)
  deployment/armada-bundle/README.md
  deployment/armada-bundle/values.yaml
  deployment/armada-bundle/values/example.values.yaml
  docker-compose.yaml
  docs/developer/manual-localdev.md
  go.mod
  go.sum
  makefile
Labels: none

Docker plugins check (#2534)
  magefiles/docker.go
  magefiles/main.go
Labels: build

Upgrade to Pulsar 3.0.0 (BATCH-318)
  deployment/armada-bundle/README.md
  deployment/armada-bundle/values.yaml
  deployment/armada-bundle/values/example.values.yaml
  docker-compose.yaml
  docs/developer/manual-localdev.md
  go.mod
  go.sum
  makefile
Labels: none

Formatting changes.
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
Labels: none

golangci-lint fixes; regenerate mocks to match new error returns
  cmd/eventsprinter/logic/logic.go
  e2e/pulsar_test/pulsar_test.go
  internal/armada/server/eventsprinter.go
  internal/armada/server/submit_from_log.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/mocks/mock_executorapi.go
  internal/common/mocks/mock_pulsar.go
  internal/common/pulsarutils/async.go
  internal/common/pulsarutils/async_test.go
  internal/lookout/repository/schema/statik/statik.go
  internal/lookoutv2/gen/restapi/doc.go
  internal/lookoutv2/gen/restapi/operations/get_health.go
  internal/lookoutv2/gen/restapi/operations/get_health_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec_responses.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_responses.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_responses.go
  makefile
Labels: none

Test CPU resolution
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Cleanup, address comments
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/encoding.go
  internal/scheduler/nodedb/encoding_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/schedulerobjects/quantity.go
  internal/scheduler/schedulerobjects/quantity_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Lint
  internal/scheduler/nodedb/encoding_test.go
Labels: none

NodeDb performance improvements (#2552)
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/armada/server/submit_to_log.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/encoding.go
  internal/scheduler/nodedb/encoding_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/nodetype.go
  internal/scheduler/schedulerobjects/quantity.go
  internal/scheduler/schedulerobjects/quantity_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Initial commit
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/service/job_lease.go
  testsuite/testcases/basic/submit_a.yaml
  testsuite/testcases/basic/submit_b.yaml
  testsuite/testcases/basic/submit_c.yaml
Labels: executor

Remove file commited by mistake
  testsuite/testcases/basic/submit_a.yaml
  testsuite/testcases/basic/submit_b.yaml
  testsuite/testcases/basic/submit_c.yaml
Labels: none

Make job lease request timeout configurable (#2558)
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/service/job_lease.go
Labels: executor

Remove `NumEvictedGangs` from `SchedulingContext`
  internal/scheduler/context/context.go
Labels: none

Remove `NumEvictedGangs` from `SchedulingContext` (#2560)
  internal/scheduler/context/context.go
Labels: none

Job Service: Improve expired jobsets deletion (#2499)
  internal/jobservice/application.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

remove redundant call
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

adding CODEOWNERS
  CODEOWNERS
Labels: none

removing isaac for now
  CODEOWNERS
Labels: none

remove redundant call (#2561)
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Fix CheckToUnsubscribe test
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

Some logging improvements
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/repository/postgres.go
Labels: none

Fix tests and lint
  internal/jobservice/eventstojobs/manage_subs_test.go
  internal/jobservice/repository/sql_job_service.go
Labels: none

Fix unsubscribe behavior
  internal/jobservice/eventstojobs/manage_subs.go
Labels: none

WIP: Rework how jobservice subscribes to job sets
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/manage_subs.go
Labels: none

lint fixes
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/manage_subs.go
Labels: none

Add unit tests
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/eventstojobs/manage_subs_test.go
Labels: none

Scan for missing subscriptions periodically, and minor fixes
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_moq.go
  internal/jobservice/repository/sqlite.go
  internal/jobservice/repository/types.go
  internal/jobservice/server/server.go
Labels: none

Update mock
  internal/jobservice/repository/sql_job_service_moq.go
Labels: none

Fix CheckToUnSubscribe logic and generate mocks
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/eventstojobs/manage_subs_test.go
  internal/jobservice/repository/job_table_updater_moq.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Add debug logging
  developer/env/jobservice.env
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/manage_subs.go
Labels: none

New subscription logic works
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/repository/types.go
  internal/jobservice/server/server.go
Labels: none

Fix call to Manage()
  internal/jobservice/application.go
Labels: none

Rename SubscribeJobSetTime to SubscriptionExpirySecs
  config/jobservice/config.yaml
  e2e/setup/jobservice.yaml
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
Labels: none

Clif/jobservice rework stream common/batch 305 (#2545)
  config/jobservice/config.yaml
  developer/env/jobservice.env
  e2e/setup/jobservice.yaml
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
  internal/jobservice/eventstojobs/manage_subs.go
  internal/jobservice/eventstojobs/manage_subs_test.go
  internal/jobservice/repository/job_table_updater_moq.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_moq.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
  internal/jobservice/server/server.go
Labels: none

Update docs for ArmadaOperator.
  docs/python_airflow_operator.md
Labels: docs

Job Service: remove foreign-key restriction between jobs ans jobsets
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none
