Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

profiling behind cmd line flag
  cmd/simulator/cmd/root.go
Labels: none

lint
  internal/scheduler/simulator/sink/fair_share_writer.go
  internal/scheduler/simulator/sink/job_writer.go
Labels: none

Mustafai/armadactl consistent flags (#4006)
  cmd/armadactl/cmd/docs.go
  cmd/armadactl/cmd/scheduling.go
  go.mod
Labels: none

Simulator Improvements (#4005)
  cmd/simulator/cmd/root.go
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/model/model.go
  internal/scheduler/simulator/runner.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/sink/fair_share_writer.go
  internal/scheduler/simulator/sink/job_writer.go
  internal/scheduler/simulator/sink/sink.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_10.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_100.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_1_2.yaml
  internal/scheduler/simulator/testdata/clusters/cpu_1_3_100.yaml
  internal/scheduler/simulator/testdata/clusters/tinyCluster.yaml
  internal/scheduler/simulator/testdata/clusters/tinyClusterAlt.yaml
  internal/scheduler/simulator/testdata/configs/basicSchedulingConfig.yaml
  internal/scheduler/simulator/testdata/workloads/basicWorkload.yaml
  internal/scheduler/simulator/writer.go
Labels: none

wip
  internal/scheduler/simulator/runner.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
Labels: none

wip
  internal/scheduler/simulator/simulator.go
Labels: none

Some more simulator improvements (#4007)
  internal/scheduler/simulator/runner.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
Labels: none

Update permissions reference
  docs/developer/api.md
Labels: none

Query API methods to query jobs by external job URI and retrieve job errors
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/014_add_external_job_uri.sql
  internal/server/queryapi/database/db.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql
  internal/server/queryapi/database/query.sql.go
  internal/server/queryapi/query_api.go
  internal/server/queryapi/query_api_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
  pkg/api/job.pb.gw.go
  pkg/api/job.proto
  tools.yaml
Labels: proto

Fix linting errors
  internal/server/queryapi/query_api_test.go
  tools.yaml
Labels: none

Update permissions reference (#4008)
  docs/developer/api.md
Labels: none

Query API methods to query jobs by external job URI and retrieve job errors
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/014_add_external_job_uri.sql
  internal/server/queryapi/database/db.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql
  internal/server/queryapi/database/query.sql.go
  internal/server/queryapi/query_api.go
  internal/server/queryapi/query_api_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
  pkg/api/job.pb.gw.go
  pkg/api/job.proto
  tools.yaml
Labels: proto

Generate proto
  pkg/armadaevents/events.pb.go
Labels: none

Merge
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduler.go
  internal/server/event/conversion/conversions.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler

Fix common
  internal/scheduler/scheduling/common.go
Labels: none

Cleanup unused authorization code
  internal/binoculars/service/cordon_test.go
  internal/common/auth/authorization_test.go
  internal/common/auth/permissions.go
  internal/common/auth/permissions_test.go
Labels: none

Bug fixes (#259)
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/metrics/scheduler_metrics.go
  internal/common/metrics/scheduler_metrics_test.go
  internal/eventingester/ingester.go
  internal/lookoutingesterv2/ingester.go
  internal/scheduleringester/ingester.go
Labels: eventingester, lookoutingester, scheduleringester

add restricted tolerations
  internal/server/configuration/types.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

Separate eviction logic from preempting queue scheduler
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

lint
  internal/scheduler/scheduling/eviction.go
Labels: none

update pulsar client
  go.mod
  go.sum
Labels: none

update a bunch of libraries
  go.mod
  go.sum
Labels: none

Bug fixes (#259) (#4013)
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/metrics/scheduler_metrics.go
  internal/common/metrics/scheduler_metrics_test.go
  internal/eventingester/ingester.go
  internal/lookoutingesterv2/ingester.go
  internal/scheduleringester/ingester.go
Labels: eventingester, lookoutingester, scheduleringester

Separate eviction logic from preempting queue scheduler (#4015)
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Update internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request.go
Labels: none

add restricted tolerations (#4014)
  internal/server/configuration/types.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

Adding scheduler metrics to expose cluster cordoned status (#261)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Adding scheduler metrics to expose cluster cordoned status (#261) (#4019)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Executor settings set_by_user and set_at_time fields, exposing in sch… (#263)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/migrations/016_add_user_and_timestamp_executor_settings.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/server/executor/executor.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: scheduler, scheduleringester

Executor settings set_by_user and set_at_time fields, exposing in sch… (#263) (#4020)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/migrations/016_add_user_and_timestamp_executor_settings.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/server/executor/executor.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: scheduler, scheduleringester

Cleanup unused authorization code (#4012)
  internal/binoculars/service/cordon_test.go
  internal/common/auth/authorization_test.go
  internal/common/auth/permissions.go
  internal/common/auth/permissions_test.go
Labels: none

basic add gang
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
Labels: none

Improvements to simulation following testing (#260)
  cmd/simulator/cmd/root.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/sink/fair_share_writer.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  internal/scheduler/simulator/sink/sink.go
Labels: none

More scheduler metrics (#262)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

More scheduler metrics
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Preempt/Cancel on executor proto changes
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto

typo
  pkg/api/executor.proto
Labels: proto

wip
  internal/scheduler/simulator/simulator.go
Labels: none

wip
  internal/scheduler/simulator/simulator.go
Labels: none

wip
  internal/scheduler/simulator/simulator.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
