Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

increase jest timeout
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
Labels: none

refactor github actions for ts
  .github/workflows/not-ts.yml
  .github/workflows/ts.yml
Labels: none

Remove unnecessary check
  internal/armada/server/lease.go
Labels: none

Revert "refactor github actions for ts"
  .github/workflows/not-ts.yml
  .github/workflows/ts.yml
Labels: none

Preemption fixes and improvements (#2264)
  config/armada/config.yaml
  internal/armada/cache/queue_test.go
  internal/armada/configuration/types.go
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/job.go
  internal/armada/repository/job_test.go
  internal/armada/server.go
  internal/armada/server/event_test.go
  internal/armada/server/lease.go
  internal/armada/server/submit_test.go
  internal/common/eventutil/eventutil.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
Labels: server, scheduler

Lookout v2 - column and sidebar resizing (#2263)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.module.css
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Allow Executor to run in dual mode
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/job/job_context.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/service/job_manager_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_util.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/testfixtures.go
Labels: executor

Updating Github Pages branch with latest Master changes
  developer.md
  development_guide.md
Labels: none

Updating Github Pages branch with latest Master changes
  developer.md
  development_guide.md
  python_airflow_operator.md
Labels: none

Add JobFailedToSchedule to JobSubmitResponse
  internal/armada/server/job_validation.go
  internal/armada/server/submit.go
  internal/armada/server/submit_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto

airflow testing
  e2e/setup/jobservice.yaml
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_moq.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/subscribe_table.go
  internal/jobservice/server/server.go
Labels: none

testing
  internal/jobservice/repository/sql_job_service.go
Labels: none

Update internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs.go
Labels: none

Fixes
  internal/executor/application.go
  internal/executor/job/job_run_state_store.go
Labels: executor

Update internal/executor/service/job_requester.go
  internal/executor/service/job_requester.go
Labels: none

Fixes from code review
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/job/testfixtures.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester.go
Labels: none

Remove unused filter
  internal/executor/service/job_requester.go
Labels: none

Move testfixtures classes to their own folders
  internal/executor/job/mocks/testfixtures.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/job/testfixtures.go
  internal/executor/reporter/mocks/testfixtures.go
  internal/executor/reporter/testfixtures.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/job_manager_test.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/mocks/lease_service.go
  internal/executor/service/mocks/testfixtures.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/service/testfixtures.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/mocks/testfixtures.go
  internal/executor/utilisation/testfixtures.go
Labels: none

Fix dependency cycle
  internal/executor/service/job_requester_test.go
  internal/executor/service/mocks/testfixtures.go
Labels: none

Fix gang preemption
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/armada/server/lease.go
  internal/common/validation/podspec.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: server, scheduler

Update README.md (#2259)
  docs/aws-ec2/README.md
Labels: none

Avoid cascading preemptions for gang preemption
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Comment
  internal/scheduler/legacyscheduler.go
Labels: scheduler

Fix gang preemption (#2268)
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/armada/server/lease.go
  internal/common/validation/podspec.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: server, scheduler

unsubscribe
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/server/server.go
  third_party/airflow/setup-local-airflow.sh
Labels: none

Fix comment
  internal/common/eventutil/eventutil.go
Labels: none

log debugging
  internal/jobservice/eventstojobs/eventstojobs.go
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

debugging bug fix
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

Add GangUuidAnnotation
  internal/armada/configuration/constants.go
  internal/armada/server.go
  internal/armada/server/submit_to_log.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
Labels: server

Fix typos in metrics
  internal/common/metrics/domain.go
  internal/common/metrics/resource_recorder.go
  internal/common/metrics/scheduler_metrics.go
Labels: none

Fix typos in metrics
  internal/common/metrics/scheduler_metrics.go
Labels: none

Fix typos in metrics/duplicate metrics (#2270)
  internal/common/metrics/domain.go
  internal/common/metrics/resource_recorder.go
  internal/common/metrics/scheduler_metrics.go
Labels: none

Split lease request and job submission (#2261)
  config/executor/config.yaml
  internal/common/mocks/generate.go
  internal/common/mocks/mock_executorapi.go
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/domain/pod_metadata.go
  internal/executor/job/domain.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/job/mocks/testfixtures.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/job/processors/util.go
  internal/executor/job/processors/util_test.go
  internal/executor/reporter/event.go
  internal/executor/reporter/mocks/testfixtures.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/job_manager_test.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
  internal/executor/service/mocks/lease_service.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/service/util.go
  internal/executor/service/util_test.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/executor/util/pod_util.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/mocks/testfixtures.go
Labels: executor

Improve handling of Pending pods
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/service/job_manager.go
  internal/executor/service/pod_issue_handler.go
Labels: none

Gofumpt
  internal/executor/context/cluster_context_test.go
Labels: none

Naming changes + fix filtering
  internal/executor/job/job_context.go
  internal/executor/utilisation/job_utilisation_reporter.go
Labels: none

Omit lease return/failed events for deleted jobs
  internal/armada/repository/event_store.go
  internal/armada/scheduling/lease_manager.go
  internal/armada/server/event.go
  internal/armada/server/lease.go
  internal/armada/server/lease_test.go
  internal/armada/server/reporting.go
Labels: none

Omit lease return/failed events for deleted jobs (#2273)
  internal/armada/repository/event_store.go
  internal/armada/scheduling/lease_manager.go
  internal/armada/server/event.go
  internal/armada/server/lease.go
  internal/armada/server/lease_test.go
  internal/armada/server/reporting.go
Labels: none

Avoid double-eviction
  internal/scheduler/legacyscheduler.go
Labels: scheduler

Lookout v2 - show YAML job as valid submission
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useCustomSnackbar.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetJobSpecService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetJobSpecService.ts
  internal/lookout/ui/src/utils/jobsDialogUtils.ts
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
