Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Feat/preempt button (#4662)
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/src/pages/jobs/components/JobsTableActionBar.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/usePreemptJobs.ts
Labels: none

Fix Mergify frontend approval check hanging on non-UI PRs
  .mergify.yml
Labels: none

Fix Mergify checks hanging when rules don't apply
  .mergify.yml
Labels: none

Allow pool scheduling to fail independently for some errors (#4655)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/result_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Fix Mergify checks hanging when rules don't apply (#4670)
  .mergify.yml
Labels: none

fix an issue with a missing param in scheduling_algo_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Expose user level metrics from the server
  internal/common/grpc/grpc.go
  internal/common/grpc/user_metrics.go
  internal/server/event/event.go
  internal/server/event/metrics.go
Labels: none

rely on lib for user injection
  internal/common/grpc/grpc.go
  internal/common/grpc/user_metrics.go
Labels: none

feat: add pool filtering to executor and queue preempt/cancel operations (#4637)
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/preempt.go
  internal/armadactl/cancel.go
  internal/armadactl/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/executor/executor.go
  internal/server/queue/queue_service.go
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/client/executor/cancel.go
  pkg/client/executor/preempt.go
  pkg/client/queue/cancel.go
  pkg/client/queue/preempt.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, armadactl, scheduleringester

Add metric for pool info (#4659)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Airflow Operator now works on Airflow 3.1x and logging spam is reduced (#465)
  docs/armada_airflow_operator.md
  third_party/airflow/armada/links.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/utils.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
Labels: docs

feat: preserve partial scheduling progress on context timeout instead of rolling back all work (#4559)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Simplify gang validation (#4667)
  internal/scheduler/gang_validator.go
  internal/scheduler/gang_validator_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

fixing integration tests
  third_party/airflow/test/integration/test_airflow_operator_logic.py
Labels: none

Airflow Operator now works on Airflow 3.1x and logging spam is reduced (#4672)
  docs/armada_airflow_operator.md
  third_party/airflow/armada/links.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/utils.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/integration/test_airflow_operator_logic.py
  third_party/airflow/test/unit/operators/test_armada.py
Labels: docs

Expose user level metrics from the server (#4669)
  internal/common/grpc/grpc.go
  internal/server/event/event.go
  internal/server/event/metrics.go
Labels: none

Add John Popplewell
  .mergify.yml
Labels: none

remove erroneous file
  internal/lookoutui/package.json
Labels: none

fix lint
  internal/broadside/db/memory.go
  internal/broadside/db/postgres.go
  internal/broadside/estimation/confirmation.go
  internal/broadside/ingester/ingester.go
  internal/broadside/orchestrator/runner.go
  internal/scheduler/gang_validator.go
Labels: scheduler

README updates
  cmd/broadside/README.md
  cmd/broadside/configs/README.md
  cmd/broadside/configs/examples/README.md
  cmd/broadside/results/README.md
Labels: none

Feat/Add clear individual filter button (#4674)
  internal/lookoutui/src/components/JobsTableFilter.tsx
Labels: none

Fix linting to fix build
  internal/scheduler/gang_validator.go
Labels: scheduler

Use canonical import paths for websocket and lipgloss modules (#4647)
  go.mod
  go.sum
Labels: none

[Lookout] Allow selecting groups of filters (#4639)
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

feat: add terminated generated column to runs table and optimize join queries (#4642)
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/031_add_runs_terminated_column.sql
  internal/scheduler/database/migrations/032_add_runs_terminated_index.sql
  internal/scheduler/database/migrations/033_add_runs_queue_jobset_terminated_index.sql
  internal/scheduler/database/migrations/034_drop_old_runs_filtered_index.sql
  internal/scheduler/database/migrations/035_drop_old_runs_queue_jobset_filtered_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

[Lookout UI] Adding Copy All Button to Job ID Column (#4648)
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

fix: mage checkDeps false positive docker suffix (#4636)
  magefiles/docker.go
Labels: build

[Lookout UI] Submit dialogs on enter (#4649)
  internal/lookoutui/src/pages/jobs/components/CancelDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.tsx
Labels: none

Refactor scheduler result (#4652)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  internal/scheduler/simulator/sink/sink.go
Labels: scheduler

Add frontend maintainers for internal/lookoutui approval (#4656)
  .mergify.yml
Labels: none

Fix Mergify rule to auto-pass for lookoutui-only PRs (#4664)
  .mergify.yml
Labels: none

Add tests to the queue service (#4653)
  internal/server/queue/queue_service_test.go
Labels: none

Update Mergify config - fix hanging (#4666)
  .mergify.yml
Labels: none

Add go.mod replace directive for cyphar.com/go-pathrs (#4654)
  go.mod
Labels: none

Update Mergify rules for PR approval requirements (#4668)
  .mergify.yml
Labels: none

Fix Mergify checks hanging when rules don't apply (#4670)
  .mergify.yml
Labels: none

Feat/preempt button (#4662)
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/src/pages/jobs/components/JobsTableActionBar.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/usePreemptJobs.ts
Labels: none

Allow pool scheduling to fail independently for some errors (#4655)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/result_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

feat: add pool filtering to executor and queue preempt/cancel operations (#4637)
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/preempt.go
  internal/armadactl/cancel.go
  internal/armadactl/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/executor/executor.go
  internal/server/queue/queue_service.go
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/client/executor/cancel.go
  pkg/client/executor/preempt.go
  pkg/client/queue/cancel.go
  pkg/client/queue/preempt.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, armadactl, scheduleringester

Add metric for pool info (#4659)
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler
