Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Added test file for cmd/armadactl/cmd/cancel_test.go
  cmd/armadactl/cmd/cancel_test.go
Labels: none

Merge conflict resolved incorrectly -- fixed
  internal/jobservice/application.go
Labels: none

Fix Pulsar-scheduler accounting (#2417)
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Tidy and tests
  internal/scheduler/api_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Pass nodetype from executor to scheduler
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/metrics.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  pkg/api/queue.pb.go
  pkg/api/queue.proto
  pkg/api/util.go
Labels: proto, scheduler

Remove unused proto type
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: none

coalesce goreleaser files
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .goreleaser.rc.yml
  .goreleaser.yml
Labels: none

Updated cancel_test.go
  cmd/armadactl/cmd/cancel_test.go
Labels: none

Updated cancel_test
  cmd/armadactl/cmd/cancel_test.go
Labels: none

coalesce
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  GitVersion.yml
Labels: none

testing official release
  .github/workflows/release.yml
  .goreleaser.yml
Labels: none

feat: add trigger to purge expred jobsets (#2403)
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Mark preempted jobs as failed
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Updated cancel_test.go
  cmd/armadactl/cmd/cancel_test.go
Labels: none

Add metrics tests
  internal/scheduler/api_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Formatting
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Exit out of metric calculation early on issue
  internal/scheduler/metrics.go
Labels: scheduler

Make fake executor support cancellation
  internal/executor/fake/context/context.go
Labels: none

Formatting
  internal/executor/fake/context/context.go
Labels: none

fix hashing function
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
Labels: none

fix hashing function
  internal/common/proto/protoutil.go
Labels: none

Make fake executor support cancellation (#2422)
  internal/executor/fake/context/context.go
Labels: none

cancel_test.go file added
  cmd/armadactl/cmd/cancel_test.go
Labels: none

added cancel_test.go
  cmd/armadactl/cmd/cancel_test.go
Labels: none

Attempting CI changes
  .devcontainer/demo/start.sh
  .github/workflows/go-integration-free.yml
  .github/workflows/go-integration.yml
  magefiles/ci.go
  magefiles/developer.go
  magefiles/main.go
Labels: build

Added changes
  magefiles/ci.go
  magefiles/developer.go
  magefiles/main.go
Labels: build

Update protoutil_test.go
  internal/common/proto/protoutil_test.go
Labels: none

fix hashing function (#2423)
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
Labels: none

Initial commit
  internal/common/hash/pod_requirements.go
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/context/context.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/quantity.go
  internal/scheduler/schedulerobjects/quantity_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/submitcheck.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/api/util.go
Labels: proto, scheduler, scheduleringester

Testing
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
Labels: none

Lint
  internal/scheduler/schedulerobjects/podutils.go
Labels: none

Lint
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
Labels: none

Simplify make function
  internal/common/util/batch.go
Labels: none

add reason for cancelation to the event
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

[scheduler-ingester] Fix all inserts not being inside same transaction
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

[scheduler-ingester] Fix all inserts not being inside same transaction (#2428)
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

Test file added for armada/cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/cancel_test.go
Labels: none

plumb reason around backend
  internal/jobservice/events/client_moq.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/doc.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_health.go
  internal/lookoutv2/gen/restapi/operations/get_health_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_error_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_spec_responses.go
  internal/lookoutv2/gen/restapi/operations/get_jobs.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_responses.go
  internal/lookoutv2/gen/restapi/operations/group_jobs.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_responses.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/schema/migrations/002_cancel_reason.sql
  internal/lookoutv2/swagger.yaml
Labels: lookout

Fix number of jobs/gang scheduled accounting
  internal/scheduler/context/context.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/queue_scheduler_test.go
Labels: scheduler

working implementation
  internal/lookout/ui/src/components/lookoutV2/DebouncedTextField.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/jobsTableFormatters.test.ts
  internal/lookout/ui/src/utils/jobsTableFormatters.ts
  internal/lookout/ui/src/utils/jobsTableUtils.ts
  internal/lookout/ui/src/utils/resourceUtils.test.ts
  internal/lookout/ui/src/utils/resourceUtils.ts
  internal/lookout/ui/yarn.lock
Labels: none
