Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

scala-client: update scala version and grpc-netty library
  client/scala/armada-scala-client/build.sbt
  client/scala/examples/build.sbt
Labels: none

chore(gitignore): update .gitignore file to ignore dependency directories
  .gitignore
Labels: none

chore(gemfile): remove jekyll_plugins from Gemfile to match GitHub Pages server environment
  Gemfile
Labels: none

chore(gemfile): use latest version of github-pages
  Gemfile
Labels: none

chore(gemfile): add comment
  Gemfile
Labels: none

chore(gemfile): update webrick version
  Gemfile
Labels: none

fix
  internal/scheduler/api_test.go
  internal/scheduler/metrics.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
  magefiles/airflow.go
Labels: build, scheduler

fix
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

proto changes
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

Fix shouldRunOptimiser check
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Fix shouldRunOptimiser check (#4278)
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Website: fix running Jekyll locally (#4277)
  .gitignore
  Gemfile
Labels: none

build: remove url and baseurl (don't use hardcoded values and let jekyll-github-metadata set them according to the repository)
  _config.yml
Labels: none

fix: use relative urls in _includes/home-sample.html
  _includes/home-sample.html
Labels: none

remove gogo proto annotations from schedulerobjects
  internal/common/pointer/pointer.go
  internal/scheduler/api_test.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/encoding_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  magefiles/airflow.go
  pkg/executorapi/util.go
  pkg/executorapi/util_test.go
Labels: build, scheduler

fix: use relative urls in _layouts/redirect.html when not an external url
  _layouts/redirect.html
Labels: none

Update some dependencies
  go.mod
  go.sum
  internal/common/auth/oidc.go
  internal/common/auth/oidc_test.go
Labels: none

Update to go 1.24 (#4268)
  .github/actions/setup-go-cache/action.yml
  .github/workflows/lint.yml
  .goreleaser.yml
  build/armada-load-tester/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/bundles/armada/Dockerfile
  build/bundles/full/Dockerfile
  build/bundles/lookout/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/loadtester/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/server/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  e2e/armadactl_test/armadactl_test.go
  go.mod
  internal/armadactl/queue.go
  internal/binoculars/service/cordon.go
  internal/common/startup.go
  internal/scheduler/api.go
  internal/server/submit/submit.go
  magefiles/airflow.go
  magefiles/cmd.go
  scripts/merge_swagger/merge_swagger.go
  third_party/airflow/README.md
  tools.yaml
Labels: build, armadactl, scheduler

Add workflow to publish Scala client to Maven
  .github/workflows/scala-client-release-to-maven.yml
Labels: none

Add environment to get access to secrets
  .github/workflows/scala-client-release-to-maven.yml
  client/scala/armada-scala-client/build.sbt
Labels: none

Complete project infos, publish with sbt-ci-release plugin
  .github/workflows/scala-client-release-to-maven.yml
  client/scala/armada-scala-client/build.sbt
  client/scala/armada-scala-client/project/plugins.sbt
Labels: none

Amend client README.md
  client/scala/armada-scala-client/README.md
Labels: none

Fix after merge with master
  .github/workflows/scala-client-release-to-maven.yml
Labels: none

Add more devs to the build.sbt
  client/scala/armada-scala-client/build.sbt
Labels: none

Align organization with Java client package
  client/scala/armada-scala-client/build.sbt
Labels: none

[Website] fix: support deployment on forks GitHub Pages (#4281)
  _config.yml
  _includes/home-sample.html
  _layouts/redirect.html
Labels: none

Fix typo in scala client README.md
  client/scala/armada-scala-client/README.md
Labels: none

Update some dependencies
  go.mod
  go.sum
Labels: none

Update go-oidc to version 3
  go.mod
  go.sum
  internal/common/auth/oidc.go
  internal/common/auth/oidc_test.go
  pkg/client/auth/oidc/client_credentials.go
  pkg/client/auth/oidc/password.go
  pkg/client/auth/oidc/pkce.go
Labels: none

revert k8s libs back to 0.26
  go.mod
  go.sum
Labels: none

fix version clash
  go.mod
  go.sum
Labels: none

Add workflow to publish Scala client to Maven (#4228)
  .github/workflows/scala-client-release-to-maven.yml
  client/scala/armada-scala-client/README.md
  client/scala/armada-scala-client/build.sbt
  client/scala/armada-scala-client/project/plugins.sbt
Labels: none

Update Direct Dependencies To Latest Version (#4282)
  go.mod
  go.sum
Labels: none

fix version clash
  magefiles/goreleaser.go
Labels: build

merge master
  go.mod
  go.sum
Labels: none

remove old version
  go.mod
  go.sum
  pkg/client/auth/oidc/device.go
Labels: none

fix test
  pkg/executorapi/util_test.go
Labels: none

Update go-oidc to version 3 (#4283)
  go.mod
  go.sum
  internal/common/auth/oidc.go
  internal/common/auth/oidc_test.go
  pkg/client/auth/oidc/client_credentials.go
  pkg/client/auth/oidc/device.go
  pkg/client/auth/oidc/password.go
  pkg/client/auth/oidc/pkce.go
Labels: none

Use central portal host to publish to maven
  client/scala/armada-scala-client/build.sbt
Labels: none

Remove GogoProto From Scheduler Objects (#4280)
  internal/common/pointer/pointer.go
  internal/scheduler/api_test.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/encoding_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/executorapi/util.go
  pkg/executorapi/util_test.go
Labels: scheduler
