Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

proto
  internal/scheduler/simulator/simulator.pb.go
Labels: none

testlint
  internal/scheduler/internaltypes/node_test.go
Labels: none

Scheduler: make taints and labels on Node immutable, intern their strings
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/kubernetesobjects/label/label.go
  internal/scheduler/kubernetesobjects/label/label_test.go
  internal/scheduler/kubernetesobjects/taint/taint.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Scheduler: make taints and labels on Node immutable, intern their strings (#3512)
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/kubernetesobjects/label/label.go
  internal/scheduler/kubernetesobjects/label/label_test.go
  internal/scheduler/kubernetesobjects/taint/taint.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Linting, fixing integration tests (#116)
  .run/Event Ingester.run.xml
  cmd/armadactl/cmd/config.go
  cmd/armadactl/cmd/config_test.go
  e2e/config/armadactl_config.yaml
  magefiles/ci.go
  pkg/client/command_line.go
Labels: build

Merging master into branch (#117)
  .mergify.yml
  MAINTAINERS.md
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/oidc.ts
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/kubernetesobjects/label/label.go
  internal/scheduler/kubernetesobjects/label/label_test.go
  internal/scheduler/kubernetesobjects/taint/taint.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/testsuite/app.go
  internal/testsuite/submitter/submitter.go
  internal/testsuite/testrunner.go
Labels: scheduler, testsuite

doc
  magefiles/proto.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
Labels: build, proto

remove swagger annotations
  pkg/api/job.proto
Labels: proto

remove swagger annotations
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
Labels: proto

update dotnet
  client/DotNet/Armada.Client/ClientGenerated.cs
Labels: none

update dotnet
  go.mod
  go.sum
  internal/armada/repository/queue.go
  internal/armada/server.go
  internal/lookoutv2/schema/migrations/006_queue.sql
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: server, scheduler

add queue cache
  internal/scheduler/queue_cache.go
Labels: scheduler

update
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics.go
  internal/scheduler/queue_cache.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

update
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

linting
  internal/armada/repository/queue.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/mocks/queue_cache.go
  internal/scheduler/mocks/queue_repository.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue/queue_cache.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

unit test
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/queue/queue_cache.go
  internal/scheduler/queue/queue_cache_test.go
Labels: none

test fix
  internal/armada/server.go
  magefiles/main.go
Labels: build, server

Implementing Armadactl contexts, with documentation (#3513)
  .run/Event Ingester.run.xml
  cmd/armada-load-tester/cmd/loadtest.go
  cmd/armadactl/cmd/config.go
  cmd/armadactl/cmd/config_test.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/root.go
  cmd/armadactl/cmd/testdata/test_config.yaml
  cmd/testsuite/cmd/root.go
  docs/demo.md
  e2e/armadactl_test/armadactl_test.go
  e2e/config/armadactl_config.yaml
  magefiles/ci.go
  pkg/client/command_line.go
  pkg/client/connection.go
  pkg/client/queue/create.go
  pkg/client/queue/delete.go
  pkg/client/queue/get.go
  pkg/client/queue/update.go
Labels: build, docs

Expose the query api via rest (#3496)
  client/DotNet/Armada.Client/ClientGenerated.cs
  magefiles/proto.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/job.pb.go
  pkg/api/job.pb.gw.go
  pkg/api/job.proto
Labels: build, proto

Add queue column to runs table + simplify query
  internal/scheduler/database/migrations/008_add_run_preemption_requested.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Remove unused reason field
  client/DotNet/Armada.Client/ClientGenerated.cs
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Remove unused reason field
  internal/armada/server/submit_to_log.go
Labels: none

Test job run field
  internal/scheduler/jobdb/job_run_test.go
Labels: none

Remove unused armadactl code
  pkg/client/command_line.go
  pkg/client/command_line_test.go
Labels: none

Improve node eviction efficiency
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Adding endpoint to allow requesting a job be preempted (#3494)
  client/DotNet/Armada.Client/ClientGenerated.cs
  cmd/armadactl/cmd/preempt.go
  cmd/armadactl/cmd/root.go
  internal/armada/permissions/permissions.go
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/apimessages/conversions_test.go
  internal/armada/server/submit_to_log.go
  internal/armadactl/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/migrations/008_add_run_preemption_requested.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/event_util.go
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/client/queue/permission_verb.go
Labels: proto, armadactl, scheduler, scheduleringester

fix tests
  internal/armada/submit/conversion/post_process_test.go
  internal/armada/submit/validation/validation.go
Labels: none

remove ingress config
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/submit/conversion/conversions.go
Labels: none

fix unit tests
  internal/armada/submit/conversion/conversions_test.go
  internal/armada/submit/testfixtures/test_fixtures.go
Labels: none

merge master
  internal/armada/submit/submit.go
Labels: none

fix submitcheck
  internal/scheduler/submitcheck.go
Labels: scheduler

update terminationgrace period
  internal/armada/submit/validation/validation.go
Labels: none

fix test
  internal/armada/submit/validation/validation_test.go
Labels: none

remove suffixes
  internal/armada/submit/conversion/conversions.go
  internal/armada/submit/conversion/conversions_test.go
Labels: none

typos
  internal/armada/submit/conversion/post_process.go
  internal/armada/submit/deduplication_test.go
  internal/armada/submit/submit.go
  internal/armada/submit/validation/validation.go
Labels: none

remove msg filtering
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/schedulers/scheduler.go
  internal/scheduleringester/ingester.go
Labels: scheduleringester

remove test
  internal/common/schedulers/scheduler.go
  internal/common/schedulers/scheduler_test.go
Labels: none

Remove msg filtering (read side) (#3516)
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/schedulers/scheduler.go
  internal/common/schedulers/scheduler_test.go
  internal/scheduleringester/ingester.go
Labels: scheduleringester

Remove unused armadactl code (#3514)
  pkg/client/command_line.go
  pkg/client/command_line_test.go
Labels: none

Improve node eviction efficiency (#3515)
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler
