Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

debug dotnet-client ci (#2500)
  .circleci/config.yml
Labels: none

snackbar feedback
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
Labels: none

Run `gofumpt`
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

better error message
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
Labels: none

Use shared test fixtures for scheduling algo (#2502)
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Update config.yml
  .circleci/config.yml
Labels: none

Update config.yml
  .circleci/config.yml
Labels: none

Update config.yml
  .circleci/config.yml
Labels: none

fix dotnet release (#2504)
  .circleci/config.yml
Labels: none

Provide magefile target to start or stop an airflow instance integrated with armada localdev
  localdev/airflow/.env
  localdev/airflow/.gitignore
  localdev/airflow/Dockerfile
  localdev/airflow/dags
  localdev/airflow/docker-compose.yaml
  magefiles/airflow.go
  magefiles/utils.go
Labels: build

Ignore vim swap files
  .gitignore
Labels: none

Update localdev/airflow dockerfile to allow installing locally editable armada-{client,airflow} python packages
  localdev/airflow/Dockerfile
Labels: none

Remove unneeded RUN ls
  localdev/airflow/Dockerfile
Labels: none

proved restart target for magefile airflow
  magefiles/airflow.go
  magefiles/utils.go
  third_party/airflow/armada_airflow/__init__.py
  third_party/airflow/armada_airflow/jobservice/__init__.py
  third_party/airflow/armada_airflow/operators/__init__.py
  third_party/airflow/armada_airflow/operators/armada.py
  third_party/airflow/armada_airflow/operators/armada_deferrable.py
  third_party/airflow/armada_airflow/operators/jobservice.py
  third_party/airflow/armada_airflow/operators/jobservice_asyncio.py
  third_party/airflow/armada_airflow/operators/utils.py
  third_party/airflow/armada_airflow/provider.yaml
Labels: build

Stay at armada
  third_party/airflow/armada/__init__.py
  third_party/airflow/armada/jobservice/__init__.py
  third_party/airflow/armada/operators/__init__.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/jobservice.py
  third_party/airflow/armada/operators/jobservice_asyncio.py
  third_party/airflow/armada/operators/utils.py
  third_party/airflow/armada/provider.yaml
Labels: none

this seems to work without changing armada-airflow's import name :shrug:
  localdev/airflow/Dockerfile
  localdev/airflow/docker-compose.yaml
  localdev/airflow/init.sh
  magefiles/airflow.go
Labels: build

Localdev airflow environment with mage (#2468)
  .gitignore
  localdev/airflow/.env
  localdev/airflow/.gitignore
  localdev/airflow/Dockerfile
  localdev/airflow/dags
  localdev/airflow/docker-compose.yaml
  localdev/airflow/init.sh
  magefiles/airflow.go
  magefiles/utils.go
Labels: build

Set correct per-queue job priority in test fixtures
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Set correct per-queue job priority in test fixtures (#2506)
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

duplicate checks in constraints
  internal/scheduler/constraints/constraints.go
Labels: none

Add a failing test
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Use the priority class instead of the per-queue priority
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Use Go style
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Return an error if the priority class mapping is empty
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Include the list of keys in the error
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Use `errors.Errorf`
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Shorter line
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Documented lookout ui change
  docs/developer.md
  magefiles/main.go
Labels: build, docs

Quick addition
  docs/developer/ui.md
Labels: none

duplicate checks in constraints (#2508)
  internal/scheduler/constraints/constraints.go
Labels: none

Use correct priority to compute allocated resources (#2512)
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Fix worker exec command
  localdev/airflow/docker-compose.yaml
Labels: none

Fix worker exec command (#2514)
  localdev/airflow/docker-compose.yaml
Labels: none

Lookout v2 API enable grouping by annotations
  internal/lookoutv2/repository/common.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Add tolerations to server helm chart
  deployment/armada/templates/deployment.yaml
Labels: none

Update deployment.yaml
  deployment/binoculars/templates/deployment.yaml
Labels: none

Update deployment.yaml
  deployment/event-ingester/templates/deployment.yaml
Labels: none

Update deployment.yaml
  deployment/executor/templates/deployment.yaml
Labels: none

Update statefulset.yaml
  deployment/jobservice/templates/statefulset.yaml
Labels: none

Update deployment.yaml
  deployment/lookout-ingester-v2/templates/deployment.yaml
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
