Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

update ci use dir names instead of test run struct
  magefiles/ci.go
Labels: build

update ci to name junit file when suite is one test
  magefiles/ci.go
Labels: build

preempted is not a terminal event, though it is a terminal state
  internal/testsuite/eventwatcher/eventwatcher.go
  testsuite/testcases/node/node_preempt_by_name_1x5.yaml
Labels: none

deprecate unused fields, wrap existing messages
  pkg/api/testspec.proto
Labels: proto

JobPreemptRequest and JobReprioritizeConfig don't have corresponding JobSet messages, needs a flag
  pkg/api/testspec.proto
Labels: proto

refactor testrunner to reflect changes in test cases
  internal/testsuite/testrunner.go
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/preemption/preempt_by_id_1x1.yaml
  testsuite/testcases/preemption/preempt_by_ids_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: testsuite

generate proto
  pkg/api/testspec.pb.go
Labels: proto

Replace sleep-based synchronization in executor reporter tests (#5046)
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

feat(airflow): raise structured exception when job fails without retry (#5050)
  third_party/airflow/armada/_compat.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

K8s debug events captured whenever main container doesn't start (#5028)
  internal/executor/application.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/reporter/debug.go
  internal/executor/reporter/debug_test.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_util.go
  internal/lookout/repository/getjobrundebugmessage.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduleringester/instructions.go
  internal/server/event/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/jobid.go
Labels: executor, scheduleringester

Add category-based retry policy engine and RetryPolicy API resource (#4998)
  client/rust/src/gen/api.rs
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/retry/cache.go
  internal/scheduler/retry/cache_test.go
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/convert_test.go
  internal/scheduler/retry/doc.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/matcher.go
  internal/scheduler/retry/types.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/deserialize.go
  pkg/api/deserialize_test.go
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
Labels: proto

Classify retryable pod failures on the lease-return path (#5038)
  internal/executor/metrics/metrics.go
  internal/executor/reporter/event.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Convert AwayPools to be objects rather than strings (#5006)
  internal/common/config/hooks.go
  internal/common/config/hooks_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduling/reconciliation.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Make executor tests race-detector clean (#5026)
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/reporter/mocks/testfixtures.go
  internal/executor/service/job_state_reporter_test.go
Labels: none

job cancelled events as a scheduler termination reason (#4990)
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/040_add_cancel_reason.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/reconciliation_test.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler, scheduleringester

Delete failed pods matching a Delete-action category so retries can reuse the name (#4999)
  internal/common/errormatch/doc.go
  internal/common/errormatch/types.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/types.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Fix data races in failed-pod debug message tests (#5043)
  internal/executor/service/job_state_reporter_test.go
Labels: none

Enable govet in golangci-lint and fix all findings (#5045)
  .golangci.yml
  cmd/armada-load-tester/cmd/loadtest.go
  internal/common/auth/basic_test.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/executor/reporter/event_sender_test.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/client/submit.go
Labels: none

split test runs for jobs that need to be running concurrently (#5034)
  .github/workflows/test.yml
  magefiles/ci.go
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/preemption/preempt_by_id_1x1.yaml
  testsuite/testcases/preemption/preempt_by_ids_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: build

Fix data races in topic delay monitor test (#5044)
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add Integration testing for reprioritization by job_id/job_set (#5022)
  internal/testsuite/testrunner.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  testsuite/testcases/basic/reprioritize_by_id_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x5.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x5.yaml
Labels: proto, testsuite

add trigger event when testing events
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/preemption/preempt_by_id_1x1.yaml
  testsuite/testcases/preemption/preempt_by_ids_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: none

remove default behavior
  internal/testsuite/testrunner.go
Labels: testsuite

docs: archive deprecated pages, fix internal links, formatting, and spelling
  website/README.md
  website/_archive/understanding-armada/meta.json
  website/content/docs/developer-guide.mdx
  website/content/docs/meta.json
  website/content/index.mdx
  website/content/meta.json
  website/dict/armada.txt
  website/src/app/(docs)/[[...slug]]/page.tsx
  website/src/components/logo.tsx
Labels: none

fix: resolve community card to absolute /contribute/community path
  website/content/contribute/index.mdx
Labels: none

lookout: requestor-related lookout and ingester changes
  internal/common/auth/basic_test.go
  internal/common/ingest/testfixtures/event.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/lookout/conversions/convert_test.go
  internal/lookout/model/model.go
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/repository/tables.go
  internal/lookout/repository/util.go
  internal/lookout/schema/migrations/035_add_preempt_and_reprioritize_users.sql
  internal/lookout/swagger.yaml
  internal/lookouthc/schema/schema.go
  internal/lookouthc/schema/target_schema.sql
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
  internal/scheduler/scheduler.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_repository_test.go
  internal/server/submit/deduplication_test.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, lookout, scheduler

requestor: remaining non-armadactl changes
  cmd/armada-load-tester/cmd/loadtest.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/039_add_requestor.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/executor/executor.go
  internal/server/node/node.go
  internal/server/queue/queue_repository_test.go
  internal/server/queue/queue_service.go
  internal/server/submit/submit.go
  internal/server/submit/testfixtures/test_fixtures.go
  internal/testsuite/eventwatcher/eventwatcher.go
  magefiles/ci.go
  pkg/client/submit.go
Labels: build, scheduler, scheduleringester

requestor: minimize delta by dropping unrelated and test-only changes
  cmd/armada-load-tester/cmd/loadtest.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/scheduler/kubernetesobjects/taint/taint_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/event/conversion/conversions_test.go
  internal/server/queue/queue_repository_test.go
  internal/server/submit/testfixtures/test_fixtures.go
  internal/testsuite/eventwatcher/eventwatcher.go
  magefiles/ci.go
  pkg/client/submit.go
Labels: build, scheduler, scheduleringester

Lookout pruner: repair lease-returned/lease-expired zombie jobs
  cmd/lookout/main.go
  config/lookout/config.yaml
  internal/lookout/configuration/types.go
  internal/lookout/pruner/doc.go
  internal/lookout/pruner/pruner.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: lookout

comment
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
  internal/lookout/repository/util.go
Labels: none

comments
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: none

feat: support pod-level resources (KEP-2837)
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/scheduler/api.go
  internal/server/configuration/types.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

utc
  internal/lookout/pruner/pruner.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: none

Add buildInUsePriorityClasses helper for per-round nodeDb priority classes
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Compute per-round nodeDb priority classes from in-use jobs
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Add Node.RemoveJob
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

Remove superseded in-place accounting functions from nodedb
  internal/scheduler/nodedb/nodedb.go
Labels: none

Add Node.EvictJob
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

Route NodeDb job accounting through new Node methods
  internal/scheduler/nodedb/nodedb.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
