Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Handle nodes becoming overallocated due to unexpected node resource changes
  internal/scheduler/internaltypes/node.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Update JobsTableContainer.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
Labels: none

Update JobsTableActionBar.tsx
  internal/lookoutui/src/components/lookout/JobsTableActionBar.tsx
Labels: none

Lookout UI: fix filter type display strings
  internal/lookoutui/src/components/lookout/JobsTableFilter.tsx
Labels: none

Lookout UI: make "clear filters" button also clear sorting (#4391)
  internal/lookoutui/src/components/lookout/JobsTableActionBar.tsx
  internal/lookoutui/src/containers/lookout/JobsTableContainer.tsx
Labels: none

Lookout UI: fix filter type display strings (#4392)
  internal/lookoutui/src/components/lookout/JobsTableFilter.tsx
Labels: none

More detailed preemption message when using market based scheduling (#4386)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/optimiser/gang_scheduler.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Add some basic logging around fetching job/rows from the scheduler db (#4387)
  internal/scheduler/database/job_repository.go
Labels: none

Fix billing for away jobs scheduled and preempted in the same round (#4388)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Fix unit test
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Ensure non-preemptible running jobs return correct bid price (#4383)
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: scheduler

Update Lookout UI dependencies and lint config (#414)
  .github/workflows/test.yml
  internal/lookoutui/README.md
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/package.json
  internal/lookoutui/src/components/LocaleSelector.tsx
  internal/lookoutui/src/components/fontAwesomeIcons.tsx
  internal/lookoutui/src/components/job-sets/JobSetTable.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobYaml.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabScheduling.tsx
  internal/lookoutui/src/models/jobsTableModels.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGroupJobsService.ts
  internal/lookoutui/src/services/lookout/useGetJobSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetQueueSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/tsconfig.json
  internal/lookoutui/yarn.lock
Labels: none

Update yarn.lock
  internal/lookoutui/yarn.lock
Labels: none

Update Lookout UI dependencies and lint config (#414) (#4393)
  .github/workflows/test.yml
  internal/lookoutui/README.md
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/package.json
  internal/lookoutui/src/components/LocaleSelector.tsx
  internal/lookoutui/src/components/fontAwesomeIcons.tsx
  internal/lookoutui/src/components/job-sets/JobSetTable.tsx
  internal/lookoutui/src/components/lookout/CancelDialog.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabJobYaml.tsx
  internal/lookoutui/src/components/lookout/sidebar/SidebarTabScheduling.tsx
  internal/lookoutui/src/models/jobsTableModels.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGroupJobsService.ts
  internal/lookoutui/src/services/lookout/useGetJobSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetQueueSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetSchedulingReport.ts
  internal/lookoutui/src/services/lookout/useGetUiConfig.ts
  internal/lookoutui/tsconfig.json
  internal/lookoutui/yarn.lock
Labels: none

Add unit test
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

Improve spot price calculation when there are cordoned/stale clusters (#4389)
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

Update docs in developer folder
  docs/developer/api.md
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/oidc.md
  docs/developer/pprof.md
  docs/developer/setting-up-oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
Labels: none

Fix typo
  docs/developer/using-pprof.md
Labels: none

Update wording
  docs/developer/armada-api.md
Labels: none

Update wording
  docs/developer/armada-api.md
Labels: none

Add final edits
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/setting-up-oidc.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
Labels: none

Apply tech author recommendations to repo docs
  docs/armada_helm_charts.md
  docs/auth.md
  docs/client_libraries.md
  docs/consistency.md
  docs/creating_and_submitting_jobs.md
  docs/developer_guide.md
  docs/docs-readme.md
  docs/floating_resources.md
  docs/helm.md
  docs/libraries.md
  docs/maintaining_consistency_across_views.md
  docs/python_airflow_operator.md
  docs/python_armada_client.md
  docs/scheduling_and_preempting_jobs.md
  docs/system_overview.md
Labels: docs

Delete duplicate files
  docs/developer.md
  docs/developer_guide.md
  docs/user.md
Labels: docs

Align page titles and filenames
  docs/armada_airflow_operator.md
  docs/armada_client_package.md
  docs/scheduling_and_preempting_jobs.md
Labels: docs

Remove broken link
  docs/developer_guide.md
Labels: docs

Apply tech author recommendations to gh-pages docs
  api.md
  architecture.md
  armada-api.md
  armada_airflow_operator.md
  armada_client_package.md
  armada_demo.md
  armada_helm_charts.md
  auth.md
  client_libraries.md
  consistency.md
  creating_and_submitting_jobs.md
  developer.md
  developer_guide.md
  development.md
  development_guide.md
  floating_resources.md
  helm.md
  kubernetes_native_auth.md
  libraries.md
  maintaining_consistency_across_views.md
  priority.md
  priority_algorithm.md
  production-install.md
  production.md
  scheduling_and_preempting_jobs.md
  system_overview.md
  user.md
Labels: none

Fix typo
  client_libraries.md
Labels: none

Add to metrics
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

docs(website): add toc
  website/content/index.mdx
  website/content/overview.mdx
Labels: none

Update docs in `developer` folder (#4382)
  docs/developer/api.md
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/oidc.md
  docs/developer/pprof.md
  docs/developer/setting-up-oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
Labels: none

Apply tech author recommendations to quickstart docs (#4385)
  api.md
  architecture.md
  armada-api.md
  armada_airflow_operator.md
  armada_client_package.md
  armada_demo.md
  armada_helm_charts.md
  auth.md
  client_libraries.md
  consistency.md
  creating_and_submitting_jobs.md
  developer.md
  developer_guide.md
  development.md
  development_guide.md
  floating_resources.md
  helm.md
  kubernetes_native_auth.md
  libraries.md
  maintaining_consistency_across_views.md
  priority.md
  priority_algorithm.md
  production-install.md
  production.md
  scheduling_and_preempting_jobs.md
  system_overview.md
  user.md
Labels: none

Apply tech author recommendations to repo docs (#4384)
  docs/armada_airflow_operator.md
  docs/armada_client_package.md
  docs/armada_helm_charts.md
  docs/auth.md
  docs/client_libraries.md
  docs/consistency.md
  docs/creating_and_submitting_jobs.md
  docs/developer.md
  docs/developer_guide.md
  docs/docs-readme.md
  docs/floating_resources.md
  docs/helm.md
  docs/libraries.md
  docs/maintaining_consistency_across_views.md
  docs/scheduling_and_preempting_jobs.md
  docs/system_overview.md
  docs/user.md
Labels: docs

Add tests + comment
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Revert "Apply tech author recommendations to repo docs (#4384)"
  docs/armada_helm_charts.md
  docs/auth.md
  docs/client_libraries.md
  docs/consistency.md
  docs/creating_and_submitting_jobs.md
  docs/developer.md
  docs/developer_guide.md
  docs/docs-readme.md
  docs/floating_resources.md
  docs/helm.md
  docs/libraries.md
  docs/maintaining_consistency_across_views.md
  docs/python_airflow_operator.md
  docs/python_armada_client.md
  docs/scheduler.md
  docs/system_overview.md
  docs/user.md
Labels: docs

Revert "Update docs in `developer` folder (#4382)"
  docs/developer/api.md
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/oidc.md
  docs/developer/pprof.md
  docs/developer/setting-up-oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
Labels: none

Ignore events in ingesters
  internal/lookoutingester/instructions/instructions.go
  internal/server/event/conversion/conversions.go
Labels: none

Remove JobUnableToScheduleEvent
  internal/common/ingest/testfixtures/event.go
  internal/lookout/repository/util.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/metrics/state_metrics.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/event_util.go
  pkg/api/util.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/client/domain/watch.go
Labels: proto

Update DAG parameter (schedule_interval -> schedule)
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/examples/hello_armada_deferrable.py
Labels: none

Update DAG parameter (schedule_interval -> schedule)
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/examples/hello_armada_deferrable.py
Labels: none

Revert docs prs for the moment (broken links) (#4394)
  docs/armada_helm_charts.md
  docs/auth.md
  docs/client_libraries.md
  docs/consistency.md
  docs/creating_and_submitting_jobs.md
  docs/developer.md
  docs/developer/api.md
  docs/developer/armada-api.md
  docs/developer/developing-locally.md
  docs/developer/oidc.md
  docs/developer/pprof.md
  docs/developer/setting-up-oidc.md
  docs/developer/ui.md
  docs/developer/usage_metrics.md
  docs/developer/using-pprof.md
  docs/developer/website.md
  docs/developer_guide.md
  docs/docs-readme.md
  docs/floating_resources.md
  docs/helm.md
  docs/libraries.md
  docs/maintaining_consistency_across_views.md
  docs/python_airflow_operator.md
  docs/python_armada_client.md
  docs/scheduler.md
  docs/system_overview.md
  docs/user.md
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/examples/hello_armada_deferrable.py
Labels: docs

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
