Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix: add test
  internal/lookout/repository/getjobrunschedulerterminationreason_test.go
  internal/lookout/repository/util.go
Labels: none

fix: scheduler over-packs nodes when lower-priority incumbents are non-preemptible (#4879)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

fix: col nil if all args empty
  internal/lookoutingester/instructions/instructions.go
Labels: none

Fix stale metrics from non-leader scheduler replicas (#4904)
  deployment/armada/templates/prometheusrule.yaml
  internal/scheduler/leader/leader_metrics.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Use eventingesters redis client
  config/eventingester/config.yaml
  internal/eventingester/configuration/types.go
  internal/eventingester/ingester.go
Labels: eventingester

Support optional schema creation in database migrators
  cmd/lookout/main.go
  cmd/scheduler/cmd/migrate_database.go
  internal/common/database/doc.go
  internal/common/database/schema.go
  internal/common/database/schema_test.go
  internal/lookout/configuration/types.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/util.go
Labels: lookout

comments
  cmd/lookout/main.go
  internal/common/database/schema.go
  internal/common/database/schema_test.go
  internal/lookouthc/schema/schema.go
  internal/scheduler/database/util.go
Labels: lookout

Improve postgres statistics on queue/jobset column - scheduler db
  internal/scheduler/database/migrations/037_add_queue_jobset_statistics.sql
Labels: none

Improve postgres statistics on queue/jobset column - scheduler db (#4914)
  internal/scheduler/database/migrations/037_add_queue_jobset_statistics.sql
Labels: none

Extract leader election
  internal/eventingester/ingester.go
  internal/leaderelection/leaderelection.go
  internal/leaderelection/leaderelection_test.go
  internal/scheduler/schedulerapp.go
Labels: eventingester, scheduler

comments
  internal/common/database/schema.go
  internal/common/database/schema_test.go
Labels: none

Fix broken URLs and YAML example in user docs
  docs/client_libraries.md
  docs/creating_and_submitting_jobs.md
Labels: docs

Display Armada release version on Lookout settings page
  .goreleaser.yml
  build/bundles/full/Dockerfile
  build/lookout/Dockerfile
  internal/lookout/application.go
  internal/lookout/doc.go
  internal/lookout/gen/models/version_info.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/gen/restapi/operations/get_version.go
  internal/lookout/gen/restapi/operations/get_version_parameters.go
  internal/lookout/gen/restapi/operations/get_version_responses.go
  internal/lookout/gen/restapi/operations/get_version_urlbuilder.go
  internal/lookout/gen/restapi/operations/lookout_api.go
  internal/lookout/swagger.yaml
  internal/lookout/version/doc.go
  internal/lookout/version/version.go
  internal/lookout/version_handler.go
  internal/lookout/version_handler_test.go
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/pages/settings/about/AboutPage.test.tsx
  internal/lookoutui/src/pages/settings/about/AboutPage.tsx
  internal/lookoutui/src/pages/settings/components/SettingsNav.tsx
  internal/lookoutui/src/pathnames.ts
  internal/lookoutui/src/services/lookout/useGetBackendVersion.ts
  internal/lookoutui/src/vite-env.d.ts
Labels: lookout

Bump migration
  internal/scheduler/database/migrations/038_add_job_specs_table.sql
Labels: none

Write to job_specs table prior to migration
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
Labels: none

Migrate from jobs to job_specs
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/migrations/038_backfill_job_specs.sql
  internal/scheduleringester/config.go
Labels: scheduleringester

Bump migration
  internal/scheduler/database/migrations/039_backfill_job_specs.sql
Labels: none

comments
  .goreleaser.yml
  internal/lookoutui/src/pages/settings/about/AboutPage.test.tsx
  internal/lookoutui/src/services/lookout/useGetBackendVersion.ts
Labels: none

Support optional schema creation in database migrators (#4911)
  cmd/lookout/main.go
  cmd/scheduler/cmd/migrate_database.go
  internal/common/database/doc.go
  internal/common/database/schema.go
  internal/common/database/schema_test.go
  internal/lookout/configuration/types.go
  internal/lookouthc/schema/schema.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/util.go
Labels: lookout

Rename job_spec to job_metadata
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/job_metadata_migration.go
  internal/scheduler/database/job_metadata_migration_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/job_spec_migration.go
  internal/scheduler/database/migrations/038_add_job_metadata_table.sql
  internal/scheduler/database/migrations/038_add_job_specs_table.sql
  internal/scheduler/database/models.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/config.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/job_metadata_migration_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Adhere to generated model name
  internal/scheduler/database/models.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

chore: add .lscache files to gitignore
  .gitignore
Labels: none

chore: add .lscache files to gitignore (#4919)
  .gitignore
Labels: none

Lookout Ingester: propagate context cancellation from Store() to prevent "zombie" jobs
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

comment
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Scheduler fix: only advance event cursor adter Pulsar publish succeeds
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

comments
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Add SnapshotTxn to JobDb
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

fix: preemptive_job_id was not used but we will use preempting_job_id
  pkg/api/event.pb.go
  pkg/api/event.proto
Labels: proto

fix: rust client
  client/rust/src/gen/api.rs
Labels: none

fix: remove visibleColumnsSet dependency
  internal/lookoutui/src/pages/jobs/components/ColumnConfigurationDialog/index.tsx
Labels: none

update the distinct active state for the Job and Job Sets tab (#4887)
  internal/lookoutui/src/app/NavBar.css
  internal/lookoutui/src/app/NavBar.tsx
Labels: none

Broadside: support partitioning by submitted time feature (#4774)
  cmd/broadside/configs/examples/test-postgres.yaml
  internal/broadside/actions/actor.go
  internal/broadside/configuration/configuration.go
  internal/broadside/configuration/doc.go
  internal/broadside/configuration/validation.go
  internal/broadside/configuration/validation_test.go
  internal/broadside/db/db.go
  internal/broadside/db/doc.go
  internal/broadside/db/historical.go
  internal/broadside/db/partition.go
  internal/broadside/db/postgres.go
  internal/broadside/db/postgres_historical_test.go
  internal/broadside/db/postgres_partitioned.go
  internal/broadside/db/postgres_unit_test.go
  internal/broadside/db/sql/partition_down.sql
  internal/broadside/db/sql/partition_up.sql
  internal/broadside/ingester/ingester.go
  internal/broadside/jobspec/state.go
  internal/broadside/orchestrator/runner.go
Labels: none

Fix error message when pod is preempted
  internal/common/constants.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/reporter/event.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Lookout Ingester: propagate context cancellation from Store() to prevent "zombie" jobs (#4921)
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Formatting
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

Address comments
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

Comments
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

Split submit_message and groups into job_metadata table (#4906)
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/job_metadata_migration.go
  internal/scheduler/database/job_metadata_migration_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/038_add_job_metadata_table.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/config.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/job_metadata_migration_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

LookoutUI: add analytics for columns selected (#4908)
  internal/lookoutui/src/analytics/Analytics.tsx
  internal/lookoutui/src/analytics/index.ts
  internal/lookoutui/src/analytics/trackAnalyticsEvent.ts
  internal/lookoutui/src/analytics/types.ts
  internal/lookoutui/src/pages/jobs/components/ColumnConfigurationDialog/index.tsx
Labels: none
