Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Scheduler: refactor: replace obsolete job.ResourceRequirements
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/simulator/sink/job_writer.go
Labels: none

refactor preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Scheduler: refactor: replace obsolete job.ResourceRequirements (#4051)
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/simulator/sink/job_writer.go
Labels: none

ARMADA-2970 Small simulator improvements (#274) (#4052)
  cmd/simulator/cmd/root.go
  internal/scheduler/simulator/simulator.go
Labels: none

Upgrade client with new grpcio bindings
  third_party/airflow/pyproject.toml
Labels: none

Upgrade client with new grpcio bindings (#4053)
  third_party/airflow/pyproject.toml
Labels: none

Fix preemption reason - fairshare preemption (#4045)
  internal/scheduler/nodedb/nodedb.go
Labels: none

mv SECURITY.md from .github/ to root
  SECURITY.md
Labels: none

Fix Error categorisation logic
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

Scheduler: better diagnostics for unknown preemption reason
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

fix
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

Add new query api methods (#284)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/pyproject.toml
  docs/python_armada_client.md
Labels: docs, client-python

Scheduler: better diagnostics for unknown preemption reason (#4055)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Add new query api methods (#284) (#4056)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/pyproject.toml
  docs/python_armada_client.md
Labels: docs, client-python

Prevent issue handler from trying to handle issues on finished pods
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Synch docs
  docs/python_armada_client.md
Labels: docs

Sync docs
  docs/python_armada_client.md
Labels: docs

Sync docs (#4059)
  docs/python_armada_client.md
Labels: docs

Fix Error categorisation logic (#4054)
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

Airflow operator reattach
  third_party/airflow/armada/hooks.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

Move python_armada_client.md to root
  docs/python_armada_client.md
  python_armada_client.md
Labels: docs

Move python_armada_client.md to root (#4061)
  docs/python_armada_client.md
  python_armada_client.md
Labels: docs

Airflow operator - raise structured exceptions and retrieve job termination reason
  third_party/airflow/armada/hooks.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/errors.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/operators/test_errors.py
Labels: none

fix: build/python-client/Dockerfile to reduce vulnerabilities
  build/python-client/Dockerfile
Labels: none

Airflow operator - reattach to running jobs on retries (disabled by default) (#286)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/pyproject.toml
  third_party/airflow/armada/hooks.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/policies/reattach.py
  third_party/airflow/armada/policies/retry.py
  third_party/airflow/armada/utils.py
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/policies/test_reattach.py
Labels: client-python

Airflow operator - reattach to running jobs on retries (disabled by default)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/pyproject.toml
  third_party/airflow/armada/hooks.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/policies/reattach.py
  third_party/airflow/armada/policies/retry.py
  third_party/airflow/armada/utils.py
  third_party/airflow/test/unit/operators/test_armada.py
  third_party/airflow/test/unit/policies/test_reattach.py
Labels: client-python

Re-attach logic - final fixes
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
Labels: docs

Update armada.py
  third_party/airflow/armada/operators/armada.py
Labels: none

proto
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

price to scheduler
  internal/common/eventutil/eventutil.go
  internal/scheduleringester/instructions.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: scheduleringester

Re-attach logic - final fixes (#4064)
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
Labels: docs

wip
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Fix operator config prefix
  third_party/airflow/armada/utils.py
Labels: none

Update pyproject.toml
  third_party/airflow/pyproject.toml
Labels: none

Fix operator config prefix (#4066)
  third_party/airflow/armada/utils.py
  third_party/airflow/pyproject.toml
Labels: none

Scheduler: per-pool protectedFractionOfFairShare
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Scheduler: per-pool protectedFractionOfFairShare (#4068)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Update CandidateGangIterator ordering (#292)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none
