Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Fix unhandled rejection on the Job Sets page; migrate JobSetsContainer to a functional component
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/src/pages/jobSets/components/CancelJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.test.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.tsx
  internal/lookoutui/src/pages/jobSets/components/ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/services/JobSetsLocalStorageService.ts
  internal/lookoutui/src/services/JobSetsQueryParamsService.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useGetJobSets.ts
Labels: none

comments
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none

comments
  internal/lookoutui/src/common/utils.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
Labels: none

Fix unhandled clipboard rejection in CopyIconButton
  internal/lookoutui/src/components/CopyIconButton.tsx
Labels: none

comment
  internal/lookoutui/src/components/CopyIconButton.tsx
Labels: none

Fix crash on Jobs page from non-array job-table preferences (#4986)
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none

Update test wording
  internal/scheduler/scheduler_test.go
Labels: scheduler

Replace the docs-style Overview homepage with a structured landing page built on Fumadocs components and custom JSX, keeping the existing sidebar and on-this-page TOC.
  website/content/index.mdx
  website/src/app/(docs)/[[...slug]]/page.tsx
Labels: none

Updating website readme to match structure of code
  website/README.md
Labels: none

Fix unhandled clipboard rejection in CopyIconButton (#4988)
  internal/lookoutui/src/components/CopyIconButton.tsx
Labels: none

Fix unhandled rejection on the Job Sets page; migrate JobSetsContainer to a functional component (#4987)
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/src/common/utils.tsx
  internal/lookoutui/src/pages/jobSets/components/CancelJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.test.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.tsx
  internal/lookoutui/src/pages/jobSets/components/ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/services/JobSetsLocalStorageService.ts
  internal/lookoutui/src/services/JobSetsQueryParamsService.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useGetJobSets.ts
Labels: none

Add flags to disable scheduling preemption by type
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

update localdev init to provision HC db in parallel
  _local/compose/postgres-init.sql
  _local/scripts/init.sh
Labels: none

add local configurations for hot/cold lookout
  .run/Lookout HC Ingester.run.xml
  .run/Lookout HC UI.run.xml
  .run/Lookout HC.run.xml
  .run/lookouthcPostgresMigration.run.xml
  _local/lookouthc/config.yaml
  _local/lookouthcingester/config.yaml
  _local/procfiles/auth.Procfile
  _local/procfiles/fake-executor.Procfile
  _local/procfiles/no-auth.Procfile
  cmd/lookouthc/main.go
  config/lookouthc/config.yaml
  example/example-gang-job-preemptible.yaml
  internal/lookoutui/package.json
  internal/lookoutui/vite.config.mts
Labels: docs

remove example job
  example/example-gang-job-preemptible.yaml
Labels: docs

update jetbrains hc migration to apply correct migration
  .run/lookouthcPostgresMigration.run.xml
Labels: none

resolve missing argument
  cmd/lookouthc/main.go
Labels: none

add flag to hc migration
  .run/lookouthcPostgresMigration.run.xml
Labels: none

update default config in hc
  cmd/lookouthc/main.go
Labels: none

remove unnecessary cmd file
  cmd/lookouthc/main.go
Labels: none

update jetbrains configurations for hot/cold
  .run/Armada HC.run.xml
  .run/Binoculars.run.xml
  .run/Lookout HC Ingester.run.xml
  .run/Lookout HC UI.run.xml
  .run/Lookout HC.run.xml
  .run/lookouthcPostgresMigration.run.xml
  config/lookout/config.yaml
  internal/lookoutui/vite.config.mts
Labels: none

use vite cache env variable in procfiles
  _local/procfiles/auth.Procfile
  _local/procfiles/fake-executor.Procfile
  _local/procfiles/no-auth.Procfile
Labels: none

enable running both ui vite servers
  .run/Lookout UI.run.xml
Labels: none

remove explicit port in original procfiles
  _local/procfiles/auth.Procfile
  _local/procfiles/fake-executor.Procfile
  _local/procfiles/no-auth.Procfile
Labels: none

restore original procfiles
  _local/procfiles/auth.Procfile
Labels: none

make separate procfile for hot/cold and add doc
  _local/procfiles/auth.Procfile
  _local/procfiles/fake-executor.Procfile
  _local/procfiles/hot-cold.Procfile
  internal/lookouthc/README.md
Labels: none

readme
  internal/lookouthc/README.md
Labels: none

restore original procfiles
  _local/procfiles/fake-executor.Procfile
Labels: none

Keep pre-urgency-preemption pctx reset unconditional
  internal/scheduler/nodedb/nodedb.go
Labels: none

add openapi step to lookout, update env var, remove escaped quotes
  .run/Lookout HC UI.run.xml
  .run/Lookout UI.run.xml
  _local/procfiles/hot-cold.Procfile
  internal/lookoutui/package.json
  internal/lookoutui/vite.config.mts
Labels: none

add radix to vite port parse
  internal/lookoutui/vite.config.mts
Labels: none

remove more embedded quotes
  .run/Lookout HC.run.xml
Labels: none

Rename new config options
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

add cancel reason to scheduler db and update queries
  internal/scheduler/database/migrations/039_add_cancel_reason.sql
  internal/scheduler/database/query/query.sql
Labels: none

generate proto
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  pkg/armadaevents/events.pb.go
Labels: proto

add reason and requestor fields to job run cancelled event
  pkg/armadaevents/events.proto
Labels: none

add the cancel reason and requestor to both the job run cancelled and job cancelled events
  internal/scheduler/scheduler.go
Labels: scheduler

scheduler ingester now receives CancelJob or CancelJobSet event and persists in scheduler db
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

generate sql
  internal/scheduler/database/db.go
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/server/queryapi/database/db.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
Labels: none

write scheduler_termination_reason for JobRunCancelled when reason or requestor is present
  internal/lookoutingester/instructions/instructions.go
Labels: none
