Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Fix spelling
  internal/executor/fake/context/context.go
Labels: none

postgres fix in process
  internal/jobservice/eventstojobs/eventstojobs.go
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

wip
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

airflow format
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

Verify the postgres cleanup trigger with test
  internal/jobservice/configuration/types.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

wip
  internal/jobservice/eventstojobs/eventstojobs.go
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

Mark runs as cancelled when job is cancelled
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

remove cache routines
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

bug fix on goroutine
  internal/jobservice/application.go
Labels: none

Fix unit test constructors
  internal/executor/fake/context/context.go
  internal/executor/job/submit_test.go
  internal/executor/node/node_group_test.go
  internal/executor/service/job_lease_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Fix lint complaint
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

add back errors to force function to end
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

Feed utilisation data to scheduler
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/metrics.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  pkg/api/queue.pb.go
  pkg/api/queue.proto
  pkg/api/util.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: proto, scheduler

Don't launch purgeJobSets goroutine for PG
  internal/jobservice/application.go
Labels: none

Removing debugging code
  internal/jobservice/repository/postgres.go
Labels: none

Test for event stream subscription with concurrency
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

Lint fix
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

End to end usage metrics
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

wip
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

undo eventstojobs
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

undo changes
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

wip
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

updates
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

WIP for limiting concurrency of stream subscriptions
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

wip
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

lint fix
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

typo
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none

A little more locking on sync Map
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

Fixes from testing armada-scheduler (#2406)
  config/executor/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/executor/fake/application.go
  internal/executor/fake/context/context.go
  internal/executor/job/submit_test.go
  internal/executor/node/node_group_test.go
  internal/executor/service/job_lease_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Mark runs as cancelled when job is cancelled (#2413)
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Add PodRequirementsHash to JobSchedulingInfo (#2376)
  internal/common/hash/pod_requirements.go
  internal/common/hash/pod_requirements_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

Cleaner postgres bug fix (#2404)
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/server/server.go
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

Fix Pulsar-scheduler accounting
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Comments
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Set priority class name override
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Moving sync.Map usage in application.go to eventstojobs.go
  internal/jobservice/application.go
Labels: none

lint and test fix
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

The no-error test is not always true if the context.Done() path is taken
  internal/jobservice/eventstojobs/eventstojobs_test.go
Labels: none

Add jobset purge trigger to sqlite implementation and remove proc
  internal/jobservice/application.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Fix whitespace
  internal/jobservice/repository/sqlite.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
