Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix: build_goreleaser/lookoutv2/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutv2/Dockerfile
Labels: none

fix: build_goreleaser/armadactl/Dockerfile to reduce vulnerabilities
  build_goreleaser/armadactl/Dockerfile
Labels: none

fix: build_goreleaser/testsuite/Dockerfile to reduce vulnerabilities
  build_goreleaser/testsuite/Dockerfile
Labels: none

fix: build_goreleaser/lookoutingester/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutingester/Dockerfile
Labels: none

fix: build_goreleaser/binoculars/Dockerfile to reduce vulnerabilities
  build_goreleaser/binoculars/Dockerfile
Labels: none

fix: build_goreleaser/bundles/lookout/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/lookout/Dockerfile
Labels: none

wip
  internal/armada/server/submit_to_log.go
Labels: none

lint
  internal/armada/server.go
  internal/common/pgkeyvalue/pgkeyvalue.go
  internal/common/pgkeyvalue/pgkeyvalue_test.go
Labels: server

lint
  internal/armada/repository/job.go
  internal/armada/repository/job_test.go
Labels: none

feat: Add componet for sidebar job log header item so as to split the page out into smaller component for efficent debugng and readability
  developer/env/binoculars.env
  developer/env/lookout.env
  developer/env/lookoutv2.env
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
  slow-job-test.yaml
Labels: none

feat: Add module css component for Sidebar Jobs Header Item module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
Labels: none

change: Change load from start check input to button, as it is more interactive being a button than a check
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
Labels: none

feat: Add stylying to job log buttons Added border line on job log details and padding on top left and left for more vissualization
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.module.css
Labels: none

feat: Add route to v2 job log new tab and created job log new tab page
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/ActionButton.tsx
  internal/lookout/ui/src/components/lookoutV2/JobLogDetailTab.module.css
  internal/lookout/ui/src/components/lookoutV2/JobLogDetailTab.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

fix typo: constaint -> constraint (#2837)
  magefiles/docker.go
  magefiles/go.go
  magefiles/kind.go
  magefiles/kubectl.go
  magefiles/protoc.go
  magefiles/sqlc.go
Labels: build

feat: Add styling to new log tab and button functionality to show time stamp
  internal/lookout/ui/src/components/lookoutV2/ActionButton.module.css
  internal/lookout/ui/src/components/lookoutV2/ActionButton.tsx
  internal/lookout/ui/src/components/lookoutV2/JobLogDetailTab.module.css
  internal/lookout/ui/src/components/lookoutV2/JobLogDetailTab.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

feea: Replace key props with keyValue props so key words wont be used for props
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
Labels: none

alpine upgrade
  .goreleaser.yml
Labels: none

Upgrade to ci-alerts to v2
  .github/workflows/slack-alerts.yml
Labels: none

clean: Used React Fragment to group list child and avoid passing key as props
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
Labels: none

upgrade python dependencies
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

fix typo
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/full/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/executor/Dockerfile
  build_goreleaser/fakeexecutor/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/loadtester/Dockerfile
  build_goreleaser/lookout/Dockerfile
  build_goreleaser/lookoutingester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/scheduler/Dockerfile
  build_goreleaser/scheduleringester/Dockerfile
  build_goreleaser/server/Dockerfile
  build_goreleaser/testsuite/Dockerfile
Labels: none

Feat(job summary): Implement Job Summaries for Lint workflow-2
  .github/workflows/lint.yml
Labels: none

Feat(job summary): Implement Job Summaries for Lint workflow-2
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
Labels: none

Feat(job summary): Implement Job Summaries for Lint workflow
  .github/workflows/lint.yml
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
Labels: none

fix: Fix lint errors
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/ActionButton.tsx
  internal/lookout/ui/src/components/lookoutV2/JobLogDetailTab.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogsHeaderItem.tsx
  slow-job-test.yaml
Labels: none

clean: Removed files uses only on local
  developer/env/binoculars.env
  developer/env/lookout.env
  developer/env/lookoutv2.env
Labels: none

upgrade python dependencies (#2860)
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

fix: add more clear instructions to the armada demo page (#2749)
  docs/demo.md
Labels: docs

Updating Github Pages branch with latest Master changes
  demo.md
Labels: none

add mage tests instead of make tests
  .github/workflows/test.yml
Labels: none

add mage tests instead of make tests (#2861)
  .github/workflows/test.yml
Labels: none

Update watch_test.go
  cmd/armadactl/cmd/watch_test.go
Labels: none

Update plugins/armadactl.yml
  plugins/armadactl.yml
Labels: none

Updating Github Pages branch with latest Master changes
  demo.md
Labels: none

Initial commit
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduleringester/instructions.go
  internal/testsuite/app.go
Labels: scheduler, scheduleringester, testsuite

Update internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb.go
Labels: none

Increase queuedVersion
  internal/scheduler/scheduler.go
Labels: scheduler

Increase queuedVersion
  internal/scheduler/scheduling_algo.go
Labels: scheduler

[armada-scheduler] Add log lines to make it easier to see where time is spent
  internal/scheduler/scheduler.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
