Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

revert tests
  magefiles/tests.go
Labels: build

Support Apache Airflow 2.10, 3.1 and 3.2 in the Airflow operator (#4939)
  .github/workflows/airflow-operator.yml
  third_party/airflow/armada/__init__.py
  third_party/airflow/armada/_compat.py
  third_party/airflow/armada/model.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/triggers.py
  third_party/airflow/examples/bad_armada.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/examples/hello_armada.py
  third_party/airflow/examples/hello_armada_deferrable.py
  third_party/airflow/pyproject.toml
  third_party/airflow/scripts/run-tests.sh
  third_party/airflow/test/unit/test_model.py
  third_party/airflow/test/unit/test_triggers.py
Labels: none

log pool results
  internal/scheduler/scheduler.go
Labels: scheduler

Remove unused Airflow extra-link plugin
  third_party/airflow/armada/plugin.py
Labels: none

Make async scheduling configurable + code structure
  internal/scheduler/configuration/configuration.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/runner.go
  internal/scheduler/scheduling/runner_test.go
  internal/scheduler/scheduling/scheduler.go
Labels: scheduler

Remove unused Airflow extra-link plugin (#4948)
  third_party/airflow/armada/plugin.py
Labels: none

revert
  internal/lookout/gen/restapi/operations/group_jobs.go
  internal/lookout/repository/groupjobs_test.go
  magefiles/tests.go
Labels: build

Reset() call on runner
  internal/scheduler/scheduling/runner.go
  internal/scheduler/scheduling/runner_test.go
Labels: none

Hoist executor fetch & reconciliation out of per-pool loop (#4934)
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

remove doccomment
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Write to `job_metadata` table prior to migration (#4912)
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
Labels: none

revert tests.go
  magefiles/tests.go
Labels: build

Apply suggestions from code review
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

remove two tests
  internal/leaderelection/leaderelection_test.go
Labels: none

revert init container checks
  config/executor/config.yaml
  internal/executor/configuration/podchecks/types.go
  internal/executor/podchecks/pod_checks.go
Labels: none

Populate bid pricing details on job creation
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

wip
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Better comment
  internal/scheduler/jobdb/jobdb.go
Labels: none

Fix unit test
  internal/scheduler/scheduler_test.go
Labels: scheduler

Update internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb.go
Labels: none

Make startup fail on failing to get bid prices
  internal/scheduler/schedulerapp.go
Labels: scheduler

Upgrade python client to publish new version with upgraded protobuf libraries (#482)
  client/python/pyproject.toml
Labels: client-python

fix error message
  internal/scheduler/schedulerapp.go
Labels: scheduler

Upgrade python client to publish new version with upgraded protobuf libraries (#4950)
  client/python/pyproject.toml
Labels: client-python

no ignore case
  internal/leaderelection/leaderelection.go
  internal/leaderelection/leaderelection_test.go
Labels: none

Extract leader election (#4915)
  internal/eventingester/configuration/types.go
  internal/eventingester/ingester.go
  internal/eventingester/metrics/redis/collector.go
  internal/eventingester/metrics/redis/collector_test.go
  internal/eventingester/metrics/redis/integration_test.go
  internal/leaderelection/leader.go
  internal/leaderelection/leader_client.go
  internal/leaderelection/leader_client_test.go
  internal/leaderelection/leader_metrics.go
  internal/leaderelection/leader_metrics_test.go
  internal/leaderelection/leader_test.go
  internal/leaderelection/leaderelection.go
  internal/leaderelection/leaderelection_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/reports/leader_proxying_reports_server.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: eventingester, scheduler

WIP - Adding end to end flow
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/runner.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: scheduler

Upgrade python client and airflow operator to work with python3.10, 3.12, 3.14 (#484)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  build/python-client/Dockerfile
  client/python/CONTRIBUTING.md
  client/python/pyproject.toml
  client/python/tox.ini
  third_party/airflow/pyproject.toml
  third_party/airflow/tox.ini
Labels: client-python

Don't skip errored pools
  internal/scheduler/scheduling/runner.go
Labels: none

Update run-tests.sh
  third_party/airflow/scripts/run-tests.sh
Labels: none

Update run-tests.sh
  third_party/airflow/scripts/run-tests.sh
Labels: none

revert changes to run-tests.sh
  third_party/airflow/scripts/run-tests.sh
Labels: none

fix up expected version compatibility matrix
  .github/workflows/airflow-operator.yml
Labels: none

Logging
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/runner.go
Labels: scheduler

Upgrade python client and airflow operator to work with python3.10, 3.12, 3.14 (#484) (#4951)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  build/python-client/Dockerfile
  client/python/CONTRIBUTING.md
  client/python/pyproject.toml
  client/python/tox.ini
  third_party/airflow/pyproject.toml
  third_party/airflow/tox.ini
Labels: client-python

Free disk space in integration test jobs to avoid exhausting small CI runners
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Free disk space in integration test jobs to avoid exhausting small CI runners (#4953)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Populate bid pricing details on job creation (#4949)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Context tests
  internal/scheduler/scheduling/context/queue_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
Labels: none

Add UnscheduleJob and RemoveJob to sctx/qctx
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/queue_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
Labels: none
