Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

wip
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

Improvements to simulation following testing (#260) (#4023)
  cmd/simulator/cmd/root.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/sink/fair_share_writer.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  internal/scheduler/simulator/sink/sink.go
Labels: none

Add tests
  cmd/armadactl/cmd/preempt.go
  internal/armadactl/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/common.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/submit/submit.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, armadactl, scheduler

Add unit tests
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/server/submit/submit_test.go
  internal/server/submit/testfixtures/test_fixtures.go
Labels: none

Improve tests
  internal/scheduler/scheduling/preemption_description_test.go
Labels: none

Fix simulator
  internal/scheduler/simulator/simulator.go
Labels: none

added test for gang preemption
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

lint
  internal/scheduler/simulator/simulator.go
Labels: none

exct number of gang jobs
  internal/scheduler/simulator/simulator.go
Labels: none

const label
  internal/scheduler/simulator/simulator.go
Labels: none

const label
  internal/scheduler/simulator/simulator.pb.go
Labels: none

Undo unrelated change
  internal/scheduler/nodedb/nodedb.go
Labels: none

Make Gang Jobs Work in The simulator (#4024)
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

Fix PreemptedAtPriority in fairshare preemption
  internal/scheduler/nodedb/nodedb.go
Labels: none

Set PreemptingJobId
  internal/scheduler/nodedb/nodedb.go
Labels: none

update a bunch of libraries (#4017)
  go.mod
  go.sum
Labels: none

Update scheduler initialization behavior to avoid OOM
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/modelsext.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/mocks/job_repository.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  magefiles/tests.go
Labels: build, scheduler

lint
  internal/scheduler/database/job_repository.go
  magefiles/tests.go
Labels: build

Add unit tests to scheduler
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Address some comments
  internal/scheduler/database/job_repository.go
  internal/scheduler/scheduler.go
Labels: scheduler

Add assertions for serials
  internal/scheduler/scheduler_test.go
Labels: scheduler

Add post processor that will add a gang id label (#265)
  internal/server/configuration/types.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
Labels: none

Lookout Ingester DB Load Tester (#264)
  cmd/lookoutingesterv2/dbloadtester/main.go
  internal/common/ingest/batch.go
  internal/lookoutingesterv2/dbloadtester/queue.go
  internal/lookoutingesterv2/dbloadtester/simulator.go
  internal/lookoutingesterv2/dbloadtester/test_data.yaml
Labels: none

Lookout Ingester DB Load Tester (#264) (#4028)
  cmd/lookoutingesterv2/dbloadtester/main.go
  internal/common/ingest/batch.go
  internal/lookoutingesterv2/dbloadtester/queue.go
  internal/lookoutingesterv2/dbloadtester/simulator.go
  internal/lookoutingesterv2/dbloadtester/test_data.yaml
Labels: none

Address comments
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/mocks/job_repository.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Add post processor that will add a gang id label (#265) (#4029)
  internal/server/configuration/types.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
Labels: none

Update scheduler initialization behavior to avoid OOM (#4026)
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/modelsext.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/mocks/job_repository.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  magefiles/tests.go
Labels: build, scheduler

document TrackedNodeLabels and ToleratedTaints executor config fields
  internal/executor/configuration/types.go
Labels: none

document TrackedNodeLabels and ToleratedTaints executor config fields (#4030)
  internal/executor/configuration/types.go
Labels: none

[Simulator] Allow JobTemplates To Be Repeated (#267)
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
Labels: none

F/chrisma/simulator repeated submission (#269)
  internal/scheduler/simulator/simulator.go
Labels: none

Update simulator.go
  internal/scheduler/simulator/simulator.go
Labels: none

[Simulator] Allow JobTemplates To Be Repeated (#4031)
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
Labels: none

Cancelling and preempting by executor
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/preempt.go
  developer/config/insecure-armada.yaml
  internal/armadactl/app.go
  internal/armadactl/cancel.go
  internal/armadactl/preempt.go
  internal/scheduler/database/query.sql.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/schedulerdb.go
  internal/server/executor/executor.go
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/client/executor/cancel.go
  pkg/client/executor/preempt.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, armadactl, scheduleringester

Adding tests
  internal/common/ingest/testfixtures/event.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

Removing unused proto
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto

Scheduler: refactor, add ResourceFractionList
  internal/scheduler/internaltypes/resource_fraction_list.go
  internal/scheduler/internaltypes/resource_fraction_list_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Removing legacy scheduler run configuration (#270)
  .run/Armada.run.xml
Labels: none

Scheduler: refactor, add ResourceFractionList (#4032)
  internal/scheduler/internaltypes/resource_fraction_list.go
  internal/scheduler/internaltypes/resource_fraction_list_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: none

Removing legacy scheduler run configuration (#270) (#4033)
  .run/Armada.run.xml
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
