Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

fix merge error
  internal/scheduler/schedulerobjects/nodematching.go
Labels: none

linting
  internal/scheduler/legacyscheduler.go
Labels: scheduler

fix format
  internal/scheduler/reports.go
Labels: scheduler

Misc
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/armada/server/lease.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/nodedb.go
  internal/scheduler/reports.go
  internal/scheduler/schedulercontexts.go
Labels: server, scheduler

Misc
  internal/armada/server/lease.go
  internal/scheduler/reports.go
Labels: scheduler

Lint
  internal/scheduler/reports_test.go
Labels: scheduler

Fix test
  internal/scheduler/reports_test.go
Labels: scheduler

Remove Tools From Armada Deps (#2288)
  go.mod
  go.sum
  internal/jobservice/repository/sql_job_service_moq.go
  internal/tools/tools.go
  magefiles/main.go
  makefile
  tools.yaml
Labels: build

fix sidebar css, fix log scroll
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/CodeBlock.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

Add scheduled queues to scheduling context report
  internal/scheduler/schedulercontexts.go
Labels: scheduler

Error on failing to publish preempted messages
  internal/armada/server/lease.go
Labels: none

Error on failing to publish preempted messages (#2290)
  internal/armada/server/lease.go
Labels: none

integration tests should be a bit faster
  client/python/tests/integration/test_no_auth.py
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

bug fixes
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useCustomSnackbar.tsx
Labels: none

fix lint
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

Minor fixes to scheduler (#2286)
  cmd/scheduler/cmd/prune_database.go
  internal/common/app/app.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Improve handling of Pending pods (#2271)
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/service/job_manager.go
  internal/executor/service/pod_issue_handler.go
Labels: none

Allow Executor to run in dual mode (#2272)
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/job/job_context.go
  internal/executor/job/job_run_state_store.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/service/job_manager_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_util.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/mocks/testfixtures.go
Labels: executor

Make Terminated non-terminal - stop ingesters processing non-terminal
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/apimessages/conversions_test.go
  internal/common/eventutil/eventutil.go
  internal/common/ingest/testfixtures/event.go
  internal/executor/service/job_manager.go
  internal/executor/service/pod_issue_handler.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutv2/repository/util.go
Labels: none

Fix import order
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Fix tests + send events via public event stream
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/apimessages/conversions_test.go
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

Fix logging formatting
  internal/executor/service/job_manager.go
  internal/executor/service/pod_issue_handler.go
Labels: none

Remove unused
  internal/lookoutingesterv2/instructions/instructions_test.go
Labels: none

Update lookout ingester test
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

integration tests should be a bit faster (#2291)
  client/python/tests/integration/test_no_auth.py
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

Add unit testing for clusters.go (#2216)
  internal/armada/scheduling/clusters_test.go
Labels: none

Updating Github Pages branch with latest Master changes
  developer.md
  development_guide.md
  python_airflow_operator.md
Labels: none

resolve conflicts
  go.mod
Labels: none

init
  internal/lookout/ui/package.json
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/yarn.lock
Labels: none

Add support for using postgres for JobService
  config/jobservice/config.yaml
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

Use mutex lock on db write operations only when using SQLite.
  internal/jobservice/repository/sql_job_service.go
Labels: none

wip
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

wip
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures_test.go
Labels: scheduler

wip
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures_test.go
Labels: scheduler

linting
  internal/scheduler/scheduling_algo.go
Labels: scheduler

fix routing
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/JobsContainer.tsx
  internal/lookout/ui/src/containers/OverviewContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/JobSetsQueryParamsService.ts
  internal/lookout/ui/src/services/JobsQueryParamsService.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils.tsx
Labels: none

fix warnings
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
Labels: none

Lookout v2 - display Job Logs in sidebar (#2289)
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/CodeBlock.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useCustomSnackbar.tsx
  internal/lookout/ui/src/hooks/useJobSpec.ts
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/LogService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeLogService.ts
Labels: none

Address comments
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
Labels: scheduler

Remove unecessary mutex
  internal/scheduler/schedulercontexts.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
