Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

wip
  internal/scheduler/jobdb/job.go
  internal/scheduler/poolutils.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

lint
  internal/scheduler/metrics/metrics_test.go
Labels: none

lint
  internal/scheduler/metrics/metrics_test.go
Labels: none

Fix Metrics (#3812)
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/metrics_test.go
Labels: none

Scheduler: move NodeType out of schedulerobjects
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

proto
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

fix: build/binoculars/Dockerfile to reduce vulnerabilities
  build/binoculars/Dockerfile
Labels: none

fix: build_goreleaser/bundles/armada/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/armada/Dockerfile
Labels: none

fix: build_goreleaser/testsuite/Dockerfile to reduce vulnerabilities
  build_goreleaser/testsuite/Dockerfile
Labels: none

fix: build/testsuite/Dockerfile to reduce vulnerabilities
  build/testsuite/Dockerfile
Labels: none

fix: build_goreleaser/eventingester/Dockerfile to reduce vulnerabilities
  build_goreleaser/eventingester/Dockerfile
Labels: none

fix: build/executor/Dockerfile to reduce vulnerabilities
  build/executor/Dockerfile
Labels: none

fix: build/lookoutv2/Dockerfile to reduce vulnerabilities
  build/lookoutv2/Dockerfile
Labels: none

fix: build/armadactl/Dockerfile to reduce vulnerabilities
  build/armadactl/Dockerfile
Labels: none

fix: build/armada/Dockerfile to reduce vulnerabilities
  build/armada/Dockerfile
Labels: none

fix: build/python-client/Dockerfile to reduce vulnerabilities
  build/python-client/Dockerfile
Labels: none

fix: build_goreleaser/bundles/lookout/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/lookout/Dockerfile
Labels: none

fix: build/eventingester/Dockerfile to reduce vulnerabilities
  build/eventingester/Dockerfile
Labels: none

fix: build_goreleaser/server/Dockerfile to reduce vulnerabilities
  build_goreleaser/server/Dockerfile
Labels: none

fix: build_goreleaser/scheduler/Dockerfile to reduce vulnerabilities
  build_goreleaser/scheduler/Dockerfile
Labels: none

fix: build/fakeexecutor/Dockerfile to reduce vulnerabilities
  build/fakeexecutor/Dockerfile
Labels: none

fix: build_goreleaser/armadactl/Dockerfile to reduce vulnerabilities
  build_goreleaser/armadactl/Dockerfile
Labels: none

fix: build/scheduleringester/Dockerfile to reduce vulnerabilities
  build/scheduleringester/Dockerfile
Labels: none

fix: build/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build/lookoutingesterv2/Dockerfile
Labels: none

fix: build_goreleaser/executor/Dockerfile to reduce vulnerabilities
  build_goreleaser/executor/Dockerfile
Labels: none

fix: build_goreleaser/scheduleringester/Dockerfile to reduce vulnerabilities
  build_goreleaser/scheduleringester/Dockerfile
Labels: none

fix: build/scheduler/Dockerfile to reduce vulnerabilities
  build/scheduler/Dockerfile
Labels: none

fix: build_goreleaser/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutingesterv2/Dockerfile
Labels: none

fix: build_goreleaser/binoculars/Dockerfile to reduce vulnerabilities
  build_goreleaser/binoculars/Dockerfile
Labels: none

fix: build_goreleaser/lookoutv2/Dockerfile to reduce vulnerabilities
  build_goreleaser/lookoutv2/Dockerfile
Labels: none

lint
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Scheduler: remove schedulerobjects.Node.NodeType (#3813)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

fix: build/armada-load-tester/Dockerfile to reduce vulnerabilities
  build/armada-load-tester/Dockerfile
Labels: none

fix: build_goreleaser/bundles/full/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/full/Dockerfile
Labels: none

Fixed broken tests by fixing unfeasibleSchedulingKeys bug
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  magefiles/ci.go
  pkg/client/queue/queue_test.go
Labels: build, scheduler

Scheduler: NodeType does not need to be proto-generated
  internal/scheduler/internaltypes/node_type.go
  internal/scheduler/internaltypes/node_type_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

Implement patch releases changing the validate ref jobs in release, release-rc workflows and conditions in build workflow (#3810)
  .github/workflows/build.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

WIP: Implemented scheduling controls on queues and labels. Label feature not yet complete
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  internal/armadactl/app.go
  internal/armadactl/queue.go
  internal/scheduler/database/migrations/012_add_queue_scheduling_paused.sql
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.proto
  pkg/client/queue/get_all.go
  pkg/client/queue/queue.go
Labels: proto, armadactl, scheduler

Implementing scheduling controls within Armadactl
  cmd/armadactl/cmd/config.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/root.go
  cmd/armadactl/cmd/scheduling_control.go
  internal/armadactl/queue.go
  internal/armadactl/scheduling_control.go
  internal/common/slices/slices.go
  pkg/client/command_line.go
Labels: armadactl

Fixing linting
  cmd/armadactl/cmd/scheduling_control.go
  internal/armadactl/queue.go
  internal/armadactl/scheduling_control.go
  internal/scheduler/scheduling_algo.go
  pkg/client/queue/get_all.go
Labels: armadactl, scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
