Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Upgrade GitHub Actions to Node.js 24 compatible versions
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/test.yml
Labels: none

Pin GitHub Actions to commit SHAs for supply chain security
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/test.yml
Labels: none

Lookout UI: replace service classes with React hooks (#4848)
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobSets/JobSetsPage.tsx
  internal/lookoutui/src/pages/jobSets/components/CancelJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetTable.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSets.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.tsx
  internal/lookoutui/src/pages/jobSets/components/ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobSets/components/cancel-job-sets/CancelJobSets.tsx
  internal/lookoutui/src/pages/jobSets/components/cancel-job-sets/CancelJobSetsOutcome.tsx
  internal/lookoutui/src/pages/jobSets/components/reprioritize-job-sets/ReprioritizeJobSets.tsx
  internal/lookoutui/src/pages/jobSets/components/reprioritize-job-sets/ReprioritizeJobSetsOutcome.tsx
  internal/lookoutui/src/pages/jobs/JobsPage.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.test.tsx
  internal/lookoutui/src/services/IntervalService.ts
  internal/lookoutui/src/services/JobService.ts
  internal/lookoutui/src/services/JobSetsLocalStorageService.ts
  internal/lookoutui/src/services/JobSetsQueryParamsService.ts
  internal/lookoutui/src/services/context.tsx
  internal/lookoutui/src/services/fakeContext.tsx
  internal/lookoutui/src/services/lookout/GetJobInfoService.ts
  internal/lookoutui/src/services/lookout/GroupJobsService.ts
  internal/lookoutui/src/services/lookout/UpdateJobSetsService.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGetJobInfoService.ts
  internal/lookoutui/src/services/lookout/mocks/FakeGroupJobsService.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useCancelJobSets.ts
  internal/lookoutui/src/services/lookout/useGetJobSpec.ts
  internal/lookoutui/src/services/lookout/useGroupJobs.ts
  internal/lookoutui/src/services/lookout/useReprioritizeJobSets.ts
Labels: none

Upgrade GitHub Actions to Node.js 24 compatible versions (#4849)
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/test.yml
Labels: none

add preemption reason to gang job preemptions
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Lookout UI: implement realistic fake data for service hooks
  internal/lookoutui/src/common/fakeJobsUtils.ts
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
  internal/lookoutui/src/services/lookout/useCancelJobSets.ts
  internal/lookoutui/src/services/lookout/useGetJobSpec.ts
  internal/lookoutui/src/services/lookout/useGetJobs.ts
  internal/lookoutui/src/services/lookout/useGroupJobs.ts
  internal/lookoutui/src/services/lookout/useReprioritizeJobSets.ts
Labels: none

Lookout UI: implement realistic fake data for service hooks (#4852)
  internal/lookoutui/src/common/fakeJobsUtils.ts
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
  internal/lookoutui/src/services/lookout/useCancelJobSets.ts
  internal/lookoutui/src/services/lookout/useGetJobSpec.ts
  internal/lookoutui/src/services/lookout/useGetJobs.ts
  internal/lookoutui/src/services/lookout/useGroupJobs.ts
  internal/lookoutui/src/services/lookout/useReprioritizeJobSets.ts
Labels: none

LookoutUI: configure displayname (#4795)
  _local/lookout/config-auth.yaml
  internal/lookout/configuration/types.go
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
Labels: none

Add global & per-queue timeout to submitcheck
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

fix lint
  internal/scheduler/configuration/configuration.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Add RetryPolicy CRUD API and armadactl support
  client/rust/src/gen/api.rs
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/retrypolicy.go
  internal/armadactl/app.go
  internal/armadactl/queue.go
  internal/armadactl/retrypolicy.go
  internal/lookout/schema/migrations/032_create_retry_policy.sql
  internal/scheduler/mocks/api.go
  internal/server/executor/executor_server_test.go
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/node/node_test.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/server.go
  internal/server/servertest/grpc.go
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/client/queue/queue.go
  pkg/client/resource.go
  pkg/client/retrypolicy/create.go
  pkg/client/retrypolicy/delete.go
  pkg/client/retrypolicy/get.go
  pkg/client/retrypolicy/update.go
Labels: proto, armadactl

Preempt api response (#4845)
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

Remove unused config from submitcheck test
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Use IsInGang() consistently instead of gangId string comparisons
  internal/scheduler/submitcheck.go
Labels: scheduler

Lookout HC: add initial partitioned schema
  internal/lookouthc/schema/doc.go
  internal/lookouthc/schema/migrations/001_initial_schema.sql
  internal/lookouthc/schema/migrations/initial_schema_test.go
  internal/lookouthc/schema/schema.go
Labels: none

Remove more unused test setup
  internal/scheduler/submitcheck_test.go
Labels: scheduler

refactored binoculars internal lib to remove os.Exit
  cmd/binoculars/main.go
  internal/binoculars/server.go
Labels: binoculars

comments
  internal/lookouthc/schema/migrations/001_initial_schema.sql
  internal/lookouthc/schema/migrations/initial_schema_test.go
Labels: none

Refactor executor classifier to first-match-wins with subcategory behind feature flag
  e2e/config/executor_config.yaml
  internal/executor/application.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/doc.go
  internal/executor/categorizer/types.go
  internal/executor/configuration/types.go
  internal/executor/reporter/event_test.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
Labels: executor

Use oneof for billable_price_override presence (#476)
  internal/scheduler/metrics/cycle_metrics.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
  scripts/protoc-gen-armada/protoc-gen-armada.go
Labels: none

Flatten Error.FailureInfo into failure_category/subcategory scalars and migrate Lookout
  client/rust/src/gen/api.rs
  internal/common/ingest/testfixtures/event.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/lookout/schema/migrations/032_add_failure_category_to_job_run.sql
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
  internal/server/event/conversion/conversions.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
  internal/testsuite/eventwatcher/validators.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  testsuite/testcases/categorization/oom.yaml
  testsuite/testcases/categorization/user_error.yaml
Labels: proto, lookoutingester

Refactor executor classifier to first-match-wins with subcategory behind feature flag
  e2e/config/executor_config.yaml
  internal/executor/application.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/doc.go
  internal/executor/categorizer/types.go
  internal/executor/configuration/types.go
  internal/executor/reporter/event_test.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
Labels: executor

Replace Error.FailureInfo message with failure_category/failure_subcategory scalars
  client/rust/src/gen/api.rs
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Write failure_category/failure_subcategory to Lookout job_run (migration 032)
  internal/lookout/schema/migrations/032_add_failure_category_to_job_run.sql
  internal/lookoutingester/configuration/types.go
  internal/lookoutingester/dbloadtester/simulator.go
  internal/lookoutingester/ingester.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
  internal/lookoutingester/model/model.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql.go
Labels: lookoutingester

Update test fixtures, validators, and repository tests for flat failure fields
  internal/common/ingest/testfixtures/event.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/repository/getjoberror_test.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror_test.go
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/lookout/repository/groupjobs_test.go
  internal/testsuite/eventwatcher/validators.go
  testsuite/testcases/categorization/oom.yaml
  testsuite/testcases/categorization/user_error.yaml
Labels: none

Emit failure_category and failure_subcategory from executor and server event conversion
  internal/executor/job/processors/preempt_runs.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  internal/server/event/conversion/conversions.go
Labels: none

Rename billable_price_override oneof wrapper to _optional and export as a Prometheus gauge (#478)
  internal/scheduler/metrics/cycle_metrics.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Validate category/subcategory length matches varchar(63) DB constraint
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
Labels: none

Validate category/subcategory length matches varchar(63) DB constraint (#4867)
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
Labels: none

Set second-price override in market scheduler (#4868)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/queue_scheduler.go
  pkg/metricevents/events.pb.go
  pkg/metricevents/events.proto
Labels: none

Display failure_category/failure_subcategory in Lookout UI
  internal/lookout/conversions/convert.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/model/model.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/swagger.yaml
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
Labels: lookout

Display failure_category/failure_subcategory in Lookout UI (#4853)
  internal/lookout/conversions/convert.go
  internal/lookout/gen/models/run.go
  internal/lookout/gen/restapi/embedded_spec.go
  internal/lookout/model/model.go
  internal/lookout/repository/querybuilder.go
  internal/lookout/swagger.yaml
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
Labels: lookout

Lookout HC: add initial partitioned schema (#4857)
  internal/lookouthc/schema/doc.go
  internal/lookouthc/schema/migrations/001_initial_schema.sql
  internal/lookouthc/schema/migrations/initial_schema_test.go
  internal/lookouthc/schema/schema.go
Labels: none

Make leader metrics have a customisable prefix
  internal/eventingester/ingester.go
  internal/scheduler/leader/leader_metrics.go
  internal/scheduler/leader/leader_metrics_test.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/schedulerapp.go
Labels: eventingester, scheduler

Fix prefix rename
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Lint
  internal/scheduler/leader/leader_metrics_test.go
Labels: none

Use podname as instance name
  internal/eventingester/ingester.go
Labels: eventingester

chore: rust client use prost-0.14/tonic=0.14 (#479)
  client/rust/Cargo.lock
  client/rust/Cargo.toml
  client/rust/build.rs
Labels: none

chore: upgrade code-gen (#480)
  client/rust/src/gen/api.rs
  client/rust/src/gen/google.api.rs
  client/rust/src/gen/k8s.io.api.core.v1.rs
  client/rust/src/gen/k8s.io.api.networking.v1.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.api.resource.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.apis.meta.v1.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.runtime.rs
  client/rust/src/gen/k8s.io.apimachinery.pkg.util.intstr.rs
Labels: none

Add job_failure_category_total counter metric to executor
  internal/executor/metrics/metrics.go
  internal/executor/metrics/metrics_test.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none
