Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Make executor pod timeout much more strict
  config/executor/config.yaml
Labels: none

Fix tests
  internal/scheduler/metrics_test.go
Labels: scheduler

standardizing mockServer responses and reporting back failure reasons
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

lint
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

docs: mv adopters list from website to ADOPTERS.md
  ADOPTERS.md
  website/content/community.mdx
Labels: none

Fix lint error
  internal/scheduleringester/dbops.go
Labels: scheduleringester

Remove only-new-issues from lint check
  .github/workflows/lint.yml
Labels: none

proto files
  pkg/api/introspection/introspection.proto
Labels: none

Fix bug in market driven queue iteration
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

fix: initial user tracking
  internal/lookoutui/TRACKING_SCRIPT_CONFIG.md
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/trackingAttributes.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
Labels: none

Add unit tests for job iterators
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Add tests for QueuedGangIterator
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

Remove incorrect comment
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

Fix ignored error - lint
  internal/scheduler/scheduling/optimising_queue_scheduler.go
Labels: none

Broadside: support YAML merge keys in config
  cmd/broadside/main.go
Labels: none

Fix issues in pod issue detection
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Removed queues from pq if they are now empty
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/queue_scheduler.go
Labels: none

Broadside improvements: allow zero proportions, ignore errors appropriately
  internal/broadside/configuration/validation.go
  internal/broadside/configuration/validation_test.go
  internal/broadside/db/postgres.go
  internal/broadside/ingester/ingester.go
  internal/broadside/querier/querier.go
  internal/lookout/repository/errors.go
  internal/lookout/repository/getjoberror.go
  internal/lookout/repository/getjobrundebugmessage.go
  internal/lookout/repository/getjobrundebugmessage_test.go
  internal/lookout/repository/getjobrunerror.go
  internal/lookout/repository/getjobrunerror_test.go
Labels: none

Log the error for Lookout database queries
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/groupjobs.go
  internal/lookout/repository/util.go
Labels: none

Suppress slow query logging in Broadside
  internal/broadside/db/postgres.go
  internal/lookout/repository/getjobs.go
  internal/lookout/repository/groupjobs.go
  internal/lookout/repository/util.go
Labels: none

Update internal/lookout/repository/util.go
  internal/lookout/repository/util.go
Labels: none

Broadside: add graceful shutdown on SIGINT/SIGTERM
  cmd/broadside/main.go
  internal/broadside/orchestrator/doc.go
  internal/broadside/orchestrator/runner.go
Labels: none

Introduce per queue time limit for scheduling new jobs
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/constraints/constraints.go
  internal/scheduler/scheduling/constraints/constraints_test.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: scheduler

Broadside: generate historical jobs server-side via PostgreSQL
  internal/broadside/db/clickhouse.go
  internal/broadside/db/db.go
  internal/broadside/db/doc.go
  internal/broadside/db/historical.go
  internal/broadside/db/memory.go
  internal/broadside/db/memory_historical_test.go
  internal/broadside/db/postgres.go
  internal/broadside/db/postgres_historical_test.go
  internal/broadside/ingester/doc.go
  internal/broadside/ingester/ingester.go
  internal/broadside/ingester/ingester_setup_test.go
  internal/broadside/jobspec/constants.go
  internal/broadside/jobspec/doc.go
Labels: none

Improve config loading + unit tests
  internal/binoculars/configuration/validation.go
  internal/broadside/configuration/validation.go
  internal/common/config/validation.go
  internal/common/startup.go
  internal/eventingester/configuration/validation.go
  internal/executor/configuration/validation.go
  internal/lookout/configuration/validation.go
  internal/lookout/dbloadtester/queryer.go
  internal/lookoutingester/configuration/validation.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduleringester/config.go
  internal/server/configuration/validation.go
Labels: scheduleringester

Broadside: add --teardown-only flag for database cleanup
  cmd/broadside/doc.go
  cmd/broadside/main.go
  internal/broadside/orchestrator/doc.go
  internal/broadside/orchestrator/runner.go
Labels: none

Fix
  internal/scheduler/simulator/simulator.go
Labels: none

Add support for native preemption retries
  internal/common/constants/constants.go
  internal/common/preemption/utils.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/submit_request.go
Labels: scheduler

Plumb run index to pod name
  internal/executor/domain/pod_metadata.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/api.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/022_add_job_run_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: scheduler, scheduleringester

Make migration smoother with nullable value
  internal/common/ingest/testfixtures/event.go
  internal/common/preemption/utils.go
  internal/scheduler/api.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/022_add_job_run_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/submit_request.go
Labels: scheduler, scheduleringester

resolve conflicts and fix minor issues with native preemption retries
  config/scheduler/config.yaml
  config/server/config.yaml
  internal/common/constants/constants.go
  internal/common/preemption/utils.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/migrations/022_add_job_run_index.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/server/configuration/types.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: scheduler

Config tweaks
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
Labels: none

api guts in place
  internal/server/introspection/introspection.go
  internal/server/introspection/kubeClient.go
  internal/server/server.go
  magefiles/proto.go
  pkg/api/introspection/api.swagger.go
  pkg/api/introspection/api.swagger.json
  pkg/api/introspection/introspection.pb.go
  pkg/api/introspection/introspection.pb.gw.go
  pkg/api/introspection/introspection.proto
Labels: build

Improve pool outcome data
  internal/scheduler/scheduling/result.go
Labels: none

WIP - make away types more configurable
  internal/common/types/scheduling.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/pricer/node_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

files
  internal/scheduler/leader/scheduling_test.go
Labels: none

Fix unit tests
  internal/scheduler/configuration/validation_test.go
Labels: none

WIP
  internal/common/types/scheduling.go
  internal/scheduler/nodedb/nodedb.go
Labels: none

fix: use unified tracking component
  internal/lookout/configuration/types.go
  internal/lookoutui/TRACKING_SCRIPT_CONFIG.md
  internal/lookoutui/src/components/analytics/Tracking.tsx
  internal/lookoutui/src/components/analytics/TrackingButton.tsx
  internal/lookoutui/src/components/analytics/TrackingTab.tsx
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/pages/jobSets/components/cancel-job-sets/CancelJobSets.tsx
  internal/lookoutui/src/pages/jobSets/components/reprioritize-job-sets/ReprioritizeJobSets.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarTabJobLogs.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ColourModeSelector.tsx
Labels: none

fix: refactor to analytic directory
  internal/lookout/configuration/types.go
  internal/lookoutui/TRACKING_SCRIPT_CONFIG.md
  internal/lookoutui/src/analytics/Analytics.tsx
  internal/lookoutui/src/analytics/AnalyticsIdentifier.tsx
  internal/lookoutui/src/analytics/AnalyticsScript.tsx
  internal/lookoutui/src/analytics/hooks.ts
  internal/lookoutui/src/analytics/index.ts
  internal/lookoutui/src/analytics/utils.ts
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/trackingAttributes.ts
  internal/lookoutui/src/components/analytics/Tracking.tsx
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
  internal/lookoutui/src/pages/jobSets/components/cancel-job-sets/CancelJobSets.tsx
  internal/lookoutui/src/pages/jobSets/components/reprioritize-job-sets/ReprioritizeJobSets.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarTabJobLogs.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ColourModeSelector.tsx
Labels: none
