Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Use typed context keys instead of string literals
  internal/common/armadacontext/armada_context.go
  internal/common/auth/common.go
  internal/common/ctxkeys/ctxkeys.go
  internal/common/grpc/grpc.go
  internal/common/requestid/interceptors.go
Labels: none

Add hash collision test for NodeType ID generation
  internal/scheduler/internaltypes/node_type.go
  internal/scheduler/internaltypes/node_type_test.go
Labels: none

Fix submit_test.go to use typed context key for principal
  internal/server/submit/submit_test.go
Labels: none

Use typed context keys instead of string literals
  internal/common/armadacontext/armada_context.go
  internal/common/auth/common.go
  internal/common/ctxkeys/ctxkeys.go
  internal/common/grpc/grpc.go
  internal/common/requestid/interceptors.go
Labels: none

Usage metrics
  internal/common/ingest/metrics/metrics.go
  internal/eventingester/convert/conversions.go
  internal/eventingester/convert/conversions_test.go
Labels: none

rename
  internal/eventingester/convert/conversions_test.go
Labels: none

Improve the performance of creating FairSchedulingAlgoContext (#4807)
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Add namespace filtering for recording rules (#471)
  deployment/armada/templates/prometheusrule.yaml
  deployment/executor/templates/prometheusrule.yaml
  deployment/scheduler/templates/scheduler-prometheusrule.yaml
Labels: none

go mod tidy
  go.mod
Labels: none

Make scheduler reconciliation use more efficient jodb query
  internal/scheduler/scheduling/reconciliation.go
Labels: none

Add retry policy engine and matching primitives
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/retry.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/extract.go
  internal/scheduler/retry/extract_test.go
  internal/scheduler/retry/matcher.go
  internal/scheduler/retry/types.go
Labels: none

Add RetryPolicy CRUD API and armadactl support
  client/rust/src/gen/api.rs
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/retrypolicy.go
  internal/armadactl/app.go
  internal/armadactl/queue.go
  internal/armadactl/retrypolicy.go
  internal/lookout/schema/migrations/032_create_retry_policy.sql
  internal/scheduler/mocks/api.go
  internal/server/executor/executor_server_test.go
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/node/node_test.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/server.go
  internal/server/servertest/grpc.go
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/client/queue/queue.go
  pkg/client/resource.go
  pkg/client/retrypolicy/create.go
  pkg/client/retrypolicy/delete.go
  pkg/client/retrypolicy/get.go
  pkg/client/retrypolicy/update.go
Labels: proto, armadactl

Add namespace filtering for recording rules (#4819)
  deployment/armada/templates/prometheusrule.yaml
  deployment/executor/templates/prometheusrule.yaml
  deployment/scheduler/templates/scheduler-prometheusrule.yaml
Labels: none

Make scheduler reconciliation use more efficient jodb query (#4820)
  internal/scheduler/scheduling/reconciliation.go
Labels: none

docs: pin Kubernetes API reference link to v1.35
  docs/creating_and_submitting_jobs.md
Labels: docs

Fix typos, broken link and stale Kubernetes API reference in docs
  docs/armada_client_package.md
  docs/client_libraries.md
  docs/creating_and_submitting_jobs.md
  docs/developer_guide.md
  docs/scheduling_and_preempting_jobs.md
Labels: docs

Fix typos, broken link and stale Kubernetes API reference in docs (#4816)
  docs/armada_client_package.md
  docs/client_libraries.md
  docs/creating_and_submitting_jobs.md
  docs/developer_guide.md
  docs/scheduling_and_preempting_jobs.md
Labels: docs

Add my github handle to mergify config
  .mergify.yml
Labels: none

Add hash collision test for NodeType ID generation
  internal/scheduler/internaltypes/node_type.go
  internal/scheduler/internaltypes/node_type_test.go
Labels: none

Fix submit_test.go to use typed context key for principal
  internal/server/submit/submit_test.go
Labels: none

Use typed context keys instead of string literals
  internal/common/armadacontext/armada_context.go
  internal/common/auth/common.go
  internal/common/ctxkeys/ctxkeys.go
  internal/common/grpc/grpc.go
  internal/common/requestid/interceptors.go
Labels: none

Pin apache-airflow<3.0.0 to fix CI breakage
  third_party/airflow/pyproject.toml
Labels: none

Use typed context keys instead of string literals
  internal/common/armadacontext/armada_context.go
  internal/common/auth/common.go
  internal/common/ctxkeys/ctxkeys.go
  internal/common/grpc/grpc.go
  internal/common/requestid/interceptors.go
Labels: none

Pin apache-airflow<3.0.0 to fix CI breakage (#4822)
  third_party/airflow/pyproject.toml
Labels: none

Add external_job_uri as a first-class proto field
  client/rust/src/builder.rs
  client/rust/src/gen/api.rs
  internal/common/constants/constants.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Fix concurrent map writes crash in executor metrics collector
  internal/executor/metrics/pod_metrics/cluster_context.go
Labels: none

Narrow mutex scope to exclude channel sends
  internal/executor/metrics/pod_metrics/cluster_context.go
Labels: none

Fix concurrent map writes crash in executor metrics collector (#4825)
  internal/executor/metrics/pod_metrics/cluster_context.go
Labels: none

Restrict Airflow Operator from running on Airflow 3.2
  third_party/airflow/pyproject.toml
Labels: none

feat(exec): add auth mode support for armadactl exec and Lookout terminal
  _local/server/config-auth.yaml
  internal/lookout/gen/restapi/configure_lookout.go
  internal/lookout/handler/exec_handler.go
  internal/lookoutui/src/hooks/useExecTerminal.ts
Labels: none

Restrict Airflow Operator from running on Airflow 3.2 (#4826)
  third_party/airflow/pyproject.toml
Labels: none

fix: added proxy config to local executor auth config
  _local/executor/config-auth.yaml
Labels: none

fix: add execArmadaGrpcUrl to local lookout auth config
  _local/lookout/config-auth.yaml
Labels: none

Add external_job_uri as a first-class proto field (#4823)
  client/rust/src/builder.rs
  client/rust/src/gen/api.rs
  internal/common/constants/constants.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Add histogram metric for error classification duration
  internal/executor/categorizer/classifier.go
Labels: none

Rust client: job cancellation
  client/rust/Cargo.toml
  client/rust/examples/cancel.rs
  client/rust/src/client.rs
  client/rust/src/lib.rs
Labels: none

fix fmt
  client/rust/examples/cancel.rs
  client/rust/src/client.rs
Labels: none

fix(ctxkeys): unexport ContextKey type for collision safety
  internal/common/ctxkeys/ctxkeys.go
Labels: none

sat job
  cmd/armadactl/cmd/job.go
  example/saturation-fill.yaml
  internal/server/configuration/types.go
  internal/server/introspection/introspection.go
  internal/server/introspection/kube_factory.go
  internal/server/server.go
Labels: docs

fix(exec): separate queue-level exec permission from global gate
  internal/server/permissions/permissions.go
  internal/server/proxy/service.go
Labels: none
