Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

tidy
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

update alpine to 3.21.0 (#4111)
  .goreleaser.yml
  build/armada-load-tester/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/bundles/armada/Dockerfile
  build/bundles/full/Dockerfile
  build/bundles/lookout/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/loadtester/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/server/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  e2e/armadactl_test/armadactl_test.go
  third_party/airflow/README.md
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

import order
  internal/common/grpc/grpc.go
Labels: none

port more tests
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

progress
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

always deep copy, tidy
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Scheduler: refactor: move scheduling tests to internaltypes (#4113)
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

[executor] Remove duplicate tolerations section from deployment
  deployment/executor/templates/deployment.yaml
Labels: none

Scheduler: move more scheduling test code to internaltypes
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Scheduler: refactor testfixtures (#4115)
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Use virtualized table for job sets table
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/lookoutV2/JobStateCountChip.tsx
  internal/lookout/ui/yarn.lock
Labels: none

Allow configuration of column order
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/lookoutV2/ColumnConfigurationDialog/AddAnnotationColumnInput.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnConfigurationDialog/EditAnnotationColumnInput.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnConfigurationDialog/OrderableColumnListItem.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnConfigurationDialog/index.tsx
  internal/lookout/ui/src/components/lookoutV2/ColumnSelect.module.css
  internal/lookout/ui/src/components/lookoutV2/ColumnSelect.tsx
  internal/lookout/ui/src/components/lookoutV2/CustomViewPicker.module.css
  internal/lookout/ui/src/components/lookoutV2/CustomViewPicker.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.module.css
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/yarn.lock
Labels: none

Scheduler: tidy queue_scheduler_test
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

tidy
  internal/scheduler/internaltypes/resource_list_map_util.go
Labels: none

Scheduler: tidy queue_scheduler_test (#4117)
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

Scheduler: testfixture method renaming
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Scheduler: testfixture method renaming (#4119)
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Use virtualized table for job sets table (#4116)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/job-sets/JobSetTable.tsx
  internal/lookout/ui/src/components/lookoutV2/JobStateCountChip.tsx
  internal/lookout/ui/yarn.lock
Labels: none

wip
  internal/common/armadacontext/armada_context.go
  internal/common/armadacontext/armada_context_test.go
  internal/common/armadaerrors/errors_test.go
  internal/common/auth/common.go
  internal/common/auth/kubernetes_test.go
  internal/common/grpc/armadacontext/interceptors.go
  internal/common/grpc/grpc.go
  internal/common/logging/interceptors.go
  internal/common/logging/interceptors_test.go
  internal/common/requestid/interceptors_test.go
  internal/executor/service/lease_requester.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/client/connection.go
Labels: none

wip
  go.mod
  go.sum
  internal/common/requestid/interceptors.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

wip
  internal/common/grpc/grpc.go
Labels: none

Scheduler: fix panic in nodedb benchmark
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

notnil
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

supress logging
  internal/common/grpc/grpc.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

lint
  internal/scheduler/schedulerapp.go
Labels: scheduler

Scheduler: fix panic in nodedb benchmark (#4120)
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

lint
  go.mod
  go.sum
Labels: none

wip
  cmd/server/main.go
  go.mod
  go.sum
  internal/common/armadacontext/armada_context.go
  internal/common/armadacontext/armada_context_test.go
  internal/common/etcdhealth/etcdhealth.go
  internal/common/grpc/armadacontext/interceptors.go
  internal/common/grpc/grpc.go
  internal/common/ingest/jobsetevents/utils.go
  internal/common/logging/logging.go
  internal/common/logging/pulsar_adapter.go
  internal/common/logging/stacktrace.go
  internal/common/profiling/http.go
  internal/common/pulsarutils/publisher.go
  internal/common/pulsarutils/pulsarclient.go
  internal/common/resource/resource_test.go
  internal/common/serve/static.go
  internal/common/startup.go
  internal/executor/reporter/job_event_reporter.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/nodedb/nodeiteration.go
  pkg/client/auth/oidc/kubernetes.go
  pkg/client/auth/oidc/pkce.go
  pkg/client/load-test.go
  pkg/client/watch.go
Labels: none

wip
  internal/common/etcdhealth/etcdhealth_test.go
  internal/common/ingest/controlplaneevents/utils.go
  internal/eventingester/store/eventstore.go
  internal/executor/service/cluster_allocation.go
  internal/lookoutv2/application.go
  internal/scheduler/api.go
  internal/scheduler/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/submitcheck.go
  internal/scheduleringester/ingester.go
Labels: lookout, scheduler, scheduleringester

wip
  internal/binoculars/server.go
  internal/binoculars/service/cordon_test.go
  internal/common/grpc/gateway.go
  internal/common/healthmonitor/multihealthmonitor.go
  internal/common/pulsarutils/pulsarclient.go
  internal/common/startup.go
  internal/eventingester/store/eventstore.go
  internal/executor/fake/application.go
  internal/lookoutingesterv2/dbloadtester/queue.go
  internal/lookoutv2/application.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/simulator/simulator.go
Labels: binoculars, lookout

wip
  cmd/executor/main.go
  cmd/fakeexecutor/main.go
  internal/common/armadacontext/armada_context.go
  internal/common/etcdhealth/etcdhealth.go
  internal/common/etcdhealth/etcdhealth_test.go
  internal/common/healthmonitor/healthmonitor.go
  internal/common/healthmonitor/manualhealthmonitor.go
  internal/common/healthmonitor/multihealthmonitor.go
  internal/common/metrics/provider.go
  internal/executor/application.go
  internal/executor/fake/application.go
Labels: executor

wip
  internal/common/startup.go
  internal/executor/fake/application.go
Labels: none

wip
  internal/common/startup.go
Labels: none

remove logrus
  go.mod
Labels: none

remove logrus
  cmd/armada-load-tester/cmd/loadtest.go
  cmd/armada-load-tester/cmd/root.go
  cmd/binoculars/main.go
  cmd/fakeexecutor/main.go
  cmd/lookoutingesterv2/dbloadtester/main.go
  cmd/lookoutingesterv2/main.go
  cmd/lookoutv2/main.go
  cmd/scheduler/cmd/migrate_database.go
  cmd/simulator/cmd/root.go
  go.mod
Labels: binoculars, lookout, lookoutingester

fix test
  internal/common/logging/logging.go
  internal/lookoutingesterv2/instructions/instructions.go
Labels: none

fix armadactl
  internal/common/startup.go
Labels: none

clean up interfaces
  internal/common/armadacontext/armada_context.go
  internal/common/grpc/grpc.go
  internal/common/logging/global.go
  internal/common/logging/logger.go
  internal/common/logging/logging.go
  internal/common/logging/null_logger.go
  internal/common/logging/pulsar_adapter.go
  internal/common/logging/user_input.go
  internal/common/startup.go
  internal/lookoutv2/repository/util.go
  pkg/client/auth/oidc/device.go
Labels: none

clean up interfaces
  internal/common/armadacontext/armada_context_test.go
  internal/common/logging/global.go
  internal/common/logging/logger.go
  internal/common/logging/logger_test.go
  internal/common/logging/null_logger.go
Labels: none
