Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

armada_client formatted
  client/python/armada_client/client.py
Labels: none

Initial commit
  internal/armada/server/lease.go
Labels: none

Add per-pool queue limit overrides
  internal/armada/configuration/types.go
  internal/armada/server/submit_test.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/constraints/constraints.go
Labels: none

Make per-queue limits apply only within the current pool (#2597)
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/armada/server/submit_test.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/constraints/constraints.go
Labels: none

added tenacity for armada-client
  client/python/pyproject.toml
Labels: client-python

[scheduler] Update indexedResources config
  config/scheduler/config.yaml
Labels: none

Tidy pod_issue_handler
  internal/executor/service/pod_issue_handler.go
Labels: none

[scheduler] Update indexedResources config (#2598)
  config/scheduler/config.yaml
Labels: none

Tidy pod_issue_handler (#2599)
  internal/executor/service/pod_issue_handler.go
Labels: none

Fix per-pc resource limits
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/common.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Lint
  internal/armada/server/lease.go
Labels: none

add new test workflow
  .github/workflows/go-integration.yml
  .github/workflows/go.yml
  .github/workflows/test.yml
  .gitignore
  makefile
Labels: none

Cleanup
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

fix integration test target
  .github/workflows/test.yml
Labels: none

Fix tests
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

fix unit test filter
  makefile
Labels: none

exclude jobservice test
  makefile
Labels: none

deleted tenacity for armada_client
  client/python/armada_client/client.py
  client/python/pyproject.toml
Labels: client-python

formatted code
  client/python/armada_client/client.py
Labels: none

Separate resource limits for each priority class (#2601)
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/common.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Minor cleanup in lease.go
  internal/armada/server/lease.go
Labels: none

Minor cleanup in lease.go (#2603)
  internal/armada/server/lease.go
Labels: none

Cleanup api.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Add basic reconciliation between executor RunState and kubernetes
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: executor

Add basic reconciliation between executor RunState and kubernetes (#2604)
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: executor

Parse state aggregates
  internal/common/database/db_testutil.go
  internal/common/database/lookout/jobstates.go
  internal/lookoutv2/repository/aggregates.go
  internal/lookoutv2/repository/fieldparser.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/querybuilder_test.go
  internal/lookoutv2/repository/tables.go
  internal/lookoutv2/repository/util.go
Labels: none

lint
  internal/common/database/db_testutil.go
  internal/lookoutv2/repository/aggregates.go
  internal/lookoutv2/repository/fieldparser.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/querybuilder_test.go
Labels: none

uncomment debug
  internal/common/database/db_testutil.go
Labels: none

Lookout v2 API - state counts as group aggregate (#2605)
  internal/common/database/lookout/jobstates.go
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/models/group.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/aggregates.go
  internal/lookoutv2/repository/fieldparser.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/querybuilder_test.go
  internal/lookoutv2/repository/tables.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Evict pods in preempting scheduler benchmarks (#2606)
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Ingest annotations, cleanup
  internal/scheduler/api.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/instructions.go
Labels: scheduler, scheduleringester

Delete `priorityAndRequestsFromLegacySchedulerJob`
  internal/scheduler/context/context.go
Labels: none

Remove an unused `PodRequirementFromLegacySchedulerJob` variant
  internal/scheduler/interfaces/interfaces.go
Labels: none

Remove calls to `GetRequirements` where possible
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/context/context.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  pkg/api/util.go
Labels: proto, scheduler

Rename `GetRequirements`
  internal/scheduler/common.go
  internal/scheduler/context/context_test.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

Cleanup
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

Lint
  internal/scheduler/schedulerapp.go
Labels: scheduler

Update error message
  internal/scheduler/common.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Fix test
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

Fix annotation ingestion for Pulsar-backed scheduler (#2607)
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduler, scheduleringester
