Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

More sleep
  client/python/tests/integration/test_no_auth.py
Labels: none

docs update
  docs/python_armada_client.md
Labels: docs

Update queue_scheduler.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Increase timeout to sensible
  client/python/tests/integration/test_no_auth.py
Labels: none

more fixing
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
Labels: none

configure default queue refresh interval
  client/python/tests/integration/test_no_auth.py
  config/armada/config.yaml
Labels: none

Set values sensibly
  config/armada/config.yaml
  config/scheduler/config.yaml
  magefiles/main.go
Labels: build

Update scheduler.go
  internal/scheduler/scheduler.go
Labels: scheduler

Fix typos and language usage #3596
  README.txt
  _includes/home-sample.html
  design/diagrams/relationships/generate.py
  design/index.md
  design/jobservice/job-service.md
  design/priority.md
  design/relationships_diagram.md
  developer/usage_metrics.md
  helm.md
  libraries.md
  priority.md
  production-install.md
Labels: none

Update design/jobservice/job-service.md
  design/jobservice/job-service.md
Labels: none

Update design/jobservice/job-service.md
  design/jobservice/job-service.md
Labels: none

Fix typos and language usage #3596 (#3597)
  README.txt
  _includes/home-sample.html
  design/diagrams/relationships/generate.py
  design/index.md
  design/jobservice/job-service.md
  design/priority.md
  design/relationships_diagram.md
  developer/usage_metrics.md
  helm.md
  libraries.md
  priority.md
  production-install.md
Labels: none

remove e2e
  README.md
Labels: none

remove e2e
  config/scheduler/config.yaml
  magefiles/main.go
Labels: build

log out update frequency
  internal/scheduler/submitcheck.go
Labels: scheduler

log number of executors loaded
  internal/scheduler/submitcheck.go
Labels: scheduler

correct vars
  internal/scheduler/submitcheck.go
  magefiles/main.go
Labels: build, scheduler

correct vars
  internal/scheduler/submitcheck.go
  magefiles/main.go
Labels: build, scheduler

force to be 1s
  config/scheduler/config.yaml
Labels: none

properly set env vars
  config/scheduler/config.yaml
  developer/env/docker/scheduler.env
  developer/env/docker/server.env
  magefiles/main.go
Labels: build

properly set env vars
  developer/env/docker/scheduler.env
Labels: none

revert README
  README.md
Labels: none

fix: build_goreleaser/eventingester/Dockerfile to reduce vulnerabilities
  build_goreleaser/eventingester/Dockerfile
Labels: none

Fix Integration Tests (#3600)
  config/scheduler/config.yaml
  developer/env/docker/scheduler.env
  developer/env/docker/server.env
  internal/scheduler/submitcheck.go
  magefiles/main.go
Labels: build, scheduler

Scheduler: a bit more logging (#3595)
  internal/scheduler/queue_scheduler.go
Labels: scheduler

make submit check handle pools
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

lint
  internal/scheduler/jobdb/job.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Fix unit test
  internal/scheduler/adapters/adapters_test.go
Labels: none

[WIP] Display debug message in lookout
  cmd/armadactl/cmd/preempt.go
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetRunDebugMessageService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetRunDebugMessageService.ts
  internal/lookoutv2/application.go
  internal/lookoutv2/gen/models/debug_message.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_debug_message.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_debug_message_parameters.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_debug_message_responses.go
  internal/lookoutv2/gen/restapi/operations/get_job_run_debug_message_urlbuilder.go
  internal/lookoutv2/gen/restapi/operations/lookout_api.go
  internal/lookoutv2/repository/getjobrundebugmessage.go
  internal/lookoutv2/repository/getjobrundebugmessage_test.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Simplify ui services
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetRunDebugMessageService.ts
  internal/lookout/ui/src/services/lookoutV2/GetRunErrorService.ts
  internal/lookout/ui/src/services/lookoutV2/GetRunInfoService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetRunDebugMessageService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetRunInfoService.ts
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

lint
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGetRunInfoService.ts
Labels: none

fix test
  internal/scheduler/metrics_test.go
Labels: scheduler

Remove Redis
  .run/Armada.run.xml
  .run/Executor.run.xml
  .run/Pulsar Server.run.xml
  .run/Scheduler.run.xml
  .run/Server.run.xml
  config/armada/config.yaml
  config/scheduler/config.yaml
  developer/env/local/scheduler.env
  developer/env/local/server.env
  internal/armada/configuration/types.go
  internal/armada/repository/queue.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

LookoutV2 config: fix deduplicationExpireAfter
  config/lookoutv2/config.yaml
Labels: none

add back pool assigner
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

LookoutV2 config: fix deduplicationExpireAfter (#3605)
  config/lookoutv2/config.yaml
Labels: none

fix: build_goreleaser/eventingester/Dockerfile to reduce vulnerabilities
  build_goreleaser/eventingester/Dockerfile
Labels: none

[Lookout] Make pruner only delete jobs in terminal state
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
Labels: none

[Lookout] Make pruner only delete jobs in terminal state (#3608)
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
Labels: none

Lookout ingester: Use consistent tmp table names
  internal/lookoutingesterv2/lookoutdb/insertion.go
Labels: none
