Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

More testing!
  .github/workflows/go-integration.yml
Labels: none

More testing
  .github/workflows/go-integration.yml
Labels: none

Fixes
  .github/workflows/go-integration.yml
Labels: none

More fixes
  .github/workflows/go-integration.yml
Labels: none

Adding caching back
  .github/workflows/go-integration.yml
Labels: none

Reverting
  .github/workflows/go-integration.yml
Labels: none

Switching caching
  .github/workflows/go-integration.yml
Labels: none

Trying some more custom stuff
  .github/workflows/go-integration.yml
Labels: none

Cache testing!!
  .github/workflows/go-integration-free.yml
Labels: none

Test file added for armada/cmd/armadactl/cmd/cancel.go (#2429)
  cmd/armadactl/cmd/cancel_test.go
Labels: none

Upgraded pylint and pytest in third_part/airflow and client/python
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

update goreleaser version
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

final test
  .github/workflows/release-rc.yml
Labels: none

final test
  .github/workflows/release-rc.yml
Labels: none

successful run of release
  .github/workflows/docker-readme/action.yml
Labels: none

add FULL_RELEASE var
  .github/workflows/release.yml
  .goreleaser.yml
Labels: none

Add scheduling key check
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

add back ci cluster for python integration tests
  magefiles/ci.go
  magefiles/main.go
Labels: build

Fixes
  internal/scheduler/gang_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Update bechmarks
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

Fix test
  internal/scheduler/schedulerobjects/podutils_test.go
Labels: none

add back ci cluster for python integration tests (#2437)
  magefiles/ci.go
  magefiles/main.go
Labels: build

Upgraded pylint and pytest in third_part/airflow and client/python (#2435)
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

Add grpc pooling code
  internal/common/grpc/grpcpool/LICENSE
  internal/common/grpc/grpcpool/README.md
  internal/common/grpc/grpcpool/pool.go
  internal/common/grpc/grpcpool/pool_test.go
Labels: none

Remove references to external grpc-go-pool library
  go.mod
  go.sum
Labels: none

Add configuration options for jobservice grpc pool
  config/jobservice/config.yaml
  e2e/setup/jobservice.yaml
  internal/common/grpc/configuration/types.go
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
Labels: none

fix lint
  internal/jobservice/application_test.go
  internal/jobservice/events/client_test.go
Labels: none

Use internal version of grpcpool
  internal/jobservice/application.go
  internal/jobservice/events/client.go
  internal/jobservice/events/client_test.go
Labels: none

Have jobservice use a grpc connection pool for talking to armada
  internal/jobservice/application.go
  internal/jobservice/events/client.go
Labels: none

Improve and test RectifyConfig
  internal/jobservice/application.go
  internal/jobservice/application_test.go
Labels: none

Remove old versions of github.com/ClifHouck/grpc-go-pool used during development
  go.sum
Labels: none

add github.com/ClifHouck/grpc-go-pool
  go.mod
  go.sum
Labels: none

fix lint
  internal/common/grpc/grpcpool/pool_test.go
Labels: none

Remove cruft
  internal/common/grpc/grpcpool/pool.go
Labels: none

fix lint
  internal/jobservice/events/client_test.go
Labels: none

A sync.Map must not be copied after first use
  internal/jobservice/application.go
Labels: none

dont' change golang version
  go.mod
Labels: none

Test the PooledEventClient
  internal/jobservice/events/client_test.go
Labels: none

Remove old tests
  internal/common/grpc/grpcpool/pool_test.go
Labels: none

Use a connection pool for gRPC client calls from jobservice to armada-server (#2420)
  config/jobservice/config.yaml
  e2e/setup/jobservice.yaml
  internal/common/grpc/configuration/types.go
  internal/common/grpc/grpcpool/LICENSE
  internal/common/grpc/grpcpool/README.md
  internal/common/grpc/grpcpool/pool.go
  internal/common/grpc/grpcpool/pool_test.go
  internal/jobservice/application.go
  internal/jobservice/application_test.go
  internal/jobservice/configuration/types.go
  internal/jobservice/events/client.go
  internal/jobservice/events/client_test.go
Labels: none
