Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Revert "Add average utilisation to job events (#342)" (#4190)
  internal/common/resource/resource.go
  internal/executor/domain/resources.go
  internal/executor/domain/resources_test.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/pod_utilisation.go
  internal/executor/utilisation/pod_utilisation_custom_metrics.go
  internal/executor/utilisation/pod_utilisation_custom_metrics_test.go
  internal/executor/utilisation/pod_utilisation_kubelet_metrics.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

Fix auth scheduling reports (#4180)
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
Labels: none

Remove Client.scala, add queue methods to ArmadaClient.scala
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/Client.scala
Labels: none

Fix stale cycle metrics by resetting each round (#4176)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

Fix indent issue that caused metals complaints.
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/Client.scala
Labels: none

Update magefiles for Scala build tasks
  magefiles/config.go
  magefiles/main.go
Labels: build

Simplify construction of ArmadaClient
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
Labels: none

Add support for Scala client to Armada.
  build/scala-client/Dockerfile
  client/scala/examples/.gitignore
  client/scala/examples/README.md
  client/scala/examples/build.sbt
  client/scala/examples/lib/.gitkeep
  client/scala/examples/project/build.properties
  client/scala/examples/project/plugins.sbt
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Main.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Queue.scala
  client/scala/scala-armada-client/.gitignore
  client/scala/scala-armada-client/.scalafmt.conf
  client/scala/scala-armada-client/README.md
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/project/build.properties
  client/scala/scala-armada-client/project/plugins.sbt
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
  magefiles/scala.go
  scripts/build-scala-client.sh
Labels: build

Lookout UI bugfix (shift-click select rows)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Prevent multiple OIDC authn redirects on Lookout UI
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/ReprioritiseDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.tsx
  internal/lookout/ui/src/containers/CancelJobSetsDialog.tsx
  internal/lookout/ui/src/containers/ReprioritizeJobSetsDialog.tsx
  internal/lookout/ui/src/oidc.ts
  internal/lookout/ui/src/oidcAuth/OidcAuthContext.ts
  internal/lookout/ui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookout/ui/src/oidcAuth/hooks.ts
  internal/lookout/ui/src/oidcAuth/index.ts
  internal/lookout/ui/src/oidcAuth/utils.ts
  internal/lookout/ui/src/services/lookoutV2/CordonService.ts
  internal/lookout/ui/src/services/lookoutV2/LogService.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobSetsService.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetLogs.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
  internal/lookout/ui/src/utils.tsx
Labels: none

Lookout UI bugfix (shift-click select rows) (#4194)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Don't error when getting logs of deleted pod
  internal/binoculars/service/logs.go
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

Prevent multiple OIDC authn redirects on Lookout UI (#4196)
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/NavBar.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/ReprioritiseDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.tsx
  internal/lookout/ui/src/containers/CancelJobSetsDialog.tsx
  internal/lookout/ui/src/containers/ReprioritizeJobSetsDialog.tsx
  internal/lookout/ui/src/oidc.ts
  internal/lookout/ui/src/oidcAuth/OidcAuthContext.ts
  internal/lookout/ui/src/oidcAuth/OidcAuthProvider.tsx
  internal/lookout/ui/src/oidcAuth/hooks.ts
  internal/lookout/ui/src/oidcAuth/index.ts
  internal/lookout/ui/src/oidcAuth/utils.ts
  internal/lookout/ui/src/services/lookoutV2/CordonService.ts
  internal/lookout/ui/src/services/lookoutV2/LogService.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobSetsService.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetLogs.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
  internal/lookout/ui/src/utils.tsx
Labels: none

Lookout development: add and document Vite config for proxying API requests (#4191)
  internal/lookout/ui/README.md
  internal/lookout/ui/vite.config.mts
Labels: none

Don't error when getting logs of deleted pod (#4195)
  internal/binoculars/service/logs.go
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

Update useGetQueues.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueues.ts
Labels: none

Update useGetQueues.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueues.ts
Labels: none

Autocomplete filter for queue names (#4184)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/job-sets/JobSets.css
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/job-sets/QueueSelector.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableFilter.tsx
  internal/lookout/ui/src/components/lookoutV2/QueueFilter.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/mockServer.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueues.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/jobsTableUtils.ts
  internal/lookout/ui/yarn.lock
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/tables.go
Labels: none

Build examples projects with manual copying client jar
  client/scala/examples/README.md
  client/scala/examples/build.sbt
  client/scala/examples/lib/.gitkeep
Labels: none

Add mavenLocal resolver
  client/scala/examples/build.sbt
Labels: none

Improve allocatable resource calculation - nodeDb
  e2e/setup/kind.yaml
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Remove superfluous directives in build.sbt; remove unneeded examples
  client/scala/examples/build.sbt
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Main.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Queue.scala
Labels: none

Start client method names with lowercase chars
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
Labels: none

Simplify setting evicted priority allocatable resource
  internal/scheduler/internaltypes/node.go
Labels: none

Change a var to val in Scala client test; add note about codegen
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
  scripts/build-scala-client.sh
Labels: build

Scala client protobuf generation and build container (Take 2) (#4192)
  build/scala-client/Dockerfile
  client/scala/examples/.gitignore
  client/scala/examples/README.md
  client/scala/examples/build.sbt
  client/scala/examples/project/build.properties
  client/scala/examples/project/plugins.sbt
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/scala-armada-client/.gitignore
  client/scala/scala-armada-client/.scalafmt.conf
  client/scala/scala-armada-client/README.md
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/project/build.properties
  client/scala/scala-armada-client/project/plugins.sbt
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
  magefiles/config.go
  magefiles/main.go
  magefiles/scala.go
  scripts/build-scala-client.sh
Labels: build

Scheduler To Use internaltypes.JobSchedulingInfo (#4182)
  internal/scheduler/internaltypes/job_scheduling_info.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/test_utils.go
  internal/scheduler/metrics.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

fixes
  internal/scheduler/internaltypes/job_scheduling_info.go
  internal/scheduler/internaltypes/job_scheduling_info_test.go
  internal/scheduler/jobdb/job_test.go
Labels: none

fix merge conflict
  internal/scheduler/scheduler.go
Labels: scheduler

deep copyjob_scheduling_info
  internal/scheduler/internaltypes/job_scheduling_info.go
Labels: none

lint
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/adapters/adapters.go
  pkg/executorapi/util.go
Labels: none

fix tests
  pkg/api/util_test.go
Labels: proto

Remove unused func
  internal/scheduler/internaltypes/node.go
Labels: none

Improve allocatable resource calculation - nodeDb (#4197)
  e2e/setup/kind.yaml
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Move JobRepository interface
  internal/scheduler/jobdb/repository.go
  internal/scheduler/scheduling/defrag_node_scheduler.go
  internal/scheduler/scheduling/defrag_queue_scheduler.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

linting on lookoutui rename (#350)
  internal/lookoutui/src/services/lookoutV2/mocks/FakeGetJobsService.ts
  internal/lookoutui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
Labels: none

remove gogo
  internal/common/proto/protoutil.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

add test for toDuration
  internal/common/proto/protoutil_test.go
Labels: none

Remove Gogo From Simulator Protos (#4200)
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  internal/scheduler/simulator/simulator_test.go
  internal/scheduler/simulator/test_utils.go
Labels: none

Set HOME in Dockerfile
  build/scala-client/Dockerfile
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
