Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

add job example
  testsuite/testcases/basic/submit_job_1x1.yaml
Labels: none

Fix runs getting stuck in non-terminal states
  internal/executor/reporter/job_event_reporter.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Swap log to info
  internal/executor/reporter/job_event_reporter.go
Labels: none

Remove calls to `GetRequirements` where possible (#2608)
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

Fix typo
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Initialise nodeSelector/annotations
  internal/scheduler/jobdb/job.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Remove unused functions
  internal/scheduler/schedulerobjects/podutils.go
Labels: none

Lint
  internal/scheduler/scheduler.go
Labels: scheduler

Initialise nodeSelector/annotations in Pulsar-backed scheduler (#2610)
  internal/scheduler/jobdb/job.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/podutils.go
Labels: scheduler

Move fair share comp. into context
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/context/context.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Avoid evicting queues below their fair share
  config/armada/config.yaml
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/common_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Add tests
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Comment
  internal/armada/configuration/types.go
Labels: none

Comment
  internal/armada/configuration/types.go
Labels: none

add lint workflow
  .github/workflows/lint.yml
Labels: none

remove branches condition for test workflow on pr
  .github/workflows/test.yml
Labels: none

Fix runs getting stuck in non-terminal states (#2609)
  internal/executor/reporter/job_event_reporter.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Make the node database operate on jobs instead of pods
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/common_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/requirements.go
  internal/scheduler/schedulerobjects/schedulinginfo.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
Labels: proto, scheduler

docs: init design draft
  docs/design/database_interfaces.md
Labels: none

docs: update Database interfaces
  docs/design/database_interfaces.md
Labels: none

docs: update snippets formatting
  docs/design/database_interfaces.md
Labels: none

Fix the tests
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

Fix the tests
  pkg/api/util_test.go
Labels: proto

Initial commit
  internal/armada/configuration/types.go
  internal/scheduler/context/context.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

Cleanup
  internal/scheduler/context/context.go
Labels: none

Avoid divide by zero
  internal/armada/server/lease.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Avoid evicting queues below their fair share (#2611)
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/common_test.go
  internal/scheduler/context/context.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Fix merge
  internal/scheduler/common.go
Labels: scheduler

Remove redundant assignment to `isSchedulable`
  internal/scheduler/submitcheck.go
Labels: scheduler

Document setup for Armada development on Ubuntu (BATCH-402)
  docs/developer/ubuntu-setup.md
Labels: none

Make the node database operate on jobs instead of pods (#2612)
  internal/armada/server/lease.go
  internal/scheduler/common.go
  internal/scheduler/common_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/reports_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/requirements.go
  internal/scheduler/schedulerobjects/schedulinginfo.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

Add missing config
  config/armada/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/context/context.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Comments
  internal/armada/configuration/types.go
  internal/scheduler/context/context.go
Labels: none

Cleanup
  internal/scheduler/context/context.go
Labels: none

Consider queues with queued/running jobs for fairness
  internal/armada/server/lease.go
  internal/scheduler/context/context.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

add aggregate workflow for CI
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: none

make test job after lint job
  .github/workflows/ci.yml
Labels: none

add codeql job to ci
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: none

fix permissions in ci workflow
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: none

make codeql job run after lint job
  .github/workflows/ci.yml
Labels: none
