Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Move allocation logic from NodeDb to Node methods
  internal/scheduler/internaltypes/node.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Swap fair share and urgency scheduling
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

post merge proto
  pkg/armadaevents/events.pb.go
Labels: none

mage proto
  pkg/api/event.pb.go
  pkg/api/executor.pb.go
  pkg/api/health.pb.go
  pkg/api/job.pb.go
  pkg/api/node.pb.go
  pkg/api/submit.pb.go
  pkg/api/testspec.pb.go
  pkg/controlplaneevents/events.pb.go
  pkg/metricevents/events.pb.go
Labels: proto

merge conflict
  pkg/api/event.pb.go
  pkg/api/executor.pb.go
  pkg/api/health.pb.go
  pkg/api/job.pb.go
  pkg/api/node.pb.go
  pkg/api/submit.pb.go
  pkg/api/testspec.pb.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/controlplaneevents/events.pb.go
  pkg/metricevents/events.pb.go
Labels: proto

merge conflict
  internal/lookoutingester/instructions/instructions.go
Labels: none

Delete failed pods matching a Delete-action category so retries can reuse the name
  internal/common/errormatch/doc.go
  internal/common/errormatch/types.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/types.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

deprecate unused fields, wrap existing messages
  pkg/api/testspec.proto
Labels: proto

generate proto
  pkg/api/testspec.pb.go
Labels: proto

JobPreemptRequest and JobReprioritizeConfig don't have corresponding JobSet messages, needs a flag
  pkg/api/testspec.proto
Labels: proto

generated proto
  pkg/api/testspec.pb.go
Labels: proto

refactor testrunner to reflect changes in test cases
  internal/testsuite/testrunner.go
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/basic/preempt_by_id_1x1.yaml
  testsuite/testcases/basic/preempt_by_ids_1x5.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x5.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x5.yaml
Labels: testsuite

Introduce scheduler traces
  internal/common/armadacontext/armada_context.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/scheduling/tracing.go
Labels: none

Delete failed pods matching a Delete-action category so retries can reuse the name (#4999)
  internal/common/errormatch/doc.go
  internal/common/errormatch/types.go
  internal/executor/categorizer/classifier.go
  internal/executor/categorizer/classifier_test.go
  internal/executor/categorizer/types.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Add category-based retry policy engine and RetryPolicy API resource
  client/rust/src/gen/api.rs
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/retry/cache.go
  internal/scheduler/retry/cache_test.go
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/convert_test.go
  internal/scheduler/retry/doc.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/matcher.go
  internal/scheduler/retry/types.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/deserialize.go
  pkg/api/deserialize_test.go
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
Labels: proto

Add category-based retry policy engine and RetryPolicy API resource (#4998)
  client/rust/src/gen/api.rs
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/retry/cache.go
  internal/scheduler/retry/cache_test.go
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/convert_test.go
  internal/scheduler/retry/doc.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/matcher.go
  internal/scheduler/retry/types.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/deserialize.go
  pkg/api/deserialize_test.go
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
Labels: proto

job cancelled events as a scheduler termination reason (#4990)
  internal/common/ingest/testfixtures/event.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/040_add_cancel_reason.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/reconciliation_test.go
  internal/scheduler/scheduler.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler, scheduleringester

fix: split up test runs for jobs that need to be running concurrently
  magefiles/ci.go
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/preemption/preempt_by_id_1x1.yaml
  testsuite/testcases/preemption/preempt_by_ids_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: build

add total time for convenience
  magefiles/ci.go
Labels: build

upload all junit test results
  .github/workflows/test.yml
Labels: none

print out the results for basic and categorization test cases
  magefiles/ci.go
Labels: build

fix: CI test path
  magefiles/ci.go
Labels: build

fix: remove queueConfig from basic tests
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/basic/failure_1x1.yaml
  testsuite/testcases/basic/failure_errimagepull.yaml
  testsuite/testcases/basic/failure_namespace.yaml
  testsuite/testcases/basic/failure_oom_1x1.yaml
  testsuite/testcases/basic/gang.yaml
  testsuite/testcases/basic/ingress.yaml
  testsuite/testcases/basic/preempt_by_id_1x1.yaml
  testsuite/testcases/basic/preempt_by_ids_1x5.yaml
  testsuite/testcases/basic/priorityclass_default.yaml
  testsuite/testcases/basic/service_headless.yaml
  testsuite/testcases/basic/submit_1x1.yaml
  testsuite/testcases/basic/submit_2x3.yaml
  testsuite/testcases/basic/submit_fileshare_1x1.yaml
  testsuite/testcases/basic/submit_random_clientid.yaml
Labels: none

Allow configuring taints of nodes from away pools
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/node_factory_test.go
  internal/scheduler/scheduling/node_modifications.go
  internal/scheduler/scheduling/node_modifications_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Convert AwayPools to be objects rather than strings (#5006)
  internal/common/config/hooks.go
  internal/common/config/hooks_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/scheduling/reconciliation.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Add RetryPolicy CRUD service, client, and armadactl support
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/retrypolicy.go
  cmd/server/main.go
  internal/armadactl/app.go
  internal/armadactl/queue.go
  internal/armadactl/retrypolicy.go
  internal/armadactl/retrypolicy_test.go
  internal/lookout/schema/migrations/035_create_retry_policy.sql
  internal/server/executor/executor_server_test.go
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/node/node_test.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queue/queue_service.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/repository_test.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/retrypolicy/validation.go
  internal/server/retrypolicy/validation_test.go
  internal/server/server.go
  internal/server/servertest/grpc.go
  pkg/client/queue/queue.go
  pkg/client/resource.go
  pkg/client/retrypolicy/create.go
  pkg/client/retrypolicy/delete.go
  pkg/client/retrypolicy/get.go
  pkg/client/retrypolicy/update.go
Labels: armadactl

Add per-rule mutate block with node anti-affinity opt-in for retry policies
  client/rust/src/gen/api.rs
  docs/retry_policies.md
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/convert_test.go
  internal/scheduler/retry/engine.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/types.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: docs, proto, scheduler

Wire the retry policy engine into the scheduler behind a feature flag
  _local/server/config.yaml
  client/rust/src/gen/api.rs
  config/scheduler/config.yaml
  docs/retry_policies.md
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/retry.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/eventwatcher/validators.go
  magefiles/ci.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/client/domain/watch.go
  pkg/client/domain/watch_test.go
Labels: build, docs, proto, scheduler

Add e2e testsuite case asserting retry-policy retryable failure events
  _local/scheduler/config.yaml
  magefiles/ci.go
  testsuite/testcases/retry/retryable_failure.yaml
Labels: build

Classify retryable pod failures on the lease-return path
  internal/executor/metrics/metrics.go
  internal/executor/reporter/event.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
Labels: none

Add armadactl delete executor command
  _local/server/config.yaml
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/delete.go
  cmd/armadactl/cmd/params.go
  cmd/armadactl/cmd/queue_test.go
  cmd/armadactl/cmd/resources/README.md
  internal/armadactl/app.go
  internal/armadactl/executor.go
  internal/broadside/db/memory.go
  internal/common/constants/constants.go
  internal/common/ingest/testfixtures/event.go
  internal/lookout/repository/fieldparser.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/executor_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/mocks/api.go
  internal/scheduler/mocks/executor_repository.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/config.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/server.go
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.pb.gw.go
  pkg/api/submit.proto
  pkg/client/controlplane/delete_executor.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, armadactl, scheduler, scheduleringester

scala and rust
  build/scala-client/Dockerfile
  client/rust/src/gen/api.rs
  client/scala/armada-scala-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
Labels: none

wip
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Make cross-pool jobs be preempted before home-pool jobs
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/market_iterator_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

Lint
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

split test runs for jobs that need to be running concurrently (#5034)
  .github/workflows/test.yml
  magefiles/ci.go
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/preemption/preempt_by_id_1x1.yaml
  testsuite/testcases/preemption/preempt_by_ids_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: build

Fix scheduler recording rules: typo, dangling references, windows, subcategory label casing
  deployment/scheduler/templates/scheduler-prometheusrule.yaml
Labels: none

add node tests back in
  magefiles/ci.go
Labels: build

refactor boilerplate test setup
  magefiles/ci.go
Labels: build

fix: merged incorrectly
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/testsuite/testrunner_queue_test.go
Labels: testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
