Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Update README.md
  README.md
Labels: none

Update architecture.md
  docs/architecture.md
Labels: docs

Add architecture docs (#2372)
  README.md
  docs/architecture.md
Labels: docs

Updating Github Pages branch with latest Master changes
  architecture.md
Labels: none

Short circuit loading requeued jobs state on initial load / leader change
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Formatting
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/schedulerdb.go
Labels: scheduler, scheduleringester

Can't use that yaml reference
  .goreleaser.yml
Labels: none

Handle nil affinity being used
  internal/scheduler/kubernetesobjects/affinity/affinity.go
  internal/scheduler/kubernetesobjects/affinity/affinity_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

Check error in test
  internal/scheduler/scheduler_test.go
Labels: scheduler

Fix flakey leader election test (#2371)
  internal/scheduler/leader_test.go
Labels: scheduler

Fix unit test
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Use inline cache for DOCKER_BUILDX_CACHE_FROM by default
  .goreleaser.yml
Labels: none

Refactoring
  cmd/scheduler/cmd/root.go
  internal/armada/server/lease.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/leader.go
  internal/scheduler/leader_test.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Use inline cache for DOCKER_BUILDX_CACHE_FROM by default (#2373)
  .goreleaser.yml
Labels: none

Add scheduler to go-releaser and github action to publish images (#2367)
  .github/workflows/build-release-images.yml
  .github/workflows/upload-docker-images.yml
  .goreleaser.yml
  build_goreleaser/scheduler/Dockerfile
  build_goreleaser/scheduleringester/Dockerfile
Labels: none

Use pgx connection pooling on Postgres (BATCH-170)
  config/jobservice/config.yaml
  go.mod
  go.sum
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
  internal/jobservice/events/client_moq.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_moq.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Updating Github Pages branch with latest Master changes
  architecture.md
  design.md
  scheduler.md
Labels: none

wip
  internal/armada/metrics/metrics.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
Labels: scheduler

wip
  internal/scheduler/metrics.go
  internal/scheduler/schedulerobjects/node.go
Labels: scheduler

[Pulsar Scheduler] Don't Schedule Jobs When Executors Are Lagging Behind (#2308)
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures_test.go
Labels: scheduler

[armada-scheduler] Avoid retrying jobs on the same node (#2343)
  client/DotNet/ArmadaProject.Io.Client/ArmadaProject.Io.Client.csproj
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/apimessages/conversions_test.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/kubernetesobjects/affinity/affinity.go
  internal/scheduler/kubernetesobjects/affinity/affinity_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/jobid.go
Labels: scheduler, scheduleringester

Use pgx.batch
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

fixes to comments and errors
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/kubernetesobjects/affinity/affinity.go
  internal/scheduler/scheduler.go
Labels: scheduler

wip
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/requirements.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

No longer store pod_requirements_hash as a separate db column
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/pool_assigner.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Remove debug code
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

imports
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Removed unused line
  internal/common/ingest/testfixtures/event.go
Labels: none

Update architecture.md
  docs/architecture.md
Labels: docs

Update architecture.md (#2377)
  docs/architecture.md
Labels: docs

Updating Github Pages branch with latest Master changes
  architecture.md
Labels: none

basic
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Get Postgres and SQLite configs working in unit tests
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

Add new context param to various func invocations.
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sql_job_service_moq.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/server/server.go
Labels: none

Also remove the test.db-shm and test.db-wal test files for SQLite
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

Updating Github Pages branch with latest Master changes
  architecture.md
Labels: none

golangci-lint fixes
  internal/jobservice/application.go
  internal/jobservice/eventstojobs/eventstojobs_test.go
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service.go
  internal/jobservice/repository/sqlite.go
Labels: none

Add short sleep for CI Integration tests
  magefiles/main.go
Labels: build

Try a 2-minute sleep before running e2e tests after cluster build.
  magefiles/main.go
Labels: build

Remove debugging comment.
  internal/jobservice/eventstojobs/eventstojobs.go
Labels: none
