Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Push metrics from testsuite
  cmd/testsuite/cmd/test.go
  internal/testsuite/app.go
  internal/testsuite/testrunner.go
Labels: testsuite

ArmadaContext.Log Improvements (#2965)
  cmd/scheduler/cmd/prune_database.go
  internal/armada/server/lease.go
  internal/armada/server/submit_from_log.go
  internal/common/armadacontext/armada_context.go
  internal/common/armadacontext/armada_context_test.go
  internal/common/logging/stacktrace.go
  internal/scheduler/api.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/util.go
  internal/scheduler/leader.go
  internal/scheduler/metrics.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
Labels: scheduler

#2905 - fix indentation
  .github/workflows/autoupdate.yml
Labels: none

Airflow: handle poll_interval attr in ArmadaJobCompleteTrigger
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/utils.py
  third_party/airflow/tests/unit/test_search_for_job_complete_asyncio.py
Labels: none

Run `on.push` only for master (#2968)
  .github/workflows/ci.yml
  .github/workflows/not-airflow-operator.yml
  .github/workflows/not-python-client.yml
Labels: none

Airflow - add unit test for armada deferrable operator
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tests/unit/test_armada_deferrable_operator.py
Labels: docs

updated
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: none

run tox -e formate-code to remove errors
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: none

wip
  internal/scheduler/reports.go
Labels: scheduler

wip
  .run/Scheduler.run.xml
  cmd/main/fish.go
Labels: none

wip
  internal/common/util/tabbed_string_builder.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/database/executor_repository.go
  internal/scheduler/database/redis_executor_repository_test.go
  internal/scheduler/kubernetesobjects/affinity/affinity_test.go
Labels: none

rename prepare-release to build
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/test.yml
Labels: none

WIP: Airflow: fix undefined poll_interval in Deferrable Operator (#2975)
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/utils.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tests/unit/test_armada_deferrable_operator.py
  third_party/airflow/tests/unit/test_search_for_job_complete_asyncio.py
Labels: docs

Updating Github Pages branch with latest Master changes
  developer/manual-localdev.md
  python_airflow_operator.md
Labels: none

Release Airflow Operator v0.5.6
  third_party/airflow/pyproject.toml
Labels: none

Release Airflow Operator v0.5.6 (#2979)
  third_party/airflow/pyproject.toml
Labels: none

Fixes
  internal/lookout/ui/.eslintrc.js
Labels: none

#2905 - fix indentation (#2971)
  .github/workflows/autoupdate.yml
Labels: none

fix test
  internal/scheduler/database/redis_executor_repository_test.go
Labels: none

LookoutV2 table should not overflow beyond the viewport
  internal/lookout/ui/README.md
  internal/lookout/ui/src/App.css
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Sphinx dependencies (#2983)
  internal/lookout/ui/.eslintrc.js
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

Initial commit to fix CI not running
  .github/workflows/airflow-operator.yml
  .github/workflows/ci.yml
  .github/workflows/python-client.yml
Labels: none

Added if statement to try and fix CI duplication
  .github/workflows/ci.yml
Labels: none

remove stray files
  .run/Scheduler.run.xml
  cmd/main/fish.go
Labels: none

LookoutV2 table should not overflow beyond the viewport (#2977)
  internal/lookout/ui/README.md
  internal/lookout/ui/src/App.css
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

fix: ci not running on forks
  .github/workflows/ci.yml
Labels: none

fix: ci not running on forks (#2989)
  .github/workflows/ci.yml
Labels: none

Push metrics from testsuite (#2970)
  cmd/testsuite/cmd/test.go
  internal/testsuite/app.go
  internal/testsuite/testrunner.go
Labels: testsuite

fix: armadactl build flags
  .goreleaser.yml
Labels: none

test ci
  .github/workflows/ci.yml
Labels: none

Added a fix
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Added if statement to try and fix CI duplication (#2988)
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update go.mod
  go.mod
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update go.mod
  go.mod
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none
