Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix: build/armadactl/Dockerfile to reduce vulnerabilities
  build/armadactl/Dockerfile
Labels: none

fix: build/scheduleringester/Dockerfile to reduce vulnerabilities
  build/scheduleringester/Dockerfile
Labels: none

fix: build/fakeexecutor/Dockerfile to reduce vulnerabilities
  build/fakeexecutor/Dockerfile
Labels: none

fix: build/eventingester/Dockerfile to reduce vulnerabilities
  build/eventingester/Dockerfile
Labels: none

fix: build/binoculars/Dockerfile to reduce vulnerabilities
  build/binoculars/Dockerfile
Labels: none

fix: build/executor/Dockerfile to reduce vulnerabilities
  build/executor/Dockerfile
Labels: none

fixing unit test
  internal/lookout/db-gen/main.go
Labels: none

mage test update and go code coverage
  .github/workflows/test.yml
  magefiles/tests.go
Labels: build

lintfix
  magefiles/tests.go
Labels: build

lint fix
  magefiles/tests.go
Labels: build

generate_v1.py Update Number:2
  docs/design/diagrams/relationships/generate_v1.py
Labels: none

generate.py runs generate_v1.py as well as generate_v2.py and it is consistent with our instructions as 'docs/design/diagrams/relationships'
  docs/design/diagrams/relationships/generate.py
Labels: none

local dev error improvement
  magefiles/main.go
Labels: build

removing depreceatedioutil
  e2e/pulsar_test/pulsar_test.go
  internal/common/compress/compressor_test.go
  internal/executor/utilisation/prometheus_scraping_test.go
  internal/lookoutv2/gen/restapi/server.go
  internal/testsuite/app.go
  magefiles/debug.go
  magefiles/proto.go
  pkg/client/auth/oidc/device.go
Labels: build, testsuite

add on_kill() and unit test
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/tests/unit/test_armada_operator.py
Labels: docs

squashing failed commits
  .github/workflows/lint.yml
Labels: none

Added required changes for new config value
  config/armada/config.yaml
  developer/env/localhost_access.env
  internal/armada/configuration/types.go
  internal/scheduler/submitcheck.go
  magefiles/main.go
Labels: build, scheduler

Removed debugging code
  internal/scheduler/submitcheck.go
Labels: scheduler

Changes to remove the sleep from localdev
  docker-compose.yaml
  magefiles/developer.go
  magefiles/main.go
Labels: build

Small Code Changes
  magefiles/developer.go
Labels: build

Changed airflow files location
  .gitignore
  developer/airflow/.env
  developer/airflow/.gitignore
  developer/airflow/Dockerfile
  developer/airflow/dags
  developer/airflow/docker-compose.yaml
  developer/airflow/init.sh
  magefiles/airflow.go
Labels: build

fixing cert tests
  internal/common/certs/cached_certificate_test.go
Labels: none

making reviewed changes
  internal/common/certs/cached_certificate_test.go
Labels: none

feat: Add installaton of Redux toolkit and redux for state managenment
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

feat: Remove initia localstorage implementation logic and made use of Redux persist state
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/jobs/JobDetailLog.tsx
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/store/features/jobLogSlice.tsx
  internal/lookout/ui/src/store/index.tsx
Labels: none

Ignore: Add slow-job-test-yaml and armadactl to ignore file, as they are used only on my localmachine for viewing logs in job logs
  .gitignore
Labels: none

Add poll_interval
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

Add poll_interval
  docs/python_airflow_operator.md
Labels: docs

fixing unit test (#2798)
  internal/lookout/db-gen/main.go
Labels: none

fix: add windows specific script for mage ui (#2734)
  internal/lookout/ui/package.json
  magefiles/utils.go
  magefiles/yarn.go
Labels: build

generate_v1.py Update No:3
  docs/design/diagrams/relationships/generate_v1.py
Labels: none

Armada V1 and Armada V2 diagrams
  docs/design/diagrams/relationships/armada_system.png
  docs/design/diagrams/relationships/armada_v1_system.png
  docs/design/diagrams/relationships/armada_v2_system.png
Labels: none

[armada-scheduler] Add metrics for node counts (#2780)
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

Added poll_interval
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
Labels: docs

Add config to globally disable scheduling (#2779)
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Lookoutv2: Remove unnecessary transactions
  internal/lookoutv2/repository/getjobrunerror.go
  internal/lookoutv2/repository/getjobspec.go
Labels: none

better error handling
  internal/lookoutv2/repository/getjobrunerror.go
  internal/lookoutv2/repository/getjobspec.go
Labels: none

remove setup go as its a duplicate
  .github/workflows/python-tests/action.yml
Labels: none

remove setup go as its a duplicate (#2808)
  .github/workflows/python-tests/action.yml
Labels: none

Changed airflow files location (#2803)
  .gitignore
  developer/airflow/.env
  developer/airflow/.gitignore
  developer/airflow/Dockerfile
  developer/airflow/dags
  developer/airflow/docker-compose.yaml
  developer/airflow/init.sh
  magefiles/airflow.go
Labels: build
