Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

no error needed
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

revert swagger
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

remove references
  .github/workflows/build.yml
  .gitignore
  magefiles/dotnet.go
Labels: build

Add configuration options, so we can build python internally (#162) (#3636)
  build/airflow-operator/Dockerfile
  build/python-client/Dockerfile
  magefiles/airflow.go
  magefiles/ci.go
  magefiles/cmd.go
  magefiles/config.go
  magefiles/docker.go
  magefiles/python.go
Labels: build

Align protobuf versions across operator and client (#163)
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

Update pyproject.toml
  client/python/pyproject.toml
Labels: client-python

Align protobuf versions across operator and client (#163) (#3638)
  client/python/pyproject.toml
  third_party/airflow/pyproject.toml
Labels: client-python

Syncing out Armada Airflow Operator (#164)
  third_party/airflow/new/.gitattributes
  third_party/airflow/new/.gitignore
  third_party/airflow/new/README.md
  third_party/airflow/new/armada_airflow/__init__.py
  third_party/airflow/new/armada_airflow/auth.py
  third_party/airflow/new/armada_airflow/logs/log_consumer.py
  third_party/airflow/new/armada_airflow/logs/pod_log_manager.py
  third_party/airflow/new/armada_airflow/logs/utils.py
  third_party/airflow/new/armada_airflow/model.py
  third_party/airflow/new/armada_airflow/operators/armada.py
  third_party/airflow/new/armada_airflow/triggers/armada.py
  third_party/airflow/new/pyproject.toml
  third_party/airflow/new/setup.py
  third_party/airflow/new/tests/__init__.py
  third_party/airflow/new/tests/operators/__init__.py
  third_party/airflow/new/tests/operators/test_armada.py
  third_party/airflow/new/tests/triggers/__init__.py
  third_party/airflow/new/tests/triggers/test_armada.py
Labels: none

update to k8s 1.26
  e2e/setup/kind.yaml
  go.mod
  go.sum
  magefiles/kind.go
  tools.yaml
Labels: build

go mod tidy
  cmd/lookoutv2/main.go
  cmd/scheduler/cmd/prune_database.go
  go.mod
  go.sum
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
  internal/common/auth/kubernetes.go
  internal/common/auth/kubernetes_test.go
  internal/common/ingest/batch.go
  internal/common/ingest/batch_test.go
  internal/executor/application.go
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/utilisation/pod_utilisation_custom_metrics.go
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: executor, lookout, scheduler

Interface change on AddPodEventHandler
  internal/armada/submit/submit_test.go
  internal/common/auth/kubernetes_test.go
  internal/common/ingest/batch_test.go
  internal/executor/application.go
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/fake/context/context.go
  internal/executor/job/job_run_state_store.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/service/resource_cleanup.go
  internal/executor/service/resource_cleanup_test.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/api_test.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck_test.go
Labels: executor, scheduler

fix test
  internal/executor/service/resource_cleanup_test.go
Labels: none

fix proto
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
Labels: proto

more memory- newer alpine
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/basic/failure_1x1.yaml
  testsuite/testcases/basic/failure_errimagepull.yaml
  testsuite/testcases/basic/failure_namespace.yaml
  testsuite/testcases/basic/failure_oom_1x1.yaml
  testsuite/testcases/basic/ingress.yaml
  testsuite/testcases/basic/priorityclass_default.yaml
  testsuite/testcases/basic/submit_1x1.yaml
  testsuite/testcases/basic/submit_2x3.yaml
  testsuite/testcases/basic/submit_fileshare_1x1.yaml
  testsuite/testcases/basic/submit_random_clientid.yaml
  testsuite/testcases/performance/submit_10x100.yaml
  testsuite/testcases/performance/submit_1x1K.yaml
  testsuite/testcases/performance/submit_load_1x500.yaml
  testsuite/testcases/performance/submit_load_5x100.yaml
Labels: none

wip
  client/DotNet/Armada.Client/ClientGenerated.cs
Labels: none

lint
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
Labels: proto

[scheduleringester] Fix merging UpdateJobPriorities (#3634)
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

[Executor] Allow specifying node-type via label
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
Labels: executor

Remove NodeTypeIdentifier + add test for node type from label
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
  internal/executor/utilisation/cluster_utilisation.go
Labels: none

gofumpt
  internal/executor/node/node_group_test.go
Labels: none

Add metrics for completed run durations by queue (#3635)
  internal/scheduler/metrics/metrics.go
Labels: none

Fix Fair Share (#3625)
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Metrics to be driven from statically assigned pools (#3637)
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Remove old c# rest client (#3633)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  client/DotNet/Armada.Client.Test/Armada.Client.Test.csproj
  client/DotNet/Armada.Client.Test/Tests.cs
  client/DotNet/Armada.Client.sln
  client/DotNet/Armada.Client/Armada.Client.csproj
  client/DotNet/Armada.Client/Client.cs
  client/DotNet/Armada.Client/ClientGenerated.cs
  magefiles/dotnet.go
Labels: build, client-dotnet

[Executor] Allow specifying node-type via label (#3644)
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
  internal/executor/utilisation/cluster_utilisation.go
Labels: executor

Remove node and queue quarantining
  internal/scheduler/failureestimator/failureestimator.go
  internal/scheduler/failureestimator/failureestimator_test.go
  internal/scheduler/failureestimator/simulator.jl
  internal/scheduler/quarantine/node_quarantiner.go
  internal/scheduler/quarantine/queue_quarantiner.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Remove config
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
Labels: none

Move Queues To A Separate Endpoint (#3632)
  internal/armada/event/event.go
  internal/armada/event/event_test.go
  internal/armada/mocks/generate.go
  internal/armada/mocks/mock_repository.go
  internal/armada/queue/queue_cache.go
  internal/armada/queue/queue_cache_test.go
  internal/armada/queue/queue_repository.go
  internal/armada/queue/queue_repository_test.go
  internal/armada/queue/queue_service.go
  internal/armada/repository/health_redis.go
  internal/armada/server.go
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
  internal/armada/submit/testfixtures/test_fixtures.go
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto, server

newline
  pkg/api/api.swagger.json
Labels: proto

Clean Up Api Proto (#3593)
  client/python/tests/unit/test_event.py
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/armada/event/event.go
  internal/armada/event/event_test.go
  internal/jobservice/eventstojobs/event_job_response.go
  internal/jobservice/eventstojobs/event_job_response_test.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/scheduleringester/instructions.go
  internal/testsuite/eventwatcher/eventwatcher.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/event_util.go
  pkg/api/util.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/jobid.go
  pkg/client/domain/watch.go
  pkg/client/watch.go
  testsuite/performance/jobservice/fakearmada/event_server.go
Labels: proto, scheduleringester

Fix dotnet publishing
  .github/workflows/release.yml
Labels: none

Fix tests
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Fix pool reconciliation
  internal/scheduler/database/job_repository.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Change default node-type from pool name to none
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
Labels: none

Fix dotnet publishing (#3646)
  .github/workflows/release.yml
Labels: none

remove queue ttl
  internal/armada/submit/conversion/conversions.go
  internal/common/eventutil/eventutil.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduleringester/instructions.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler, scheduleringester

lint
  internal/scheduler/scheduler_test.go
Labels: scheduler

fix swagger
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

fix test
  internal/scheduler/jobdb/jobdb.go
Labels: none

fix test
  internal/scheduler/scheduler_test.go
Labels: scheduler
