Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Remove scheduler-side retry policy re-validation so write-time validation is the single home
  docs/retry_policies.md
  internal/scheduler/retry/convert.go
  internal/scheduler/retry/engine_test.go
  internal/scheduler/retry/types.go
Labels: docs

fix: add loging
  magefiles/ci.go
Labels: build

fix: remove duplicate key
  _local/server/config-auth.yaml
Labels: none

wip
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_layout_bench_test.go
  internal/scheduler/jobdb/aggregate_metrics.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

fix
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_bench_test.go
  internal/scheduler/jobdb/aggregate_layout_bench_test.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/queued_demand.go
Labels: none

wip
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
Labels: none

100% test coverage
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

handle edge case in which container has terminated timestamp but remains in running phase
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
Labels: none

do not let diagnostics handle active runs
  internal/executor/service/job_state_reporter.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

assure that existing finished timestamps are not before started or pending timestamps
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

validate application containers are finished in multi-container jobs
  internal/executor/service/job_state_reporter.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
Labels: none

ensure job termination debug info event is sent when pod status update shows new state with mutiple containers with equal terminate timestamps
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
Labels: none

prealloc
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/scheduling/metrics.go
Labels: none

lint
  internal/scheduler/scheduling/metrics.go
Labels: none

Simplify aggregate queued-demand comparison
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

Name aggregate queued-demand comparison explicitly
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/metrics_test.go
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

wip
  internal/scheduler/scheduling/metrics.go
  internal/scheduler/scheduling/metrics_test.go
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

remove comment
  cmd/regatta/config/two-cluster.example.yaml
Labels: none

move node profiles and update to reflect published values
  cmd/regatta/config/node-profiles/README.md
  cmd/regatta/config/node-profiles/eks/p6e-gb200.36xlarge.yaml
  cmd/regatta/config/node-profiles/gb200-slice.yaml
  cmd/regatta/config/node-profiles/generic/cpu-only.yaml
Labels: none

remove ten cluster configs
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-1.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-10.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-2.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-3.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-4.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-5.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-6.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-7.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-8.yaml
  cmd/regatta/config/armada/executor/ten-cluster/config-regatta-9.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-1.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-10.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-2.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-3.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-4.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-5.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-6.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-7.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-8.yaml
  cmd/regatta/config/armada/kind/ten-cluster/regatta-9.yaml
  cmd/regatta/config/armada/procfiles/ten-cluster.Procfile
  cmd/regatta/config/armada/prometheus/ten-cluster.yaml
  cmd/regatta/config/job-specs/fakeexecutor-sleep.yaml
  cmd/regatta/config/ten-cluster.example.yaml
Labels: none

refactor mage kind to support single and multicluster targets
  .run/Start Dependencies.run.xml
  README.md
  _local/compose/full.yaml
  _local/kind/cluster/cluster.yaml
  cmd/regatta/README.md
  cmd/regatta/config/armada/executor/two-cluster/config-regatta-1.yaml
  cmd/regatta/config/armada/executor/two-cluster/config-regatta-2.yaml
  cmd/regatta/config/armada/procfiles/regatta.Procfile
  cmd/regatta/config/kind/two-cluster/regatta-1.yaml
  cmd/regatta/config/kind/two-cluster/regatta-2.yaml
  cmd/regatta/config/two-cluster.example.yaml
  cmd/regatta/docs/metrics-report.md
  cmd/regatta/docs/scaling-and-real-clusters.md
  docs/developer_guide.md
  internal/regatta/config/regatta.go
  magefiles/dev.go
  magefiles/kind.go
  magefiles/main.go
  website/content/developer-guide.mdx
Labels: build, docs

move procfile up one dir, it is not an armada config
  cmd/regatta/config/procfiles/regatta.Procfile
  magefiles/dev.go
Labels: build

cut down wait after queue drain
  cmd/regatta/config/two-cluster.example.yaml
  cmd/regatta/docs/metrics-report.md
Labels: none

model gb300s
  cmd/regatta/config/node-profiles/README.md
  cmd/regatta/config/node-profiles/nvidia/gb300-tray.yaml
Labels: none

filter out JobRunSucceeded and JobValidated events, clear debug messages for JobError events
  internal/eventingester/convert/conversions.go
Labels: none

fix broken unit tests after updated filtering
  internal/eventingester/convert/conversions_test.go
Labels: none

fix
  internal/scheduler/jobdb/aggregate.go
  internal/scheduler/jobdb/aggregate_metrics.go
Labels: none

feat: support pod-level resources (KEP-2837) (#5059)
  config/server/config.yaml
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/cluster_utilisation_test.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/server/configuration/types.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, scheduler

Use the run ID in the executor pod key and pod association selector
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
  internal/executor/util/pod_util.go
Labels: none

fix lost unit test behavior, use table tests
  internal/eventingester/convert/conversions_test.go
Labels: none

wip
  internal/scheduler/scheduling/queued_demand.go
  internal/scheduler/scheduling/scheduling_algo_test.go
Labels: none

use maps for table unit tests
  internal/eventingester/convert/conversions_test.go
Labels: none

chore: replace arduino/setup-protoc with rustfs/setup-protoc
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/test.yml
Labels: none

chore: replace arduino/setup-protoc with rustfs/setup-protoc
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/test.yml
  tools.yaml
Labels: none

fix: bump actions/setup-python
  .github/workflows/python-tests/action.yml
Labels: none

use json stringify function on debug message in job run details UI component
  internal/lookoutui/src/pages/jobs/components/sidebar/JobRunDetails.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.test.tsx
Labels: none

try to fix failing test
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.test.tsx
Labels: none

embed kwok stage crd fixture, make probe retries configurable
  cmd/regatta/cmd/teardown.go
  internal/regatta/kwok/node.go
  internal/regatta/kwok/readiness.go
  internal/regatta/kwok/stage-crd.yaml
  internal/regatta/kwok/stages.yaml
  internal/regatta/submit/retry.go
  internal/regatta/submit/run.go
Labels: none

move concurrency, ready timeout, stage overrides into scenario config
  internal/regatta/config/regatta.go
  internal/regatta/kwok/controller.go
  internal/regatta/kwok/kwok.go
  internal/regatta/orchestrate/orchestrate.go
Labels: none

attempt to fix test
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.test.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none
