Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

update
  docs/python_airflow_operator.md
Labels: docs

fix demo instructions
  docs/demo.md
Labels: docs

fix create queue instruction
  docs/demo.md
Labels: docs

upgrade python
  build/airflow-operator/Dockerfile
  build/python-client/Dockerfile
Labels: none

update alpine to 3.17 everywhere (#2742)
  build/armada-load-tester/Dockerfile
  build/armada/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/jobservice/Dockerfile
  build/lookout/Dockerfile
  build/lookoutingester/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  deployment/lookout-migration/templates/job.yaml
  e2e/armadactl_test/armadactl_test.go
  e2e/lookout_ingester_test/lookout_ingester_test.go
  e2e/pulsar_test/pulsar_test.go
  e2e/setup/setup_cluster_kind.sh
  internal/common/eventutil/eventutil_test.go
  magefiles/kind.go
  makefile
Labels: build

feat: Add border and padding top and left to jobLogs This is to make the logs border more visible and focus on when in view
  developer/env/binoculars.env
  developer/env/lookout.env
  internal/lookout/ui/src/components/job-dialog/JobLogs.css
  slow-job-test.yaml
Labels: none

remove feature in tree
  build/airflow-operator/Dockerfile
  build/python-client/Dockerfile
Labels: none

Fix ArmadaOperator use of job service channel arguments
  third_party/airflow/armada/operators/armada.py
Labels: none

undo goreleaser changes
  .goreleaser.yml
Labels: none

Fix ArmadaOperator use of job service channel arguments (#2751)
  third_party/airflow/armada/operators/armada.py
Labels: none

Bump armada_airflow version to 0.5.1
  third_party/airflow/pyproject.toml
Labels: none

Bump armada_airflow version to 0.5.1 (#2753)
  third_party/airflow/pyproject.toml
Labels: none

feat: Add restructure of job logs heading to figma design view
  internal/lookout/ui/src/components/job-dialog/JobLogs.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsHeader.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsLoadMoreBtn.tsx
  slow-job-test.yaml
Labels: none

clean up dockerfiles
  .goreleaser.yml
  build_goreleaser/bundles/armada-pulsar-backed/Dockerfile
  config/armada/config-pulsar-localdev.yaml
  config/executor/config-pulsar-localdev.yaml
  config/executor/config.yaml
  config/scheduler/config-pulsar-localdev.yaml
  config/scheduleringester/config-pulsar-localdev.yaml
  developer/env/executor-pulsar.env
  developer/env/scheduler.env
  developer/env/scheduleringester.env
  developer/env/server-pulsar.env
  docker-compose.yaml
  magefiles/main.go
Labels: build

feat: Add responsiveness to madal job logs
  internal/lookout/ui/src/components/Dialog.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsHeader.css
  internal/lookout/ui/src/components/job-dialog/JobLogsHeader.tsx
Labels: none

feat: Add horizontal scroll to logs anda bit of line height to make logs more readable
  internal/lookout/ui/src/components/job-dialog/JobLogs.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
Labels: none

feat: Add Min height to logs display for more visibility on the job logs
  internal/lookout/ui/src/components/job-dialog/JobLogs.css
Labels: none

Feat(update): Added Job summary for lint.yml workflow
  .github/workflows/lint.yml
Labels: none

Feat(update): Added Job summary for lint.yml workflow
  .github/workflows/lint.yml
Labels: none

feat: Add separation of main jobb log view to enable reusability
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/jobs/JobDetailLog.tsx
Labels: none

feat: Add tap icon for interactivity
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/Dialog.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/jobs/JobDetailLog.tsx
Labels: none

feat: Add Styling to tab and Load More Btn and Responsiveness to the Btn and tab container
  internal/lookout/ui/src/components/Dialog.css
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
Labels: none

feat: Add styling and alignment to Job log viewtab
  internal/lookout/ui/src/components/jobs/JobDetailLog.css
  internal/lookout/ui/src/components/jobs/JobDetailLog.tsx
Labels: none

[executor] Add job run state metrics (#2721)
  internal/executor/application.go
  internal/executor/healthmonitor/etcd.go
  internal/executor/job/domain.go
  internal/executor/metrics/runstate/job_run_state.go
  internal/executor/metrics/runstate/job_run_state_test.go
Labels: executor

add license, readme and maintainers to armadactl archive
  .goreleaser.yml
Labels: none

switch to pgx.BeginTxFunc
  internal/common/database/upsert.go
  internal/common/pgkeyvalue/pgkeyvalue.go
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutv2/pruner/pruner.go
  internal/lookoutv2/repository/getjobrunerror.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobspec.go
  internal/lookoutv2/repository/groupjobs.go
  internal/scheduler/database/db_pruner.go
  internal/scheduler/database/job_repository.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

add license, readme and maintainers to armadactl archive (#2756)
  .goreleaser.yml
Labels: none

clean up dependencies and waiting
  docker-compose.yaml
  docs/developer.md
  magefiles/developer.go
  magefiles/main.go
Labels: build, docs

Support pulsar backed scheduler with LocalDev (#2754)
  config/executor/config.yaml
  developer/env/executor-pulsar.env
  developer/env/scheduler.env
  developer/env/scheduleringester.env
  developer/env/server-pulsar.env
  docker-compose.yaml
  docs/developer.md
  magefiles/developer.go
  magefiles/main.go
Labels: build, docs

Updating Github Pages branch with latest Master changes
  design/relationships_diagram.md
  developer.md
Labels: none

[armada-scheduler] Fix a bug in syncState causing follower state to be wrong
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

[armada-scheduler] Fix a bug in syncState causing follower state to be wrong (#2757)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Mage conversion (#2652)
  .circleci/config.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build-release-images.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .goreleaser.yml
  build_goreleaser/loadtester/Dockerfile
  magefiles/airflow.go
  magefiles/cmd.go
  magefiles/dotnet.go
  magefiles/kind.go
  magefiles/linting.go
  magefiles/main.go
  magefiles/tests.go
  magefiles/utils.go
Labels: build

Updating Github Pages branch with latest Master changes
  developer.md
Labels: none

Feat(update): Testing and adding scenarios 1 and 2
  .github/workflows/lint.yml
Labels: none

Feat(update): Testing and adding scenarios for golangci-lint
  internal/lookout/application.go
Labels: lookout

Feat(update): Testing and adding scenarios for golangci-lint
  .github/workflows/lint.yml
Labels: none

Update demo.md
  docs/demo.md
Labels: docs

Update demo.md
  docs/demo.md
Labels: docs

Update demo.md
  docs/demo.md
Labels: docs

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
