Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

ARMADA-3552 - Implementing indicative prices (#417)
  internal/common/resource/resource.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/repository.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/pricer/gang_pricer.go
  internal/scheduler/scheduling/pricer/gang_pricer_test.go
  internal/scheduler/scheduling/pricer/node_scheduler.go
  internal/scheduler/scheduling/pricer/node_scheduler_test.go
  internal/scheduler/scheduling/pricer/preemption_info.go
  internal/scheduler/scheduling/pricer/preemption_info_test.go
  internal/scheduler/scheduling/pricer/scheduling_result.go
  internal/scheduler/scheduling/pricer/scheduling_result_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

fix lint issue in internal/common/healthmonitor package
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

fix: lint issue in internal/common/healthmonitor package (#4409)
  internal/common/healthmonitor/multihealthmonitor.go
Labels: none

update golangci-lint version to v2.2.2 in mage and CI; update golangci-lint configuration to v2 format
  .github/workflows/lint.yml
  .golangci.yml
  magefiles/linting.go
Labels: build

lint
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Fix getting Id
  internal/server/submit/validation/submit_request.go
Labels: none

ARMADA-3552 - Fixing tests and linting (#418)
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

docs(website): mv old content to old/
  website/content/old/assets/armada_system.png
  website/content/old/assets/batch-api.svg
  website/content/old/concepts/jobs.mdx
  website/content/old/concepts/meta.json
  website/content/old/concepts/priority-queues.mdx
  website/content/old/concepts/scheduler.mdx
  website/content/old/developer/api.mdx
  website/content/old/developer/architecture.mdx
  website/content/old/developer/aws-ec2.mdx
  website/content/old/developer/index.mdx
  website/content/old/developer/manual-localdev.mdx
  website/content/old/developer/meta.json
  website/content/old/developer/oidc.mdx
  website/content/old/developer/pprof.mdx
  website/content/old/developer/relationships-diagram.mdx
  website/content/old/developer/ubuntu-setup.mdx
  website/content/old/developer/ui.mdx
  website/content/old/developer/usage-metrics.mdx
  website/content/old/developer/website.mdx
  website/content/old/installation.mdx
  website/content/old/integrations/helm.mdx
  website/content/old/integrations/index.mdx
  website/content/old/integrations/python-airflow-operator.md
  website/content/old/integrations/python-armada-client.md
  website/content/old/meta.json
  website/content/old/overview.mdx
  website/content/old/quickstart.mdx
  website/content/old/user.mdx
Labels: none

ARMADA-3552 - Indicative Prices (#419)
  internal/common/resource/resource.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/repository.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/pricer/gang_pricer.go
  internal/scheduler/scheduling/pricer/gang_pricer_test.go
  internal/scheduler/scheduling/pricer/node_scheduler.go
  internal/scheduler/scheduling/pricer/node_scheduler_test.go
  internal/scheduler/scheduling/pricer/preemption_info.go
  internal/scheduler/scheduling/pricer/preemption_info_test.go
  internal/scheduler/scheduling/pricer/scheduling_result.go
  internal/scheduler/scheduling/pricer/scheduling_result_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

ARMADA-3552 - Indicative Prices (#419) (#4412)
  internal/common/resource/resource.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/repository.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/pricer/gang_pricer.go
  internal/scheduler/scheduling/pricer/gang_pricer_test.go
  internal/scheduler/scheduling/pricer/node_scheduler.go
  internal/scheduler/scheduling/pricer/node_scheduler_test.go
  internal/scheduler/scheduling/pricer/preemption_info.go
  internal/scheduler/scheduling/pricer/preemption_info_test.go
  internal/scheduler/scheduling/pricer/scheduling_result.go
  internal/scheduler/scheduling/pricer/scheduling_result_test.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

docs(website): refactor ToC structure
  website/content/index.mdx
  website/content/markdown-guide/meta.json
  website/content/meta.json
  website/content/old/meta.json
Labels: none

docs(website): add overview.mdx page
  website/content/overview.mdx
Labels: none

docs(website): improve overview.mdx page
  website/content/overview.mdx
Labels: none

Revert "Add "submitbid" permission verb (#4406)"
  pkg/client/queue/permission_verb.go
  pkg/client/queue/permission_verb_test.go
Labels: none

Revert "Add "submitbid" permission verb (#4406)" (#4413)
  pkg/client/queue/permission_verb.go
  pkg/client/queue/permission_verb_test.go
Labels: none

Add Idealised Value (#420)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/pricing/bid_price.go
  internal/scheduler/pricing/bid_price_service_test.go
  internal/scheduler/pricing/bid_service.go
  internal/scheduler/pricing/types.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/idealised_value_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  magefiles/proto.go
  pkg/bidstore/bids.pb.go
  pkg/bidstore/bids.proto
Labels: build, scheduler

Remove JobUnableToScheduleEvent
  cmd/clickhouse/clickhouse.go
  cmd/duckdbtest/duckdb.go
  cmd/sqllitetest/sqllite.go
  go.mod
  go.sum
  internal/lookoutingester/clickhouse/clickhouse_test.go
  internal/lookoutingester/clickhouse/db.go
  internal/lookoutingester/clickhouse/insertion.go
Labels: none

fix proto
  pkg/bidstore/bids.pb.go
Labels: none

Add Idealised Value Metric (#4414)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/pricing/bid_price.go
  internal/scheduler/pricing/bid_price_service_test.go
  internal/scheduler/pricing/bid_service.go
  internal/scheduler/pricing/types.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/idealised_value_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  magefiles/proto.go
  pkg/bidstore/bids.pb.go
  pkg/bidstore/bids.proto
Labels: build, scheduler

fix proto
  internal/lookoutingester/clickhouse/clickhouse_test.go
Labels: none

fix double counting, add idealised resource allocation
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
Labels: none

Fix links on design page
  design.md
Labels: none

Fix links on landing page
  _data/settings.yml
  _includes/home-sample.html
  design/index.md
Labels: none

Updates some links to the former `/user.md` (now `creating_and_submitting_jobs.md`) (#4416)
  _includes/home-sample.html
  design.md
Labels: none

Scheduler: nodes cannot have negative resources (#421)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/node_test.go
Labels: none

Fix double counting, add idealised resource allocation (#4415)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
Labels: none

Add test for gang preemption interacting with away jobs
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
Labels: none

Make idealsed value scheduler not split gangs
  internal/scheduler/scheduling/idealised_value_scheduler.go
Labels: none

Make idealsed value scheduler not split gangs
  internal/scheduler/scheduling/idealised_value_scheduler.go
Labels: none

Linting
  internal/scheduler/scheduling/idealised_value_scheduler.go
Labels: none

Chore: fix typos in internal/scheduler/reports
  internal/scheduler/api.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Scheduler: nodes cannot have negative resources (#4417)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/node_test.go
Labels: none

docs(website): add Clients section
  website/content/index.mdx
Labels: none

docs(website): update overview.mdx
  website/content/overview.mdx
Labels: none

Chore: fix typos in internal/scheduler/reports (#4418)
  internal/scheduler/api.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

wip
  internal/lookoutingester/clickhouse/clickhouse_test.go
Labels: none

Support custom permission verbs in queue client
  pkg/client/queue/permission_verb.go
  pkg/client/queue/permission_verb_test.go
  pkg/client/queue/permissions.go
Labels: none

Upgrade Yarn dependencies for Lookout UI
  internal/lookoutui/package.json
  internal/lookoutui/yarn.lock
Labels: none

Upgrade Yarn dependencies for Lookout UI (#4420)
  internal/lookoutui/package.json
  internal/lookoutui/yarn.lock
Labels: none

Minor tidy of jobdb Job/GangInfo
  internal/scheduler/jobdb/gang.go
  internal/scheduler/jobdb/gang_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
