Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Improve airflow operator and jobservice logging (#2230)
  docs/python_airflow_operator.md
  internal/jobservice/server/server.go
  third_party/airflow/armada/operators/utils.py
Labels: docs

Updating Github Pages branch with latest Master changes
  python_airflow_operator.md
Labels: none

Bump airflow operator version to 0.2.7
  third_party/airflow/pyproject.toml
Labels: none

Bump airflow operator version to 0.2.7 (#2240)
  third_party/airflow/pyproject.toml
Labels: none

Single docker-compose file
  .goreleaser.yml
  build_goreleaser/developer/Dockerfile
  developer/env/armada.env
  docker-compose.yaml
  docs/developer.md
  docs/development_guide.md
  localdev/docker-compose.yaml
  localdev/run.sh
  magefiles/developer.go
  magefiles/main.go
  magefiles/yarn.go
Labels: build, docs

mount volumes
  e2e/setup/jobservice.yaml
  makefile
Labels: none

tmp change
  e2e/setup/jobservice.yaml
Labels: none

undo this change
  config/jobservice/config.yaml
Labels: none

Preemption optimisations
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/applydefaults.go
  internal/armada/server/applydefaults_test.go
  internal/armada/server/lease.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/nodedb.go
  internal/scheduler/nodeiteration.go
  internal/scheduler/reports.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/schedulerobjects/nodematching_test.go
Labels: scheduler

Typo
  internal/scheduler/legacyscheduler.go
Labels: scheduler

Remove commented-out code
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Remove commented-out code
  internal/scheduler/nodedb.go
Labels: scheduler

WIP: Add a test that produces some more realistic load on updating job status and getting it from the db
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

add airflow integration tests (#2238)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  e2e/setup/jobservice.yaml
  makefile
Labels: none

Add tests for processors
  internal/executor/job/fake/job_run_state_store.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/job/processors/util_test.go
Labels: none

Gang preemption
  internal/armada/server/lease.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

airflow example addition
  third_party/airflow/examples/large_armada.py
Labels: none

Reverted to original development_guide.
  developer/start.sh
  docker-compose.yaml
  docs/development_guide.md
Labels: docs

Lint fixes
  magefiles/developer.go
Labels: build

Check that CI passes
  .goreleaser.yml
  build_goreleaser/armada/Dockerfile
  build_goreleaser/developer/Dockerfile
  developer/init.sh
  developer/start.sh
  docs/development_guide.md
  magefiles/developer.go
Labels: build, docs

airflow bug fix
  config/jobservice/config.yaml
  e2e/setup/jobservice.yaml
  internal/jobservice/application.go
  internal/jobservice/configuration/types.go
  internal/jobservice/repository/test.db-shm
  internal/jobservice/repository/test.db-wal
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

remove test db stuff
  internal/jobservice/repository/test.db-shm
  internal/jobservice/repository/test.db-wal
Labels: none

Docs changes and job service fixes
  docker-compose.yaml
  docs/developer.md
  docs/development_guide.md
Labels: docs

Test gang preemption
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Improved gang preemption and testing
  internal/common/pointer/pointer.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Reduce unnecessary preemptions (#2243)
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/common/deepcopy/deepcopy.go
  internal/common/interfaces/interfaces.go
  internal/common/maps/maps.go
  internal/common/maps/maps_test.go
  internal/scheduler/api_test.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/nodedb.go
  internal/scheduler/nodedb_test.go
  internal/scheduler/nodeiteration.go
  internal/scheduler/reports.go
  internal/scheduler/schedulerobjects/executor.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/nodematching.go
  internal/scheduler/schedulerobjects/nodematching_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  pkg/api/util.go
Labels: proto, scheduler

Only process each gang once for efficiency
  internal/scheduler/legacyscheduler.go
Labels: scheduler

Comment
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Gang preemption (#2245)
  internal/armada/server/lease.go
  internal/common/pointer/pointer.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Refactor package
  internal/executor/application.go
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/job/state/fake/job_run_state_store.go
  internal/executor/job/state/job_run_state_store.go
  internal/executor/job/state/job_run_state_store_test.go
  internal/executor/job/state/processors/preempt_runs.go
  internal/executor/job/state/processors/preempt_runs_test.go
  internal/executor/job/state/processors/remove_runs.go
  internal/executor/job/state/processors/remove_runs_test.go
  internal/executor/job/state/processors/util.go
  internal/executor/job/state/processors/util_test.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/job_requester.go
  internal/executor/util/kubernetes_objects_test.go
Labels: executor

Move files back under job
  internal/executor/application.go
  internal/executor/job/fake/job_run_state_store.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/job/processors/util.go
  internal/executor/job/processors/util_test.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/job_requester.go
Labels: executor

Tests for job run state store
  internal/executor/job/fake/job_run_state_store.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/service/cluster_allocation.go
Labels: none

airflow format
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

WIP: Jobservice e2e test
  e2e/jobservice_test/jobservice_test.go
  localdev/config/jobservice/config.yaml
  localdev/docker-compose.yaml
  pkg/client/with_connection.go
Labels: docs

Tests for cluster allocation service
  internal/executor/job/fake/job_run_state_store.go
  internal/executor/job/fake/submit.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
Labels: none

Mark successful submissions in state
  internal/executor/job/fake/job_run_state_store.go
  internal/executor/job/job_run_state_store.go
  internal/executor/job/job_run_state_store_test.go
  internal/executor/reporter/fake/job_event_reporter.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
Labels: none

benchmarks for airflow
  third_party/airflow/examples/big_armada.py
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

airflow tests
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

format
  third_party/airflow/examples/big_armada.py
  third_party/airflow/tests/integration/test_airflow_operator_logic.py
Labels: none

big armada example
  third_party/airflow/examples/big_armada.py
Labels: none
