Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Visual improvements to the job sidebar (#4133)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/CodeBlock.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/KeyValuePairTable.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/KeyValuePairTable.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/NoRunsAlert.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobResult.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/sidebarTabContentComponents.tsx
  internal/lookout/ui/src/theme/components/accordion.tsx
  internal/lookout/ui/src/theme/components/chip.ts
  internal/lookout/ui/src/theme/theme.ts
  internal/lookout/ui/vite.config.mts
  internal/lookout/ui/vitest.config.mts
  internal/lookout/ui/yarn.lock
Labels: none

Add Scala client Dockerfile, mage support, scripts
  build/scala-client/Dockerfile
  magefiles/config.go
  magefiles/main.go
  magefiles/scala.go
  scripts/build-scala-client.sh
Labels: build

Document how to set sensitive values (#4137)
  docs/helm.md
Labels: docs

Scheduler Pruner Helm Chart Now Creates ConfigMap (#4160)
  deployment/scheduler/templates/scheduler-pruner-configmap.yaml
Labels: none

fix indentation in lookout v2 cronjob.yaml (#4140)
  deployment/lookout-v2/templates/cronjob.yaml
Labels: none

Scheduler: refactor testfixtures (#4115)
  internal/scheduler/internaltypes/testfixtures/testfixtures.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/job_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Convert Scala code to Scala 2.x dialect
  client/scala/scala-armada-client/src/main/scala/ArmadaClient.scala
  client/scala/scala-armada-client/src/main/scala/Main.scala
Labels: none

Squelch spurious sbt warning about relative path names.
  scripts/build-scala-client.sh
Labels: build

Add description and alerts for job commands on Lookout UI (#4152)
  config/lookoutv2/config.yaml
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobCommands.tsx
  internal/lookout/ui/src/services/lookoutV2/useGetUiConfig.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookout/ui/yarn.lock
  internal/lookoutv2/configuration/types.go
Labels: none

Revert python test change to master version
  client/python/examples/simple.py
Labels: none

Scheduler: calculate node.allocatableByPriority after load from db (#4127)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Update Pulsar client to version 0.14 (#4089)
  go.mod
  go.sum
  internal/common/mocks/mock_pulsar.go
Labels: none

Move Armada client test examples into separate dir.
  client/scala/examples/.gitignore
  client/scala/examples/build.sbt
  client/scala/examples/lib/README.md
  client/scala/examples/project/build.properties
  client/scala/examples/project/plugins.sbt
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Main.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Queue.scala
Labels: none

Re-enable integration test for failure (#4153)
  third_party/airflow/test/integration/test_airflow_operator_logic.py
Labels: none

New Airflow Operator release 1.0.13 (#4148)
  third_party/airflow/pyproject.toml
Labels: none

Scheduler: refactor: move scheduling tests to internaltypes (#4113)
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/fairness/fairness_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Build jarfile for Scala client for Armada.
  client/scala/scala-armada-client/build.sbt
  scripts/build-scala-client.sh
Labels: build

Scheduler: refactor: move nodedb tests to internaltypes (#4110)
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Align aggregate counts for job statuses (#4124)
  internal/lookout/ui/src/components/ActionableValueOnHover.tsx
  internal/lookout/ui/src/components/CopyIconButton.tsx
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.module.css
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCountsColumnHeader.tsx
  internal/lookout/ui/src/components/lookoutV2/JobStateChip.tsx
  internal/lookout/ui/src/components/lookoutV2/JobStateCountChip.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/theme/components/chip.ts
  internal/lookout/ui/src/theme/components/tooltip.ts
  internal/lookout/ui/src/theme/palette.ts
  internal/lookout/ui/src/theme/theme.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Airflow operator extra links support regex extraction from container logs (#4145)
  docs/python_airflow_operator.md
  third_party/airflow/armada/__init__.py
  third_party/airflow/armada/links.py
  third_party/airflow/armada/log_manager.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/test/unit/operators/test_armada.py
Labels: docs

Scheduler: tidy queue_scheduler_test (#4117)
  internal/scheduler/internaltypes/resource_list_map_util.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

update alpine to 3.21.0 (#4111)
  .goreleaser.yml
  build/armada-load-tester/Dockerfile
  build/armadactl/Dockerfile
  build/binoculars/Dockerfile
  build/bundles/armada/Dockerfile
  build/bundles/full/Dockerfile
  build/bundles/lookout/Dockerfile
  build/eventingester/Dockerfile
  build/executor/Dockerfile
  build/fakeexecutor/Dockerfile
  build/loadtester/Dockerfile
  build/lookoutingesterv2/Dockerfile
  build/lookoutv2/Dockerfile
  build/scheduler/Dockerfile
  build/scheduleringester/Dockerfile
  build/server/Dockerfile
  build/testsuite/Dockerfile
  cmd/armada-load-tester/cmd/loadtest.go
  e2e/armadactl_test/armadactl_test.go
  third_party/airflow/README.md
Labels: none

Start making some Armada GRPC test calls.
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/src/main/protobuf/armada
  client/scala/scala-armada-client/src/main/protobuf/armada/event.proto
  client/scala/scala-armada-client/src/main/protobuf/armada/health.proto
  client/scala/scala-armada-client/src/main/protobuf/armada/submit.proto
  client/scala/scala-armada-client/src/main/scala/Main.scala
Labels: none

Python CLient v0.4.11 (#4169)
  client/python/pyproject.toml
Labels: client-python

Overhaul Scala protobuf compilation process.
  client/scala/scala-armada-client/build.sbt
  client/scala/scala-armada-client/src/main/protobuf/armada
  client/scala/scala-armada-client/src/main/protobuf/github.com/gogo/protobuf/gogoproto
  client/scala/scala-armada-client/src/main/protobuf/google
  client/scala/scala-armada-client/src/main/protobuf/k8s.io
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/Queue.scala
  magefiles/scala.go
  scripts/build-scala-client.sh
Labels: build

README fixes per PR review.
  client/scala/examples/README.md
  client/scala/examples/lib/.gitkeep
  client/scala/scala-armada-client/README.md
Labels: none

actually start up the service provider (#4177)
  internal/scheduler/schedulerapp.go
Labels: scheduler

Scala client examples README text fixes
  client/scala/examples/README.md
Labels: none

Add External Priority Multipliers (#4174)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/mocks/executor_api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/mocks/priority_override.go
  internal/scheduler/prioritymultiplier/service_provider.go
  internal/scheduler/prioritymultiplier/service_provider_test.go
  internal/scheduler/prioritymultiplier/static_provider.go
  internal/scheduler/prioritymultiplier/static_provider_test.go
  internal/scheduler/prioritymultiplier/types.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  magefiles/proto.go
  pkg/priorityoverride/prioritymultiplier.pb.go
  pkg/priorityoverride/prioritymultiplier.proto
Labels: build, scheduler

Scheduler: refactor nodedb stats (#4165)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Fix org and name so it follows general naming conventions in scala/java
  client/scala/scala-armada-client/build.sbt
Labels: none

Start of an ArmadaClient along with unit tests
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
  client/scala/scala-armada-client/src/test/scala/MySuite.scala
Labels: none

Fix grpc prometheus metrics (#4172)
  go.mod
  go.sum
  internal/binoculars/server.go
  internal/common/grpc/grpc.go
  internal/executor/application.go
  internal/scheduler/leader/leader_client.go
  internal/scheduler/leader/leader_client_test.go
  internal/scheduler/schedulerapp.go
  internal/server/server.go
Labels: binoculars, executor, scheduler

Need the armada client as well
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/ArmadaClient.scala
Labels: none

Reduce Scala client build image size
  build/scala-client/Dockerfile
Labels: none

Authenticate requests for scheduling reports (#4170)
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
Labels: none

Add start of generalized Armada Client class
  client/scala/scala-armada-client/src/main/scala/io/armadaproject/armada/Client.scala
  client/scala/scala-armada-client/src/test/scala/ArmadaClientSuite.scala
Labels: none

Fix scheduler initialisation startup race (#4132)
  developer/env/docker/executor.env
  internal/executor/application.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/scheduler/queue/queue_cache.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  magefiles/ci.go
  magefiles/developer.go
  magefiles/main.go
Labels: build, executor, scheduler

Gary E to list of maintainers (#343) (#4179)
  .mergify.yml
Labels: none

Add average utilisation to job events (#342)
  internal/common/resource/resource.go
  internal/executor/domain/resources.go
  internal/executor/domain/resources_test.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/pod_utilisation.go
  internal/executor/utilisation/pod_utilisation_custom_metrics.go
  internal/executor/utilisation/pod_utilisation_custom_metrics_test.go
  internal/executor/utilisation/pod_utilisation_kubelet_metrics.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
