Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

remove gomod
  .goreleaser.rc.yml
Labels: none

remove redundant config
  deployment/armada/README.md
  deployment/armada/README.md.gotmpl
  deployment/armada/values.yaml
Labels: none

testing
  .github/workflows/release-rc.yml
Labels: none

testing
  .goreleaser.rc.yml
Labels: none

testing
  .goreleaser.rc.yml
Labels: none

testing
  .goreleaser.rc.yml
Labels: none

testing
  .goreleaser.rc.yml
Labels: none

testing
  .github/workflows/release-rc.yml
Labels: none

remove cache flag
  .goreleaser.rc.yml
Labels: none

fixes for goreleaser
  .goreleaser.rc.yml
Labels: none

replace'
  .goreleaser.rc.yml
Labels: none

Introduce requeue job flow
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/001_initialize_schema.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/jobid.go
Labels: scheduler, scheduleringester

replace \ with /
  .goreleaser.rc.yml
Labels: none

Gofumpt
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

debug
  .github/workflows/release-rc.yml
Labels: none

Renaming event
  internal/scheduler/scheduler.go
  internal/scheduleringester/instructions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/jobid.go
Labels: scheduler, scheduleringester

Formatting
  pkg/armadaevents/events.proto
Labels: none

Fixes
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduleringester/instructions.go
Labels: scheduleringester

Fixes from rename
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

find issue
  .github/workflows/release-rc.yml
  .goreleaser.rc.yml
Labels: none

Minor changes to increase the performance of nodeDb ScheduleMany (#2318)
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/nodematching.go
Labels: none

testing
  .github/workflows/release-rc.yml
  .goreleaser.rc.yml
Labels: none

testing
  .goreleaser.rc.yml
Labels: none

fix dockerfiles
  build_goreleaser/lookout/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
Labels: none

wip
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Add scheduler to go-releaser and github action to publish images
  .github/workflows/build-release-images.yml
  .github/workflows/upload-docker-images.yml
  .goreleaser.yml
  build_goreleaser/scheduler/Dockerfile
  build_goreleaser/scheduleringester/Dockerfile
Labels: none

Removed YAML anchors
  .goreleaser.yml
Labels: none

Added Full Bundle to CircleCI (#2336)
  .circleci/config.yml
  .goreleaser.yml
  build_goreleaser/bundles/full/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  makefile
Labels: none

Fix running executor with legacy api disabled
  internal/executor/application.go
Labels: executor

Fix running executor with legacy api disabled
  internal/executor/application.go
Labels: executor

Create scheduler.md
  docs/scheduler.md
Labels: docs

Update README.md
  README.md
Labels: none

Update design.md
  docs/design.md
Labels: docs

Fix flakey leader election test
  internal/scheduler/leader_test.go
Labels: scheduler

Add scheduler docs (#2370)
  README.md
  docs/design.md
  docs/scheduler.md
Labels: docs

Updating Github Pages branch with latest Master changes
  design.md
  scheduler.md
Labels: none

Use a single sql statement to update queued/job_info
  internal/scheduleringester/schedulerdb.go
Labels: scheduleringester

Default run attempted in ingester
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduleringester

Limit grpc client to be generated against the api folder to match the rest client
  client/DotNet/ArmadaProject.Io.Client/ArmadaProject.Io.Client.csproj
Labels: none

Create architecture.md
  docs/architecture.md
Labels: docs
