Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Display error message if unable to load Lookout UI config
  internal/lookoutui/index.html
Labels: none

Lookout UI: enforce queue filter required for filtering on job set (#4433)
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

Lookout UI: replace settings dialog with settings page
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/app/NavBar.css
  internal/lookoutui/src/app/NavBar.tsx
  internal/lookoutui/src/app/SettingsDialog.tsx
  internal/lookoutui/src/components/NumberNotationSelector.tsx
  internal/lookoutui/src/components/TimeZoneSelector.tsx
  internal/lookoutui/src/pages/settings/SettingsPage.tsx
  internal/lookoutui/src/pages/settings/account/AccountPage.tsx
  internal/lookoutui/src/pages/settings/appearance/AppearancePage.tsx
  internal/lookoutui/src/pages/settings/components/SettingsNav.tsx
  internal/lookoutui/src/pages/settings/valueDisplay/ValueDisplayPage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/VisualThemePage.tsx
  internal/lookoutui/src/pathnames.ts
  internal/lookoutui/src/theme/typography.ts
Labels: none

Display error message if unable to load Lookout UI config (#4442)
  internal/lookoutui/index.html
Labels: none

Lookout UI: replace settings dialog with settings page (#4443)
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/app/NavBar.css
  internal/lookoutui/src/app/NavBar.tsx
  internal/lookoutui/src/app/SettingsDialog.tsx
  internal/lookoutui/src/components/NumberNotationSelector.tsx
  internal/lookoutui/src/components/TimeZoneSelector.tsx
  internal/lookoutui/src/pages/settings/SettingsPage.tsx
  internal/lookoutui/src/pages/settings/account/AccountPage.tsx
  internal/lookoutui/src/pages/settings/appearance/AppearancePage.tsx
  internal/lookoutui/src/pages/settings/components/SettingsNav.tsx
  internal/lookoutui/src/pages/settings/valueDisplay/ValueDisplayPage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/VisualThemePage.tsx
  internal/lookoutui/src/pathnames.ts
  internal/lookoutui/src/theme/typography.ts
Labels: none

Lookout UI - small fixes and improvements
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/components/CodeBlock.tsx
  internal/lookoutui/src/components/JobStateChip.tsx
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/pages/jobs/components/GroupBySelect.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableRow.module.css
  internal/lookoutui/src/pages/jobs/components/JobsTableRow.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarTabJobLogs.tsx
  internal/lookoutui/src/userSettings/storage.ts
Labels: none

Lookout UI - small fixes and improvements (#4444)
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/components/CodeBlock.tsx
  internal/lookoutui/src/components/JobStateChip.tsx
  internal/lookoutui/src/index.tsx
  internal/lookoutui/src/pages/jobs/components/GroupBySelect.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableRow.module.css
  internal/lookoutui/src/pages/jobs/components/JobsTableRow.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/Sidebar.tsx
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarTabJobLogs.tsx
  internal/lookoutui/src/userSettings/storage.ts
Labels: none

Lookout UI: enable grouping by namespace
  internal/lookout/schema/migrations/024_create_job_queue_namespace_idx.sql
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/GroupBySelect.tsx
Labels: none

Update JobsTableContainer.test.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

Lookout UI: enable grouping by namespace (#4445)
  internal/lookout/schema/migrations/024_create_job_queue_namespace_idx.sql
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/GroupBySelect.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

fix typo in executor when it logs available resources
  internal/executor/service/cluster_allocation.go
Labels: none

wip
  cmd/query-ingester/dbloadtester/main.go
  go.mod
  go.sum
  internal/queryingester/clickhousedb/job.go
  internal/queryingester/clickhousedb/job_test.go
  internal/queryingester/clickhousedb/migrations/20250728160000_create_jobs_table.sql
  internal/queryingester/instructions/job.go
  internal/queryingester/instructions/model.go
Labels: none

fix typo in executor when it logs available resources
  internal/executor/service/cluster_allocation.go
Labels: none

fix edge case panic when ResourceList tries to subtract a missing resource
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
Labels: scheduler

fix typo in executor when it logs available resources (#4447)
  internal/executor/service/cluster_allocation.go
Labels: none

Fix pulsar config overrides
  developer/dependencies/pulsar.conf
  docker-compose.yaml
Labels: none

Lookout UI: customisable visual theme
  internal/lookoutui/package.json
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/app/NavBar.css
  internal/lookoutui/src/app/NavBar.tsx
  internal/lookoutui/src/components/HexColourPicker.tsx
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/index.css
  internal/lookoutui/src/lookoutThemeState/LookoutThemeContext.ts
  internal/lookoutui/src/lookoutThemeState/LookoutThemeProvider.tsx
  internal/lookoutui/src/lookoutThemeState/hooks.ts
  internal/lookoutui/src/lookoutThemeState/index.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/settings/visualTheme/VisualThemePage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ColourModeSelector.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/CustomThemeBuilder.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreview.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreviewCard.tsx
  internal/lookoutui/src/theme/components/chip.ts
  internal/lookoutui/src/theme/createLookoutTheme.ts
  internal/lookoutui/src/theme/index.ts
  internal/lookoutui/src/theme/lookoutThemeConfig.ts
  internal/lookoutui/src/theme/palette.ts
  internal/lookoutui/src/theme/shape.ts
  internal/lookoutui/src/theme/theme.ts
  internal/lookoutui/src/theme/typography.ts
  internal/lookoutui/src/userSettings/localStorageKeys.ts
  internal/lookoutui/src/userSettings/settings.ts
  internal/lookoutui/yarn.lock
Labels: none

fix edge case panic when ResourceList tries to subtract a missing resource (#4448)
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerobjects/resourcelist.go
  internal/scheduler/schedulerobjects/resourcelist_test.go
Labels: scheduler

lint
  internal/lookoutui/src/pages/settings/visualTheme/components/CustomThemeBuilder.tsx
Labels: none

Lookout UI: customisable visual theme (#4450)
  internal/lookoutui/package.json
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/app/NavBar.css
  internal/lookoutui/src/app/NavBar.tsx
  internal/lookoutui/src/components/HexColourPicker.tsx
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/index.css
  internal/lookoutui/src/lookoutThemeState/LookoutThemeContext.ts
  internal/lookoutui/src/lookoutThemeState/LookoutThemeProvider.tsx
  internal/lookoutui/src/lookoutThemeState/hooks.ts
  internal/lookoutui/src/lookoutThemeState/index.ts
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/settings/visualTheme/VisualThemePage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ColourModeSelector.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/CustomThemeBuilder.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreview.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreviewCard.tsx
  internal/lookoutui/src/theme/components/chip.ts
  internal/lookoutui/src/theme/createLookoutTheme.ts
  internal/lookoutui/src/theme/index.ts
  internal/lookoutui/src/theme/lookoutThemeConfig.ts
  internal/lookoutui/src/theme/palette.ts
  internal/lookoutui/src/theme/shape.ts
  internal/lookoutui/src/theme/theme.ts
  internal/lookoutui/src/theme/typography.ts
  internal/lookoutui/src/userSettings/localStorageKeys.ts
  internal/lookoutui/src/userSettings/settings.ts
  internal/lookoutui/yarn.lock
Labels: none

Fix pulsar config overrides (#4449)
  developer/dependencies/pulsar.conf
  docker-compose.yaml
Labels: none

Deflake JobsTableContainer.test.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

Deflake JobsTableContainer.test.tsx (#4451)
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

Allow custom themes to be configured in Lookout UI
  internal/lookout/configuration/types.go
Labels: none

Allow custom themes to be configured in Lookout UI (#4452)
  internal/lookout/configuration/types.go
Labels: none

Add an optional monitoring of topic processing delay to ingester pipeline
  config/eventingester/config.yaml
  config/lookoutingester/config.yaml
  config/scheduleringester/config.yaml
  docker-compose.yaml
  internal/common/config/pulsar.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/metrics/metrics.go
  internal/common/ingest/topic_delay_monitor.go
  internal/common/pulsarutils/pulsarclient.go
Labels: none

Use internal "fork" of pulsar-client-go pulsaradmin.Client to workaround bug in upstream client
  internal/common/ingest/pulsarclient/client.go
  internal/common/ingest/pulsarclient/subscriptions.go
  internal/common/ingest/topic_delay_monitor.go
  internal/common/pulsarutils/pulsarclient.go
Labels: none

Lint
  internal/common/ingest/pulsarclient/subscriptions.go
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Fix tests
  internal/common/ingest/ingestion_pipeline.go
  internal/common/pulsarutils/testutil.go
Labels: none

ineffassign
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Fix airflow operator to handle rejections and better logging (#443)
  client/python/armada_client/_proto_methods.py
  client/python/pyproject.toml
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
Labels: client-python

Improvements to config + startup
  internal/common/config/pulsar.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/topic_delay_monitor.go
Labels: none

delayMonitor default config
  config/eventingester/config.yaml
  config/lookoutingester/config.yaml
  config/scheduleringester/config.yaml
Labels: none

Improve handling of failures when trying to get partition delay
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Airflow operator patches (#444)
  third_party/airflow/armada/operators/armada.py
Labels: none

Fix log message formatting for rejected job state
  third_party/airflow/armada/operators/armada.py
Labels: none

Fix airflow operator to handle rejections and better logging
  client/python/armada_client/_proto_methods.py
  client/python/pyproject.toml
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/unit/operators/test_armada.py
Labels: client-python

Improve handling of failures when trying to get partition delay
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Add unit tests
  internal/common/ingest/topic_delay_monitor.go
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none

lint
  internal/common/ingest/topic_delay_monitor_test.go
Labels: none
