Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Show 'Last updated: X ago' alongside the refresh button (#4901)
  internal/lookoutui/src/components/RefreshButton.css
  internal/lookoutui/src/components/RefreshButton.tsx
Labels: none

fix: add prometheus and auth launch configs
  .vscode/launch.json
  .vscode/tasks.json
  _local/keycloak/import/armada-realm.json
  developer/config/executor/config-auth.yaml
  developer/config/lookout/config-auth.yaml
  developer/config/scheduler/config-auth.yaml
  developer/config/server/config-auth.yaml
  developer/dependencies/prometheus.yml
  docker-compose.yaml
  magefiles/developer.go
Labels: build

fix: correct path
  .vscode/launch.json
Labels: none

fix: remove unnessesary comment
  docker-compose.yaml
Labels: none

comment
  internal/lookout/pruner/reconcile_zombies.go
Labels: none

comments - use gauge metric
  internal/lookout/pruner/metrics.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: none

comments
  internal/lookout/pruner/metrics.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: none

lint
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: none

Lookout pruner: reconcile zombie jobs
  cmd/lookout/main.go
  config/lookout/config.yaml
  internal/lookout/configuration/types.go
  internal/lookout/pruner/doc.go
  internal/lookout/pruner/metrics.go
  internal/lookout/pruner/pruner.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: lookout

Lookout pruner: reconcile zombie jobs (#4922)
  cmd/lookout/main.go
  config/lookout/config.yaml
  internal/lookout/configuration/types.go
  internal/lookout/pruner/doc.go
  internal/lookout/pruner/metrics.go
  internal/lookout/pruner/pruner.go
  internal/lookout/pruner/pruner_test.go
  internal/lookout/pruner/reconcile_zombies.go
  internal/lookout/pruner/reconcile_zombies_test.go
Labels: lookout

Fix insertion_test not checking errors
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Fix insertion_test not checking errors (#4926)
  internal/lookoutingester/lookoutdb/insertion_test.go
Labels: none

Disable only-new-issues from lint check
  .github/workflows/lint.yml
Labels: none

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Labels: none

Fix lint issues in Broadside code
  internal/broadside/db/postgres.go
  internal/broadside/db/postgres_partitioned.go
Labels: none

g
  internal/broadside/db/postgres_partitioned.go
Labels: none

Fix lint issues in Broadside code (#4928)
  internal/broadside/db/postgres.go
  internal/broadside/db/postgres_partitioned.go
Labels: none

Disable only-new-issues from lint check (#4927)
  .github/workflows/lint.yml
Labels: none

Add DryRunTxn to JobDb (#4923)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

fix: add teardown and wait for postgres
  .vscode/tasks.json
Labels: none

Write to job_metadata table prior to migration
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
Labels: none

Migrate from jobs to job_metadata
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/database/migrations/039_backfill_job_metadata.sql
  internal/scheduleringester/config.go
Labels: scheduleringester

fix: remove double quotes
  .vscode/launch.json
Labels: none

fix: remove another double quote
  .vscode/launch.json
Labels: none

fix: remove undefined group
  developer/config/server/config-auth.yaml
Labels: none

fix: pin images to version tags
  .vscode/launch.json
  docker-compose.yaml
Labels: none

feat: track custom view actions with analytics
  internal/lookoutui/src/analytics/types.ts
  internal/lookoutui/src/pages/jobs/components/CustomViewPicker.tsx
Labels: none

fix: added .nvmrc to pin the node version
  internal/lookoutui/.nvmrc
Labels: none

feat(lookout): enrich custom view analytics with full view metadata
  internal/lookoutui/src/analytics/Analytics.tsx
  internal/lookoutui/src/analytics/README.md
  internal/lookoutui/src/analytics/index.ts
  internal/lookoutui/src/analytics/trackAnalyticsEvent.ts
  internal/lookoutui/src/analytics/viewMetadata.test.ts
  internal/lookoutui/src/analytics/viewMetadata.ts
  internal/lookoutui/src/pages/jobs/components/CustomViewPicker.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableActionBar.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
Labels: none

fix(lookout): pass view name to create custom view analytics event
  internal/lookoutui/src/pages/jobs/components/CustomViewPicker.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableActionBar.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
Labels: none

fix(lookout): remove stale annotation columns from custom view preferences
  internal/lookoutui/src/analytics/viewMetadata.test.ts
  internal/lookoutui/src/analytics/viewMetadata.ts
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.test.ts
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none

fix: align ports
  developer/config/lookout/config-auth.yaml
Labels: none

fix: correct keycloak healthcheck and wait for startup
  .vscode/tasks.json
  docker-compose.yaml
Labels: none

fix: add timeout for wait tasks
  .vscode/tasks.json
Labels: none

Remove unused params/methods
  internal/executor/util/pod_status.go
  internal/executor/util/pod_util.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

cascading changes
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

fix(lookout): correct annotation column format in analytics README
  internal/lookoutui/src/analytics/README.md
Labels: none

fix: healthcheck in _local docker-compose
  _local/docker-compose-deps.yaml
Labels: none

fix(lookout): pin .nvmrc to exact Node version matching CI
  internal/lookoutui/.nvmrc
Labels: none

fix(lookout): auto-fix lint errors in custom view analytics code
  internal/lookoutui/src/analytics/trackAnalyticsEvent.ts
  internal/lookoutui/src/analytics/viewMetadata.test.ts
  internal/lookoutui/src/pages/jobs/components/CustomViewPicker.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
Labels: none
