Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Update armadactl.sh
  docs/local/armadactl.sh
Labels: none

Lint
  .golangci.yml
Labels: none

Add queue and job filters for scheduling reports
  cmd/armadactl/cmd/scheduling.go
  internal/armadactl/scheduling.go
  internal/scheduler/context/context.go
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerobjects/reporting.pb.go
  internal/scheduler/schedulerobjects/reporting.proto
Labels: armadactl, scheduler

Update armadactl.sh
  docs/local/armadactl.sh
Labels: none

Better flag usage strings
  cmd/armadactl/cmd/scheduling.go
Labels: none

initial
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/models/group.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

check every array element
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
Labels: none

Lookout v2 - ensure custom annotation in grouping query param is added as column (#2546)
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.ts
Labels: none

Add `--verbose` to `queue-report` subcommand
  cmd/armadactl/cmd/scheduling.go
  internal/armadactl/scheduling.go
Labels: armadactl

Update armada_deferrable, add unit tests for templating, update tox.ini.
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tox.ini
Labels: none

Update root.go
  cmd/armada-load-tester/cmd/root.go
Labels: none

Update root.go
  cmd/armada-load-tester/cmd/root.go
Labels: none

Update root.go
  cmd/testsuite/cmd/root.go
Labels: none

Correct `getSchedulingReportForJob`
  internal/scheduler/reports.go
Labels: scheduler

Correct `addQueueSchedulingContexts`
  internal/scheduler/reports.go
Labels: scheduler

Go back to "Total capacity"
  internal/scheduler/context/context.go
Labels: none

Initial commit
  config/armada/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/nodetype.go
  internal/scheduler/schedulerobjects/quantity.go
  internal/scheduler/schedulerobjects/quantity_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Cleanup
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Tests
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

Cleanup
  internal/scheduler/nodedb/nodedb.go
Labels: none

Cleanup
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/schedulerobjects/nodetype.go
Labels: none

Cleanup
  config/armada/config.yaml
Labels: none

Cleanup
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
Labels: none

Cleanup
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Update armadactl.sh (#2549)
  docs/local/armadactl.sh
Labels: none

Typo
  internal/scheduler/nodedb/nodedb.go
Labels: none

Add queue and job filters for scheduling reports (#2548)
  cmd/armadactl/cmd/scheduling.go
  internal/armadactl/scheduling.go
  internal/scheduler/context/context.go
  internal/scheduler/reports.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerobjects/reporting.pb.go
  internal/scheduler/schedulerobjects/reporting.proto
Labels: armadactl, scheduler

Add more information about evictions to `SchedulingContext`
  internal/scheduler/context/context.go
Labels: none

Set `schedulingContextRepository` on `FairSchedulingAlgo`
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Add the additional information to reports
  internal/scheduler/context/context.go
Labels: none

Update root.go
  cmd/armada-load-tester/cmd/root.go
Labels: none

Update root.go
  cmd/armada-load-tester/cmd/root.go
Labels: none

Bug fixes
  internal/armada/server/submit_to_log.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Cleanup
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Add number of preempted jobs and gangs to `SchedulingContext` (#2553)
  internal/scheduler/context/context.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Address comments
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Scheduling key optimisations (#2539)
  .golangci.yml
  go.mod
  go.sum
  internal/scheduler/context/context.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/reports_test.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/submitcheck.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/api/util.go
Labels: proto, scheduler, scheduleringester

Add a ticker for periodic expired jobs deletion
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sql_job_service_test.go
  internal/jobservice/repository/sqlite.go
Labels: none

lint fix
  internal/jobservice/repository/sql_job_service_test.go
Labels: none

remove exist checks
  internal/jobservice/repository/postgres.go
  internal/jobservice/repository/sqlite.go
Labels: none
