Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix test
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Improve executor event batching (#3474)
  internal/executor/application.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
Labels: executor

Limits and Requests to reference the same object in the job db (#3476)
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Updated docs
  README.md
  docs/design/database_interfaces.md
  docs/design/jobservice/airflow-sequence.pml
  docs/design/jobservice/airflow-sequence.svg
  docs/design/jobservice/job-service.md
  docs/design/jobservice/job-service.svg
  docs/design/jobservice/jobservice.pml
  docs/design/priority.md
  docs/production-install.md
  docs/python_airflow_operator.md
Labels: docs

Updated docs
  README.md
  docs/design/architecture.md
  docs/design/diagrams/relationships/README.md
  docs/design/diagrams/relationships/armada_v1_system.png
  docs/design/diagrams/relationships/armada_v2_system.png
  docs/design/diagrams/relationships/generate.py
  docs/design/diagrams/relationships/generate_v1.py
  docs/design/diagrams/relationships/generate_v2.py
  docs/design/diagrams/relationships/images/armada.png
  docs/design/diagrams/relationships/images/browser.png
  docs/design/diagrams/relationships/images/pulsar.png
  docs/design/index.md
  docs/design/relationships_diagram.md
  docs/design/scheduler.md
Labels: none

Update docs
  README.md
  docs/consistency.md
  docs/scheduler.md
  docs/system_overview.md
Labels: docs

[Executor] Remove unused Job Preempted flow
  internal/executor/context/cluster_context.go
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/domain/event_metadata.go
  internal/executor/fake/context/context.go
  internal/executor/reporter/event.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/util/pod_util.go
Labels: none

Lint - Remove unused
  internal/executor/fake/context/context.go
  internal/executor/reporter/job_event_reporter_test.go
Labels: none

Create comparison.md
  docs/comparison.md
Labels: docs

Update docs (#3478)
  README.md
  docs/consistency.md
  docs/design/architecture.md
  docs/design/database_interfaces.md
  docs/design/diagrams/relationships/README.md
  docs/design/diagrams/relationships/armada_v1_system.png
  docs/design/diagrams/relationships/armada_v2_system.png
  docs/design/diagrams/relationships/generate.py
  docs/design/diagrams/relationships/generate_v1.py
  docs/design/diagrams/relationships/generate_v2.py
  docs/design/diagrams/relationships/images/armada.png
  docs/design/diagrams/relationships/images/browser.png
  docs/design/diagrams/relationships/images/pulsar.png
  docs/design/index.md
  docs/design/jobservice/airflow-sequence.pml
  docs/design/jobservice/airflow-sequence.svg
  docs/design/jobservice/job-service.md
  docs/design/jobservice/job-service.svg
  docs/design/jobservice/jobservice.pml
  docs/design/priority.md
  docs/design/relationships_diagram.md
  docs/design/scheduler.md
  docs/production-install.md
  docs/python_airflow_operator.md
  docs/scheduler.md
  docs/system_overview.md
Labels: docs

Update docs
  README.md
  docs/comparison.md
Labels: docs

Update docs
  README.md
  docs/system_overview.md
Labels: docs

lint
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

refactor
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Migrate executor to produce pulsar events
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/reporter/domain.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Migrate executor to produce pulsar events
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

[Executor] Remove unused Job Preempted flow (#3479)
  internal/executor/context/cluster_context.go
  internal/executor/context/fake/sync_cluster_context.go
  internal/executor/domain/event_metadata.go
  internal/executor/fake/context/context.go
  internal/executor/reporter/event.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/util/pod_util.go
Labels: none

Fix flaky test
  internal/executor/reporter/event_sender.go
  internal/executor/reporter/event_sender_test.go
Labels: none

Lint
  internal/executor/reporter/event_sender.go
Labels: none

Update README.md
  README.md
Labels: none

[Bug] Fix LimitSequenceByteSize
  internal/common/eventutil/eventutil.go
  internal/common/eventutil/eventutil_test.go
Labels: none

Remove unused funcs
  internal/common/eventutil/eventutil.go
  internal/common/eventutil/eventutil_test.go
Labels: none

[Executor] Improve client-go metrics
  cmd/executor/main.go
  internal/executor/metrics/kubernetes.go
Labels: executor

revert - remove conditions in jobs for testing Signed-off-by: Ljubo Nikolic <ljubonikolic@gmail.com>
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/check-required.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/python-client.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/slack-alerts.yml
Labels: none

bump actions to version where node20 is used Signed-off-by: Ljubo Nikolic <ljubonikolic@gmail.com>
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/pages.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test.yml
Labels: none

revert - fix runners, test step Signed-off-by: Ljubo Nikolic <ljubonikolic@gmail.com>
  .github/workflows/build.yml
  .github/workflows/check-required.yml
Labels: none

Enable GitHub actions scanning for updates with dependabot Signed-off-by: Ljubo Nikolic <ljubonikolic@gmail.com>
  .github/actions/setup-go-cache/action.yml
  .github/dependabot.yml
Labels: none

remove conditions in jobs for testing Signed-off-by: Ljubo Nikolic <ljubonikolic@gmail.com>
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/check-required.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/slack-alerts.yml
Labels: none

add docs/python_airflow_operator.md required for Python Operator workflow
  docs/python_airflow_operator.md
Labels: docs

Better buckets
  internal/executor/metrics/kubernetes.go
Labels: none

Add rateLimiterLatency for completeness
  internal/executor/metrics/kubernetes.go
Labels: none

Update docs
  README.md
Labels: none

Update docs
  docs/comparison.md
Labels: docs

tgs test
  internal/armada/submit/processor/termination_grace_period_test.go
Labels: none

wip
  internal/armada/mocks/generate.go
  internal/armada/mocks/mock_deduplicator.go
  internal/armada/submit/conversion/eventutil.go
  internal/armada/submit/deduplicaton.go
  internal/armada/submit/submit.go
  internal/armada/submit/submit_test.go
Labels: none

[Bug] Fix LimitSequenceByteSize (#3483)
  internal/common/eventutil/eventutil.go
  internal/common/eventutil/eventutil_test.go
Labels: none

Tidy fields of schedulerobjects Node (#3473)
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Migrate executor to produce pulsar events (#3481)
  internal/common/eventutil/eventutil.go
  internal/common/eventutil/eventutil_test.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/preempt_runs_test.go
  internal/executor/reporter/domain.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/reporter/job_event_reporter.go
  internal/executor/reporter/job_event_reporter_test.go
  internal/executor/service/cluster_allocation.go
  internal/executor/service/cluster_allocation_test.go
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_status.go
  internal/executor/util/pod_status_test.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Go mod tidy
  go.mod
  go.sum
Labels: none

[Executor] Improve client-go metrics (#3484)
  cmd/executor/main.go
  go.mod
  go.sum
  internal/executor/metrics/kubernetes.go
Labels: executor
