Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Revert "Limit Pulsar messages to have a configurable max number of events per message"
  config/armada/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/common/eventutil/eventutil.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/publisher.go
  internal/scheduler/api.go
  internal/scheduler/publisher.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

Limit the number of events we put into each Pulsar Message
  config/armada/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/common/eventutil/eventutil.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/publisher.go
  internal/scheduler/api.go
  internal/scheduler/publisher.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

update paths for gh pages
  .github/workflows/pages.yml
Labels: none

Add unit test
  internal/common/eventutil/eventutil_test.go
Labels: none

Fix unit test
  internal/scheduler/api_test.go
Labels: scheduler

Fix unit test
  internal/scheduler/publisher_test.go
Labels: scheduler

Improve logging in ingester pipeline
  internal/common/ingest/ingestion_pipeline.go
  internal/scheduleringester/instructions.go
  pkg/armadaevents/events_util.go
Labels: scheduleringester

Fix passing field through ExecutorAPI
  internal/scheduler/api.go
Labels: scheduler

update paths for gh pages
  .github/workflows/pages.yml
Labels: none

update paths for gh pages (#3712)
  .github/workflows/pages.yml
Labels: none

Updating Github Pages branch with latest Master changes
  _pages/CONTRIBUTING.md
  consistency.md
  developer.md
  developer/api.md
  helm.md
  python_airflow_operator.md
  python_armada_client.md
  scheduler.md
  system_overview.md
Labels: none

wip
  cmd/fish/main.go
  cmd/fish/reallocation_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Removing airflow operator build script from github workflow check
  .github/workflows/airflow-operator.yml
Labels: none

manual update gh-pages (#6)
  _pages/CONTRIBUTING.md
  consistency.md
  developer.md
  developer/api.md
  developer/usage_metrics.md
  helm.md
  libraries.md
  python_airflow_operator.md
  python_armada_client.md
  scheduler.md
  system_overview.md
Labels: none

manual update gh-pages (#6) (#3716)
  _pages/CONTRIBUTING.md
  consistency.md
  developer.md
  developer/api.md
  developer/usage_metrics.md
  helm.md
  libraries.md
  python_airflow_operator.md
  python_armada_client.md
  scheduler.md
  system_overview.md
Labels: none

adding Geoff to maintainers list
  MAINTAINERS.md
Labels: none

adding Geoff to approvers list
  .mergify.yml
Labels: none

adding Geoff to approvers list (#3717)
  .mergify.yml
  MAINTAINERS.md
Labels: none

add better quickstart and cleanup website
  _data/settings.yml
  production-install.md
  quickstart.md
  quickstart/executor-cluster-monitoring-values.yaml
  quickstart/executor-prometheus-values.yaml
  quickstart/executor-values.yaml
  quickstart/grafana-armada-dashboard.json
  quickstart/grafana-screenshot.png
  quickstart/helm/values-executor-cluster-monitoring.yaml
  quickstart/helm/values-executor-prometheus.yaml
  quickstart/helm/values-executor.yaml
  quickstart/helm/values-lookout.yaml
  quickstart/helm/values-pulsar.yaml
  quickstart/helm/values-redis.yaml
  quickstart/helm/values-server-prometheus.yaml
  quickstart/helm/values-server.yaml
  quickstart/img/grafana-screenshot.png
  quickstart/img/lookout.png
  quickstart/index.md
  quickstart/job-queue-a-preemptive.yaml
  quickstart/job-queue-a.yaml
  quickstart/job-queue-b.yaml
  quickstart/kind-config-executor.yaml
  quickstart/kind-config-server.yaml
  quickstart/kind/kind-config-executor.yaml
  quickstart/kind/kind-config-server.yaml
  quickstart/lookout-values.yaml
  quickstart/lookout.png
  quickstart/priority-class-example.yaml
  quickstart/pulsar-dev-settings.yaml
  quickstart/queue-a.yaml
  quickstart/queue-b.yaml
  quickstart/redis-values.yaml
  quickstart/server-prometheus-values.yaml
  quickstart/server-values.yaml
  user.md
Labels: none

update website to include better quickstart
  _data/settings.yml
  quickstart.md
  quickstart/executor-cluster-monitoring-values.yaml
  quickstart/executor-prometheus-values.yaml
  quickstart/executor-values.yaml
  quickstart/grafana-armada-dashboard.json
  quickstart/grafana-screenshot.png
  quickstart/helm/values-executor-cluster-monitoring.yaml
  quickstart/helm/values-executor-prometheus.yaml
  quickstart/helm/values-executor.yaml
  quickstart/helm/values-lookout.yaml
  quickstart/helm/values-pulsar.yaml
  quickstart/helm/values-redis.yaml
  quickstart/helm/values-server-prometheus.yaml
  quickstart/helm/values-server.yaml
  quickstart/img/grafana-screenshot.png
  quickstart/img/lookout.png
  quickstart/index.md
  quickstart/job-queue-a-preemptive.yaml
  quickstart/job-queue-a.yaml
  quickstart/job-queue-b.yaml
  quickstart/kind-config-executor.yaml
  quickstart/kind-config-server.yaml
  quickstart/kind/kind-config-executor.yaml
  quickstart/kind/kind-config-server.yaml
  quickstart/lookout-values.yaml
  quickstart/lookout.png
  quickstart/priority-class-example.yaml
  quickstart/pulsar-dev-settings.yaml
  quickstart/queue-a.yaml
  quickstart/queue-b.yaml
  quickstart/redis-values.yaml
  quickstart/server-prometheus-values.yaml
  quickstart/server-values.yaml
  user.md
Labels: none

update website to include better quickstart (#3719)
  _data/settings.yml
  quickstart.md
  quickstart/executor-cluster-monitoring-values.yaml
  quickstart/executor-prometheus-values.yaml
  quickstart/executor-values.yaml
  quickstart/grafana-armada-dashboard.json
  quickstart/grafana-screenshot.png
  quickstart/helm/values-executor-cluster-monitoring.yaml
  quickstart/helm/values-executor-prometheus.yaml
  quickstart/helm/values-executor.yaml
  quickstart/helm/values-lookout.yaml
  quickstart/helm/values-pulsar.yaml
  quickstart/helm/values-redis.yaml
  quickstart/helm/values-server-prometheus.yaml
  quickstart/helm/values-server.yaml
  quickstart/img/grafana-screenshot.png
  quickstart/img/lookout.png
  quickstart/index.md
  quickstart/job-queue-a-preemptive.yaml
  quickstart/job-queue-a.yaml
  quickstart/job-queue-b.yaml
  quickstart/kind-config-executor.yaml
  quickstart/kind-config-server.yaml
  quickstart/kind/kind-config-executor.yaml
  quickstart/kind/kind-config-server.yaml
  quickstart/lookout-values.yaml
  quickstart/lookout.png
  quickstart/priority-class-example.yaml
  quickstart/pulsar-dev-settings.yaml
  quickstart/queue-a.yaml
  quickstart/queue-b.yaml
  quickstart/redis-values.yaml
  quickstart/server-prometheus-values.yaml
  quickstart/server-values.yaml
  user.md
Labels: none

[Bug] Allow creating queues with preempt permission verb (#3680)
  pkg/client/queue/permission_verb.go
  pkg/client/queue/permission_verb_test.go
Labels: none

Limit the number of events we put into each Pulsar Message (#3708)
  config/armada/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/common/eventutil/eventutil.go
  internal/common/eventutil/eventutil_test.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/publisher.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/publisher.go
  internal/scheduler/publisher_test.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

Add assignedNodeId field to JobSchedulingContext (#3678)
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Scheduler ingester to ignore job run cancelled (#3681)
  internal/scheduleringester/instructions.go
Labels: scheduleringester

Rename config to MaxOutputMessageSizeBytes
  config/eventingester/config.yaml
  internal/eventingester/configuration/types.go
  internal/eventingester/ingester.go
Labels: eventingester

Move struct definition inside function
  internal/scheduler/nodedb/nodedb.go
Labels: none

Make ingesters limit how many events they process at once (#3707)
  config/eventingester/config.yaml
  internal/common/ingest/batch.go
  internal/common/ingest/batch_test.go
  internal/common/ingest/ingestion_pipeline.go
  internal/eventingester/configuration/types.go
  internal/eventingester/ingester.go
  internal/lookoutingesterv2/configuration/types.go
  internal/scheduleringester/config.go
Labels: eventingester, scheduleringester

fix some tests
  cmd/fish/main.go
  cmd/fish/reallocation_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

fix some tests
  internal/scheduler/preempting_queue_scheduler.go
Labels: scheduler

Improve performance of selectNodeForJobWithFairPreemption (#3679)
  internal/scheduler/nodedb/nodedb.go
Labels: none

fix: build_goreleaser/bundles/lookout/Dockerfile to reduce vulnerabilities
  build_goreleaser/bundles/lookout/Dockerfile
Labels: none

fix: build/fakeexecutor/Dockerfile to reduce vulnerabilities
  build/fakeexecutor/Dockerfile
Labels: none

fix: build_goreleaser/scheduleringester/Dockerfile to reduce vulnerabilities
  build_goreleaser/scheduleringester/Dockerfile
Labels: none

fix: build/armada-load-tester/Dockerfile to reduce vulnerabilities
  build/armada-load-tester/Dockerfile
Labels: none

fix: build/jobservice/Dockerfile to reduce vulnerabilities
  build/jobservice/Dockerfile
Labels: none

fix: build_goreleaser/server/Dockerfile to reduce vulnerabilities
  build_goreleaser/server/Dockerfile
Labels: none

fix: build/scheduleringester/Dockerfile to reduce vulnerabilities
  build/scheduleringester/Dockerfile
Labels: none

fix: build/armada/Dockerfile to reduce vulnerabilities
  build/armada/Dockerfile
Labels: none

fix: build/executor/Dockerfile to reduce vulnerabilities
  build/executor/Dockerfile
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
