Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

change buckets and DRY up scheduler_metrics code
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

add leader check
  internal/scheduler/scheduler.go
Labels: scheduler

Update CronJob version
  deployment/scheduler/templates/cronjob.yaml
Labels: none

Update cronjob.yaml
  deployment/lookout-v2/templates/cronjob.yaml
Labels: none

Update CronJob version from batch/v1beta1 to batch/v1 (#2883)
  deployment/lookout-v2/templates/cronjob.yaml
  deployment/scheduler/templates/cronjob.yaml
Labels: none

Expose scheduler context to scheduler.go
  internal/scheduler/common.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
Labels: scheduler

add scheduling contexts to scheduling algo
  internal/scheduler/common.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

review comments
  env/sharpdev.yml
  magefiles/airflow.go
  magefiles/python.go
  third_party/airflow/examples/hello_armada_auth.py
Labels: build

Update conversions.go
  internal/armada/repository/apimessages/conversions.go
Labels: none

Update instructions.go
  internal/lookoutingester/instructions/instructions.go
Labels: none

Update conversions.go
  internal/armada/repository/apimessages/conversions.go
Labels: none

rename SchedulingContextList to SchedulingContexts
  internal/scheduler/common.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Feat(job summary): Implement Job Summaries for Lint workflow (#2836)
  .github/workflows/lint.yml
Labels: none

Remove basic auth in base configs
  config/armadactl/config.yaml
  config/executor/config.yaml
  config/jobservice/config.yaml
  developer/airflow/docker-compose.yaml
  docker-compose.yaml
Labels: none

remove codeql from required
  .github/workflows/ci.yml
Labels: none

Expose scheduler context to scheduler.go (#2884)
  internal/scheduler/common.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

remove codeql from required (#2887)
  .github/workflows/ci.yml
Labels: none

Add missing EventSequence_Event_JobRequeued cases (#2886)
  internal/armada/repository/apimessages/conversions.go
  internal/lookoutingester/instructions/instructions.go
Labels: none

feat: Restructure UI to avoid break of side bar job log header buttons show timestamp
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.module.css
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
Labels: none

Feat/improved version checking output (#2862)
  magefiles/docker.go
  magefiles/go.go
  magefiles/kind.go
  magefiles/kubectl.go
  magefiles/linting.go
  magefiles/protoc.go
  magefiles/sqlc.go
Labels: build

Improved logging
  internal/armada/server/lease.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Refactor scheduler_metrics
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

Misc cleanup (#2864)
  internal/armada/server/lease.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduleringester/instructions.go
Labels: scheduler, scheduleringester

Fix test
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

Avoid considering evicted priority twice
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

Disable new preemption strategy in tests
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Enable new preemption strategy in tests
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Fix jobDb job order
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Comment
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

gofumpt
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

format again
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

revert airflow docker compose stuff
  developer/airflow/docker-compose.yaml
Labels: none

respond to review 1
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
Labels: scheduler

Add missing commit
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/simulator/testdata/diva-plat.yaml
Labels: none

remove
  config/armadactl/config.yaml
Labels: none

Improved preemption logic (#2880)
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/nodedb/encoding.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/testdata/diva-plat.yaml
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Fix jobDb job order (#2888)
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Initial commit
  internal/scheduler/fairness/fairness_test.go
Labels: none

Import ordering
  internal/scheduler/fairness/fairness_test.go
Labels: none

Remove unused files
  internal/scheduler/simulator/testdata/config1.yaml
  internal/scheduler/simulator/testdata/test1.yaml
Labels: none
