Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Fix unhandled rejection on the Job Sets page; migrate JobSetsContainer to a functional component (#4987)
  internal/lookoutui/eslint.config.mjs
  internal/lookoutui/src/common/utils.tsx
  internal/lookoutui/src/pages/jobSets/components/CancelJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.test.tsx
  internal/lookoutui/src/pages/jobSets/components/JobSetsContainer.tsx
  internal/lookoutui/src/pages/jobSets/components/ReprioritizeJobSetsDialog.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.tsx
  internal/lookoutui/src/services/JobSetsLocalStorageService.ts
  internal/lookoutui/src/services/JobSetsQueryParamsService.ts
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/useGetJobSets.ts
Labels: none

formatted GR section
  website/content/index.mdx
Labels: none

Create observability package introducing OTEL (#4975)
  README.md
  go.mod
  go.sum
  internal/common/observability/attribute_policy.go
  internal/common/observability/attribute_policy_test.go
  internal/common/observability/config.go
  internal/common/observability/config_test.go
  internal/common/observability/lifecycle.go
  internal/common/observability/lifecycle_bootstrap_test.go
  internal/common/observability/lifecycle_test.go
Labels: none

docs: restructure developer guide into local development setup
  website/content/docs/developer-guide.mdx
  website/content/index.mdx
  website/content/operator-guide.mdx
Labels: none

Add flags to disable scheduling preemption by type (#4989)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Add cncf logo color svg, use cases section on landing page
  website/content/index.mdx
  website/src/components/logo.tsx
Labels: none

Landing page UI update MVP, old docs commented out until I get aproval on design and content
  website/content/index.mdx
Labels: none

Add tgucks to Armada maintainers list (#4991)
  .mergify.yml
Labels: none

updated Readme with nav instructions
  website/README.md
Labels: none

added use cases section
  website/content/index.mdx
Labels: none

Updated navigation nesting for community
  website/content/contribute/community.mdx
  website/content/meta.json
Labels: none

Fix unhandled clipboard rejection in CopyIconButton (#4988)
  internal/lookoutui/src/components/CopyIconButton.tsx
Labels: none

Replace the docs-style Overview homepage with a structured landing page built on Fumadocs components and custom JSX, keeping the existing sidebar and on-this-page TOC.
  website/content/index.mdx
  website/src/app/(docs)/[[...slug]]/page.tsx
Labels: none

Refine What is Armada section
  website/content/index.mdx
Labels: none

Navigation: Moved all documentation into designated 'docs' section
  website/content/docs/api.mdx
  website/content/docs/architecture.mdx
  website/content/docs/cli.mdx
  website/content/docs/clients.mdx
  website/content/docs/core-concepts.mdx
  website/content/docs/developer-guide.mdx
  website/content/docs/integrations.mdx
  website/content/docs/meta.json
  website/content/docs/operator-guide.mdx
  website/content/docs/user-guide.mdx
  website/content/meta.json
Labels: none

Finalized code structure, ran in dev environment. Needs content review for PR. Readme also updated
  website/README.md
  website/content/index.mdx
Labels: none

Improve the main scheduler loop (#4993)
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/runner/async.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/runner/sync.go
  internal/scheduler/scheduling/runner/types.go
Labels: scheduler

Fix cross-partition duplicate job rows in Lookout ingester (experimental hot/cold) (#4996)
  internal/lookoutingester/lookoutdb/insertion.go
  internal/lookoutingester/lookoutdb/insertion_hotcold_test.go
Labels: none

feat(scheduler): Extract short job penalty service (#4969)
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/short_job_penalty.go
  internal/scheduler/scheduling/short_job_penalty_test.go
  internal/scheduler/scheduling/short_job_penalty_types.go
Labels: scheduler

fix: resolve broken links flagged by content check.
  website/content/contribute/community.mdx
  website/content/contribute/contributor-guide.mdx
  website/content/operator-guide.mdx
  website/content/understanding-armada/index.mdx
Labels: none

Add configurable Query API query mirroring to a second database (#5016)
  config/server/config.yaml
  internal/server/configuration/types.go
  internal/server/queryapi/doc.go
  internal/server/queryapi/mirror.go
  internal/server/queryapi/mirror_test.go
  internal/server/queryapi/query_api.go
  internal/server/server.go
Labels: none

typos
  website/content/docs/developer-guide.mdx
  website/content/index.mdx
Labels: none

Drop legacy submit_message & groups columns from jobs (#4984)
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_metadata_migration.go
  internal/scheduler/database/job_metadata_migration_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/039_backfill_and_drop_job_metadata_columns.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/config.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/job_metadata_migration_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduler, scheduleringester

Docs: updated local development guide to focus on goreman installation
  README.md
  website/content/docs/developer-guide.mdx
Labels: none

Remove X-Mirrored-Request header from Lookout requests (#5017)
  internal/lookoutui/src/lookoutApiRequestMirror/mirrorLookoutApiRequest.ts
Labels: none

typo
  website/content/docs/user-guide.mdx
Labels: none

Fix RangeError when null dates passed to DateTimePicker (#4997)
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Fix mage testsuite failures behind a TLS-intercepting proxy (#5019)
  docs/developer_guide.md
  magefiles/kind.go
  testsuite/testcases/basic/preempt_by_id_1x1.yaml
  testsuite/testcases/basic/preempt_by_ids_1x5.yaml
  testsuite/testcases/basic/submit_fileshare_1x1.yaml
Labels: build, docs

Add configurable client-side request mirroring to Lookout UI (#5014)
  internal/lookout/configuration/doc.go
  internal/lookout/configuration/types.go
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
  internal/lookoutui/src/config/config.ts
  internal/lookoutui/src/config/types.ts
  internal/lookoutui/src/lookoutApiRequestMirror/index.ts
  internal/lookoutui/src/lookoutApiRequestMirror/mirrorLookoutApiRequest.ts
  internal/lookoutui/src/oidcAuth/hooks.ts
  internal/lookoutui/src/services/lookout/useGetAllJobsMatchingFilters.ts
  internal/lookoutui/src/services/lookout/useGetBackendVersion.ts
  internal/lookoutui/src/services/lookout/useGetJobError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunDebugMessage.ts
  internal/lookoutui/src/services/lookout/useGetJobRunError.ts
  internal/lookoutui/src/services/lookout/useGetJobRunSchedulerTerminationReason.ts
  internal/lookoutui/src/services/lookout/useGetJobSpec.ts
  internal/lookoutui/src/services/lookout/useGetJobs.ts
  internal/lookoutui/src/services/lookout/useGroupJobs.ts
Labels: none

Scheduler: for testing, support not publishing to pulsar (#5013)
  internal/common/config/pulsar.go
  internal/scheduler/publisher/dummy_publisher.go
  internal/scheduler/publisher/publisher.go
  internal/scheduler/publisher/pulsar_publisher.go
  internal/scheduler/publisher/pulsar_publisher_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Bump mage to 1.17.2 everywhere, guard dev:up against old mage versions, and fix localdev doc drift (#4992)
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/test.yml
  README.md
  _local/README.md
  _local/compose/stack.yaml
  docs/developer_guide.md
  go.mod
  go.sum
  magefiles/dev.go
  magefiles/main.go
Labels: build, docs

fix: update remaining stale links not passing checks
  website/content/docs/user-guide.mdx
Labels: none

limit reason length on submit api (#5005)
  internal/server/submit/submit.go
  internal/server/submit/submit_test.go
  internal/server/submit/validation/job_set.go
  internal/server/submit/validation/job_set_test.go
Labels: none

fix: add missing meta.json for understanding-armada section
  website/content/understanding-armada/meta.json
Labels: none

Hot cold local dev (#4899)
  .run/Armada HC.run.xml
  .run/Binoculars.run.xml
  .run/Lookout HC Ingester.run.xml
  .run/Lookout HC UI.run.xml
  .run/Lookout HC.run.xml
  .run/lookouthcPostgresMigration.run.xml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  _local/compose/postgres-init.sql
  _local/lookouthc/config.yaml
  _local/lookouthcingester/config.yaml
  _local/procfiles/hot-cold-dap.Procfile
  _local/procfiles/hot-cold.Procfile
  _local/scripts/check-port-conflicts.sh
  _local/scripts/init.sh
  _local/scripts/kill-port-conflicts.sh
  _local/scripts/prebuild-services.sh
  _local/scripts/wait-for-dlv.sh
  _local/server/config.yaml
  config/lookouthc/config.yaml
  docs/developer_guide.md
  internal/lookoutui/.gitignore
  internal/lookoutui/vite.config.mts
  magefiles/dev.go
Labels: build, docs

K8s debug events captured whenever main container doesn't start (#493)
  internal/executor/application.go
  internal/executor/job/processors/preempt_runs.go
  internal/executor/job/processors/remove_runs.go
  internal/executor/job/processors/remove_runs_test.go
  internal/executor/reporter/debug.go
  internal/executor/reporter/debug_test.go
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/executor/service/job_state_reporter.go
  internal/executor/service/job_state_reporter_test.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/executor/util/pod_util.go
  internal/lookout/repository/getjobrundebugmessage.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/scheduleringester/instructions.go
  internal/server/event/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/jobid.go
Labels: executor, scheduleringester

Add Integration testing for reprioritization by job_id/job_set (#5022)
  internal/testsuite/testrunner.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  testsuite/testcases/basic/reprioritize_by_id_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_id_1x5.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x10.yaml
  testsuite/testcases/basic/reprioritize_by_jobset_1x5.yaml
Labels: proto, testsuite

as cluster mutations are not supported in kind, per the kind docs to simulate node availability we should use taints
  _local/executor/config.yaml
  _local/kind/cluster.yaml
Labels: none

add selection by node to testspec proto
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
Labels: proto

old comment
  internal/testsuite/testrunner.go
Labels: testsuite
