Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

change branch name in workflows
  .github/workflows/test.yaml
Labels: none

Final fixes
  .devcontainer/demo/README.md
  localdev/docker-compose.demo.yaml
Labels: docs

updates to docker buildx for integration job
  .github/workflows/test.yaml
  makefile
Labels: none

updates to junit and readme
  .github/workflows/test.yaml
  README.md
Labels: none

update test workflow
  .github/workflows/test.yaml
Labels: none

update test workflow
  .github/workflows/test.yaml
Labels: none

update test workflow
  .github/workflows/test.yaml
Labels: none

update test workflow
  .github/workflows/lint.yaml
Labels: none

update test workflow
  .github/workflows/test.yaml
Labels: none

Scheduler refactoring
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/testfixtures_test.go
Labels: scheduler

Remove commented-out code
  internal/scheduler/legacyscheduler.go
Labels: scheduler

skip caching in golangci-lint due to their bug
  .github/workflows/lint.yaml
Labels: none

Update lease.go, cleanup
  internal/armada/server/lease.go
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

update test workflow
  .github/workflows/test.yaml
Labels: none

update test workflow
  .github/workflows/lint.yaml
Labels: none

update test workflow
  .github/workflows/test.yaml
Labels: none

update test & lint workflow
  .github/workflows/lint.yaml
  .github/workflows/test.yaml
Labels: none

update test & lint workflow
  .github/workflows/test.yaml
Labels: none

remove arduino protoc action
  .github/workflows/test.yaml
Labels: none

lint markdown docs
  .github/workflows/label_pr.yml
  .github/workflows/lint.yml
  .github/workflows/lint_pr.yml
  .github/workflows/test.yml
  README.md
Labels: none

lint markdown docs
  .github/workflows/lint.yml
Labels: none

lint markdown docs
  .github/workflows/lint.yml
Labels: none

add staticcheck linter
  .golangci.yml
Labels: none

improve lint job
  .github/workflows/lint.yml
Labels: none

lint helm
  .github/workflows/lint.yml
Labels: none

lint docker
  .github/workflows/lint.yml
Labels: none

lint docker fix
  .github/workflows/lint.yml
Labels: none

lint docker fix
  .github/workflows/lint.yml
Labels: none

lint docker fix
  .github/workflows/lint.yml
Labels: none

Add unit testing for clusters.go
  internal/armada/scheduling/clusters_test.go
Labels: none

Cleanup
  internal/armada/server/lease.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/reports.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Check nodeDb consistency only in tests
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
Labels: scheduler

Cleanup
  internal/armada/server/lease.go
  internal/common/validation/job.go
  internal/common/validation/job_test.go
  internal/scheduler/legacyscheduler.go
  internal/scheduler/legacyscheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

updates
  .github/workflows/lint.yml
  .github/workflows/test.yml
  README.md
Labels: none

Lookout v2 fix bug in sub group expansion queries, fix searching by backslashes (#2191)
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/utils/jobsTableUtils.test.ts
  internal/lookout/ui/src/utils/jobsTableUtils.ts
  internal/lookout/ui/src/utils/reactTableUtils.test.ts
  internal/lookout/ui/src/utils/reactTableUtils.ts
  internal/lookoutv2/repository/common.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/getjobs_test.go
Labels: none

Generate job failed events for preempted jobs (#2208)
  internal/armada/server/lease.go
  internal/armada/server/submit_from_log.go
Labels: none

Scheduler Metrics (#2145)
  .run/Basic Tests.run.xml
  config/scheduler/config.yaml
  go.mod
  go.sum
  internal/armada/cache/queue.go
  internal/armada/metrics/metrics.go
  internal/armada/server.go
  internal/common/metrics/domain.go
  internal/common/metrics/recorder.go
  internal/common/metrics/recorder_test.go
  internal/common/metrics/resource_recorder.go
  internal/common/metrics/scheduler_metrics.go
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
  internal/common/util/hash.go
  internal/common/validation/job.go
  internal/scheduler/config.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: server, scheduler, scheduleringester

update example job in ./examples/ to specify namespace personal-anonymous (#2207)
  example/jobs.yaml
Labels: docs

Lookout v2 fix filtering by annotations, join multiple tables rather … (#2198)
  internal/lookoutv2/repository/common.go
  internal/lookoutv2/repository/common_test.go
  internal/lookoutv2/repository/frombuilder.go
  internal/lookoutv2/repository/frombuilder_test.go
  internal/lookoutv2/repository/getjobs_test.go
Labels: none

Add codecov.yml (#2212)
  codecov.yml
Labels: none
