Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

update rc job
  .github/workflows/release-rc.yml
Labels: none

test release job
  .github/workflows/release-rc.yml
Labels: none

add protection for branch/tag name injection
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Updating Github Pages branch with latest Master changes
  developer.md
  developer/ubuntu-setup.md
  developer/ui.md
  python_airflow_operator.md
Labels: none

rename main to master branch in release rc job
  .github/workflows/release-rc.yml
Labels: none

Feat/release ci fix (#45)
  .github/workflows/release-rc.yml
Labels: none

Initial commit
  internal/armada/server/lease.go
  internal/common/slices/slices.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/reporting.proto
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/api/util.go
Labels: proto, scheduler

change release jobs to target master
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Compute capacity per pool for Pulsar-backed scheduler
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Merge branch 'master' into feat/create_job_error
  internal/common/validation/job.go
Labels: none

final polish for release workflow
  .github/workflows/ci.yml
  .github/workflows/release-rc.yml
Labels: none

remove redundat validate workflow
  .github/workflows/release-validate.yml
Labels: none

SQL Databases Interfaces (#2624)
  docs/design/database_interfaces.md
Labels: none

Unified scheduling by pool
  internal/armada/configuration/types.go
  internal/common/slices/slices.go
  internal/common/slices/slices_test.go
  internal/scheduler/scheduling_algo.go~
Labels: scheduler

Cleaup
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo.go~
Labels: scheduler

Cleanup
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

mage proto
  internal/scheduler/schedulerobjects/reporting.pb.go
Labels: none

fix minor issues in release workflows
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

fix error comments in release workflow
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Lookout V2 UI - group by state aggregates
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.module.css
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/models/jobsTableModels.ts
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/jobsTableUtils.ts
Labels: none

tests
  config/scheduler/config.yaml
  deployment/scheduler/templates/scheduler-statefulset.yaml
  internal/armada/configuration/types.go
  internal/armada/server.go
  internal/armada/server/submit_test.go
  internal/common/ingest/testfixtures/event.go
  internal/common/types/scheduling.go
  internal/common/validation/podspec.go
  internal/common/validation/podspec_test.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/common_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobiteration.go
  internal/scheduler/leader.go
  internal/scheduler/leader_metrics.go
  internal/scheduler/leader_metrics_test.go
  internal/scheduler/leader_proxying_reports_server.go
  internal/scheduler/leader_proxying_reports_server_test.go
  internal/scheduler/leader_reporting_client.go
  internal/scheduler/leader_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/proxying_reports_server.go
  internal/scheduler/proxying_reports_server_test.go
  internal/scheduler/reports/leader_reporting_client.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/config.go
  internal/scheduleringester/instructions.go
  pkg/api/util.go
  pkg/api/util_test.go
Labels: proto, server, scheduler, scheduleringester

remove log
  internal/lookout/ui/src/utils/jobsTableUtils.ts
Labels: none

imports
  internal/armada/server.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/context/context.go
  internal/scheduler/leader_reporting_client.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/proxying_reports_server_test.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

gofumpt
  internal/scheduler/leader_proxying_reports_server.go
  internal/scheduler/leader_proxying_reports_server_test.go
Labels: scheduler

Lint fix
  internal/armada/server/job_validation.go
  internal/common/validation/job.go
Labels: none

Test client provider
  internal/scheduler/leader_client.go
  internal/scheduler/leader_client_test.go
  internal/scheduler/leader_proxying_reports_server.go
  internal/scheduler/leader_proxying_reports_server_test.go
  internal/scheduler/leader_reporting_client.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

update release workflow and polish it
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Lookout V2 UI - group by state aggregates (#2646)
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.module.css
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookout/ui/src/models/jobsTableModels.ts
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/services/lookoutV2/mocks/FakeGroupJobsService.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/jobsTableUtils.ts
Labels: none

feat: fix release ci (#2589)
  .github/workflows/ci.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

Tests
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Re-add benchmark
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Fix test
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

comment
  internal/scheduler/proxying_reports_server.go
Labels: scheduler

Fix imports
  internal/scheduler/leader_client_test.go
  internal/scheduler/leader_proxying_reports_server.go
Labels: scheduler

Lint
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

fix: Add .yarn folder in internal/lookout/ui to .gitignore
  internal/lookout/ui/.gitignore
Labels: none

fix: removed .yarn as its should not be in remote branch
  internal/lookout/ui/.pnp.cjs
  internal/lookout/ui/.pnp.loader.mjs
  internal/lookout/ui/.yarnrc.yml
  internal/lookout/ui/yarn.lock
Labels: none

fix: most import order warning and lint errors alike
  internal/lookout/ui/src/components/Overview.tsx
  internal/lookout/ui/src/components/job-dialog/ContainerDetails.tsx
  internal/lookout/ui/src/components/job-dialog/JobDetails.tsx
  internal/lookout/ui/src/components/job-dialog/PreviousRuns.tsx
  internal/lookout/ui/src/components/job-dialog/RunDetailsRows.tsx
  internal/lookout/ui/src/components/job-sets/DurationBoxPlot.tsx
  internal/lookout/ui/src/components/job-sets/DurationPlotsTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/jobs/JobTableColumns.tsx
  internal/lookout/ui/src/components/jobs/JobTableHeader.tsx
  internal/lookout/ui/src/components/jobs/Jobs.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/yarn.lock
Labels: none

test_added_for_tenacity
  third_party/airflow/tests/unit/job_service_mock.py
Labels: none

formatted code
  third_party/airflow/tests/unit/job_service_mock.py
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
