Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Adds Some Prometheus Metrics To Lookout (#3781)
  config/lookoutv2/config.yaml
  deployment/lookout-v2/templates/servicemonitor.yaml
  go.mod
  go.sum
  internal/lookoutv2/application.go
  internal/lookoutv2/configuration/types.go
  internal/lookoutv2/gen/restapi/configure_lookout.go
  internal/lookoutv2/metrics/metrics.go
Labels: lookout

lint
  internal/lookoutingesterv2/metrics/metrics.go
Labels: none

Add some more metics to the ingesters (#3782)
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/metrics/metrics.go
  internal/lookoutingesterv2/ingester.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/metrics/metrics.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjoberror_test.go
  internal/lookoutv2/repository/getjobrundebugmessage_test.go
  internal/lookoutv2/repository/getjobrunerror_test.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: lookoutingester

fix lookout service monitor
  deployment/lookout-v2/templates/servicemonitor.yaml
Labels: none

fix lookout service monitor (#3783)
  deployment/lookout-v2/templates/servicemonitor.yaml
Labels: none

expose metrics port for lookout, fix lookout ingester message rate
  deployment/lookout-v2/templates/deployment.yaml
  internal/lookoutingesterv2/metrics/metrics.go
Labels: none

Expose Metrics Port On Lookout, Fix Units Of Ingestion Rate (#3784)
  deployment/lookout-v2/templates/deployment.yaml
  internal/lookoutingesterv2/metrics/metrics.go
Labels: none

services for everything that needs too be monitored
  deployment/event-ingester/templates/service.yaml
  deployment/lookout-ingester-v2/templates/service.yaml
  deployment/lookout-v2/templates/service.yaml
  deployment/scheduler/templates/scheduler-ingester-service.yaml
Labels: none

services for everything that needs too be monitored (#3785)
  deployment/event-ingester/templates/service.yaml
  deployment/lookout-ingester-v2/templates/service.yaml
  deployment/lookout-v2/templates/service.yaml
  deployment/scheduler/templates/scheduler-ingester-service.yaml
Labels: none

default metrics port for lookout
  deployment/lookout-v2/values.yaml
Labels: none

default metrics port for lookout (#3786)
  deployment/lookout-v2/values.yaml
Labels: none

Scheduler: remove unused fields on schedulerobjects.Node
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

remove node from scheduler metrics
  internal/scheduler/metrics/metrics.go
Labels: none

Scheduler: remove unused fields on schedulerobjects.Node (#3787)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
Labels: none

remove node from scheduler metrics (#3788)
  internal/scheduler/metrics/metrics.go
Labels: none

Remove random rand
  internal/common/util/rand.go
Labels: none

Remove random rand (#3790)
  internal/common/util/rand.go
Labels: none

metrics for blocked users
  internal/scheduler/context/context.go
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

wip
  deployment/overrides.yamnl
  internal/common/ingest/testfixtures/fish_test.go
  internal/scheduler/metricsnew/defintions.go
Labels: build, deployment

[armadactl] Remove client side podspec validation
  pkg/client/validation/submit_file.go
  pkg/client/validation/submit_file_test.go
  pkg/client/validation/testdata/invalid_field.yaml
  pkg/client/validation/testdata/invalid_field_multi_job.yaml
  pkg/client/validation/testdata/invalid_no-jobs.yaml
Labels: none

go mod tidy
  go.mod
  go.sum
Labels: none

lint
  internal/lookoutv2/configuration/types.go
Labels: none

Create pprof.md
  docs/developer/pprof.md
Labels: none

Update pprof.md
  docs/developer/pprof.md
Labels: none

whitespace
  internal/lookoutv2/configuration/types.go
Labels: none

Update pprof.md
  docs/developer/pprof.md
Labels: none

Changing armadactl commands to kubectl-like cordon, uncordon. Adding scheduling paused to constraints.
  cmd/armadactl/cmd/queue.go
  cmd/armadactl/cmd/root.go
  cmd/armadactl/cmd/scheduling_control.go
  internal/armadactl/queue.go
  internal/armadactl/scheduling_control.go
  internal/common/slices/slices.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/scheduling_algo_test.go
  pkg/client/queue/queue.go
Labels: armadactl, scheduler

Removing remaining jobservice references
  client/python/examples/general.py
  docs/python_airflow_operator.md
  third_party/airflow/docs/source/python_airflow_operator.rst
Labels: docs

Return error if no longer leader when publishing
  internal/scheduler/publisher.go
  internal/scheduler/publisher_test.go
Labels: scheduler

Document helm minimum version
  docs/helm.md
Labels: docs

Update developer.md
  docs/developer.md
Labels: docs

Update helm.md
  docs/helm.md
Labels: docs

Document helm minimum version (#3795)
  docs/developer.md
  docs/helm.md
Labels: docs

Using built in JSON marshaller to avoid compile errors
  internal/common/grpc/gateway.go
Labels: none

Go mod tidy
  go.mod
  go.sum
Labels: none

Return error if no longer leader when publishing (#3794)
  internal/scheduler/publisher.go
  internal/scheduler/publisher_test.go
Labels: scheduler

Remove unnecessary deepcopy
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Profiling port should not bind to locahost
  internal/common/profiling/http.go
Labels: none

Profiling port should not bind to locahost (#3797)
  internal/common/profiling/http.go
Labels: none

implement cap
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
