Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

[Lookout API] Initialise slices to prevent JSON marshalling to 'null'
  cmd/lookout/main.go
Labels: lookout

typo
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarLinks.tsx
Labels: none

[Lookout API] Initialise slices to prevent JSON marshalling to 'null' (#4527)
  cmd/lookout/main.go
Labels: lookout

docs(website): add Google Analytics
  .github/workflows/website.yml
  website/.env.example
  website/package.json
  website/src/app/layout.tsx
  website/src/utils/env.ts
  website/yarn.lock
Labels: none

[Lookout] populate job links from job spec annotations
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarLinks.tsx
Labels: none

[Lookout] populate job links from job spec annotations (#4532)
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarLinks.tsx
Labels: none

ingester
  internal/lookoutui/eslint.config.mjs
Labels: none

Implement reserved capacity
  internal/common/constants/constants.go
  internal/common/ingest/testfixtures/event.go
  internal/common/metrics/scheduler_metrics.go
  internal/common/util/taints.go
  internal/executor/node/node_group.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/jobdb/gang.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: scheduler, scheduleringester

[Lookout] merge in job with job spec object when templating links
  internal/lookoutui/src/pages/jobs/components/sidebar/SidebarLinks.tsx
Labels: none

Tidy + add tests
  internal/common/pointer/pointer.go
  internal/common/util/taints.go
  internal/common/util/taints_test.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/executorapi/util.go
Labels: scheduler

Lint
  internal/executor/node/node_group.go
Labels: none

Proto
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  pkg/api/schedulerobjects/api.swagger.json
Labels: none

Proto
  pkg/api/schedulerobjects/api.swagger.json
Labels: none

Make reserved node pool suffix configurable + tests
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
Labels: executor

Tests
  internal/executor/node/node_group.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/reconciliation.go
  internal/scheduler/reconciliation_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
Labels: scheduler

Lint
  internal/executor/node/node_group_test.go
  internal/scheduler/reconciliation_test.go
Labels: scheduler

Tidy jobdb objects
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
Labels: none

ci(website): remove legacy CI/CD Actions workflow
  .github/workflows/pages.yml
Labels: none

ci(website): remove legacy CI/CD Actions workflow (#4538)
  .github/workflows/pages.yml
Labels: none

docs(website): add Google Analytics
  .github/workflows/website.yml
  website/.env.example
  website/package.json
  website/src/app/layout.tsx
  website/src/utils/env.ts
  website/yarn.lock
Labels: none

add traces for job submission, job cancellation and job reprioritization flows
  cmd/binoculars/main.go
  cmd/eventingester/main.go
  cmd/fakeexecutor/main.go
  cmd/lookout/main.go
  cmd/lookoutingester/main.go
  cmd/scheduleringester/main.go
  go.mod
  go.sum
  internal/common/config/hooks.go
  internal/common/database/functions.go
  internal/common/grpc/grpc.go
  internal/common/startup.go
  internal/common/tracing/correlation.go
  internal/common/tracing/tracing.go
  internal/scheduler/api.go
  internal/scheduler/scheduler.go
  internal/scheduler/schedulerapp.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/server/submit/submit.go
Labels: binoculars, eventingester, lookout, lookoutingester, scheduler, scheduleringester

add simple support for open telemetry
  cmd/scheduleringester/main.go
  cmd/server/main.go
  go.mod
  go.sum
  internal/common/database/functions.go
  internal/common/tracing/correlation.go
  internal/common/tracing/tracing.go
  internal/server/submit/submit.go
Labels: scheduleringester

Fix pull request template comment
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

do not create standalone services for native sidecars if ingress ports match
  internal/server/submit/conversion/conversions.go
  internal/server/submit/conversion/conversions_test.go
Labels: none

Fix pull request template comment (#4542)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

feat: inject job info as envvars in scheduled pods (#4473)
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/server/configuration/constants.go
Labels: scheduler

docs(website): add Google Analytics (#4531)
  .github/workflows/website.yml
  website/.env.example
  website/package.json
  website/src/app/layout.tsx
  website/src/utils/env.ts
  website/yarn.lock
Labels: none

Log start and end time on each scheduler tick, and on each cycle
  internal/scheduler/scheduler.go
Labels: scheduler

Fix PodDefaults panics accessing Ingress object
  internal/executor/job/submit.go
  internal/executor/job/util.go
  internal/executor/util/kubernetes_object.go
Labels: none

use same access pattern
  internal/executor/util/kubernetes_object.go
Labels: none

Remove the clock format since it is already logged
  internal/scheduler/scheduler.go
Labels: scheduler

Fix row resource leak
  internal/scheduler/database/job_repository.go
Labels: none

Fix resource leak
  internal/scheduler/database/job_repository.go
Labels: none

Move constants to their own package in common
  internal/common/constants/constants.go
  internal/common/ingest/testfixtures/event.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/jobdb/gang.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: scheduler, scheduleringester

Move constants to their own package in common (#4545)
  internal/common/constants/constants.go
  internal/common/ingest/testfixtures/event.go
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/executor/util/pod_util.go
  internal/executor/util/pod_util_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/jobdb/gang.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: scheduler, scheduleringester

Rename func
  internal/common/util/taints.go
  internal/common/util/taints_test.go
  internal/executor/node/node_group.go
  internal/scheduler/internaltypes/node.go
  pkg/executorapi/util.go
Labels: none

Implement reserved capacity (#4533)
  config/executor/config.yaml
  internal/common/constants/constants.go
  internal/common/metrics/scheduler_metrics.go
  internal/common/pointer/pointer.go
  internal/common/util/taints.go
  internal/common/util/taints_test.go
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/node/node_group.go
  internal/executor/node/node_group_test.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics/constants.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/reconciliation.go
  internal/scheduler/reconciliation_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling/context/pod.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/executorapi/util.go
Labels: executor, scheduler

fix: scheduler database schema sync - regenerate sqlc after terminated column migration
  internal/common/database/upsert.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

fix: scheduler database schema sync - regenerate sqlc after terminated column migration (#4548)
  internal/common/database/upsert.go
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Add nikola-jokic as maintainer
  MAINTAINERS.md
Labels: none
