Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

lint
  internal/scheduler/constraints/constraints_test.go
Labels: none

lint
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

Remove unnecessary deepcopy (#3796)
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

[armadactl] Remove client side podspec validation (#3792)
  go.mod
  go.sum
  pkg/client/validation/submit_file.go
  pkg/client/validation/submit_file_test.go
  pkg/client/validation/testdata/invalid_field.yaml
  pkg/client/validation/testdata/invalid_field_multi_job.yaml
  pkg/client/validation/testdata/invalid_no-jobs.yaml
Labels: none

Scheduler pprof support in helm chart
  deployment/scheduler/templates/scheduler-profiling-ingress.yaml
  deployment/scheduler/templates/scheduler-profiling-service.yaml
  docs/developer/pprof.md
Labels: none

Scheduler pprof support in helm chart (#3799)
  deployment/scheduler/templates/scheduler-profiling-ingress.yaml
  deployment/scheduler/templates/scheduler-profiling-service.yaml
  docs/developer/pprof.md
Labels: none

Make Adjusted Fair Share Constraint Aware (#3798)
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Scheduler helm chart: consistent profiling port name
  deployment/scheduler/templates/scheduler-statefulset.yaml
Labels: none

Scheduler helm chart: consistent profiling port name (#3800)
  deployment/scheduler/templates/scheduler-statefulset.yaml
Labels: none

Remove unnecessary passing of priorityClasses + remove unused fields
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Sched ing prof chart (#179)
  deployment/scheduler/templates/scheduler-ingester-deployment.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-ingress.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-service.yaml
  deployment/scheduler/templates/scheduler-profiling-ingress.yaml
  docs/developer/pprof.md
Labels: none

Helm charts: add scheduler ingester profiling support, must specify more profiling details in sched config (#3802)
  deployment/scheduler/templates/scheduler-ingester-deployment.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-ingress.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-service.yaml
  deployment/scheduler/templates/scheduler-profiling-ingress.yaml
  docs/developer/pprof.md
Labels: none

lint
  internal/scheduler/metricsnew/definitions.go
  internal/scheduler/metricsnew/defintions.go
Labels: none

wip
  internal/scheduler/metricsnew/constants.go
Labels: none

Use Publisher Eveywhere
  config/armada/config.yaml
  config/eventingester/config.yaml
  config/lookoutingesterv2/config.yaml
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/armada/configuration/types.go
  internal/armada/mocks/generate.go
  internal/armada/mocks/mock_deduplicator.go
  internal/armada/server.go
  internal/armada/submit/submit_test.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/mocks/generate.go
  internal/common/mocks/mock_publisher.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/eventsequence_test.go
  internal/common/pulsarutils/publisher.go
  internal/common/pulsarutils/publisher_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/publisher.go
  internal/scheduler/publisher_test.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

Fix config validation
  internal/armada/configuration/types.go
Labels: none

imports
  internal/common/pulsarutils/publisher.go
  internal/common/pulsarutils/publisher_test.go
  internal/scheduler/publisher.go
Labels: scheduler

gofumpt
  internal/common/pulsarutils/publisher_test.go
Labels: none

wip
  internal/scheduler/context/context.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/metrics_test.go
  internal/scheduler/metricsnew/constants.go
  internal/scheduler/metricsnew/definitions.go
  internal/scheduler/metricsnew/scheduler_metrics.go
Labels: none

wip
  internal/scheduler/metrics/definitions.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metricsnew/scheduler_metrics.go
Labels: none

wip
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

wip
  internal/scheduler/metrics/metrics.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerresult/result.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

wip
  internal/scheduler/scheduler_test.go
Labels: scheduler

remove unnecessary classes
  deployment/overrides.yamnl
  internal/common/ingest/testfixtures/fish_test.go
Labels: build, deployment

fix: build/python-client/Dockerfile to reduce vulnerabilities
  build/python-client/Dockerfile
Labels: none

Remove useAdjustedFairShareProtection flag
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

fix tests
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/definitions.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

fix tests
  internal/scheduler/metrics/metrics.go
Labels: none

lint
  internal/scheduler/metrics/metrics.go
Labels: none

fix integration test
  internal/scheduler/metrics/definitions.go
Labels: none

unit test
  internal/scheduler/context/context_test.go
  internal/scheduler/metrics/metrics_test.go
Labels: none

unit test
  go.mod
  go.sum
  internal/scheduler/metrics/metrics_test.go
Labels: none

Remove useAdjustedFairShareProtection flag (#3806)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

go mod tidy
  go.mod
  go.sum
Labels: none

lint
  internal/scheduler/metrics/metrics_test.go
Labels: none

wip
  config/scheduleringester/config.yaml
  internal/armada/event/conversion/conversions_test.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/api_test.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/config.go
  internal/scheduleringester/ingester.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
Labels: scheduler, scheduleringester

remove unused .circleci/
  website/.circleci/config.yml
Labels: none

remove unneeded .mergify.yml file
  website/.mergify.yml
Labels: none

remove unused CNAME file
  website/CNAME
Labels: none

rename README.txt to README.md and use Markdown format
  website/README.md
Labels: none
