Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

switch go client
  pkg/client/queue/create.go
  pkg/client/queue/delete.go
  pkg/client/queue/get.go
  pkg/client/queue/update.go
Labels: none

remove grpc pool
  internal/common/grpc/configuration/types.go
  internal/common/grpc/grpcpool/LICENSE
  internal/common/grpc/grpcpool/README.md
  internal/common/grpc/grpcpool/pool.go
  internal/common/grpc/grpcpool/pool_test.go
Labels: none

remove json marshaller
  internal/common/grpc/protoutils/json_marshaller.go
Labels: none

remove statik
  go.mod
  go.sum
  internal/common/database/migrations.go
Labels: none

Remove Gogo Nullable Properties From API Protos (#3756)
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/armada/queue/queue_repository_test.go
  internal/common/eventutil/eventutil.go
  internal/common/resource/resource.go
  internal/common/resource/resource_test.go
  internal/executor/domain/resources.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/queue_scheduler_test.go
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/client/domain/watch.go
  pkg/client/domain/watch_test.go
  pkg/client/queue/queue.go
  pkg/client/queue/queue_test.go
  testsuite/performance/jobservice/fakearmada/event_server.go
Labels: proto, scheduler

remove statik (#3762)
  go.mod
  go.sum
  internal/common/database/migrations.go
Labels: none

remove gogo from testsuite
  internal/common/proto/protoutil.go
  internal/testsuite/submitter/submitter.go
  internal/testsuite/testrunner.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
Labels: proto, testsuite

executor
  internal/executor/util/uuid_test.go
  internal/scheduler/api_test.go
  pkg/executorapi/util.go
Labels: scheduler

lint
  internal/executor/util/uuid_test.go
Labels: none

fix: build/python-client/Dockerfile to reduce vulnerabilities
  build/python-client/Dockerfile
Labels: none

fix test
  internal/executor/util/uuid_test.go
  internal/scheduler/api_test.go
Labels: scheduler

add queue priority to metrics
  internal/common/metrics/domain.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
Labels: scheduler

Scheduler: Add floating resource support
  internal/common/maps/maps.go
  internal/common/maps/maps_test.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

add queue priority to metrics (#3766)
  internal/common/metrics/domain.go
  internal/common/metrics/scheduler_metrics.go
  internal/scheduler/metrics.go
Labels: scheduler

linter
  internal/scheduler/scheduling_algo.go
Labels: scheduler

Remove Gogo Proto From Executor API (#3763)
  internal/executor/service/job_requester.go
  internal/executor/service/job_requester_test.go
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
  internal/executor/util/uuid.go
  internal/executor/util/uuid_test.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
  pkg/executorapi/util.go
Labels: scheduler

Update comparison_test.go
  internal/scheduler/jobdb/comparison_test.go
Labels: none

Update jobdb_test.go
  internal/scheduler/jobdb/jobdb_test.go
Labels: none

Update job_run_test.go
  internal/scheduler/jobdb/job_run_test.go
Labels: none

Scheduler: Add floating resource support (#3767)
  internal/common/maps/maps.go
  internal/common/maps/maps_test.go
  internal/scheduler/adapters/adapters.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context.go
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/resource_list_factory.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Scheduler: Allow weighting fairness costs in config
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context_test.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/fairness/fairness_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

check for negative
  internal/scheduler/fairness/fairness.go
Labels: none

unit test
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
Labels: none

Update fairness.go
  internal/scheduler/fairness/fairness.go
Labels: none

added test
  pkg/executorapi/util_test.go
Labels: none

lint
  internal/common/proto/protoutil_test.go
Labels: none

Scheduler: Allow weighting fairness costs in config (#3768)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/context/context_test.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/fairness/fairness_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Remove Gogo-Proto From Testsuite Definitions (#3764)
  internal/common/proto/protoutil.go
  internal/common/proto/protoutil_test.go
  internal/testsuite/submitter/submitter.go
  internal/testsuite/testrunner.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  pkg/executorapi/util.go
  pkg/executorapi/util_test.go
Labels: proto, testsuite

Scheduler: refactor internaltypes.Node
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

lint
  internal/scheduler/internaltypes/node.go
Labels: none

Scheduler: refactor internaltypes.Node (#3769)
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/preempting_queue_scheduler_test.go
Labels: scheduler

[WIP] Add support for mixed pool clusters
  config/executor/config.yaml
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/node/node_group.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/poolutils.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: executor, scheduler

Fix imports
  internal/scheduler/metrics_test.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/poolutils.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

gofumpt
  internal/executor/node/node_group.go
Labels: none

remove timestamp
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/armada/event/event_repository_test.go
  internal/armada/event/event_test.go
  internal/armada/submit/submit.go
  internal/armada/submit/testfixtures/test_fixtures.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/ingest/testfixtures/event.go
  internal/eventingester/convert/conversions_test.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/writer.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/job.pb.go
  pkg/api/job.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/events_util_test.go
Labels: proto, scheduler, scheduleringester

remove timestamp
  pkg/armadaevents/events_util.go
  pkg/armadaevents/events_util_test.go
Labels: none

Remove minimumJobSize, add tests, pass through Pool via JobRunLeased
  internal/common/ingest/testfixtures/event.go
  internal/executor/application.go
  internal/executor/configuration/types.go
  internal/executor/node/node_group_test.go
  internal/executor/service/lease_requester.go
  internal/executor/service/lease_requester_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/database/migrations/012_run_pool.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/pool_assigner_test.go
  internal/scheduler/poolutils.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: executor, scheduler, scheduleringester

fix import order
  internal/common/ingest/testfixtures/event.go
Labels: none

Remove Gogo Proto From Everywhere except schedulerobjects (#3771)
  internal/armada/event/conversion/conversions.go
  internal/armada/event/conversion/conversions_test.go
  internal/armada/event/event_repository_test.go
  internal/armada/event/event_test.go
  internal/armada/submit/submit.go
  internal/armada/submit/testfixtures/test_fixtures.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/ingest/testfixtures/event.go
  internal/eventingester/convert/conversions_test.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutv2/repository/util.go
  internal/scheduler/publisher.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/simulator/metrics.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/writer.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/job.pb.go
  pkg/api/job.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/armadaevents/events_util.go
  pkg/armadaevents/events_util_test.go
Labels: proto, scheduler, scheduleringester

Add tests + tidy
  internal/scheduler/poolutils.go
  internal/scheduler/poolutils_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
  pkg/executorapi/util.go
Labels: scheduler

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
