Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Cleanup
  internal/scheduler/schedulerapp.go
Labels: scheduler

Cleanup
  internal/common/stringinterner/stringintern_test.go
  internal/scheduler/simulator/simulator.go
Labels: none

Lint
  internal/common/stringinterner/stringintern_test.go
Labels: none

Fail CICD if Typescript linting fails (#3031)
  .github/workflows/lint.yml
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: none

Added armada running check
  magefiles/tests.go
Labels: build

Force run of python tests
  .github/workflows/python-client.yml
Labels: none

Update python-client.yml
  .github/workflows/python-client.yml
Labels: none

Added some new files to run tests on
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
Labels: none

Use priority class name instead of priority in scheduling key (#30)
  internal/scheduler/context/context.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/submitcheck.go
Labels: scheduler

Added armada running check to Python Tests (#3124)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  magefiles/tests.go
Labels: build

Make everywhere use the same auth method + tests
  deployment/armada-bundle/values.yaml
  deployment/armada-bundle/values/example.values.yaml
  developer/config/insecure-armada.yaml
  developer/dependencies/pulsar.conf
  docs/developer/api.md
  docs/helm.md
  docs/quickstart/helm/values-server.yaml
  internal/armada/permissions/permissions.go
  internal/armada/server.go
  internal/armada/server/authorization.go
  internal/armada/server/authorization_test.go
  internal/armada/server/event.go
  internal/armada/server/event_test.go
  internal/armada/server/lease.go
  internal/armada/server/lease_test.go
  internal/armada/server/submit.go
  internal/armada/server/submit_test.go
  internal/armada/server/submit_to_log.go
  internal/armada/server/usage.go
  internal/armada/server/usage_test.go
Labels: docs, server

gofumpt
  internal/armada/server/authorization.go
  internal/armada/server/authorization_test.go
  internal/armada/server/submit_to_log.go
Labels: none

Use priority class name instead of priority in scheduling key (#30) (#3125)
  internal/scheduler/context/context.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/schedulerobjects/podutils.go
  internal/scheduler/schedulerobjects/podutils_test.go
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/submitcheck.go
Labels: scheduler

Cleanup
  config/scheduler/config.yaml
Labels: none

Add setup-go-cache action and replace existing duplicated code
  .github/actions/setup-go-cache/action.yml
  .github/workflows/test.yml
Labels: none

Cleanup
  internal/scheduler/configuration/configuration.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/metrics/metrics.go
  internal/scheduler/scheduler.go
Labels: scheduler

Add setup-go-cache action and replace existing duplicated code (#3127)
  .github/actions/setup-go-cache/action.yml
  .github/workflows/test.yml
Labels: none

Add `namespace` column to Lookout
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobsService.test.ts
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookoutingesterv2/benchmark/benchmark.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobrunerror_test.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/tables.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/schema/migrations/004_job_namespace.sql
  internal/lookoutv2/swagger.yaml
Labels: lookout

Enable grouping
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Initial Commit (#3120)
  developer/env/binoculars.env
  developer/env/lookoutv2.env
  developer/env/server-pulsar.env
  developer/env/server.env
Labels: none

Update go-lint to v1.54 (#3101) (#3109)
  .github/workflows/lint.yml
Labels: none

Fix tests
  internal/common/math/math.go
  internal/common/math/math_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: scheduler

Fix tests
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
Labels: none

Fix possible panic
  internal/scheduler/scheduler_metrics.go
Labels: scheduler

Update webpack version for Lookout (#2643)
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

Make `Namespace` nullable where required
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

`""` is falsy
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
Labels: none

Add `namespace` column to Lookout (#3128)
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/models/lookoutV2Models.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobsService.test.ts
  internal/lookout/ui/src/utils/fakeJobsUtils.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookoutingesterv2/benchmark/benchmark.go
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/models/job.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/pruner/pruner_test.go
  internal/lookoutv2/repository/getjobrunerror_test.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/getjobspec_test.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/tables.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/schema/migrations/004_job_namespace.sql
  internal/lookoutv2/swagger.yaml
Labels: lookout

Update webpack version for Lookout (#2643) (#3129)
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: none

Allow the Lookout server to turn off auto refresh
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/utils.tsx
  internal/lookoutv2/configuration/types.go
Labels: none

Switch to `json:",omitempty"`
  internal/lookoutv2/configuration/types.go
Labels: none

Allow the Lookout server to turn off auto refresh (#3130)
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/utils.tsx
  internal/lookoutv2/configuration/types.go
Labels: none

Update defaults for running locally
  config/armada/config.yaml
  config/executor/config.yaml
Labels: none

Fix panics
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
Labels: scheduler

ARMADA-2346 Delete Pulsar scheduler Redis map entries (#29)
  internal/armada/repository/job.go
  internal/armada/server/lease_test.go
  internal/armada/server/submit_from_log.go
  internal/common/util/list.go
Labels: none

Delete auto refresh default values
  config/lookoutv2/config.yaml
Labels: none

Delete auto refresh default values (#3131)
  config/lookoutv2/config.yaml
Labels: none

Disable grouping by namespace in the Lookout UI
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Disable grouping by namespace in the Lookout UI (#3132)
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
Labels: none

Add `AwayNodeTypes` (#32)
  config/armada/config.yaml
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/armada/server/submit_test.go
  internal/common/ingest/testfixtures/event.go
  internal/common/types/scheduling.go
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/context/context.go
  internal/scheduler/database/migrations/003_add_runs_scheduled_at_priority.up.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/interfaces/interfaces.go
  internal/scheduler/jobdb/comparison_test.go
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/job_run.go
  internal/scheduler/jobdb/job_run_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb_test.go
  pkg/api/util.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto, scheduler, scheduleringester
