Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

use java 11
  client/java/README.md
  client/java/pom.xml
Labels: none

add detect os plugin for ci
  client/java/pom.xml
Labels: none

support secure connection
  client/java/pom.xml
  client/java/src/main/java/io/armadaproject/ArmadaClient.java
Labels: none

fix-ci (#4)
  client/java/.github/workflows/ci.yml
  client/java/pom.xml
Labels: none

Fix pom for first release
  client/java/pom.xml
Labels: none

Implement mage command for building java client.
  build/java-client/Dockerfile
  magefiles/config.go
  magefiles/java.go
  magefiles/main.go
  scripts/build-java-client.sh
Labels: build

update readme
  client/java/README.md
Labels: none

get job status, queue and queue info
  client/java/pom.xml
  client/java/src/main/java/io/armadaproject/ArmadaClient.java
  client/java/src/main/java/io/armadaproject/examples/CancelJob.java
  client/java/src/main/java/io/armadaproject/examples/GetEvents.java
  client/java/src/main/java/io/armadaproject/examples/GetJobStatus.java
  client/java/src/main/java/io/armadaproject/examples/GetQueue.java
  client/java/src/main/java/io/armadaproject/examples/GetQueueInfo.java
  client/java/src/main/java/io/armadaproject/examples/SubmitJob.java
Labels: none

put examples in separate package
  client/java/src/main/java/io/armadaproject/examples/CancelExample.java
  client/java/src/main/java/io/armadaproject/examples/CheckConnectionExample.java
  client/java/src/main/java/io/armadaproject/examples/EventExample.java
  client/java/src/main/java/io/armadaproject/examples/SubmitExample.java
Labels: none

Add plugin for maven source and javadoc (#7)
  client/java/pom.xml
Labels: none

Limit selection of the jar file to 1.
  scripts/build-java-client.sh
Labels: build

Move ci to root workflow directory
  .github/workflows/java-client-release-to-maven.yml
Labels: none

Add index to improve cancel and reprioritise in scheduler db
  internal/scheduler/database/migrations/021_add_queue_jobset_jobid_terminal_index.sql
Labels: none

Adjust Scala client release workflow (#4289)
  .github/workflows/scala-client-release-to-maven.yml
Labels: none

Fix Scala client release environment name
  .github/workflows/scala-client-release-to-maven.yml
Labels: none

update to goreleaser 2.8.1
  go.mod
  go.sum
  magefiles/goreleaser.go
  tools.yaml
Labels: build

Fix goreleaser config
  .goreleaser.yml
Labels: none

Update github action
  .github/workflows/build.yml
Labels: none

Update to k8s 1.28
  e2e/setup/kind.yaml
  go.mod
  go.sum
  tools.yaml
Labels: none

Update Some more deps
  go.mod
  go.sum
  internal/common/config/hooks.go
  internal/common/config/hooks_test.go
  internal/common/startup.go
Labels: none

Gen Proto
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
Labels: proto

Fix Test
  internal/common/logging/global.go
  internal/scheduler/leader/leader_test.go
Labels: none

Fix Test
  internal/scheduler/leader/leader_test.go
Labels: none

remove deprecated flags
  .github/workflows/build.yml
Labels: none

fix proto package
  go.mod
  go.sum
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/simulator/simulator.pb.go
  magefiles/proto.go
  pkg/api/binoculars/binoculars.pb.go
  pkg/api/binoculars/binoculars.proto
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/api/health.pb.go
  pkg/api/health.proto
  pkg/api/job.pb.go
  pkg/api/job.proto
  pkg/api/schedulerobjects/scheduler_reporting.pb.go
  pkg/api/schedulerobjects/scheduler_reporting.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
  pkg/executorapi/executorapi.pb.go
  pkg/executorapi/executorapi.proto
Labels: build, proto

fix proto package part 2
  internal/scheduler/schedulerobjects/schedulerobjects.pb.go
  internal/scheduler/schedulerobjects/schedulerobjects.proto
  internal/scheduler/simulator/simulator.pb.go
  internal/scheduler/simulator/simulator.proto
  pkg/armadaevents/events.pb.go
Labels: none

lit
  internal/scheduler/api_test.go
  internal/scheduler/nodedb/nodematching_test.go
Labels: scheduler

Fix Scala client release environment name (#4292)
  .github/workflows/scala-client-release-to-maven.yml
Labels: none

wip
  go.mod
  go.sum
  internal/common/eventutil/eventutil_test.go
  internal/common/proto/protoutil_test.go
  internal/common/testutil/proto.go
  internal/eventingester/convert/conversions_test.go
  internal/lookout/repository/getjobspec_test.go
  internal/scheduler/api_test.go
  internal/scheduler/scheduler_test.go
  pkg/client/util/deserialize.go
  pkg/client/util/deserialize_test.go
Labels: scheduler

wip
  internal/scheduler/scheduler_test.go
Labels: scheduler

lint
  internal/common/eventutil/eventutil_test.go
Labels: none

lint
  internal/common/ingest/testfixtures/event.go
  internal/common/proto/protoutil.go
  internal/executor/reporter/event.go
  internal/scheduler/database/executor_repository_test.go
  internal/scheduler/database/job_repository_test.go
  internal/server/submit/validation/submit_request_test.go
  magefiles/proto.go
Labels: build

Update GoReleaser To Latest Version (#4293)
  .github/workflows/build.yml
  .goreleaser.yml
  go.mod
  go.sum
  magefiles/goreleaser.go
  tools.yaml
Labels: build

add protoc-gen-go-grpc to tools
  tools.yaml
Labels: none

remove out of date comment
  tools.yaml
Labels: none

Cache mvn packages
  .github/workflows/scala-client.yml
Labels: none

Move scala tests action into workflow
  .github/workflows/scala-client.yml
  .github/workflows/scala-tests/action.yml
Labels: none

Fetch dependencies in one step, use batch mode
  .github/workflows/scala-client.yml
Labels: none

Move bootstrap proto step
  .github/workflows/scala-client.yml
Labels: none

Add Scala client tests to CI
  .github/workflows/python-client.yml
  .github/workflows/scala-client.yml
  .github/workflows/scala-tests/action.yml
Labels: none
