Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Set timeout on ReportEvents call in executor
  internal/executor/reporter/event_sender.go
Labels: none

Time range filtering for job submission time on Lookout (#445)
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/tables.go
  internal/lookoutui/package.json
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/dates.test.ts
  internal/lookoutui/src/common/dates.ts
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/common/locales.ts
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/components/TimeRangeSelector.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
  internal/lookoutui/yarn.lock
Labels: none

Upgrade MUI libraries in Lookout to v7
  internal/lookoutui/package.json
  internal/lookoutui/src/components/TimeRangeSelector.tsx
  internal/lookoutui/src/pages/settings/SettingsPage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/CustomThemeBuilder.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreviewCard.tsx
  internal/lookoutui/src/theme/typography.ts
  internal/lookoutui/yarn.lock
Labels: none

Set timeout on ReportEvents call in executor (#4457)
  internal/executor/reporter/event_sender.go
Labels: none

Code review improvements
  internal/common/config/pulsar.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Fix waitgroup
  internal/common/ingest/topic_delay_monitor.go
Labels: none

Scheduler: internaltypes: remove Resource.RawValue (#448)
  internal/scheduler/internaltypes/resource.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/internaltypes/resource_test.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

fix
  internal/scheduler/internaltypes/resource_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Scheduler: internaltypes: remove Resource.RawValue, move Resource to its own file (#4459)
  internal/scheduler/internaltypes/resource.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/internaltypes/resource_test.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Scheduler: tests: minimise use of raw resources
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/jobdb/job_test.go
Labels: none

Scheduler: tests: minimise use of raw resources (#4460)
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/jobdb/job_test.go
Labels: none

Scheduler: rename methods on resource list to discourage use of raw values
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/nodedb/encoding.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/simulator/sink/job_writer.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
Labels: none

Scheduler: rename methods on resource list to discourage use of raw values (#4461)
  internal/scheduler/floatingresources/floating_resource_types.go
  internal/scheduler/floatingresources/floating_resource_types_test.go
  internal/scheduler/internaltypes/resource_list.go
  internal/scheduler/internaltypes/resource_list_factory_test.go
  internal/scheduler/internaltypes/resource_list_map_util_test.go
  internal/scheduler/internaltypes/resource_list_test.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/nodedb/encoding.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration.go
  internal/scheduler/nodedb/nodeiteration_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/simulator/sink/job_writer.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
Labels: none

Time range filtering for job submission time on Lookout (#4458)
  internal/lookout/repository/getjobs_test.go
  internal/lookout/repository/tables.go
  internal/lookoutui/package.json
  internal/lookoutui/src/app/App.tsx
  internal/lookoutui/src/common/dates.test.ts
  internal/lookoutui/src/common/dates.ts
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/common/jobsTableUtils.ts
  internal/lookoutui/src/common/locales.ts
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/components/TimeRangeSelector.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/pages/settings/SettingsPage.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/CustomThemeBuilder.tsx
  internal/lookoutui/src/pages/settings/visualTheme/components/ThemePreviewCard.tsx
  internal/lookoutui/src/services/lookout/JobsTablePreferencesService.ts
  internal/lookoutui/src/theme/typography.ts
  internal/lookoutui/yarn.lock
Labels: none

Add an optional monitoring of topic processing delay to ingester pipeline (#4453)
  config/eventingester/config.yaml
  config/lookoutingester/config.yaml
  config/scheduleringester/config.yaml
  docker-compose.yaml
  internal/common/config/pulsar.go
  internal/common/ingest/ingestion_pipeline.go
  internal/common/ingest/metrics/metrics.go
  internal/common/ingest/pulsarclient/client.go
  internal/common/ingest/pulsarclient/subscriptions.go
  internal/common/ingest/topic_delay_monitor.go
  internal/common/ingest/topic_delay_monitor_test.go
  internal/common/pulsarutils/pulsarclient.go
  internal/common/pulsarutils/testutil.go
Labels: none

Fix formatting
  internal/scheduler/internaltypes/resource_list_test.go
Labels: none

Fix formatting (#4462)
  internal/scheduler/internaltypes/resource_list_test.go
Labels: none

Update scheduler schema to handle high-job churn better (#449)
  internal/scheduler/database/migrations/024_ingestion_performance.sql
Labels: none

Update scheduler schema to handle high-job churn better
  internal/scheduler/database/migrations/024_ingestion_performance.sql
Labels: none

Fix UTC time zone in TimeRangeSelector
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Fix UTC time zone in TimeRangeSelector (#4464)
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Fix time zones for TimeRangeSelector input
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

Fix time zones for TimeRangeSelector input (#4465)
  internal/lookoutui/src/components/TimeRangeSelector.tsx
Labels: none

ARMADA-3668 - Interning resource requirement strings (#450)
  internal/scheduler/jobdb/jobdb.go
Labels: none

Interning resource requirement strings (#450) (#4468)
  internal/scheduler/jobdb/jobdb.go
Labels: none

define rest port in executor deployment if healthcheck is enabled
  deployment/executor/templates/deployment.yaml
Labels: none

replace default helm chart repositories from gresearchdev to gresearch; replace default image tags from 0.0.0-latest to latest
  deployment/armada/README.md
  deployment/armada/values.yaml
  deployment/binoculars/README.md
  deployment/binoculars/values.yaml
  deployment/event-ingester/README.md
  deployment/event-ingester/values.yaml
  deployment/executor/README.md
  deployment/executor/values.yaml
  deployment/lookout-ingester/README.md
  deployment/lookout-ingester/values.yaml
  deployment/lookout-migration/README.md
  deployment/lookout-migration/values.yaml
  deployment/lookout/README.md
  deployment/lookout/values.yaml
  deployment/scheduler-migration/README.md
  deployment/scheduler-migration/values.yaml
  deployment/scheduler/README.md
  deployment/scheduler/values.yaml
Labels: none

add support for disabling ingresses in all armada helm charts (global ingress.enabled setting)
  deployment/armada/templates/profiling-ingress.yaml
  deployment/binoculars/templates/ingress.yaml
  deployment/binoculars/templates/ingressrest.yaml
  deployment/binoculars/templates/profiling-ingress.yaml
  deployment/binoculars/values.yaml
  deployment/lookout/templates/ingressweb.yaml
  deployment/lookout/templates/profiling-ingress.yaml
  deployment/lookout/values.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-ingress.yaml
  deployment/scheduler/templates/scheduler-ingress.yaml
  deployment/scheduler/templates/scheduler-profiling-ingress.yaml
  deployment/scheduler/values.yaml
Labels: none

fix: define rest port in executor deployment if healthcheck is enabled (#4470)
  deployment/executor/templates/deployment.yaml
Labels: none

fix: replace default helm chart repositories from gresearchdev to gresearch; replace default image tags from 0.0.0-latest to latest (#4471)
  deployment/armada/README.md
  deployment/armada/values.yaml
  deployment/binoculars/README.md
  deployment/binoculars/values.yaml
  deployment/event-ingester/README.md
  deployment/event-ingester/values.yaml
  deployment/executor/README.md
  deployment/executor/values.yaml
  deployment/lookout-ingester/README.md
  deployment/lookout-ingester/values.yaml
  deployment/lookout-migration/README.md
  deployment/lookout-migration/values.yaml
  deployment/lookout/README.md
  deployment/lookout/values.yaml
  deployment/scheduler-migration/README.md
  deployment/scheduler-migration/values.yaml
  deployment/scheduler/README.md
  deployment/scheduler/values.yaml
Labels: none

fix(website): set private to true in package.json
  website/package.json
Labels: none

update golangci-lint version to v2.5.0 in mage and CI; update golangci-lint configuration to v2 format
  .github/workflows/lint.yml
  .golangci.yml
  magefiles/linting.go
Labels: build

Support sorting by queue and state in Lookout
  internal/lookout/repository/tables.go
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
Labels: none

Support sorting by queue and state in Lookout (#4474)
  internal/lookout/repository/tables.go
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/components/hooks/useJobsTableData.ts
Labels: none

Lookout chores: upgrade deps, small tidy-up
  internal/lookoutui/src/components/TimeRangeSelector.tsx
  internal/lookoutui/yarn.lock
Labels: none

inject job info as envvars in scheduled pods
  internal/executor/util/kubernetes_object.go
  internal/executor/util/kubernetes_objects_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/context/gang.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/server/configuration/constants.go
Labels: scheduler

Lookout chores: upgrade deps, small tidy-up (#4475)
  internal/lookoutui/src/components/TimeRangeSelector.tsx
  internal/lookoutui/yarn.lock
Labels: none

add example jobs for gang job, job with service and job with ingress
  example/example-gang-job.yaml
  example/example-job-with-ingress.yaml
  example/example-job-with-service.yaml
Labels: docs

fix wrong endpoint discovery in oidc device grant flow
  pkg/client/auth/oidc/device.go
Labels: none

chore: update golangci-lint (#4410)
  .github/workflows/lint.yml
  .golangci.yml
  magefiles/linting.go
Labels: build
