Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Use canonical import paths for websocket and lipgloss modules (#4647)
  go.mod
  go.sum
Labels: none

feat: add terminated generated column to runs table and optimize join queries (#4642)
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/031_add_runs_terminated_column.sql
  internal/scheduler/database/migrations/032_add_runs_terminated_index.sql
  internal/scheduler/database/migrations/033_add_runs_queue_jobset_terminated_index.sql
  internal/scheduler/database/migrations/034_drop_old_runs_filtered_index.sql
  internal/scheduler/database/migrations/035_drop_old_runs_queue_jobset_filtered_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
Labels: scheduleringester

Add tests checking the executor server
  internal/server/executor/executor_server_test.go
Labels: none

feat: preserve partial scheduling progress on context timeout instead of rolling back all work
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
Labels: none

fix: mage checkDeps false positive docker suffix (#4636)
  magefiles/docker.go
Labels: build

add pool filtering to executor and queue preempt/cancel operations
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/preempt.go
  internal/armadactl/cancel.go
  internal/armadactl/preempt.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/dbops.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/executor/executor.go
  internal/server/queue/queue_service.go
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/api/submit.pb.go
  pkg/api/submit.proto
  pkg/client/executor/cancel.go
  pkg/client/executor/preempt.go
  pkg/client/queue/cancel.go
  pkg/client/queue/preempt.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, armadactl, scheduleringester

Squashed commit of the following:
  internal/scheduler/database/db_pruner_test.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/job_repository_test.go
  internal/scheduler/database/migrations/031_add_runs_terminated_column.sql
  internal/scheduler/database/migrations/032_add_runs_terminated_index.sql
  internal/scheduler/database/migrations/033_add_runs_queue_jobset_terminated_index.sql
  internal/scheduler/database/migrations/034_drop_old_runs_filtered_index.sql
  internal/scheduler/database/migrations/035_drop_old_runs_queue_jobset_filtered_index.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  magefiles/docker.go
Labels: build, scheduleringester

keep button visible on resize
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

copy button logic
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

match indent style
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

more ws
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

remove bad indents + ws
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

redundant logic
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

Add tests to the queue service
  internal/server/queue/queue_service_test.go
Labels: none

merge changes
  internal/scheduler/database/migrations/036_add_preempt_reason.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
Labels: none

Refactor scheduler result
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/sink/queue_stats_writer.go
  internal/scheduler/simulator/sink/sink.go
Labels: scheduler

Lint
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

WIP Improve scheduler partial result
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduling/result.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: scheduler

Add go.mod replace directive for cyphar.com/go-pathrs
  go.mod
Labels: none

Improvements
  config/scheduler/config.yaml
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

[Lookout] Allow selecting groups of filters (#4639)
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/components/JobsTableFilter.tsx
  internal/lookoutui/src/models/lookoutModels.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableContainer.test.tsx
Labels: none

copy button logic
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

keep button visible on resize
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

match indent style
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

redundant logic
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

remove bad indents + ws
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

more ws
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

add job column boolean to GET_JOB_COLUMNS
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

streamline copy values
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

bug: maintain column order
  internal/common/database/upsert.go
Labels: none

restore getCanSort branch
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

linter fix
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

fix: add devcontainer spec
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  .gitignore
  website/content/developer-guide.mdx
Labels: none

[Lookout UI] Submit dialogs on enter (#4649)
  internal/lookoutui/src/pages/jobs/components/CancelDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/CancelDialog.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/ReprioritizeDialog.tsx
Labels: none

linter fix (2)
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

feat: add frontend maintainers for internal/lookoutui approval
  .mergify.yml
Labels: none

trey
  .mergify.yml
Labels: none

yasmine
  .mergify.yml
Labels: none

[Lookout UI] Adding Copy All Button to Job ID Column (#4648)
  internal/lookoutui/src/common/jobsTableColumns.tsx
  internal/lookoutui/src/pages/jobs/components/JobsTableCell.tsx
Labels: none

fix: update test runner to handle preemption
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/testrunner.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  testsuite/testcases/basic/cancel_by_id_1x1.yaml
  testsuite/testcases/basic/cancel_by_ids_1x10.yaml
  testsuite/testcases/basic/cancel_by_set_1x1.yaml
  testsuite/testcases/basic/example-preemptible-job.yaml
Labels: proto, testsuite
