Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

add README.md to exclude list
  website/_config.yml
Labels: none

rename docs/docs-readme.md to docs/README.md
  docs/README.md
Labels: docs

Enable expose profiling port for remaining charts, better profiling error handling (#180)
  deployment/armada/templates/deployment.yaml
  deployment/armada/templates/profiling-ingress.yaml
  deployment/armada/templates/profiling-service.yaml
  deployment/binoculars/templates/deployment.yaml
  deployment/binoculars/templates/profiling-ingress.yaml
  deployment/binoculars/templates/profiling-service.yaml
  deployment/event-ingester/templates/deployment.yaml
  deployment/event-ingester/templates/profiling-ingress.yaml
  deployment/event-ingester/templates/profiling-service.yaml
  deployment/executor/templates/deployment.yaml
  deployment/executor/templates/profiling-ingress.yaml
  deployment/executor/templates/profiling-service.yaml
  deployment/lookout-ingester-v2/templates/deployment.yaml
  deployment/lookout-ingester-v2/templates/profiling-ingress.yaml
  deployment/lookout-ingester-v2/templates/profiling-service.yaml
  deployment/lookout-v2/templates/deployment.yaml
  deployment/lookout-v2/templates/profiling-ingress.yaml
  deployment/lookout-v2/templates/profiling-service.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-service.yaml
  deployment/scheduler/templates/scheduler-profiling-service.yaml
  docs/developer/pprof.md
  internal/common/profiling/http.go
Labels: none

fix some tests
  internal/scheduler/adapters/adapters_test.go
  internal/scheduler/nodedb/nodematching_test.go
Labels: none

Enable expose profiling port for remaining charts, better profiling error handling (#3809)
  deployment/armada/templates/deployment.yaml
  deployment/armada/templates/profiling-ingress.yaml
  deployment/armada/templates/profiling-service.yaml
  deployment/binoculars/templates/deployment.yaml
  deployment/binoculars/templates/profiling-ingress.yaml
  deployment/binoculars/templates/profiling-service.yaml
  deployment/event-ingester/templates/deployment.yaml
  deployment/event-ingester/templates/profiling-ingress.yaml
  deployment/event-ingester/templates/profiling-service.yaml
  deployment/executor/templates/deployment.yaml
  deployment/executor/templates/profiling-ingress.yaml
  deployment/executor/templates/profiling-service.yaml
  deployment/lookout-ingester-v2/templates/deployment.yaml
  deployment/lookout-ingester-v2/templates/profiling-ingress.yaml
  deployment/lookout-ingester-v2/templates/profiling-service.yaml
  deployment/lookout-v2/templates/deployment.yaml
  deployment/lookout-v2/templates/profiling-ingress.yaml
  deployment/lookout-v2/templates/profiling-service.yaml
  deployment/scheduler/templates/scheduler-ingester-profiling-service.yaml
  deployment/scheduler/templates/scheduler-profiling-service.yaml
  docs/developer/pprof.md
  internal/common/profiling/http.go
Labels: none

remove unneeded .github/workflows/pages.ymlq
  .github/workflows/pages.yml
Labels: none

update workflows: remove branches-ignore "gh-pages"
  .github/workflows/airflow-operator.yml
  .github/workflows/ci.yml
  .github/workflows/python-client.yml
Labels: none

add copy.sh: script to copy required files from root to website/
  website/_config.yml
  website/copy.sh
Labels: none

mv CODE_OF_CONDUCT.md and CONTRIBUTING.md to _includes/ folder
  website/_pages/CODE_OF_CONDUCT.md
  website/_pages/CONTRIBUTING.md
  website/_pages/contribute.md
Labels: none

remove unused _pages/batch-api.svg
  website/_pages/batch-api.svg
Labels: none

remove files being copied from docs/
  website/auth.md
  website/consistency.md
  website/developer.md
  website/developer/api.md
  website/developer/aws-ec2.md
  website/developer/manual-localdev.md
  website/developer/oidc.md
  website/developer/ubuntu-setup.md
  website/developer/ui.md
  website/developer/usage_metrics.md
  website/developer/website.md
  website/helm.md
  website/libraries.md
  website/python_airflow_operator.md
  website/python_armada_client.md
  website/scheduler.md
  website/system_overview.md
  website/user.md
Labels: none

fix some tests
  internal/scheduler/adapters/adapters_test.go
Labels: none

remove duplicated quickstart/index.md (we keep quickstart.md)
  website/quickstart/index.md
Labels: none

remove duplicated design/index.md (we keep design/README.md)
  website/design.md
  website/design/README.md
Labels: none

contribute.md: fix Front Matter header
  website/_pages/contribute.md
Labels: none

Fix producer names
  internal/scheduler/publisher.go
Labels: scheduler

remove duplicated file: api.md
  website/api.md
Labels: none

Add test for pulsarBatchSize on ingestion pipeline (#3755)
  internal/common/ingest/ingestion_pipeline_test.go
Labels: none

Remove unnecessary passing of priorityClasses + remove unused fields (#3801)
  internal/scheduler/constraints/constraints.go
  internal/scheduler/constraints/constraints_test.go
  internal/scheduler/context/context.go
  internal/scheduler/context/context_test.go
  internal/scheduler/gang_scheduler.go
  internal/scheduler/gang_scheduler_test.go
  internal/scheduler/jobiteration.go
  internal/scheduler/jobiteration_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/queue_scheduler_test.go
  internal/scheduler/scheduler_metrics_test.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
Labels: scheduler

rename developer.md to developer/README.md
  docs/developer/README.md
Labels: none

move all markdown to docs/
  docs/architecture.md
  docs/demo.md
  docs/design/README.md
  docs/design/architecture.md
  docs/design/database_interfaces.md
  docs/design/diagrams/relationships/README.md
  docs/design/diagrams/relationships/armada_system.png
  docs/design/diagrams/relationships/generate.py
  docs/design/diagrams/relationships/images/armada.png
  docs/design/diagrams/relationships/images/browser.png
  docs/design/diagrams/relationships/images/pulsar.png
  docs/design/jobservice/airflow-sequence.pml
  docs/design/jobservice/airflow-sequence.svg
  docs/design/jobservice/job-service.md
  docs/design/jobservice/job-service.svg
  docs/design/jobservice/jobservice.pml
  docs/design/priority.md
  docs/design/relationships_diagram.md
  docs/design/scheduler.md
  docs/development_guide.md
  docs/priority.md
  docs/production-install.md
  docs/quickstart/README.md
  website/development.html
  website/production.html
Labels: docs

clean assets/
  docs/design/README.md
  docs/design/batch-api.svg
  website/assets/img/batch-api.svg
  website/assets/img/grafana-screenshot.png
Labels: none

Markdown: fix broken links + format tables + remove duplicated files
  docs/architecture.md
  docs/demo.md
  docs/developer/README.md
  docs/developer/website.md
  docs/helm.md
  docs/priority.md
  docs/user.md
Labels: docs

Use Publisher Everywhere (#3803)
  config/armada/config.yaml
  config/eventingester/config.yaml
  config/lookoutingesterv2/config.yaml
  config/scheduler/config.yaml
  config/scheduleringester/config.yaml
  internal/armada/configuration/types.go
  internal/armada/mocks/generate.go
  internal/armada/mocks/mock_deduplicator.go
  internal/armada/server.go
  internal/armada/submit/submit_test.go
  internal/common/ingest/ingestion_pipeline_test.go
  internal/common/mocks/generate.go
  internal/common/mocks/mock_publisher.go
  internal/common/pulsarutils/eventsequence.go
  internal/common/pulsarutils/eventsequence_test.go
  internal/common/pulsarutils/publisher.go
  internal/common/pulsarutils/publisher_test.go
  internal/scheduler/api.go
  internal/scheduler/api_test.go
  internal/scheduler/configuration/configuration.go
  internal/scheduler/publisher.go
  internal/scheduler/publisher_test.go
  internal/scheduler/schedulerapp.go
Labels: server, scheduler

remove duplicated file scheduler.md
  docs/design/scheduler.md
Labels: none

mv scheduler.md to design/
  docs/design/scheduler.md
Labels: none

rename contribute.md to contribute.html
  website/_pages/contribute.html
Labels: none

update .gitignore
  website/.gitignore
Labels: none

fix some broken links in markdown files
  CONTRIBUTING.md
  README.md
  developer/README.md
Labels: none

add redirect for /api to avoid breaking links
  website/api.html
Labels: none

update .gitignore
  website/.gitignore
Labels: none

update copy.sh: override existing files
  website/copy.sh
Labels: none

fix contribute.html
  website/_pages/contribute.html
Labels: none

fix copy.sh
  website/copy.sh
Labels: none

fix contribute.html
  website/_pages/contribute.html
Labels: none

update .gitignore
  website/.gitignore
Labels: none

fix some tests
  internal/scheduler/scheduler_test.go
Labels: scheduler

lint
  internal/scheduler/scheduler_test.go
Labels: scheduler

Implement patch releases changing the validate ref jobs in release, release-rc workflows and conditions in build workflow
  .github/workflows/build.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
Labels: none

fix node label bug (#181)
  internal/scheduler/metrics/metrics.go
  internal/scheduler/metrics/metrics_test.go
Labels: none
