Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Restore strict not-mapped-to-priority error on unbind
  internal/scheduler/nodedb/nodedb.go
Labels: none

Add SchedulableJob interface and Node.AddJob
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_test.go
Labels: none

fix: gate pod-level accounting and use effective request for minimums
  internal/server/submit/conversion/post_process.go
  internal/server/submit/conversion/post_process_test.go
  internal/server/submit/validation/submit_request.go
  internal/server/submit/validation/submit_request_test.go
Labels: none

Fix job eviction ordering bug (#5053)
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
Labels: none

Add requestor information
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/job_repository.go
  internal/scheduler/database/migrations/039_add_requestor.sql
  internal/scheduler/database/models.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduler/jobdb/job.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  internal/server/executor/executor.go
  internal/server/node/node.go
  internal/server/queue/queue_repository_test.go
  internal/server/queue/queue_service.go
  internal/server/submit/deduplication_test.go
  internal/server/submit/submit.go
  internal/server/submit/testfixtures/test_fixtures.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
Labels: proto, scheduler, scheduleringester

requestor: armadactl watch output includes requestor
  e2e/armadactl_test/armadactl_test.go
  internal/armadactl/watch.go
  internal/armadactl/watch_test.go
Labels: armadactl

docs: add testing policy to contributing guide (#5024)
  CONTRIBUTING.md
Labels: none

Make cost based iterators prefer higher priority jobs everywhere
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Make fairshare preemption respect priority class ordering
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

Implement armadactl Delete executor
  _local/server/config.yaml
  cmd/armadactl/cmd/commands.go
  cmd/armadactl/cmd/executor.go
  cmd/armadactl/cmd/params.go
  internal/armadactl/app.go
  internal/armadactl/executor.go
  internal/common/ingest/testfixtures/event.go
  internal/scheduler/database/query.sql.go
  internal/scheduler/database/query/query.sql
  internal/scheduleringester/dbops.go
  internal/scheduleringester/dbops_test.go
  internal/scheduleringester/instructions.go
  internal/scheduleringester/instructions_test.go
  internal/scheduleringester/schedulerdb.go
  internal/scheduleringester/schedulerdb_test.go
  internal/server/executor/executor.go
  internal/server/executor/executor_server_test.go
  pkg/api/executor.pb.go
  pkg/api/executor.proto
  pkg/client/executor/delete.go
  pkg/controlplaneevents/events.pb.go
  pkg/controlplaneevents/events.proto
  pkg/controlplaneevents/events_util.go
Labels: proto, armadactl, scheduleringester

ci: pin GitHub Actions and reusable workflows to full-length commit SHAs
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/java-client-release-to-maven.yml
  .github/workflows/java-client.yml
  .github/workflows/lint.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test-results.yml
  .github/workflows/website.yml
Labels: none

wip
  internal/common/observability/observe/observe.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/tracing.go
Labels: none

Make fairshare preemption respect priority class ordering (#5067)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
Labels: none

Make cost based iterators prefer higher priority jobs everywhere (#5068)
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

use switch in eventwatcher
  internal/testsuite/eventwatcher/eventwatcher.go
Labels: none

Fix jobs being preempted out of expected order - fairshare
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/submitcheck.go
Labels: scheduler

lint
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

docs: add per-pool fairshare preemption rate limit design
  docs/superpowers/specs/2026-07-29-preemption-rate-limit-design.md
Labels: none

fix: refactor queue tests
  internal/testsuite/app.go
  internal/testsuite/queue/queue.go
  internal/testsuite/queue/queue_test.go
  internal/testsuite/submitter/submitter.go
  internal/testsuite/testrunner.go
  internal/testsuite/testrunner_queue_test.go
  magefiles/ci.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  testsuite/testcases/queue/README.md
  testsuite/testcases/queue/active_list_1x1.yaml
  testsuite/testcases/queue/crud_1x1.yaml
  testsuite/testcases/queue/crud_batch_5x5.yaml
Labels: build, proto, testsuite

fix: lint fix
  internal/testsuite/queue/queue.go
  internal/testsuite/submitter/submitter.go
Labels: none

fix: only add suffix on queue tests
  internal/testsuite/queue/queue.go
Labels: none

docs: remove unsued assertion
  testsuite/testcases/queue/README.md
Labels: none

fix: remove in progress test file
  internal/testsuite/queue/queue_test.go
  pkg/client/with_connection_test.go
  testsuite/testcases/basic/service_headless.yaml
Labels: none

fix: remove redundant functions
  internal/testsuite/queue/queue.go
Labels: none

fix /contribute/community path
  website/content/contribute/index.mdx
  website/content/getting-started.mdx
Labels: none

fix: remove unrelated diff noise from queue-tests branch
  internal/testsuite/testrunner.go
  magefiles/ci.go
  testsuite/testcases/basic/ingress.yaml
  testsuite/testcases/reprioritization/reprioritize_by_id_1x5.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x1.yaml
  testsuite/testcases/reprioritization/reprioritize_by_jobset_1x5.yaml
Labels: build, testsuite

fix: refactor testrunner
  internal/testsuite/testrunner.go
Labels: testsuite

Update comments next to pins, set full semver where possible
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/java-client-release-to-maven.yml
  .github/workflows/java-client.yml
  .github/workflows/lint.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test-results.yml
  .github/workflows/test.yml
  .github/workflows/website.yml
Labels: none

Add a per pool fair share preemption rate limit
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/idealised_value_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/market_iterator_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: none

Remove dead code
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/configuration_test.go
Labels: none

Add a per pool fair share preemption rate limit
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/idealised_value_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/market_iterator_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: none

Remove debug log line
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Enforce fair share preemption ordering (#5071)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preemption_description.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Remove debug log line
  internal/scheduler/scheduling/preempting_queue_scheduler.go
Labels: none

Simplify test
  internal/scheduler/scheduling/gang_scheduler_test.go
Labels: none

Fairshare preemption rate limit (#5073)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/configuration/validation_test.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/idealised_value.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/idealised_value_test.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_indicative_pricer_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/market_iterator_test.go
  internal/scheduler/scheduling/optimiser/gang_scheduler_test.go
  internal/scheduler/scheduling/optimiser/node_scheduler_test.go
  internal/scheduler/scheduling/optimising_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/runner/async_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: none

ci: pin GitHub Actions to full-length commit SHAs (#5069)
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/java-client-release-to-maven.yml
  .github/workflows/java-client.yml
  .github/workflows/lint.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/python-tests/action.yml
  .github/workflows/release-rc.yml
  .github/workflows/release.yml
  .github/workflows/rust-client-release-to-crates.yml
  .github/workflows/rust-client.yml
  .github/workflows/scala-client-release-to-maven.yml
  .github/workflows/scala-client.yml
  .github/workflows/slack-alerts.yml
  .github/workflows/test-results.yml
  .github/workflows/test.yml
  .github/workflows/website.yml
Labels: none

add e2e test cases for node cancel and preempt (#5018)
  _local/executor/config.yaml
  _local/kind/cluster.yaml
  internal/testsuite/eventwatcher/eventwatcher.go
  internal/testsuite/testrunner.go
  magefiles/ci.go
  pkg/api/testspec.pb.go
  pkg/api/testspec.proto
  pkg/client/with_connection.go
  testsuite/testcases/node/node_cancel_by_name_1x5.yaml
  testsuite/testcases/node/node_preempt_by_name_1x5.yaml
Labels: build, proto, testsuite

Add RetryPolicy CRUD service and queue attachment validation
  _local/server/config-auth.yaml
  _local/server/config.yaml
  cmd/server/main.go
  internal/lookout/schema/migrations/035_create_retry_policy.sql
  internal/server/mocks/generate.go
  internal/server/mocks/mock_retry_policy_repository.go
  internal/server/permissions/permissions.go
  internal/server/queryapi/database/models.go
  internal/server/queryapi/database/query.sql
  internal/server/queryapi/database/query.sql.go
  internal/server/queue/queue_repository.go
  internal/server/queue/queue_repository_test.go
  internal/server/queue/queue_service.go
  internal/server/queue/queue_service_test.go
  internal/server/retrypolicy/repository.go
  internal/server/retrypolicy/repository_test.go
  internal/server/retrypolicy/service.go
  internal/server/retrypolicy/service_test.go
  internal/server/retrypolicy/validation.go
  internal/server/retrypolicy/validation_test.go
  internal/server/server.go
  pkg/client/queue/queue.go
Labels: none

Add jobset cancel-by-set integration test
  testsuite/testcases/basic/jobset_cancel_by_set_1x5.yaml
Labels: none
