Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix test
  internal/lookoutingester/instructions/instructions_test.go
Labels: none

ok
  internal/lookout/schema/migrations/036_add_preempt_and_reprioritize_users.sql
Labels: none

use the same logic
  internal/lookoutingester/instructions/instructions.go
Labels: none

fix tests
  internal/lookout/repository/fieldparser.go
  internal/lookoutingester/instructions/instructions.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/server/queryapi/query_api_test.go
Labels: none

ok
  package-lock.json
  package.json
Labels: none

Add auth-fake-executor profile for OIDC testing without Kubernetes
  _local/README.md
  _local/procfiles/auth-fake-executor.Procfile
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

wip
  magefiles/dev.go
Labels: build

fix msg
  _local/procfiles/auth-fake-executor-dap.Procfile
Labels: none

Include priorityClass in armada:queue:resource:(queued|allocated) rules
  deployment/armada/templates/prometheusrule.yaml
Labels: none

Simplfy how requestor is set in scheduler
  internal/scheduler/scheduler.go
Labels: scheduler

update kwok vs code tasks
  .vscode/launch.json
  .vscode/tasks.json
  magefiles/dev.go
Labels: build

Set requestor in CancelJob
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/server/event/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

added security-insights.yml file to base
  SECURITY-INSIGHTS.yml
Labels: none

Fix tests
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

Simplfy how requestor is set in scheduler (#5128)
  internal/scheduler/retry_policy_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/server/event/conversion/conversions.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: scheduler

Include priorityClass in armada:queue:resource:(queued|allocated) rules (#5127)
  deployment/armada/templates/prometheusrule.yaml
Labels: none

bump kind node image and kind cli version (#5082)
  _local/kind/cluster.yaml
  tools.yaml
Labels: none

Add preemption type to job_resource_seconds_lost_to_preemption metric
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

Set preempted time on api preemptions
  internal/scheduler/scheduler.go
Labels: scheduler

fix: update testspec for rbac tests
  testsuite/testcases/rbac/rbac_cancel_with_global_permission.yaml
  testsuite/testcases/rbac/rbac_cancel_without_permission.yaml
  testsuite/testcases/rbac/rbac_reprioritize_with_global_permission.yaml
  testsuite/testcases/rbac/rbac_reprioritize_without_permission.yaml
Labels: none

Stop hiding scheduling type for away jobs
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/pod.go
Labels: none

Fix unit test
  internal/scheduler/metrics/state_metrics_test.go
Labels: none

Create a new metric for the main scheduler loop
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

Remove the 'all-priority-classes' flag from armadactl commands
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/cancel_test.go
  cmd/armadactl/cmd/preempt.go
  cmd/armadactl/cmd/preempt_test.go
Labels: none

More robust tests
  cmd/armadactl/cmd/cancel.go
  cmd/armadactl/cmd/cancel_test.go
  cmd/armadactl/cmd/preempt.go
  cmd/armadactl/cmd/preempt_test.go
Labels: none

Stop hiding scheduling type for away jobs (#5133)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/context/pod.go
Labels: none

Fix redis collection
  internal/common/config/validation.go
  internal/common/config/validation_test.go
  internal/eventingester/configuration/types.go
  internal/eventingester/configuration/validation.go
  internal/eventingester/configuration/validation_test.go
  internal/eventingester/metrics/redis/collector.go
  internal/eventingester/metrics/redis/collector_test.go
  internal/eventingester/repository/scanner.go
  internal/eventingester/repository/scanner_test.go
Labels: none

Create a new metric for the main scheduler loop (#5134)
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

Add preemption type to job_resource_seconds_lost_to_preemption metric (#5132)
  internal/scheduler/metrics/state_metrics.go
  internal/scheduler/metrics/state_metrics_test.go
  internal/scheduler/scheduler.go
Labels: scheduler

WIP
  internal/scheduler/internaltypes/node.go
  internal/scheduler/internaltypes/node_factory.go
  internal/scheduler/internaltypes/node_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduling/eviction.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Add auth-fake-executor profile for local development (#5118)
  _local/README.md
  _local/procfiles/auth-fake-executor-dap.Procfile
  _local/procfiles/auth-fake-executor.Procfile
  docs/developer_guide.md
  magefiles/dev.go
Labels: build, docs

Fix tests
  internal/scheduler/internaltypes/node.go
  internal/scheduler/nodedb/nodedb.go
Labels: none

Remove nodedb.ClearAllocated func
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/submitcheck.go
Labels: scheduler

Remove unused node.AllocatedByQueue and related methods
  internal/scheduler/internaltypes/node.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: none

Fix unit test
  internal/scheduler/internaltypes/node_test.go
Labels: none

Fix compile/tests
  internal/scheduler/nodedb/nodeidindex_test.go
  internal/scheduler/nodedb/nodematching_test.go
Labels: none

Add cj87holler to Mergify maintainer lists (#5125)
  .mergify.yml
Labels: none

Remove nodedb.ClearAllocated func (#5136)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/submitcheck.go
Labels: scheduler

ARMADA-4315 Remove away-pool skip from submit check (#500)
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Remove away-pool skip from submit check (#5145)
  internal/scheduler/submitcheck.go
  internal/scheduler/submitcheck_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler
