Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

Expose user level metrics from the server (#4669)
  internal/common/grpc/grpc.go
  internal/server/event/event.go
  internal/server/event/metrics.go
Labels: none

Airflow Operator now works on Airflow 3.1x and logging spam is reduced (#4672)
  docs/armada_airflow_operator.md
  third_party/airflow/armada/links.py
  third_party/airflow/armada/operators/armada.py
  third_party/airflow/armada/utils.py
  third_party/airflow/pyproject.toml
  third_party/airflow/test/integration/test_airflow_operator_logic.py
  third_party/airflow/test/unit/operators/test_armada.py
Labels: docs

Simplify gang validation (#4667)
  internal/scheduler/gang_validator.go
  internal/scheduler/gang_validator_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

feat: preserve partial scheduling progress on context timeout instead of rolling back all work (#4559)
  internal/scheduler/configuration/configuration.go
  internal/scheduler/configuration/validation.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/idealised_value_scheduler.go
  internal/scheduler/scheduling/jobiteration.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/market_iterator.go
  internal/scheduler/scheduling/optimising_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
Labels: scheduler

Fix linting to fix build (#4679)
  internal/scheduler/gang_validator.go
Labels: scheduler

Add tests checking the executor server (#4650)
  internal/server/executor/executor_server_test.go
Labels: none

Feat/Add clear individual filter button (#4674)
  internal/lookoutui/src/components/JobsTableFilter.tsx
Labels: none

feat: adding preempt response
  internal/lookoutui/package.json
Labels: none

feat: add custom preempt response
  internal/server/submit/submit.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/submit.pb.go
  pkg/api/submit.proto
Labels: proto

fix: unit test and regenerate mock
  internal/scheduler/mocks/api.go
  internal/server/submit/submit_test.go
Labels: none

fix: update scala client
  client/scala/armada-scala-client/pom.xml
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

mv style
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
Labels: none

revert: undo unrelated binoculars swagger changes
  pkg/api/binoculars/api.swagger.json
Labels: none

revert: undo unrelated binoculars swagger changes
  pkg/api/binoculars/api.swagger.go
Labels: none

revert: proto
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: none

Add new pool configuration - DisableHomeScheduling
  internal/scheduler/configuration/configuration.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodedb_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/submitcheck.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

try simpler scala
  client/scala/armada-scala-client/pom.xml
  client/scala/armada-scala-client/src/test/scala/io/armadaproject/armada/ArmadaClientSuite.scala
Labels: none

fix: update swaggers to make ci check happy
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/binoculars/api.swagger.go
  pkg/api/binoculars/api.swagger.json
Labels: proto

feat: update response handling and snackbar for preempt dialog
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.test.tsx
  internal/lookoutui/src/pages/jobs/components/PreemptDialog.tsx
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
  internal/lookoutui/src/services/lookout/usePreemptJobs.ts
Labels: none

remove comment clutter
  internal/lookoutui/src/services/lookout/mocks/mockServer.ts
Labels: none

chore: upgrade go version to v1.26.0
  .github/actions/setup-go-cache/action.yml
  .github/workflows/lint.yml
  .goreleaser.yml
  docs/developer_guide.md
  go.mod
  internal/server/submit/validation/submit_request.go
  magefiles/cmd.go
  magefiles/go.go
  tools.yaml
  website/content/developer-guide.mdx
Labels: build, docs

Add John Popplewell to mergify (#4673)
  .mergify.yml
Labels: none

Title metric phase
  internal/scheduler/metrics.go
Labels: scheduler

tweaks for dev container and local build
  .devcontainer/devcontainer.json
  build/java-client/Dockerfile
  build/scala-client/Dockerfile
Labels: none

fix: allow multiple script tags and content
  internal/lookout/configuration/types.go
  internal/lookoutui/TRACKING_SCRIPT_CONFIG.md
  internal/lookoutui/src/common/trackingAttributes.ts
  internal/lookoutui/src/components/TrackingScript.tsx
  internal/lookoutui/src/components/analytics/TrackingButton.tsx
  internal/lookoutui/src/components/analytics/TrackingTab.tsx
  internal/lookoutui/src/config/types.ts
Labels: none

fix: allow using css classes for Plausible
  internal/lookout/configuration/types.go
  internal/lookoutui/src/common/trackingAttributes.ts
  internal/lookoutui/src/components/analytics/TrackingButton.tsx
  internal/lookoutui/src/config/types.ts
  magefiles/kind.go
Labels: build

Add log line when delete is called on pod
  internal/executor/context/cluster_context.go
Labels: none

Fix bug causing executor to wait double the termination grace period
  internal/executor/context/cluster_context.go
  internal/executor/context/cluster_context_test.go
Labels: none

fix lint
  internal/broadside/db/memory.go
  internal/broadside/db/postgres.go
  internal/broadside/estimation/confirmation.go
  internal/broadside/ingester/ingester.go
  internal/broadside/orchestrator/runner.go
Labels: none

README updates
  cmd/broadside/README.md
  cmd/broadside/configs/README.md
  cmd/broadside/configs/examples/README.md
  cmd/broadside/results/README.md
Labels: none

Fix kind image loading for Docker 29+
  magefiles/kind.go
Labels: build

Bump kind node image to v1.31.14 to fix Docker 29+ image loading
  e2e/setup/kind.yaml
  magefiles/kind.go
Labels: build

Bump kind to v0.31.0 and node image to v1.31.14
  magefiles/kind.go
  tools.yaml
Labels: build

Fix kind image loading for Docker 29+
  magefiles/kind.go
Labels: build

Disable Docker containerd image store in integration test workflow
  .github/workflows/test.yml
  e2e/setup/kind.yaml
  magefiles/kind.go
  tools.yaml
Labels: build

Fix flaky timing assertion in utilisation event reporter test
  internal/executor/utilisation/job_utilisation_reporter_test.go
Labels: none

Add --results-dir flag to Broadside
  cmd/broadside/main.go
  internal/broadside/orchestrator/doc.go
  internal/broadside/orchestrator/runner.go
Labels: none

Add pool to JobRunningEvent and JobPendingEvent API messages
  internal/executor/reporter/event.go
  internal/executor/reporter/event_sender_test.go
  internal/executor/reporter/event_test.go
  internal/server/event/conversion/conversions.go
  internal/server/event/conversion/conversions_test.go
  pkg/api/api.swagger.go
  pkg/api/api.swagger.json
  pkg/api/event.pb.go
  pkg/api/event.proto
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: proto

Disable Docker containerd image store in integration test workflow (Python, Airflow)
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
Labels: none

missed job
  .github/workflows/python-client.yml
Labels: none

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*
