Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Start Postgres container when running tests-e2e-airflow target.
  makefile
Labels: none

Remove separate postgres container from tests-e2-airflow target
  makefile
Labels: none

Updated cmd/armadactl/README.md
  cmd/armadactl/README.md
Labels: armadactl

added cmd/armadactl/README.md (#2297)
  cmd/armadactl/README.md
Labels: armadactl

optimisations
  internal/scheduler/schedulerobjects/node.go
  internal/scheduler/schedulerobjects/nodematching.go
Labels: none

linting
  internal/scheduler/schedulerobjects/nodematching.go
Labels: none

Add workflow api
  pkg/workflow/workflow.proto
Labels: none

Separate spec
  pkg/workflow/workflow.proto
Labels: none

Added fix to ci tests
  magefiles/ci.go
Labels: build

More changes to better align with localdev
  magefiles/ci.go
Labels: build

Adding latest images
  .github/workflows/upload-docker-images.yml
Labels: none

Initial attempt
  developer/init.sh
  docs/developer.md
  magefiles/main.go
Labels: build, docs

add dev goreleaser config file
  .goreleaser.dev.yml
Labels: none

Initial attempt (#2329)
  developer/init.sh
  docs/developer.md
  magefiles/main.go
Labels: build, docs

Updating Github Pages branch with latest Master changes
  developer.md
Labels: none

Ci fix for Pulsar Sleeps. (#2325)
  magefiles/ci.go
Labels: build

try with snapshot
  .github/workflows/release-dev.yml
Labels: none

debug
  .github/workflows/release-dev.yml
Labels: none

setup docker buildx
  .github/workflows/release-dev.yml
Labels: none

goreleaser improvements
  .goreleaser.dev.yml
  .goreleaser.yml
  build_goreleaser/armada/Dockerfile
Labels: none

Added different bundles
  .goreleaser.yml
  build/demo/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/demo/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  docker-compose.yaml
  magefiles/main.go
Labels: build

refactor armada server chart and regenerate docs
  deployment/armada/Chart.yaml
  deployment/armada/README.md
  deployment/armada/templates/deployment.yaml
  deployment/armada/templates/ingress.yaml
  deployment/armada/templates/ingressrest.yaml
  deployment/armada/values.yaml
Labels: none

remove typos
  deployment/armada/Chart.yaml
  deployment/armada/README.md
  deployment/armada/values.yaml
Labels: none

update readme
  deployment/armada/Chart.yaml
  deployment/armada/README.md
  deployment/armada/README.md.gotmpl
  deployment/armada/values.yaml
Labels: none

update chart to v2; revert version to LATEST
  deployment/armada/Chart.yaml
  deployment/armada/README.md
Labels: none

Final changes
  .goreleaser.yml
  build/demo/Dockerfile
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/demo/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/executor/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/lookout/Dockerfile
  build_goreleaser/lookoutingester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/server/Dockerfile
Labels: none

Label Fixes
  build_goreleaser/executor/Dockerfile
Labels: none

Label Fixes
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/demo/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/lookout/Dockerfile
  build_goreleaser/lookoutingester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/server/Dockerfile
  build_goreleaser/testsuite/Dockerfile
Labels: none

temporarily revert to LATEST image tag
  deployment/armada/values.yaml
Labels: none

testing IC
  .goreleaser.dev.yml
Labels: none

Added different bundles (#2333)
  .goreleaser.yml
  build_goreleaser/armada/Dockerfile
  build_goreleaser/armadactl/Dockerfile
  build_goreleaser/binoculars/Dockerfile
  build_goreleaser/bundles/armada/Dockerfile
  build_goreleaser/bundles/demo/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  build_goreleaser/eventingester/Dockerfile
  build_goreleaser/executor/Dockerfile
  build_goreleaser/jobservice/Dockerfile
  build_goreleaser/lookoutingester/Dockerfile
  build_goreleaser/lookoutingesterv2/Dockerfile
  build_goreleaser/lookoutv2/Dockerfile
  build_goreleaser/server/Dockerfile
  build_goreleaser/testsuite/Dockerfile
  docker-compose.yaml
  magefiles/main.go
Labels: build

Shift select
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableRow.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/reactTableUtils.ts
Labels: none

Added Full Bundle to CircleCI
  .circleci/config.yml
  .goreleaser.yml
  build_goreleaser/bundles/full/Dockerfile
  build_goreleaser/bundles/lookout/Dockerfile
  makefile
Labels: none

Bugfixes
  makefile
Labels: none

Changes
  makefile
Labels: none

Fix retryable pod issue handling (#2128)
  internal/armada/repository/apimessages/conversions.go
  internal/armada/repository/apimessages/conversions_test.go
  internal/common/eventutil/eventutil.go
  internal/common/ingest/testfixtures/event.go
  internal/executor/service/job_manager.go
  internal/executor/service/pod_issue_handler.go
  internal/executor/service/pod_issue_handler_test.go
  internal/lookoutingester/instructions/instructions_test.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutv2/repository/util.go
Labels: none

Bugfix
  makefile
Labels: none

bugfixing again
  makefile
Labels: none

Lookout v2 - enable selection by clicking anywhere on row, enable shift selection (#2338)
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableRow.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/reactTableUtils.ts
Labels: none

Testing
  makefile
Labels: none
