Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Seperate python script for armada v1 system diagram
  docs/design/diagrams/relationships/generate_v1.py
Labels: none

[armada-scheduler] Add separate config for maxJobsLeasedPerCall
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

[armada-scheduler] Add separate config for maxJobsLeasedPerCall (#2759)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

feat: Add localstorage functionality for cache of Job logs for new tab
  internal/lookout/ui/src/App.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsHeader.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsLoadMoreBtn.tsx
  internal/lookout/ui/src/components/jobs/JobDetailLog.tsx
  slow-job-test.yaml
Labels: none

Clean : Removed Console log used for debuging
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsLoadMoreBtn.tsx
Labels: none

fix: Fix lint error
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/job-dialog/JobLogsLoadMoreBtn.tsx
Labels: none

removed generate.py so it can be replaced with two seperate files for Armada V1 and Armada V2
  docs/design/diagrams/relationships/generate.py
Labels: none

tox -e docs-check
  docs/python_airflow_operator.md
Labels: docs

Updating Github Pages branch with latest Master changes
  design/relationships_diagram.md
  python_airflow_operator.md
Labels: none

remove redundant build release images workflow
  .github/workflows/build-release-images.yml
Labels: none

Python script to generate Armada V2 system diagram
  docs/design/diagrams/relationships/generate_v2.py
Labels: none

feat: remove redundant build release images workflow (#2760)
  .github/workflows/build-release-images.yml
Labels: none

remove loadtester
  .goreleaser.yml
Labels: none

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

Update .goreleaser.yml
  .goreleaser.yml
Labels: none

remove circle ci and use github actions
  .circleci/config.yml
Labels: none

remove armadactl release
  .circleci/config.yml
Labels: none

Remove release-armadactl from circle ci (#2764)
  .circleci/config.yml
Labels: none

re-check
  docs/python_airflow_operator.md
Labels: docs

Removed a large chunk of bad mage code
  .circleci/config.yml
  magefiles/tests.go
Labels: build

fix: small changes
  quickstart.md
Labels: none

fix: broken links
  docs/quickstart/index.md
Labels: none

fix docker repo name for testsuite
  .goreleaser.yml
Labels: none

Removed a large chunk of bad mage code (#2770)
  .circleci/config.yml
  magefiles/tests.go
Labels: build

generate_v1.py Update #1
  docs/design/diagrams/relationships/generate_v1.py
Labels: none

remove circleci from our ci forever
  .circleci/config.yml
Labels: none

Add config to globally disable scheduling
  internal/armada/configuration/types.go
  internal/armada/server/lease.go
  internal/scheduler/scheduling_algo.go
Labels: scheduler

fix docker repo name for testsuite (#2774)
  .goreleaser.yml
Labels: none

Fix logging
  internal/armada/server/lease.go
Labels: none

[armada-scheduler] Add metrics for node counts
  internal/scheduler/metrics.go
  internal/scheduler/metrics_test.go
Labels: scheduler

fix: build/testsuite/Dockerfile to reduce vulnerabilities
  build/testsuite/Dockerfile
Labels: none

fix: build/lookoutingesterv2/Dockerfile to reduce vulnerabilities
  build/lookoutingesterv2/Dockerfile
Labels: none

fix: build/lookout/Dockerfile to reduce vulnerabilities
  build/lookout/Dockerfile
Labels: none

fix: build/scheduler/Dockerfile to reduce vulnerabilities
  build/scheduler/Dockerfile
Labels: none

fix: build/armada-load-tester/Dockerfile to reduce vulnerabilities
  build/armada-load-tester/Dockerfile
Labels: none

fix: build/lookoutv2/Dockerfile to reduce vulnerabilities
  build/lookoutv2/Dockerfile
Labels: none

fix: build/armada/Dockerfile to reduce vulnerabilities
  build/armada/Dockerfile
Labels: none

fix: build/jobservice/Dockerfile to reduce vulnerabilities
  build/jobservice/Dockerfile
Labels: none

fix: build/lookoutingester/Dockerfile to reduce vulnerabilities
  build/lookoutingester/Dockerfile
Labels: none
