Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

fix test
  client/python/tests/unit/test_asyncio_client.py
Labels: none

Create auction.proto
  pkg/auction.proto
Labels: none

Python Client Uses Queue Service Not Submit Service For Queue Ops (#4166)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/tests/unit/server_mock.py
  client/python/tests/unit/test_asyncio_client.py
  client/python/tests/unit/test_client.py
Labels: none

Add A GetQueues Function To The Python Client (#4167)
  client/python/armada_client/asyncio_client.py
  client/python/armada_client/client.py
  client/python/tests/unit/server_mock.py
  client/python/tests/unit/test_asyncio_client.py
  client/python/tests/unit/test_client.py
  docs/python_armada_client.md
Labels: docs

Authenticate requests for scheduling reports
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
Labels: none

Python CLient v0.4.11
  client/python/pyproject.toml
Labels: client-python

Python CLient v0.4.11 (#4169)
  client/python/pyproject.toml
Labels: client-python

Scheduler: floating resources no longer experimental (#4159)
  docs/floating_resources.md
  internal/scheduler/configuration/configuration.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/simulator/simulator.go
Labels: docs, scheduler

Scheduler: refactor nodedb stats (#4165)
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/nodedb/nodeiteration_test.go
Labels: none

fix grpc prom metrics
  go.mod
  go.sum
  internal/binoculars/server.go
  internal/common/grpc/grpc.go
  internal/executor/application.go
  internal/scheduler/leader/leader_client.go
  internal/server/server.go
Labels: binoculars, executor

Build jarfile for Scala client for Armada.
  client/scala/scala-armada-client/build.sbt
  scripts/build-scala-client.sh
Labels: build

wip
  internal/scheduler/prioritymultiplier/cache.go
  internal/scheduler/prioritymultiplier/cache_test.go
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

fix test
  internal/scheduler/leader/leader_client.go
  internal/scheduler/leader/leader_client_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Update gh pages from master as of v0.16.2
  floating_resources.md
  python_airflow_operator.md
  python_armada_client.md
Labels: none

Update gh pages from master as of v0.16.2 (#4173)
  floating_resources.md
  python_airflow_operator.md
  python_armada_client.md
Labels: none

wip
  internal/scheduler/configuration/configuration.go
  internal/scheduler/prioritymultiplier/cache.go
  internal/scheduler/prioritymultiplier/cache_test.go
  internal/scheduler/prioritymultiplier/service_provider.go
  internal/scheduler/prioritymultiplier/service_provider_test.go
  internal/scheduler/prioritymultiplier/static_provider.go
  internal/scheduler/prioritymultiplier/types.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/scheduling_algo.go
  magefiles/proto.go
  pkg/priorityoverride/prioritymultiplier.proto
Labels: build, scheduler

wip
  internal/scheduler/prioritymultiplier/service_provider.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  magefiles/proto.go
Labels: build, scheduler

Move Armada client test examples into separate dir.
  client/scala/examples/.gitignore
  client/scala/examples/build.sbt
  client/scala/examples/lib/README.md
  client/scala/examples/project/build.properties
  client/scala/examples/project/plugins.sbt
  client/scala/examples/src/main/scala/io/armadaproject/armada/Health.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Job.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Main.scala
  client/scala/examples/src/main/scala/io/armadaproject/armada/Queue.scala
Labels: none

Squelch spurious sbt warning about relative path names.
  scripts/build-scala-client.sh
Labels: build

wip
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

test
  internal/scheduler/mocks/generate.go
  internal/scheduler/mocks/grpc.go
  internal/scheduler/prioritymultiplier/service_provider.go
  internal/scheduler/prioritymultiplier/service_provider_test.go
Labels: none

test
  internal/scheduler/prioritymultiplier/static_provider_test.go
Labels: none

lint
  internal/scheduler/mocks/executor_api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/mocks/priority_override.go
  internal/scheduler/prioritymultiplier/service_provider_test.go
  internal/scheduler/prioritymultiplier/static_provider_test.go
Labels: none

log msg
  internal/scheduler/scheduling/scheduling_algo.go
Labels: none

default disable priority multipliers
  config/scheduler/config.yaml
Labels: none

add missing file
  pkg/priorityoverride/prioritymultiplier.pb.go
Labels: none

Authenticate requests for scheduling reports (#4170)
  internal/lookout/ui/src/services/lookoutV2/useGetJobSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetQueueSchedulingReport.ts
  internal/lookout/ui/src/services/lookoutV2/useGetSchedulingReport.ts
Labels: none

Fix grpc prometheus metrics (#4172)
  go.mod
  go.sum
  internal/binoculars/server.go
  internal/common/grpc/grpc.go
  internal/executor/application.go
  internal/scheduler/leader/leader_client.go
  internal/scheduler/leader/leader_client_test.go
  internal/scheduler/schedulerapp.go
  internal/server/server.go
Labels: binoculars, executor, scheduler

Add External Priority Multipliers (#4174)
  config/scheduler/config.yaml
  internal/scheduler/configuration/configuration.go
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/mocks/executor_api.go
  internal/scheduler/mocks/generate.go
  internal/scheduler/mocks/priority_override.go
  internal/scheduler/prioritymultiplier/service_provider.go
  internal/scheduler/prioritymultiplier/service_provider_test.go
  internal/scheduler/prioritymultiplier/static_provider.go
  internal/scheduler/prioritymultiplier/static_provider_test.go
  internal/scheduler/prioritymultiplier/types.go
  internal/scheduler/schedulerapp.go
  internal/scheduler/scheduling/context/queue.go
  internal/scheduler/scheduling/context/scheduling.go
  internal/scheduler/scheduling/context/scheduling_test.go
  internal/scheduler/scheduling/gang_scheduler_test.go
  internal/scheduler/scheduling/market_driven_preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling/queue_scheduler_test.go
  internal/scheduler/scheduling/scheduling_algo.go
  internal/scheduler/scheduling/scheduling_algo_test.go
  internal/scheduler/simulator/simulator.go
  magefiles/proto.go
  pkg/priorityoverride/prioritymultiplier.pb.go
  pkg/priorityoverride/prioritymultiplier.proto
Labels: build, scheduler

Fix stale cycle metrics by resetting each round
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

Put naming back + add test
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

Put naming back
  internal/scheduler/metrics/cycle_metrics.go
Labels: none

Fix stale cycle metrics by resetting each round
  internal/scheduler/metrics/cycle_metrics.go
  internal/scheduler/metrics/cycle_metrics_test.go
Labels: none

converted to scheduling info
  internal/scheduler/internaltypes/job_scheduling_info.go
  internal/scheduler/jobdb/job_test.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/jobdb/reconciliation.go
  internal/scheduler/jobdb/test_utils.go
  internal/scheduler/metrics.go
  internal/scheduler/nodedb/nodematching.go
  internal/scheduler/nodedb/nodematching_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/scheduling/context/job.go
  internal/scheduler/scheduling/jobiteration_test.go
  internal/scheduler/scheduling/preemption_description_test.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

README fixes per PR review.
  client/scala/examples/README.md
  client/scala/examples/lib/.gitkeep
  client/scala/scala-armada-client/README.md
Labels: none

Scala client examples README text fixes
  client/scala/examples/README.md
Labels: none

actually start up the service provider
  internal/scheduler/schedulerapp.go
Labels: scheduler

actually start up the service provider (#4177)
  internal/scheduler/schedulerapp.go
Labels: scheduler

Reduce Scala client build image size
  build/scala-client/Dockerfile
Labels: none

Add average utilisation to job events (#342)
  internal/common/resource/resource.go
  internal/executor/domain/resources.go
  internal/executor/domain/resources_test.go
  internal/executor/metrics/pod_metrics/cluster_context.go
  internal/executor/reporter/event.go
  internal/executor/utilisation/cluster_utilisation.go
  internal/executor/utilisation/job_utilisation_reporter.go
  internal/executor/utilisation/job_utilisation_reporter_test.go
  internal/executor/utilisation/pod_utilisation.go
  internal/executor/utilisation/pod_utilisation_custom_metrics.go
  internal/executor/utilisation/pod_utilisation_custom_metrics_test.go
  internal/executor/utilisation/pod_utilisation_kubelet_metrics.go
  pkg/armadaevents/events.pb.go
  pkg/armadaevents/events.proto
Labels: none
