Repository armadaproject/armada, changes with the labels that .github/labeler.yml gives for each.
All labels: build, deployment, docs, client-dotnet, client-python, proto, server, armadactl, binoculars, eventingester, executor, lookout, lookoutingester, scheduler, scheduleringester, testsuite

.github/labeler.yml:

build:
  - build/*
  - build_goreleaser/*
  - magefiles/*
  - deployment/*
  - scripts/*

deployment:
  - deployment/*

docs:
  - example/*
  - docs/*
  - assets/*
  - localdev/*

client-dotnet:
  - client/DotNet/*

client-python:
  - client/python/*

proto:
  - pkg/api/*

server:
  - cmd/armada/*
  - internal/armada/*

armadactl:
  - cmd/armadactl/*
  - internal/armadactl/*

binoculars:
  - cmd/binoculars/*
  - internal/binoculars/*

eventingester:
  - cmd/eventingester/*
  - internal/eventingester/*

executor:
  - cmd/executor/*
  - internal/executor/*

lookout:
  - cmd/lookout/*
  - internal/lookout/*
  - cmd/lookoutv2/*
  - internal/lookoutv2/*

lookoutingester:
  - cmd/lookoutingester/*
  - internal/lookoutingester/*
  - cmd/lookoutingesterv2/*
  - internal/lookoutingesterv2/*

scheduler:
  - cmd/scheduler/*
  - internal/scheduler/*

scheduleringester:
  - cmd/scheduleringester/*
  - internal/scheduleringester/*

testsuite:
  - cmd/testsuite/*
  - internal/testsuite/*
  - testsuite/*

Docs
  internal/armada/configuration/types.go
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Docs
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Docs
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Docs
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Initialise new nodes (queues) to a 50% success prob
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Docs
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Docs
  internal/scheduler/failureestimator/failureestimator.go
Labels: none

Reduce default queue timeout
  config/scheduler/config.yaml
Labels: none

Add node and queue success probability estimation (#3401)
  config/scheduler/config.yaml
  internal/armada/configuration/types.go
  internal/scheduler/failureestimator/failureestimator.go
  internal/scheduler/failureestimator/failureestimator_test.go
  internal/scheduler/metrics/metrics_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/schedulerapp.go
Labels: scheduler

Created instance for mockfiles
  internal/common/database/migrations_test.go
Labels: none

put back test
  internal/scheduler/scheduling_algo_test.go
Labels: scheduler

Remove UnifiedSchedulingByPool Config Flag (#3402)
  internal/armada/configuration/types.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/scheduling_algo_test.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

better terminal states reconcilation
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Refactor the `/jobs` and `/jobGroups` tests
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Refactor the `/jobs` and `/jobGroups` tests
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Use `require` in `/jobs` and `/jobGroups` tests
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Refactor the `/jobs` and `/jobGroups` tests (#3405)
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Use `require` in `/jobs` and `/jobGroups` tests
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

Use `require` in `/jobs` and `/jobGroups` tests (#3406)
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs_test.go
Labels: none

return early
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Add `annotations` column
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/005_annotations.sql
Labels: none

Add `jsonb` backend
  internal/common/database/lookout/jobstates.go
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookoutv2/application.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_parameters.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_urlbuilder.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_parameters.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_urlbuilder.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/querybuilder_test.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Add `annotations` column
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/005_annotations.sql
Labels: none

Add `jsonb` backend
  internal/common/database/lookout/jobstates.go
  internal/lookout/ui/src/index.tsx
  internal/lookout/ui/src/services/lookoutV2/GetJobsService.ts
  internal/lookout/ui/src/services/lookoutV2/GroupJobsService.ts
  internal/lookout/ui/src/utils.tsx
  internal/lookoutv2/application.go
  internal/lookoutv2/conversions/convert.go
  internal/lookoutv2/conversions/convert_test.go
  internal/lookoutv2/gen/restapi/embedded_spec.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_parameters.go
  internal/lookoutv2/gen/restapi/operations/get_jobs_urlbuilder.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_parameters.go
  internal/lookoutv2/gen/restapi/operations/group_jobs_urlbuilder.go
  internal/lookoutv2/model/model.go
  internal/lookoutv2/repository/getjobs.go
  internal/lookoutv2/repository/getjobs_test.go
  internal/lookoutv2/repository/groupjobs.go
  internal/lookoutv2/repository/groupjobs_test.go
  internal/lookoutv2/repository/querybuilder.go
  internal/lookoutv2/repository/util.go
  internal/lookoutv2/swagger.yaml
Labels: lookout

Deserialize `JobProto` before comparing
  internal/lookoutingesterv2/instructions/instructions_test.go
Labels: none

Adding Job Set sorting (#72)
  internal/lookout/ui/src/hooks/useJobsTableData.ts
  internal/lookoutv2/repository/querybuilder.go
Labels: none

Better terminal states reconcilation (#3404)
  internal/scheduler/jobdb/reconciliation.go
Labels: none

Removed extra lines and also remvoed matching ID for every sql files
  internal/common/database/migrations.go
  internal/common/database/migrations_test.go
Labels: none

Remove Assetfairness and EnableNewPreemptionStrategy config options
  internal/armada/configuration/types.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Remove Assetfairness and EnableNewPreemptionStrategy config options
  internal/armada/configuration/types.go
  internal/scheduler/context/context_test.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/fairness/fairness_test.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

wip
  internal/scheduler/common_test.go
  pkg/api/util.go
Labels: proto, scheduler

Improve pending pod checks when checking if node is bad (#3395)
  config/executor/config.yaml
  internal/executor/podchecks/kubernetes_constants.go
  internal/executor/podchecks/pod_checks.go
  internal/executor/podchecks/pod_checks_test.go
Labels: none

Include original error alongside "Pod unexpectedly started"
  internal/executor/service/pod_issue_handler.go
Labels: none

wip
  internal/scheduler/context/context.go
  internal/scheduler/jobdb/comparison.go
  internal/scheduler/jobdb/jobdb.go
  internal/scheduler/jobdb/jobdb_test.go
  internal/scheduler/pool_assigner.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_metrics.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/submitcheck.go
  pkg/api/util_test.go
Labels: proto, scheduler

Include original error alongside "Pod unexpectedly started" (#3410)
  internal/executor/service/pod_issue_handler.go
Labels: none

Add `annotations` column of type `jsonb` to Lookout (#3407)
  internal/lookoutingesterv2/instructions/instructions.go
  internal/lookoutingesterv2/instructions/instructions_test.go
  internal/lookoutingesterv2/lookoutdb/insertion.go
  internal/lookoutingesterv2/lookoutdb/insertion_test.go
  internal/lookoutingesterv2/model/model.go
  internal/lookoutv2/schema/migrations/005_annotations.sql
Labels: none

Populate the `annotations` column in `lookoutingesterv2` benchmarks
  internal/lookoutingesterv2/benchmark/benchmark.go
Labels: none

Remove Assetfairness and EnableNewPreemptionStrategy config options (#3409)
  internal/armada/configuration/types.go
  internal/scheduler/context/context_test.go
  internal/scheduler/fairness/fairness.go
  internal/scheduler/fairness/fairness_test.go
  internal/scheduler/nodedb/nodedb.go
  internal/scheduler/preempting_queue_scheduler.go
  internal/scheduler/preempting_queue_scheduler_test.go
  internal/scheduler/scheduling_algo.go
  internal/scheduler/simulator/simulator.go
  internal/scheduler/simulator/test_utils.go
  internal/scheduler/testfixtures/testfixtures.go
Labels: scheduler

Remove docker buildx flags that are not used
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  .github/workflows/test.yml
Labels: none

Populate the `annotations` column in `lookoutingesterv2` benchmarks (#3411)
  internal/lookoutingesterv2/benchmark/benchmark.go
Labels: none
