Repository armadaproject/armada, pull requests merged in 2023-10, with the labels that each got.

#3047 Fix go-integration-tests in Github CI workflow.
  .github/workflows/test.yml
  docker-compose.yaml
  magefiles/ci.go
Labels: component/build

#3036 Show job run errors below container logs in details (#3032)
  internal/lookout/ui/package.json
  internal/lookout/ui/src/components/job-dialog/JobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/JobLogsContainer.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  magefiles/ci.go
Labels: component/lookout

#3017 Update README.md
  README.md
Labels: PR Ready to Merge

#3086 Lookout: update React dev proxy to use LookoutV2 port.
  internal/lookout/ui/package.json
Labels: component/lookout
