Repository armadaproject/armada, pull requests merged in 2023-11, with the labels that each got.

#3119 [CI-IMPROVEMENT-1] Rename confusing step names, replace setup-go actions with official version
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: PR waiting for approval

#3123 [CI-IMPROVEMENT-2] Cache GOCACHE for go unit tests and go integration tests
  .github/workflows/test.yml
Labels: PR waiting for approval

#3031 Fail CICD if Typescript linting fails
  .github/workflows/lint.yml
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: PR Ready to Merge

#3124 Added armada running check to Python Tests
  .github/workflows/airflow-operator.yml
  .github/workflows/python-client.yml
  magefiles/tests.go
Labels: PR waiting for approval

#3120 Lookout V2 Binoculars working in Localdev
  developer/env/binoculars.env
  developer/env/lookoutv2.env
  developer/env/server-pulsar.env
  developer/env/server.env
Labels: PR Ready to Merge

#3129 Update webpack version for Lookout (#2643)
  internal/lookout/ui/package.json
  internal/lookout/ui/yarn.lock
Labels: component/lookout, PR waiting for approval

#3133 [CI-IMPROVEMENT-4] Speed up unit tests job
  .github/workflows/test.yml
Labels: PR waiting for approval
