Repository armadaproject/armada, pull requests merged in 2023-09, with the labels that each got.

#2952 Airflow: always set credentials from args in GRPC channel constructor
  third_party/airflow/armada/operators/grpc.py
  third_party/airflow/tests/unit/test_grpc.py
Labels: language/python, third-party/airflow

#2961 Bump armada airflow operator to version 0.5.4
  docs/python_airflow_operator.md
  third_party/airflow/pyproject.toml
Labels: third-party/airflow, python

#2957 Magefile: Clean all Makefile refernces
  .github/workflows/test.yml
  client/python/CONTRIBUTING.md
  client/python/README.md
  client/python/docs/README.md
  docs/developer/manual-localdev.md
  magefiles/linting.go
Labels: component/build

#2967 Revert to previous unpinned airflow version spec.
  third_party/airflow/pyproject.toml
Labels: third-party/airflow, python

#2968 Run `on.push` only for master
  .github/workflows/ci.yml
  .github/workflows/not-airflow-operator.yml
  .github/workflows/not-python-client.yml
Labels: component/CI, component/contribex

#2975 WIP: Airflow: fix undefined poll_interval in Deferrable Operator
  docs/python_airflow_operator.md
  third_party/airflow/armada/operators/armada_deferrable.py
  third_party/airflow/armada/operators/utils.py
  third_party/airflow/examples/big_armada.py
  third_party/airflow/tests/unit/test_airflow_operator_mock.py
  third_party/airflow/tests/unit/test_armada_deferrable_operator.py
  third_party/airflow/tests/unit/test_search_for_job_complete_asyncio.py
Labels: do-not-merge, third-party/airflow, python

#2979 Release Airflow Operator v0.5.6
  third_party/airflow/pyproject.toml
Labels: third-party/airflow, python

#2977 LookoutV2 table should not overflow beyond the viewport
  internal/lookout/ui/README.md
  internal/lookout/ui/src/App.css
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
Labels: PR-Waiting-For-Approval

#2988 Attempting to fix CI
  .github/workflows/ci.yml
Labels: PR-Waiting-For-Approval

#2992 Tag Patch for CI
  .github/workflows/ci.yml
Labels: PR-Waiting-For-Approval

#2966 feat: separate release CI
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release-rc.yml
  .github/workflows/test.yml
  scripts/common.sh
  scripts/docker-push.sh
  scripts/docker-save.sh
Labels: PR waiting for CI

#2978 Run `yarn run fmt` on Lookout
  internal/lookout/ui/src/components/Overview.tsx
  internal/lookout/ui/src/components/job-dialog/ContainerDetails.tsx
  internal/lookout/ui/src/components/job-dialog/JobDetails.tsx
  internal/lookout/ui/src/components/job-dialog/PreviousRuns.tsx
  internal/lookout/ui/src/components/job-dialog/RunDetailsRows.test.tsx
  internal/lookout/ui/src/components/job-dialog/RunDetailsRows.tsx
  internal/lookout/ui/src/components/job-sets/DurationBoxPlot.tsx
  internal/lookout/ui/src/components/job-sets/DurationPlotsTable.tsx
  internal/lookout/ui/src/components/job-sets/JobSets.tsx
  internal/lookout/ui/src/components/jobs/JobTableColumns.tsx
  internal/lookout/ui/src/components/jobs/JobTableHeader.tsx
  internal/lookout/ui/src/components/jobs/Jobs.tsx
  internal/lookout/ui/src/components/lookoutV2/CancelDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/JobGroupStateCounts.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableActionBar.tsx
  internal/lookout/ui/src/components/lookoutV2/JobsTableCell.tsx
  internal/lookout/ui/src/components/lookoutV2/ReprioritiseDialog.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/ContainerDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.test.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/Sidebar.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobDetails.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobLogs.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobRuns.tsx
  internal/lookout/ui/src/components/lookoutV2/sidebar/SidebarTabJobYaml.tsx
  internal/lookout/ui/src/containers/CancelJobsDialog.tsx
  internal/lookout/ui/src/containers/JobDialog.tsx
  internal/lookout/ui/src/containers/JobSetsContainer.tsx
  internal/lookout/ui/src/containers/JobsContainer.tsx
  internal/lookout/ui/src/containers/OverviewContainer.tsx
  internal/lookout/ui/src/containers/ReprioritizeJobsDialog.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.test.tsx
  internal/lookout/ui/src/containers/lookoutV2/JobsTableContainer.tsx
  internal/lookout/ui/src/hooks/useJobSpec.ts
  internal/lookout/ui/src/services/JobTableService.ts
  internal/lookout/ui/src/services/JobsQueryParamsService.ts
  internal/lookout/ui/src/services/MockJobService.ts
  internal/lookout/ui/src/services/lookoutV2/CustomViewsService.ts
  internal/lookout/ui/src/services/lookoutV2/JobsTablePreferencesService.test.ts
  internal/lookout/ui/src/services/lookoutV2/UpdateJobsService.test.ts
  internal/lookout/ui/src/utils/jobsTableColumns.tsx
  internal/lookout/ui/src/utils/jobsTableFormatters.ts
  internal/lookout/ui/src/utils/jobsTableUtils.ts
Labels: PR waiting for approval

#2991 fix: armadactl build flags
  .goreleaser.yml
Labels: PR waiting for approval

#2964 fix: update url of Design
  _data/settings.yml
Labels: PR waiting for approval

#2951 Updated correct address on which Armada-Airflow-UI is available & cred!
  third_party/airflow/README.md
Labels: PR waiting for approval
