Repository armadaproject/armada, pull requests merged in 2024-01, with the labels that each got.

#3227 Add localdev documentation on accessing etcd (#3210)
  developer/config/etcdclient.yaml
  docs/developer.md
  docs/developer/etcd-localdev.md
  docs/developer/manual-localdev.md
Labels: type/documentation

#3201 Website fixes
  _includes/header.html
  assets/styles/custom/_styles.scss
  demo.md
  design.md
  design/index.md
Labels: website

#3200 changes made to test.yml ci
  .github/workflows/test.yml
Labels: PR waiting for approval

#3234 [CI-IMPROVEMENT-7] Introduce targeted caching of tools to CodeQL, Python Client and Airflow Operator
  .github/workflows/airflow-operator.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/python-client.yml
Labels: PR waiting for approval

#3244 [CI-IMPROVEMENT-8] Implemend DRY with a composite action and add it to all workflows
  .github/actions/setup-go-cache/action.yml
  .github/workflows/airflow-operator-release-to-pypi.yml
  .github/workflows/airflow-operator.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/python-client-release-to-pypi.yml
  .github/workflows/python-client.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: PR waiting for approval

#3247 Document bad Docker Engine version (#3246)
  docs/developer/ubuntu-setup.md
Labels: type/documentation

#3261 Filter out docker build-arg option if no BASE_IMAGE (#3259)
  magefiles/goreleaser.go
Labels: component/build

#3349 Remove mentions of BASE_IMAGE in Goreleaser config and processing.
  .goreleaser.yml
  magefiles/goreleaser.go
Labels: component/build
